Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$

docs: Update CLAUDE.md, handoff, and next session prompt for Session 178
  CLAUDE.md
  docs/09-handoff/2026-02-10-SESSION-178-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

docs: Session 179 handoff and next session prompt
  docs/09-handoff/2026-02-10-SESSION-179-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

feat: Add alternative experiment modes and advanced training params to quick_retrain.py
  .claude/skills/model-experiment/SKILL.md
  docs/08-projects/current/session-179-validation-and-retrain/00-SESSION-179-FINDINGS.md
  docs/08-projects/current/session-179-validation-and-retrain/01-RETRAIN-PARADOX-AND-STRATEGY.md
  docs/08-projects/current/session-179-validation-and-retrain/02-ML-TRAINING-CONCEPTS-GUIDE.md
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

feat: Expand default OddsAPI bookmakers to 6 sportsbooks
  scrapers/oddsapi/README.md
  scrapers/oddsapi/oddsa_game_lines.py
  scrapers/oddsapi/oddsa_player_props.py
Due: validate-sql-fstrings

docs: Session 179B handoff — experiment infrastructure and feature weighting
  docs/09-handoff/2026-02-09-SESSION-179B-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

docs: Session 180 handoff — graded Feb 9, updated 4-way model comparison
  docs/09-handoff/2026-02-10-SESSION-180-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

feat: Add segmented hit rate breakdowns to experiment evaluation
  docs/09-handoff/2026-02-09-SESSION-180-HANDOFF.md
  docs/09-handoff/2026-02-10-SESSION-181-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

docs: Session 182 handoff — A1 Vegas sweep with segmented HR, retrain paradox strategy update
  docs/08-projects/current/session-179-validation-and-retrain/01-RETRAIN-PARADOX-AND-STRATEGY.md
  docs/08-projects/current/session-179-validation-and-retrain/03-A1-VEGAS-WEIGHT-SWEEP-RESULTS.md
  docs/09-handoff/2026-02-10-SESSION-182-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

fix: Resolve 3 pipeline bugs — enum crash, orchestrator typos, Content-Type 415s
  data_processors/analytics/player_game_summary/player_game_summary_processor.py
  orchestration/cloud_functions/phase2_to_phase3/main.py
  predictions/coordinator/coordinator.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 183-184 handoffs, cross-window analysis, OVER weakness correction
  docs/08-projects/current/session-179-validation-and-retrain/01-RETRAIN-PARADOX-AND-STRATEGY.md
  docs/08-projects/current/session-179-validation-and-retrain/03-A1-VEGAS-WEIGHT-SWEEP-RESULTS.md
  docs/08-projects/current/session-179-validation-and-retrain/04-SESSION-183-CROSS-WINDOW-ANALYSIS.md
  docs/08-projects/current/session-184-pipeline-bugs/00-PROJECT-OVERVIEW.md
  docs/09-handoff/2026-02-10-SESSION-183-HANDOFF.md
  docs/09-handoff/2026-02-10-SESSION-184-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

docs: Session 185 handoff — deploy fixes, postponed games cleanup, model assessment
  docs/09-handoff/2026-02-10-SESSION-185-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

docs: Session 186 — quantile regression discovery, 22 experiments
  docs/08-projects/current/session-179-validation-and-retrain/05-SESSION-186-QUANTILE-DISCOVERY.md
  docs/09-handoff/2026-02-10-SESSION-186-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

feat: Deploy QUANT_43 shadow model (quantile alpha=0.43)
  predictions/worker/prediction_systems/catboost_monthly.py
Due: validate-sql-fstrings

docs: Update CLAUDE.md with Session 186 quantile discovery and model status
  CLAUDE.md
Due: none

feat: Add pipeline pattern validator, Phase 3 season audit, and validation skill
  .claude/skills/validate-phase3-season/SKILL.md
  .pre-commit-config.yaml
  .pre-commit-hooks/validate_pipeline_patterns.py
  bin/monitoring/phase3_season_audit.py
  docs/08-projects/current/session-184-pipeline-bugs/01-PREVENTION-MECHANISMS.md
Due: validate-sql-fstrings

docs: Update Session 185 handoff with prevention mechanisms and Phase 3 audit
  docs/09-handoff/2026-02-10-SESSION-185-HANDOFF.md
Due: none

feat: Add QUANT_45 shadow, retire redundant _0131 defaults, update docs
  CLAUDE.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
  predictions/worker/prediction_systems/catboost_monthly.py
Due: validate-sql-fstrings

fix: Phase 2→3 trigger never fires — wrong expected processors and missing mappings
  orchestration/cloud_functions/phase2_to_phase3/main.py
  shared/config/orchestration_config.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: Add model landscape monitoring with --all, --segments, and strength profiles
  .claude/skills/compare-models/SKILL.md
  bin/compare-model-performance.py
  docs/08-projects/current/session-179-validation-and-retrain/06-MODEL-MONITORING-STRATEGY.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
  predictions/worker/prediction_systems/catboost_monthly.py
Due: validate-sql-fstrings

docs: Session 187 handoff — Phase 2→3 trigger fix, data gap backfills
  docs/09-handoff/2026-02-10-SESSION-187-HANDOFF.md
Due: none

feat: Add regression reframe and quantile regression to breakout experiment runner; disable broken V1 classifier
  ml/experiments/breakout_experiment_runner.py
  predictions/worker/worker.py
Due: validate-sql-fstrings

fix: Breakout classifier feature mismatch — use shared module's V1 feature order
  predictions/worker/prediction_systems/breakout_classifier_v1.py
  predictions/worker/worker.py
Due: validate-sql-fstrings

fix: Re-disable breakout classifier, fix QUANT system_id warning, update docs
  docs/08-projects/current/session-179-validation-and-retrain/06-MODEL-MONITORING-STRATEGY.md
  docs/08-projects/current/subset-redesign/00-SUBSET-REFERENCE.md
  docs/09-handoff/2026-02-10-SESSION-188-HANDOFF.md
  docs/09-handoff/2026-02-10-SESSION-189-HANDOFF.md
  predictions/worker/data_loaders.py
  predictions/worker/worker.py
Due: validate-sql-fstrings

feat: Multi-model v2 exports, fix performance view 30-day cap, frontend API docs
  bin/test-phase6-exporters.py
  data_processors/publishing/all_subsets_picks_exporter.py
  data_processors/publishing/season_subset_picks_exporter.py
  data_processors/publishing/subset_definitions_exporter.py
  data_processors/publishing/subset_materializer.py
  data_processors/publishing/subset_performance_exporter.py
  docs/08-projects/current/website-export-api/00-PROJECT-OVERVIEW.md
  docs/08-projects/current/website-export-api/FRONTEND-API-GUIDE.md
  docs/09-handoff/2026-02-10-SESSION-188B-PHASE3-PHASE4-VALIDATION.md
  docs/09-handoff/2026-02-10-SESSION-188C-FULL-SEASON-VALIDATION.md
  docs/09-handoff/2026-02-10-SESSION-190-MULTI-MODEL-EXPORT.md
  schemas/bigquery/predictions/06_current_subset_picks.sql
  schemas/bigquery/predictions/views/v_dynamic_subset_performance.sql
  shared/config/model_codenames.py
  shared/config/subset_public_names.py
Due: validate-sql-fstrings

docs: Session 191 handoff — multi-model exports, data fixes, frontend API guide
  docs/09-handoff/2026-02-10-SESSION-191-HANDOFF.md
Due: none

docs: Update Session 191 handoff with outstanding issues and next-session guide
  docs/09-handoff/2026-02-10-SESSION-191-HANDOFF.md
Due: none

fix: Implement per-system quality gate for parallel shadow models (Session 191)
  predictions/coordinator/coordinator.py
  predictions/coordinator/quality_gate.py
Due: validate-sql-fstrings

fix: Correct GCS bucket name in frontend API guide (nba-props-platform-api, not nba-props-exports)
  docs/08-projects/current/website-export-api/FRONTEND-API-GUIDE.md
Due: none

docs: Session 192 handoff — per-system quality gate fix and backfills
  docs/09-handoff/2026-02-11-SESSION-192-HANDOFF.md
Due: none

docs: Add Session 193 start prompt
  docs/09-handoff/NEXT-SESSION-PROMPT-193.md
Due: none

fix: Materializer falls back to upcoming_player_game_context for pre-game team info
  data_processors/publishing/subset_materializer.py
Due: validate-sql-fstrings

docs: Session 193 handoff — frontend integration, materializer fix, GCS backfill
  CLAUDE.md
  docs/09-handoff/2026-02-11-SESSION-193-HANDOFF.md
Due: none

docs: Update Session 193 handoff for Session 195 continuation
  docs/09-handoff/2026-02-11-SESSION-193-HANDOFF.md
Due: none

feat: Add per-pick created_at timestamp to daily and season picks JSON
  data_processors/publishing/all_subsets_picks_exporter.py
  data_processors/publishing/season_subset_picks_exporter.py
Due: validate-sql-fstrings

fix: Tonight all players exporter game_id mismatch and system_id update
  data_processors/publishing/tonight_all_players_exporter.py
Due: validate-sql-fstrings

feat: Apply coordinator filters in Phase 4 to reduce wasted computation
  data_processors/precompute/ml_feature_store/feature_extractor.py
Due: validate-sql-fstrings

docs: Session 195 resolution — Feb 11 feature defaults are working as intended
  docs/09-handoff/2026-02-11-SESSION-195-RESOLUTION.md
Due: none

fix: Remove duplicate exc_info parameter in phase6_export error logging
  orchestration/cloud_functions/phase6_export/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 196 handoff — created_at, investigation findings, deploy gap
  docs/09-handoff/2026-02-11-SESSION-196-HANDOFF.md
Due: none

docs: Add comprehensive tonight/all-players.json API documentation for frontend
  docs/08-projects/current/website-export-api/TONIGHT-ALL-PLAYERS-API.md
Due: none
