Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$

docs: add Session 510 handoff
  docs/09-handoff/2026-04-04-SESSION-510-HANDOFF.md
Due: none

fix: add game_date partition filters to remaining unfiltered exporter queries
  data_processors/publishing/best_bets_exporter.py
  data_processors/publishing/player_profile_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

docs: add Session 511 handoff
  docs/09-handoff/2026-04-04-SESSION-511-HANDOFF.md
Due: none

docs: add deep dive handoff for NBA/MLB system evaluation
  docs/09-handoff/2026-04-04-SESSION-511-DEEP-DIVE-HANDOFF.md
Due: none

docs: update deep dive handoff with MLB agent findings
  docs/09-handoff/2026-04-04-SESSION-511-DEEP-DIVE-HANDOFF.md
Due: none

fix: resolve 7 MLB pipeline blockers — proxy secrets, TODAY literal, grading bugs
  bin/scrapers/deploy/mlb/deploy_mlb_scrapers.sh
  data_processors/grading/mlb/main_mlb_grading_service.py
  data_processors/grading/mlb/mlb_prediction_grading_processor.py
  docs/09-handoff/2026-04-04-DEEP-DIVE-PLAN.md
  scrapers/bettingpros/bp_events.py
  scrapers/mlb/oddsapi/mlb_events.py
Due: validate-sql-fstrings, validate-python-syntax

fix: edge-tier under_low_rsc filter + fix MLB deploy secret conflict
  bin/scrapers/deploy/mlb/deploy_mlb_scrapers.sh
  ml/signals/aggregator.py
Due: validate-sql-fstrings

docs: add Session 512 handoff — deep dive findings + full backlog
  docs/09-handoff/2026-04-04-SESSION-512-HANDOFF.md
Due: none

fix: demote broken signal, fix MLB scraper crash, add DNP voiding to BB picks
  data_processors/raw/path_extractors/mlb_extractors.py
  ml/signals/aggregator.py
  orchestration/cloud_functions/post_grading_export/main.py
  schemas/bigquery/nba_predictions/signal_best_bets_picks.sql
  scrapers/bettingpros/bp_events.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

fix: read is_voided from signal_best_bets_picks in all.json exporter
  data_processors/publishing/best_bets_all_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

docs: add Session 513 handoff — fixes, DNP voiding, brainstorm
  docs/09-handoff/2026-04-05-SESSION-513-HANDOFF.md
Due: none

feat: Session 514 — off-season plan, signal graduation, cost fixes, MLB ops
  bin/monitoring/mlb_daily_performance.py
  bin/monitoring/pipeline_canary_queries.py
  cloudbuild-mlb-worker.yaml
  data_processors/publishing/player_season_exporter.py
  data_processors/publishing/streaks_exporter.py
  docs/08-projects/current/2026-offseason-plan/00-SEASON-RETROSPECTIVE-AND-NEXT-SEASON-PLAN.md
  ml/signals/aggregator.py
  ml/signals/pipeline_merger.py
Due: validate-sql-fstrings, validate-python-syntax, validate-deploy-safety

fix: MLB pipeline fixes + NBA auto training anchor
  bin/analytics/deploy/mlb/deploy_mlb_analytics.sh
  bin/phase6/deploy/mlb/deploy_mlb_grading.sh
  data_processors/analytics/mlb/main_mlb_analytics_service.py
  data_processors/grading/mlb/mlb_prediction_grading_processor.py
  orchestration/cloud_functions/weekly_retrain/main.py
  predictions/mlb/pitcher_loader.py
  scrapers/mlb/oddsapi/mlb_batter_props.py
  scrapers/mlb/oddsapi/mlb_batter_props_his.py
  scrapers/mlb/oddsapi/mlb_events_his.py
  scrapers/mlb/oddsapi/mlb_game_lines_his.py
  scrapers/mlb/oddsapi/mlb_pitcher_props.py
  scrapers/mlb/oddsapi/mlb_pitcher_props_his.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

docs: add Session 514 handoff — off-season plan, MLB fixes, season analysis
  docs/09-handoff/2026-04-05-SESSION-514-HANDOFF.md
Due: none

feat: signal system improvements — new filter, promotions, shadow cleanup
  ml/signals/aggregator.py
  ml/signals/supplemental_data.py
  orchestration/cloud_functions/filter_counterfactual_evaluator/main.py
  tests/unit/signals/test_aggregator.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: update Session 514 handoff with signal system work + research findings
  docs/09-handoff/2026-04-05-SESSION-514-HANDOFF.md
Due: none

fix: MLB pipeline fixes, sharp_consensus revert, events processor resilience
  bin/scrapers/deploy/mlb/deploy_mlb_scrapers.sh
  data_processors/raw/mlb/mlb_events_processor.py
  data_processors/raw/path_extractors/mlb_extractors.py
  ml/signals/aggregator.py
Due: validate-sql-fstrings, validate-python-syntax

feat: edge-based auto-halt + MLB events path fix
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/regime_context.py
  scrapers/mlb/oddsapi/mlb_events.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 515 handoff + CLAUDE.md updates
  CLAUDE.md
  docs/09-handoff/2026-04-06-SESSION-515-HANDOFF.md
Due: none

fix: add missing BQ import for edge-based auto-halt query
  ml/signals/regime_context.py
Due: validate-sql-fstrings

chore: add debug logging for auto-halt check
  data_processors/publishing/signal_best_bets_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

feat: edge compression soft gate in model governance
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

fix: add traffic routing to Cloud Build deploys + drift check
  bin/check-deployment-drift.sh
  cloudbuild-functions.yaml
  cloudbuild-mlb-worker.yaml
  cloudbuild.yaml
Due: validate-deploy-safety

fix: remove shadowed timedelta import causing hourly errors
  predictions/coordinator/coordinator.py
Due: validate-sql-fstrings, validate-python-syntax

fix: remove duplicate ultra enrichment + add 3 data sources to canary
  bin/monitoring/data_source_health_canary.py
  data_processors/publishing/signal_best_bets_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

fix: prevent Pub/Sub amplification loop on incomplete boxscores
  data_processors/analytics/main_analytics_service.py
Due: validate-sql-fstrings, validate-python-syntax

fix: BQ write errors (TODAY sentinel) + cleanup false positive storm
  orchestration/cleanup_processor.py
  scrapers/scraper_base.py
  shared/utils/bigquery_utils.py
  shared/utils/pipeline_logger.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

docs: Session 516 handoff — auto-halt fix, traffic routing, error audit
  docs/09-handoff/2026-04-08-SESSION-516-HANDOFF.md
Due: none

fix: MLB BP props ExportMode case mismatch — unblock pitcher predictions
  scrapers/bettingpros/bp_mlb_player_props.py
Due: validate-sql-fstrings

fix: Register MlbBpHistoricalPropsProcessor in Phase 2 router
  data_processors/raw/main_processor_service.py
  data_processors/raw/mlb/__init__.py
Due: validate-sql-fstrings, validate-python-syntax

fix: bp_pitcher_props JOIN player_lookup format mismatch
  predictions/mlb/pitcher_loader.py
Due: validate-sql-fstrings, validate-python-syntax

fix: clamp MLB best bets confidence_score to NUMERIC(4,3) bounds
  ml/signals/mlb/best_bets_exporter.py
Due: validate-sql-fstrings

docs: Session 517 + 518 handoffs — MLB pipeline root cause + multi-bug chain
  docs/09-handoff/2026-04-09-SESSION-517-HANDOFF.md
  docs/09-handoff/2026-04-09-SESSION-518-HANDOFF.md
Due: none

fix: MLB best_bets_exporter game_pk — map from game_id key
  ml/signals/mlb/best_bets_exporter.py
Due: validate-sql-fstrings

fix: MLB pipeline game_pk, is_home, pitcher_name — all structurally NULL
  ml/signals/mlb/best_bets_exporter.py
  predictions/mlb/pitcher_loader.py
  predictions/mlb/worker.py
Due: validate-sql-fstrings, validate-python-syntax

fix: MLB schedule lookup by pitcher name, not team_abbr
  ml/signals/mlb/best_bets_exporter.py
  predictions/mlb/pitcher_loader.py
  predictions/mlb/worker.py
Due: validate-sql-fstrings, validate-python-syntax

fix: MLB punch list — supplemental SQL, loader scope, parameter_resolver
  orchestration/parameter_resolver.py
  predictions/mlb/pitcher_loader.py
  predictions/mlb/supplemental_loader.py
Due: validate-sql-fstrings, validate-python-syntax

fix: scraper-gap-backfiller deploy — copy orchestration/ + deps
  bin/orchestrators/deploy_scraper_gap_backfiller.sh
  orchestration/cloud_functions/scraper_gap_backfiller/requirements.txt
Due: none

fix: MLB /best-bets skip raw prediction write if already exists
  predictions/mlb/worker.py
Due: validate-sql-fstrings, validate-python-syntax

fix: scraper-gap-backfiller lazy import with fallback
  bin/orchestrators/deploy_scraper_gap_backfiller.sh
  orchestration/cloud_functions/scraper_gap_backfiller/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings
