Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$

fix: Quality gate treating 0 required_default_count as falsy, blocking vegas-only defaults
  predictions/coordinator/quality_gate.py
Due: validate-sql-fstrings

docs: Session 197 handoff — quality gate falsy zero bug, Phase 6 deploy, star players
  docs/09-handoff/2026-02-11-SESSION-197-HANDOFF.md
Due: none

docs: Session 197 orchestrator failure investigation and BDL clarification
  docs/02-operations/ORCHESTRATOR-HEALTH.md
  docs/09-handoff/2026-02-11-PHASE3-DATA-GAP-INVESTIGATION.md
  docs/09-handoff/2026-02-11-SESSION-197-ORCHESTRATOR-FAILURE.md
Due: none

docs: Session 195 scheduler bug handoff — ml-feature-store processes wrong date
  docs/09-handoff/2026-02-11-SESSION-195-SCHEDULER-BUG-HANDOFF.md
Due: none

fix: Remove BDL dependencies from Phase 2→3 orchestrator and Phase 3 analytics
  CLAUDE.md
  data_processors/analytics/main_analytics_service.py
  docs/09-handoff/2026-02-11-SESSION-195-HANDOFF.md
  orchestration/cloud_functions/phase2_to_phase3/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 195 historical analysis — scheduler bug existed since Feb 7
  docs/09-handoff/2026-02-11-SESSION-195-HISTORICAL-ANALYSIS.md
Due: none

docs: Session 198 orchestrator fix handoff and documentation updates
  docs/02-operations/ORCHESTRATOR-HEALTH.md
  docs/09-handoff/2026-02-11-PHASE3-CHRONIC-ISSUE-ANALYSIS.md
  docs/09-handoff/2026-02-11-SESSION-198-HANDOFF.md
Due: none

feat: Add orchestrator trigger health check to daily validation
  .claude/skills/validate-daily/SKILL.md
  docs/09-handoff/2026-02-11-SESSION-199-HANDOFF.md
Due: none

fix: Install tzdata in Phase 4 Dockerfile for correct timezone resolution
  data_processors/precompute/Dockerfile
Due: none

docs: Orchestrator resilience planning for Opus review
  docs/08-projects/current/orchestrator-resilience/00-PROJECT-PLAN.md
  docs/08-projects/current/orchestrator-resilience/QUICK-REFERENCE.md
Due: none

docs: Revised orchestrator resilience plan per Opus feedback
  docs/08-projects/current/orchestrator-resilience/01-REVISED-PLAN.md
  docs/08-projects/current/orchestrator-resilience/OPUS-FEEDBACK-SUMMARY.md
Due: none

docs: Session 198 scheduler timezone fix handoff
  docs/09-handoff/2026-02-11-SESSION-198-SCHEDULER-FIX-HANDOFF.md
Due: none

docs: Update Session 198 handoff with scheduler fix status
  docs/09-handoff/2026-02-11-SESSION-198-HANDOFF.md
Due: none

docs: Final corrected orchestrator resilience plan
  docs/08-projects/current/orchestrator-resilience/02-FINAL-CORRECTED-PLAN.md
Due: none

docs: Canary investigation - why didn't existing check catch gap?
  docs/08-projects/current/orchestrator-resilience/03-CANARY-INVESTIGATION.md
Due: none

fix: Reduce canary alert fatigue and add gap detection
  bin/monitoring/pipeline_canary_queries.py
  docs/08-projects/current/orchestrator-resilience/04-INVESTIGATION-RESULTS.md
  docs/09-handoff/2026-02-11-GAME-ID-MISMATCH-INVESTIGATION.md
  docs/09-handoff/2026-02-11-NEW-SESSION-PROMPTS.md
  docs/09-handoff/2026-02-11-OPUS-REVIEW-PROMPT.md
  docs/09-handoff/2026-02-11-SESSION-199-COMPLETE-HANDOFF.md
  docs/09-handoff/2026-02-11-SESSION-199-PHASE3-ROOT-CAUSE.md
  docs/09-handoff/2026-02-11-SESSION-199-RESOLUTION.md
Due: validate-sql-fstrings

docs: Session 199 complete summary and next steps
  docs/08-projects/current/orchestrator-resilience/05-SESSION-SUMMARY.md
Due: none

docs: Session 199 final handoff for next session
  docs/09-handoff/2026-02-11-SESSION-199-FINAL-HANDOFF.md
Due: none

feat: Add checkpoint logging to Phase 2→3 orchestrator
  orchestration/cloud_functions/phase2_to_phase3/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: Complete BDL→nbac migration in Phase 3 completeness checks
  data_processors/analytics/upcoming_player_game_context/async_upcoming_player_game_context_processor.py
  data_processors/analytics/upcoming_player_game_context/calculators/completeness_checker_helper.py
  docs/09-handoff/2026-02-11-SESSION-200-START-PROMPT.md
Due: validate-sql-fstrings

docs: Session 200 handoff - orchestrator resilience complete
  docs/09-handoff/2026-02-11-SESSION-200-HANDOFF.md
Due: none

docs: Session 200 handoff - Phase 3 BDL migration completion
  docs/09-handoff/2026-02-11-SESSION-200-HANDOFF.md
Due: none

fix: Phase 6 export dependency and scheduler message validation
  orchestration/cloud_functions/phase6_export/main.py
  orchestration/cloud_functions/phase6_export/requirements.txt
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: Include backfill_jobs in Phase 6 export deployment package
  cloudbuild-functions.yaml
Due: none

fix: Join player_game_summary props on game_date instead of game_id
  data_processors/analytics/player_game_summary/player_game_summary_processor.py
Due: validate-sql-fstrings

docs: Session 201 - Fix player_game_summary props join
  docs/08-projects/current/player-game-summary-props-fix/SESSION-201-FIX-SUMMARY.md
Due: none

fix: Deduplicate props driver query, fix completeness checker, fix NoneType errors
  data_processors/analytics/upcoming_player_game_context/queries/shared_ctes.py
  data_processors/publishing/tonight_all_players_exporter.py
  data_processors/publishing/tonight_player_exporter.py
  shared/utils/completeness_checker.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: Update all Phase 6 exporters from catboost_v8 to catboost_v9
  data_processors/publishing/best_bets_exporter.py
  data_processors/publishing/live_grading_exporter.py
  data_processors/publishing/player_game_report_exporter.py
  data_processors/publishing/player_profile_exporter.py
  data_processors/publishing/player_season_exporter.py
  data_processors/publishing/predictions_exporter.py
  data_processors/publishing/results_exporter.py
  data_processors/publishing/streaks_exporter.py
  data_processors/publishing/system_performance_exporter.py
  data_processors/publishing/tonight_player_exporter.py
Due: validate-sql-fstrings

refactor: Add observability and robustness to props join fix
  SCORE_FIX_SUMMARY.md
  data_processors/analytics/player_game_summary/player_game_summary_processor.py
  data_processors/analytics/player_game_summary/sources/prop_calculator.py
  docs/09-handoff/2026-02-11-SESSION-200-OPUS-REVIEW-HANDOFF.md
Due: validate-sql-fstrings

docs: Session 201 - Document Opus review improvements
  docs/08-projects/current/player-game-summary-props-fix/OPUS-REVIEW-IMPROVEMENTS.md
Due: none

docs: Session 201 handoff - props join fix complete
  docs/09-handoff/2026-02-11-SESSION-201-HANDOFF.md
Due: none

refactor: Add failure category logging to Phase 3 processor
  data_processors/analytics/upcoming_player_game_context/upcoming_player_game_context_processor.py
Due: validate-sql-fstrings

docs: Session 202 handoff - Tonight exporter game scores complete
  DEPLOYMENT_VERIFICATION.md
  docs/03-phases/phase6-publishing/README.md
  docs/09-handoff/2026-02-11-SESSION-202-HANDOFF.md
  docs/09-handoff/2026-02-11-SESSION-203-START-PROMPT.md
Due: none

fix: Reorder Phase 6 exports to prevent timeout on subset-picks
  backfill_jobs/publishing/daily_export.py
Due: validate-sql-fstrings

fix: Replace BDL dependency with nbac_gamebook in Phase 3 processor
  data_processors/analytics/upcoming_player_game_context/calculators/quality_flags.py
  data_processors/analytics/upcoming_player_game_context/upcoming_player_game_context_processor.py
Due: validate-sql-fstrings

fix: Make completeness check non-blocking for upcoming player context
  data_processors/analytics/upcoming_player_game_context/upcoming_player_game_context_processor.py
Due: validate-sql-fstrings

docs: Add Phase 6 export fix comprehensive documentation
  docs/08-projects/current/phase6-export-fix/00-PROJECT-OVERVIEW.md
  docs/08-projects/current/phase6-export-fix/01-TECHNICAL-DETAILS.md
Due: none

docs: Session 203 handoff - Phase 3 coverage fix (200→481 players)
  docs/09-handoff/2026-02-11-SESSION-203-HANDOFF.md
Due: none

docs: Add Phase 6 export troubleshooting and timeout cascade lesson
  CLAUDE.md
  docs/02-operations/session-learnings.md
Due: none

feat: Add Phase 6 monitoring and per-player error isolation
  SCORE_FIX_SUMMARY.md
  bin/monitoring/phase6_picks_canary.py
  data_processors/publishing/tonight_player_exporter.py
  orchestration/cloud_functions/phase6_export/requirements-lock.txt
Due: validate-sql-fstrings
