Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

docs: Add dependency lock files to CLAUDE.md prevention section
  CLAUDE.md
Due: none

docs: Add Session 131 handoff - breakout classifier fix
  docs/09-handoff/2026-02-05-SESSION-131-BREAKOUT-SHADOW-HANDOFF.md
Due: none

docs: Add Session 130 handoff - batch unblock and deployment monitoring
  bin/check-active-deployments.sh
  docs/09-handoff/2026-02-05-SESSION-130-BATCH-UNBLOCK-AND-MONITORING.md
Due: none

fix: Resolve signal calculation, Phase 4 parsing, and worker validation errors
  data_processors/precompute/base/mixins/temporal_mixin.py
  docs/09-handoff/2026-02-05-SESSION-132-HANDOFF.md
  predictions/coordinator/signal_calculator.py
  predictions/worker/worker.py
Due: validate-sql-fstrings

docs: Add continuation prompt for Session 131
  docs/09-handoff/2026-02-05-NEXT-SESSION-CONTINUE-DEPLOY.md
Due: none

docs: Add Session 134 handoff - breakout classifier verification
  docs/08-projects/current/deployment-coordination/SUMMARY.md
  docs/08-projects/current/deployment-coordination/evaluation-multi-session-deployment-coordination.md
  docs/09-handoff/2026-02-05-NEXT-SESSION-CONTINUE-DEPLOY.md
  docs/09-handoff/2026-02-05-SESSION-134-HANDOFF.md
Due: none

docs: Update Session 134 handoff with final deployment status
  docs/09-handoff/2026-02-05-SESSION-134-HANDOFF.md
Due: none

docs: Add Session 133 handoff - pipeline fixes and prevention validation
  docs/09-handoff/2026-02-05-SESSION-133-PIPELINE-FIXES.md
Due: none

fix: Stop infinite Pub/Sub retries for injured OUT players
  predictions/worker/worker.py
Due: validate-sql-fstrings

feat: Add hot-deploy script for faster deployments
  .gitignore
  bin/hot-deploy.sh
Due: none

docs: Add Session 131 handoff - injury handling fix and agent analysis
  docs/09-handoff/2026-02-05-SESSION-131-INJURY-HANDLING-FIX.md
Due: none

docs: Add infinite Pub/Sub retry pattern to session learnings
  docs/02-operations/session-learnings.md
Due: none

feat: Add resilience monitoring system - P0 foundation (Session 135)
  bin/monitoring/deployment_drift_alerter.py
  bin/monitoring/pipeline_canary_queries.py
  bin/monitoring/setup_deployment_drift_scheduler.sh
  bin/monitoring/setup_pipeline_canary_scheduler.sh
  bin/monitoring/test_resilience_components.sh
  docs/02-operations/runbooks/canary-failure-response.md
  docs/02-operations/runbooks/deployment-monitoring.md
  docs/08-projects/current/resilience-improvements-2026/README.md
  docs/08-projects/current/resilience-improvements-2026/SESSION-135-P0-FOUNDATION.md
  ml/experiments/backfill_breakout_shadow.py
  shared/utils/slack_alerts.py
  shared/validation/phase2_quality_gate.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: Add automated batch cleanup with systemic issue detection
  predictions/coordinator/coordinator.py
Due: validate-sql-fstrings

docs: Add Session 132 handoff - automated batch cleanup
  docs/09-handoff/2026-02-05-SESSION-132-AUTOMATED-BATCH-CLEANUP.md
Due: none

feat: Add self-healing with full observability (Session 135)
  bin/monitoring/analyze_healing_patterns.py
  bin/monitoring/auto_batch_cleanup.py
  bin/monitoring/bdb_critical_monitor.py
  bin/monitoring/bdb_pending_monitor.py
  bin/monitoring/cleanup_scraper_failures.py
  bin/monitoring/compute_daily_scorecard.py
  bin/monitoring/create_grading_coverage_alert.sh
  bin/monitoring/deployment_drift_alerter.py
  bin/monitoring/grading_staleness_monitor.py
  bin/monitoring/pipeline_canary_queries.py
  bin/monitoring/setup_auto_batch_cleanup.sh
  docs/08-projects/current/self-healing-with-observability/README.md
  docs/08-projects/current/self-healing-with-observability/SESSION-135-IMPLEMENTATION.md
  ml/experiments/backfill_breakout_shadow.py
  schemas/nba_orchestration/healing_events.json
  shared/utils/healing_tracker.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: Add shared breakout feature module for consistent ML training/eval
  ml/experiments/backfill_breakout_shadow.py
  ml/experiments/train_and_evaluate_breakout.py
  ml/features/__init__.py
  ml/features/breakout_features.py
Due: validate-sql-fstrings

docs: Add Session 134b handoff - breakout feature consistency fix
  docs/09-handoff/2026-02-05-SESSION-134b-FEATURE-CONSISTENCY-HANDOFF.md
Due: none

docs: Add ML feature train/eval mismatch anti-pattern
  docs/02-operations/session-learnings.md
Due: none

docs: Update CLAUDE.md with breakout classifier and hot-deploy info
  CLAUDE.md
  docs/09-handoff/2026-02-05-SESSION-134-COMPLETE-SUMMARY.md
Due: none

test: Session 135 Part 2 - Integration testing and documentation (P0 complete)
  CLAUDE.md
  bin/monitoring/pipeline_canary_queries.py
  docs/02-operations/procedures/daily-health-check.md
  docs/02-operations/system-features.md
  docs/08-projects/current/SESSION-135-BREAKOUT-EXPERIMENT-RUNNER-REFACTOR.md
  docs/08-projects/current/SESSION-135-COMPLETE-SUMMARY.md
  docs/08-projects/current/resilience-improvements-2026/SESSION-135-PART2-INTEGRATION.md
  ml/experiments/breakout_experiment_runner.py
  ml/features/breakout_features.py
  shared/validation/phase2_quality_gate.py
  tests/validation/test_phase2_quality_gate.py
Due: validate-sql-fstrings

feat: Add breakout classifier V2 with 14 features
  ml/features/breakout_features.py
Due: validate-sql-fstrings

docs: Add Session 135 comprehensive handoff and V3 prompt
  docs/09-handoff/2026-02-05-SESSION-135-BREAKOUT-V2-AND-V3-PLAN.md
  docs/09-handoff/2026-02-05-SESSION-135-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

docs: Update CLAUDE.md and memory with Session 135 learnings
  CLAUDE.md
Due: none

docs: Add Session 135 deployment handoff for next session
  docs/09-handoff/2026-02-05-SESSION-135-HANDOFF-DEPLOYMENT.md
Due: none

docs: Update handoff with deployment failure and simpler approach
  docs/09-handoff/2026-02-05-SESSION-135-HANDOFF-DEPLOYMENT.md
Due: none

docs: Add next session copy-paste prompt
  docs/09-handoff/NEXT-SESSION-DEPLOYMENT-PROMPT.md
Due: none

docs: Session 134 handoff - validation in progress, low context
  docs/09-handoff/2026-02-06-SESSION-134-VALIDATION-IN-PROGRESS.md
Due: none

feat: Add V3 contextual features to breakout classifier
  ml/features/breakout_features.py
Due: validate-sql-fstrings

feat: Add comprehensive feature store monitoring infrastructure
  bin/monitoring/feature_store_daily_monitor.sh
  bin/monitoring/feature_store_health_check.py
  bin/monitoring/feature_store_weekly_report.sh
  docs/02-operations/runbooks/feature-store-monitoring.md
Due: validate-sql-fstrings

docs: Add Session 136 handoff - feature store monitoring
  docs/09-handoff/2026-02-05-SESSION-136-FEATURE-STORE-MONITORING.md
Due: none

feat: Deploy resilience monitoring Cloud Run Jobs
  bin/monitoring/Dockerfile.auto-cleanup
  bin/monitoring/Dockerfile.canary
  bin/monitoring/Dockerfile.drift-alerter
  bin/monitoring/deployment_drift_alerter_cloudrun.py
  bin/monitoring/requirements.txt
Due: validate-sql-fstrings

docs: Add Session 132 Part 2 handoff - Feature Quality Visibility System
  docs/09-handoff/2026-02-05-SESSION-132-PART-2-FEATURE-QUALITY-VISIBILITY.md
Due: none

feat: Complete feature quality visibility schema design (37 features, 122 fields)
  CLAUDE.md
  bin/monitoring/entrypoint-drift-alerter.sh
  bin/queries/check_feature_quality.sh
  bin/queries/find_bad_features.sh
  bin/queries/training_quality_check.sh
  docs/05-development/feature-store-complete-file-map.md
  docs/08-projects/current/feature-quality-visibility/00-PROJECT-OVERVIEW.md
  docs/08-projects/current/feature-quality-visibility/01-SCHEMA-DESIGN.md
  docs/08-projects/current/feature-quality-visibility/02-SCHEMA-ANALYSIS-AND-RECOMMENDATION.md
  docs/08-projects/current/feature-quality-visibility/03-OPUS-VALIDATION-AND-FINAL-SCHEMA.md
  docs/08-projects/current/feature-quality-visibility/04-BREAKOUT-INTEGRATION.md
  docs/08-projects/current/feature-quality-visibility/05-PER-FEATURE-QUALITY-TRACKING.md
  docs/08-projects/current/feature-quality-visibility/06-FINAL-COMPREHENSIVE-SCHEMA.md
  docs/08-projects/current/feature-quality-visibility/07-FINAL-HYBRID-SCHEMA.md
  docs/08-projects/current/feature-quality-visibility/08-IMPLEMENTATION-PLAN.md
  docs/09-handoff/2026-02-05-SESSION-133-BREAKOUT-CLASSIFIER-BLOCKER.md
  docs/09-handoff/2026-02-05-SESSION-133-FINAL-HANDOFF.md
  docs/09-handoff/2026-02-05-SESSION-133-HANDOFF.md
  docs/09-handoff/2026-02-05-SESSION-133-NON-SCHEMA-TASKS.md
  docs/09-handoff/2026-02-05-SESSION-134-START-HERE.md
  docs/09-handoff/2026-02-05-SESSION-134c-HANDOFF.md
  schemas/bigquery/predictions/04_ml_feature_store_v2.sql
Due: none

feat: Implement feature quality visibility system (120 new fields)
  data_processors/precompute/ml_feature_store/batch_writer.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  data_processors/precompute/ml_feature_store/quality_scorer.py
  docs/08-projects/current/feature-quality-visibility/08-IMPLEMENTATION-PLAN.md
  docs/09-handoff/2026-02-05-SESSION-137-HANDOFF.md
  docs/09-handoff/2026-02-05-SESSION-137-START-PROMPT.md
  schemas/bigquery/predictions/04_ml_feature_store_v2.sql
Due: validate-sql-fstrings

fix: Use BigQuery for backfill schedule lookup (GCS missing older seasons)
  shared/backfill/schedule_utils.py
Due: validate-sql-fstrings

docs: Add Session 137/138 handoff - Feature Quality Visibility deployed
  docs/09-handoff/2026-02-06-SESSION-138-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

docs: Update next-session prompt for codebase-wide quality field adoption
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

feat: Quality gate hard floor, self-healer, BACKFILL mode (Sessions 139-140)
  bin/monitoring/compute_daily_scorecard.py
  bin/monitoring/daily_reconciliation.py
  bin/monitoring/feature_store_health_check.py
  bin/monitoring/pipeline_canary_queries.py
  predictions/coordinator/coordinator.py
  predictions/coordinator/quality_alerts.py
  predictions/coordinator/quality_gate.py
  predictions/coordinator/quality_healer.py
  predictions/worker/data_loaders.py
  predictions/worker/worker.py
  schemas/bigquery/predictions/01_player_prop_predictions.sql
  tests/unit/prediction_tests/coordinator/test_quality_alerts.py
  tests/unit/prediction_tests/coordinator/test_quality_gate.py
  tests/unit/prediction_tests/coordinator/test_quality_healer.py
  validation/validators/gates/phase4_to_phase5_gate.py
Due: validate-sql-fstrings

docs: Update CLAUDE.md, handoffs, and quality documentation (Sessions 137-140)
  CLAUDE.md
  docs/02-operations/runbooks/feature-store-monitoring.md
  docs/03-phases/phase4-precompute/ml-feature-store-deepdive.md
  docs/05-development/guides/quality-tracking-system.md
  docs/06-reference/feature-quality-monitoring.md
  docs/06-reference/processor-cards/phase4-ml-feature-store-v2.md
  docs/06-reference/quality-columns-reference.md
  docs/09-handoff/2026-02-06-SESSION-137-HANDOFF.md
  docs/09-handoff/2026-02-06-SESSION-139-HANDOFF.md
  docs/09-handoff/2026-02-06-SESSION-140-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
