Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

fix: Update backfill script to use HTTP instead of Pub/Sub
  bin/backfill/backfill_shot_zones.py
Due: validate-sql-fstrings

docs: Update handoff with orchestration architecture findings
  docs/09-handoff/2026-01-30-SESSION-39-BDB-QUALITY-TRACKING-HANDOFF.md
Due: none

docs: Add Session 40 final handoff
  docs/09-handoff/2026-01-30-SESSION-40-FINAL-HANDOFF.md
Due: none

docs: Add Phase 3 improvement plan based on cross-phase analysis
  docs/08-projects/current/data-recovery-strategy/PHASE-3-IMPROVEMENT-PLAN.md
  docs/09-handoff/2026-01-30-SESSION-39-BDB-QUALITY-TRACKING-HANDOFF.md
Due: none

fix: Skip calculate_analytics when alternate source already processed data
  data_processors/analytics/analytics_base.py
Due: validate-sql-fstrings

fix: Handle empty data gracefully in Phase 3 processors to stop retry loops
  data_processors/analytics/operations/bigquery_save_ops.py
  data_processors/analytics/player_game_summary/player_game_summary_processor.py
  data_processors/analytics/upcoming_team_game_context/upcoming_team_game_context_processor.py
Due: validate-sql-fstrings

fix: Define transform_seconds and save_seconds when skip_processing is True
  data_processors/analytics/analytics_base.py
Due: validate-sql-fstrings

docs: Add Session 40 handoff for Phase 3 retry loop fix
  docs/09-handoff/2026-01-30-SESSION-40-PHASE3-RETRY-FIX-HANDOFF.md
Due: none

docs: Add Session 42 handoff - retry fix complete
  docs/09-handoff/2026-01-30-SESSION-42-RETRY-FIX-COMPLETE-HANDOFF.md
Due: none

fix: Repair corrupted syntax in injury_parser.py stub functions
  scrapers/nbacom/injury_parser.py
Due: validate-sql-fstrings

feat: Add soft dependency threshold and BDL quality monitoring
  .claude/skills/validate-daily/SKILL.md
  CLAUDE.md
  data_processors/analytics/analytics_base.py
  data_processors/analytics/mixins/dependency_mixin.py
  orchestration/cloud_functions/data_quality_alerts/main.py
  schemas/bigquery/nba_orchestration/source_discrepancies.sql
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: Add league trend monitoring system for model drift detection
  .claude/skills/trend-check/SKILL.md
  docs/08-projects/current/league-trend-monitoring/README.md
  docs/08-projects/current/league-trend-monitoring/TREND-CATEGORIES.md
  schemas/bigquery/monitoring/extended_trend_views.sql
  schemas/bigquery/monitoring/league_trend_views.sql
  services/admin_dashboard/blueprints/__init__.py
  services/admin_dashboard/blueprints/league_trends.py
Due: validate-sql-fstrings

docs: Add Session 41 handoff and data source quality monitoring guide
  docs/07-monitoring/data-source-quality.md
  docs/09-handoff/2026-01-30-SESSION-41-SOFT-DEPS-BDL-MONITORING-HANDOFF.md
Due: none

docs: Update Phase 3 improvement plan and add comprehensive handoff
  docs/08-projects/current/data-recovery-strategy/PHASE-3-IMPROVEMENT-PLAN.md
  docs/09-handoff/2026-01-30-SESSION-41-COMPREHENSIVE-HANDOFF.md
Due: none

docs: Add investigation findings and Session 42 final handoff
  docs/08-projects/current/league-trend-monitoring/INVESTIGATION-FINDINGS.md
  docs/09-handoff/2026-01-30-SESSION-42-FINAL-HANDOFF.md
Due: none

docs: Add Session 43 start prompt
  docs/09-handoff/2026-01-30-SESSION-43-START-PROMPT.md
Due: none

fix: Restore fatigue_score to use raw 0-100 value instead of adjustment
  data_processors/precompute/player_composite_factors/player_composite_factors_processor.py
Due: validate-sql-fstrings

docs: Add Sessions 43-45 investigation findings and V11 experiment results
  docs/08-projects/current/2026-01-30-session-44-maintenance/DEEP-INVESTIGATION-FINDINGS.md
  docs/08-projects/current/2026-01-30-session-44-maintenance/INVESTIGATION-FINDINGS.md
  docs/08-projects/current/2026-01-30-session-44-maintenance/MODEL-DRIFT-STATUS-UPDATE.md
  docs/08-projects/current/2026-01-30-session-44-maintenance/README.md
  docs/09-handoff/2026-01-30-SESSION-43-VERIFICATION-AND-FIXES-HANDOFF.md
  docs/09-handoff/2026-01-30-SESSION-44-INVESTIGATION-HANDOFF.md
  docs/09-handoff/2026-01-30-SESSION-45-DEEP-INVESTIGATION-HANDOFF.md
  ml/experiments/results/catboost_v11_exp_V11_BASELINE_A1_20260130_095025_metadata.json
  ml/experiments/results/catboost_v11_exp_V11_SEASONAL_A1_20260130_095000_metadata.json
  ml/experiments/results/catboost_v11_exp_V11_TEST_20260130_094949_metadata.json
Due: none

docs: Add Session 46 start prompt
  docs/09-handoff/2026-01-30-SESSION-46-START-PROMPT.md
Due: none

fix: Fix fatigue_score bug in worker.py and add pre-write validation
  data_processors/precompute/player_composite_factors/worker.py
Due: validate-sql-fstrings

docs: Add comprehensive feature quality analysis and Session 45 handoff
  docs/08-projects/current/2026-01-30-session-44-maintenance/FEATURE-QUALITY-COMPREHENSIVE-ANALYSIS.md
  docs/09-handoff/2026-01-30-SESSION-45-FEATURE-QUALITY-HANDOFF.md
Due: none

docs: Add Session 46 start prompt for deployment and backfill
  docs/09-handoff/2026-01-30-SESSION-46-START-PROMPT.md
Due: none

fix: Add bytecode cache validation to prevent stale .pyc bug in ProcessPoolExecutor
  data_processors/precompute/player_composite_factors/worker.py
  docs/09-handoff/2026-01-30-SESSION-47-PYCACHE-BUG-FIX-HANDOFF.md
Due: validate-sql-fstrings

docs: Add ProcessPoolExecutor .pyc cache bug analysis
  docs/05-development/processpool-pycache-bug-analysis.md
Due: none

fix: Derive team_abbr from game context for DNP players
  data_processors/analytics/player_game_summary/player_game_summary_processor.py
Due: validate-sql-fstrings

docs: Move pycache bug analysis to projects/current
  docs/08-projects/current/processpool-pycache-bug-analysis.md
Due: none

docs: Move pycache bug analysis to proper project subdirectory
  docs/08-projects/current/2026-01-30-processpool-pycache-fix/README.md
Due: none

docs: Add Session 46 DNP fix handoff and Session 48 start prompt
  docs/09-handoff/2026-01-30-SESSION-46-DNP-FIX-HANDOFF.md
  docs/09-handoff/2026-01-30-SESSION-48-START-PROMPT.md
Due: none

feat: Add feature quality monitoring system and SQL health check
  docs/08-projects/current/feature-quality-monitoring/README.md
  validation/queries/monitoring/feature_quality_check.sql
Due: none

feat: Add ML feature quality monitoring and pre-write validation
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  schemas/bigquery/monitoring/feature_health_daily.sql
Due: validate-sql-fstrings

fix: Correct expected ranges for adjustment-based composite factors
  validation/queries/monitoring/feature_quality_check.sql
Due: none

docs: Add Session 48 handoff and feature quality monitoring reference
  docs/06-reference/feature-quality-monitoring.md
  docs/09-handoff/2026-01-31-SESSION-48-FEATURE-QUALITY-MONITORING-HANDOFF.md
Due: none

docs: Update feature-quality-monitoring project with implementation status
  docs/08-projects/current/feature-quality-monitoring/README.md
Due: none

docs: Add comprehensive feature quality investigation findings
  docs/08-projects/current/feature-quality-monitoring/INVESTIGATION-FINDINGS.md
Due: none

docs: Add combined findings and next session handoff for feature quality
  docs/08-projects/current/feature-quality-monitoring/COMBINED-FINDINGS.md
  docs/08-projects/current/feature-quality-monitoring/NEXT-SESSION-START-PROMPT.md
Due: none

fix: Add team_abbr to get_players_with_games for team_win_pct calculation
  data_processors/precompute/ml_feature_store/feature_extractor.py
Due: validate-sql-fstrings

feat: Add batch variance validation to detect constant feature values
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
Due: validate-sql-fstrings

feat: Add data quality self-healing system
  data_processors/analytics/operations/bigquery_save_ops.py
  docs/08-projects/current/data-quality-self-healing/IMPLEMENTATION-PLAN.md
  docs/08-projects/current/data-quality-self-healing/README.md
  docs/08-projects/current/data-quality-self-healing/TECHNICAL-DESIGN.md
  docs/08-projects/current/data-quality-self-healing/VALIDATION-QUERIES.md
  docs/09-handoff/2026-01-30-SESSION-48-DATA-QUALITY-SELF-HEALING-HANDOFF.md
  schemas/bigquery/orchestration/backfill_queue.sql
  schemas/bigquery/orchestration/data_quality_events.sql
  schemas/bigquery/orchestration/data_quality_metrics.sql
  schemas/bigquery/orchestration/validation_failures.sql
  shared/utils/backfill_queue_manager.py
  shared/utils/data_quality_logger.py
  shared/validation/daily_quality_checker.py
  shared/validation/pre_write_validator.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: Correct back_to_back calculation from days_rest==0 to days_rest==1
  data_processors/analytics/upcoming_player_game_context/player_stats.py
Due: validate-sql-fstrings

docs: Add comprehensive Session 49 ML feature investigation findings
  docs/08-projects/current/feature-quality-monitoring/ADMIN-DASHBOARD-PROPOSAL.md
  docs/08-projects/current/feature-quality-monitoring/README.md
  docs/08-projects/current/feature-quality-monitoring/SESSION-49-COMPREHENSIVE-INVESTIGATION.md
Due: none

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
