Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$

feat: add pick provenance — qualifying_subsets + algorithm_version per best bet
  CLAUDE.md
  backfill_jobs/publishing/daily_export.py
  data_processors/publishing/signal_annotator.py
  data_processors/publishing/signal_best_bets_exporter.py
  docs/08-projects/current/multi-model-best-bets/02-SESSION-279-PLAN.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
  ml/signals/aggregator.py
  ml/signals/pick_angle_builder.py
  ml/signals/subset_membership_lookup.py
  schemas/bigquery/nba_predictions/signal_best_bets_picks.sql
  schemas/bigquery/predictions/06_current_subset_picks.sql
Due: validate-sql-fstrings

docs: add Session 279 pick provenance + hierarchical layers plan
  docs/08-projects/current/multi-model-best-bets/03-SEASON-REPLAY-STUDY.md
  docs/09-handoff/2026-02-16-SESSION-279-HANDOFF.md
Due: none

feat: add player blacklist — block <40% HR players from signal best bets
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/__init__.py
  ml/signals/aggregator.py
  ml/signals/player_blacklist.py
  tests/unit/signals/__init__.py
  tests/unit/signals/test_player_blacklist.py
Due: validate-sql-fstrings

feat: avoid-familiar filter, remove rel_edge cap, high-conviction angle
  data_processors/publishing/signal_best_bets_exporter.py
  docs/09-handoff/2026-02-17-SESSION-284-HANDOFF.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
  ml/signals/aggregator.py
  ml/signals/pick_angle_builder.py
  tests/unit/signals/test_player_blacklist.py
Due: validate-sql-fstrings

feat: 7-day retrain cadence, 42-day rolling window, V12 quantile edge>=4
  CLAUDE.md
  bin/infrastructure/setup_retrain_reminder.sh
  bin/retrain.sh
  docs/09-handoff/2026-02-17-SESSION-284-HANDOFF.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
  orchestration/cloud_functions/retrain_reminder/main.py
  predictions/worker/prediction_systems/catboost_monthly.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: update CLAUDE.md with Session 284 signal filter changes
  CLAUDE.md
Due: none

docs: add Sessions 280-283 handoffs, replay findings, experiment scripts
  data_processors/publishing/tonight_player_exporter.py
  docs/08-projects/current/season-replay-analysis/00-FINDINGS.md
  docs/09-handoff/2026-02-17-SESSION-280-HANDOFF.md
  docs/09-handoff/2026-02-17-SESSION-282-HANDOFF.md
  docs/09-handoff/2026-02-17-SESSION-283-HANDOFF.md
  ml/experiments/analyze_phase_a.py
  ml/experiments/analyze_replay_results.py
  ml/experiments/season_replay_full.py
  tests/unit/publishing/test_tonight_player_exporter.py
Due: validate-sql-fstrings

feat: add direction health monitoring — OVER vs UNDER rolling HR tracking
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/pick_angle_builder.py
  tests/unit/signals/test_player_blacklist.py
Due: validate-sql-fstrings

docs: finalize Session 284 handoff with all 6 replay implementations
  docs/09-handoff/2026-02-17-SESSION-284-HANDOFF.md
Due: none

feat: complete features array → individual columns migration + implement f47/f50
  CLAUDE.md
  bin/audit_feature_store.py
  bin/backfill-challenger-predictions.py
  bin/backfill-v12-predictions.py
  bin/backfill-v9-no-line-predictions.py
  bin/monitoring/model_drift_detection.py
  bin/queries/daily_feature_completeness.sql
  bin/spot_check_features.py
  bin/validation/validate_feature_store_v33.py
  data_processors/ml_feedback/scoring_tier_processor.py
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  data_processors/publishing/results_exporter.py
  data_processors/publishing/tonight_player_exporter.py
  docs/09-handoff/2026-02-17-SESSION-285-HANDOFF.md
  docs/09-handoff/2026-02-17-SESSION-286-HANDOFF.md
  docs/09-handoff/2026-02-17-SESSION-287-HANDOFF.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
  ml/experiments/evaluate_model.py
  ml/experiments/quick_retrain.py
  ml/experiments/season_replay_full.py
  ml/experiments/season_walkforward.py
  predictions/worker/data_loaders.py
  predictions/worker/quality_tracker.py
  schemas/bigquery/predictions/views/v_daily_validation_summary.sql
  shared/ml/feature_contract.py
  shared/ml/training_data_loader.py
  shared/validation/continuous_validator.py
  shared/validation/feature_drift_detector.py
  shared/validation/feature_store_validator.py
  tests/integration/monitoring/test_vegas_line_coverage.py
  tests/unit/publishing/test_tonight_player_exporter.py
  validation/queries/monitoring/breakout_filter_monitoring.sql
  validation/queries/monitoring/feature_quality_check.sql
  validation/validators/precompute/ml_feature_store_validator.py
Due: validate-sql-fstrings

fix: f47 extractor bugs + backfill script + Session 288 handoff
  bin/backfill_f47_f50.py
  data_processors/precompute/ml_feature_store/feature_extractor.py
  docs/09-handoff/2026-02-18-SESSION-288-HANDOFF.md
Due: validate-sql-fstrings

feat: injury report historical backfill + f47 date fix
  bin/backfill_f47_f50.py
  bin/backfill_injury_reports.py
Due: validate-sql-fstrings

feat: add feature source validation tool
  bin/validate_feature_sources.py
Due: validate-sql-fstrings

docs: Session 289 handoff — Phase 2 backfills complete, extraction bugs found
  docs/09-handoff/2026-02-18-SESSION-289-HANDOFF.md
Due: none

fix: remove all-or-nothing fallback from batch extraction methods
  data_processors/precompute/ml_feature_store/feature_extractor.py
Due: validate-sql-fstrings

chore: consolidate Claude skills — remove 4, regularize 9 orphaned
  .claude/skills/bdl-quality-check/SKILL.md
  .claude/skills/compare-models/SKILL.md
  .claude/skills/experiment-tracker/SKILL.md
  .claude/skills/model-experiment/SKILL.md
  .claude/skills/model-health/SKILL.md
  .claude/skills/spot-check-cascade/SKILL.md
  .claude/skills/spot-check-date/SKILL.md
  .claude/skills/spot-check-gaps/SKILL.md
  .claude/skills/spot-check-overview/SKILL.md
  .claude/skills/spot-check-player/SKILL.md
  .claude/skills/spot-check-team/SKILL.md
  .claude/skills/validate-feature-drift/SKILL.md
  .claude/skills/validate-historical.md
  .claude/skills/validate-lineage/SKILL.md
  .claude/skills/validate-scraped-data/SKILL.md
Due: none

fix: align validation tool with exact-date extraction logic
  bin/validate_feature_sources.py
Due: validate-sql-fstrings

docs: Session 290 handoff — extraction fix, skills cleanup, feature audit
  docs/09-handoff/2026-02-18-SESSION-290-HANDOFF.md
Due: none

fix: exact-date composite_factors extraction, NaN-safe f29 opponent history
  bin/validate_feature_sources.py
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
Due: validate-sql-fstrings

fix: NaN-safe feature helpers prevent BQ NULL → pandas NaN inconsistencies
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
Due: validate-sql-fstrings

feat: add box score detail to player exports, date-keyed player pages
  .claude/skills/validate-daily/SKILL.md
  bin/backfill/backfill_tonight_player_exports.py
  data_processors/analytics/player_game_summary/player_game_summary_processor.py
  data_processors/publishing/tonight_all_players_exporter.py
  data_processors/publishing/tonight_player_exporter.py
Due: validate-sql-fstrings

docs: Session 291+292 handoff — NaN-safe features, publishing enhancements
  docs/09-handoff/2026-02-18-SESSION-291-HANDOFF.md
Due: none

feat: add ft_attempts to last 10 games in tonight exports
  data_processors/publishing/tonight_all_players_exporter.py
Due: validate-sql-fstrings

docs: Session 292 handoff — validate, backfill, retrain roadmap
  docs/09-handoff/2026-02-18-SESSION-292-HANDOFF.md
Due: none

docs: Session 293 handoff — Feb diagnosis, prop line delta signal discovery
  docs/09-handoff/2026-02-18-SESSION-293-HANDOFF.md
Due: none

docs: Session 293 — feature store validation, Feb collapse diagnosis, streak signal discovery
  docs/08-projects/current/streak-momentum-signals/00-BACKTEST-RESULTS.md
  docs/09-handoff/2026-02-18-SESSION-293-HANDOFF.md
Due: none

feat: add last_10_days_rest and last_10_home_away to tonight exports
  data_processors/publishing/tonight_all_players_exporter.py
Due: validate-sql-fstrings

feat: prop line delta signal, 3 anti-pattern pre-filters, f54 feature
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  docs/08-projects/current/streak-momentum-signals/00-BACKTEST-RESULTS.md
  ml/signals/aggregator.py
  ml/signals/prop_line_drop_over.py
  ml/signals/registry.py
  ml/signals/supplemental_data.py
  schemas/bigquery/predictions/04_ml_feature_store_v2.sql
  shared/ml/feature_contract.py
Due: validate-sql-fstrings

fix: correct line-jumped pre-filter to block UNDER not OVER
  ml/signals/aggregator.py
Due: validate-sql-fstrings

docs: Session 294 handoff — prop line delta signal, UNDER anti-pattern filters
  docs/09-handoff/2026-02-18-SESSION-294-HANDOFF.md
Due: none

feat: combo_3way OVER-only fix, 3 new combo entries, signal system audit tool
  CLAUDE.md
  ml/experiments/signal_system_audit.py
  ml/signals/aggregator.py
  ml/signals/combo_3way.py
  ml/signals/combo_registry.py
Due: validate-sql-fstrings

docs: Session 295 signal system audit findings
  docs/08-projects/current/signal-discovery-framework/SESSION-295-SIGNAL-SYSTEM-AUDIT.md
Due: none

docs: Session 295 handoff — signal system audit, direction alignment, co-occurrence analysis
  docs/09-handoff/2026-02-18-SESSION-295-HANDOFF.md
Due: none

feat: break-aware status checks, optional client imports, grading-gap-detector trigger
  bin/infrastructure/create_monitoring_function_triggers.sh
  data_processors/publishing/status_exporter.py
  shared/clients/__init__.py
Due: validate-sql-fstrings

feat: dynamic model discovery for cross-model subsets, remove dual_agree + model_consensus signals
  CLAUDE.md
  data_processors/publishing/cross_model_subset_materializer.py
  ml/experiments/signal_system_audit.py
  ml/signals/aggregator.py
  ml/signals/cross_model_scorer.py
  ml/signals/dual_agree.py
  ml/signals/model_consensus_v9_v12.py
  ml/signals/pick_angle_builder.py
  ml/signals/registry.py
  ml/signals/signal_health.py
  ml/signals/supplemental_data.py
  shared/config/cross_model_subsets.py
Due: validate-sql-fstrings

docs: Session 296 handoff — dynamic model discovery, signal cleanup
  docs/09-handoff/2026-02-18-SESSION-296-HANDOFF.md
Due: none

feat: edge-first best bets architecture, triple-write fix, consensus cleanup
  CLAUDE.md
  data_processors/publishing/cross_model_subset_materializer.py
  data_processors/publishing/signal_best_bets_exporter.py
  docs/09-handoff/2026-02-18-SESSION-297-HANDOFF.md
  ml/experiments/season_replay_full.py
  ml/signals/aggregator.py
  ml/signals/cross_model_scorer.py
  shared/config/cross_model_subsets.py
  shared/config/subset_public_names.py
Due: validate-sql-fstrings

feat: natural sizing, ASB retrain, 13-sportsbook odds expansion
  data_processors/publishing/signal_annotator.py
  data_processors/publishing/signal_best_bets_exporter.py
  data_processors/publishing/tonight_all_players_exporter.py
  docs/08-projects/current/session-298-post-asb-retrain/README.md
  ml/signals/aggregator.py
  scrapers/oddsapi/oddsa_game_lines.py
  scrapers/oddsapi/oddsa_game_lines_his.py
  scrapers/oddsapi/oddsa_player_props.py
  scrapers/oddsapi/oddsa_player_props_his.py
  shared/config/cross_model_subsets.py
Due: validate-sql-fstrings

fix: All-Star break graceful handling — status, Phase 4, BettingPros
  data_processors/precompute/base/precompute_base.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  data_processors/precompute/player_daily_cache/player_daily_cache_processor.py
  data_processors/publishing/status_exporter.py
  docs/09-handoff/2026-02-18-SESSION-298-HANDOFF.md
  scrapers/bettingpros/bp_player_props.py
Due: validate-sql-fstrings

feat: refine sportsbook list to 12 verified books, add experiment results
  docs/08-projects/current/session-298-post-asb-retrain/README.md
  scrapers/oddsapi/oddsa_game_lines.py
  scrapers/oddsapi/oddsa_game_lines_his.py
  scrapers/oddsapi/oddsa_player_props.py
  scrapers/oddsapi/oddsa_player_props_his.py
Due: validate-sql-fstrings
