Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$

feat: Add scraped data coverage checks to validation skills
  .claude/skills/validate-daily/SKILL.md
Due: none

docs: Update CLAUDE.md with Session 58 learnings
  CLAUDE.md
Due: none

fix: Phase 3 orchestration gaps and data quality issues
  data_processors/analytics/upcoming_team_game_context/upcoming_team_game_context_processor.py
  data_processors/raw/processor_base.py
Due: validate-sql-fstrings

fix: Use processor_name as heartbeat document ID to prevent doc pollution
  shared/monitoring/processor_heartbeat.py
Due: validate-sql-fstrings

docs: Add Session 60 odds cascade handoff and V8 training analysis
  docs/08-projects/current/odds-data-cascade-investigation/V8-TRAINING-DATA-ANALYSIS.md
  docs/09-handoff/2026-01-31-SESSION-60-ODDS-CASCADE-HANDOFF.md
Due: none

docs: Move V8 training analysis to docs/05-ml directory
  docs/05-ml/V8-TRAINING-DATA-ANALYSIS.md
  docs/09-handoff/2026-01-31-SESSION-60-ODDS-CASCADE-HANDOFF.md
  ml/experiments/experiment_registry.py
  ml/experiments/results/TEST_PRODEQUIV_results.json
  ml/experiments/results/TEST_STANDARD_results.json
  ml/experiments/results/V8_JAN_TEST_results.json
  services/unified_dashboard/frontend/package-lock.json
  services/unified_dashboard/frontend/src/pages/Home.tsx
Due: validate-sql-fstrings

docs: Add ml-challenger-training-strategy project for V9+ planning
  docs/08-projects/current/ml-challenger-training-strategy/README.md
  docs/08-projects/current/ml-challenger-training-strategy/V8-TRAINING-DATA-ANALYSIS.md
Due: none

docs: Add 2025-26 season data gaps analysis for V9 challenger
  docs/08-projects/current/ml-challenger-training-strategy/DATA-GAPS-2025-26-SEASON.md
Due: none

feat: Add model naming conventions and fix backfill script for history path
  bin/cleanup-heartbeat-docs.py
  docs/08-projects/current/ml-challenger-training-strategy/MODEL-NAMING-CONVENTIONS.md
  scripts/backfill_odds_game_lines.py
Due: validate-sql-fstrings

docs: Add Session 60 complete handoff for odds cascade work
  CLAUDE.md
  Dockerfile.mlb-worker
  data_processors/raw/Dockerfile
  deployment/dockerfiles/README.md
  deployment/dockerfiles/nba/Dockerfile.odds-api-backfill
  deployment/dockerfiles/nba/Dockerfile.odds-api-test
  docs/09-handoff/2026-01-31-DOCKERFILE-CLEANUP-COMPLETE.md
  docs/09-handoff/2026-01-31-SESSION-60-ODDS-CASCADE-COMPLETE.md
  docs/archive/dockerfiles/Dockerfile.multi-service-legacy
  docs/archive/dockerfiles/README.md
Due: none

fix: Add missing dataset_id to upcoming_team_game_context BigQuery table reference
  data_processors/analytics/upcoming_team_game_context/upcoming_team_game_context_processor.py
Due: validate-sql-fstrings

docs: Add Session 59 handoff - Phase 3 deployment and BigQuery fix
  docs/09-handoff/2026-02-01-SESSION-59-DEPLOYMENT-AND-BIGQUERY-FIX.md
Due: none

docs: Add Session 61 handoff and update troubleshooting docs
  CLAUDE.md
  docs/02-operations/troubleshooting-matrix.md
  docs/09-handoff/2026-02-01-SESSION-61-HANDOFF.md
Due: none

docs: Add Session 59 handoff - Orchestrator failure discovered
  docs/09-handoff/2026-02-01-SESSION-59-HANDOFF.md
Due: none

docs: Add Session 60 start prompt for orchestrator fix
  docs/09-handoff/SESSION-60-START-PROMPT.md
Due: none

docs: Add silent BigQuery write failure pattern to CLAUDE.md
  CLAUDE.md
Due: none

docs: Clarify Oct 2025 feature store is empty by design (bootstrap)
  docs/08-projects/current/ml-challenger-training-strategy/DATA-GAPS-2025-26-SEASON.md
  docs/09-handoff/2026-02-01-SESSION-61-CONTEXT-BACKFILL.md
Due: none

fix: Update orchestrator deployment scripts for post-consolidation
  bin/orchestrators/deploy_phase2_to_phase3.sh
  bin/orchestrators/deploy_phase3_to_phase4.sh
  bin/orchestrators/deploy_phase4_to_phase5.sh
  bin/orchestrators/deploy_phase5_to_phase6.sh
  orchestration/cloud_functions/phase3_to_phase4/shared/config/espon_nba_team_ids.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Add Session 60 handoff - Orchestrator deployment fix
  docs/09-handoff/2026-02-01-SESSION-60-HANDOFF.md
Due: none

fix: Add 2025-26 season start date and improve bootstrap period handling
  bin/backfill/verify_phase3_for_phase4.py
  shared/config/nba_season_dates.py
Due: validate-sql-fstrings

feat: Add infrastructure health audit and fix monitoring permissions
  CLAUDE.md
  docs/02-operations/infrastructure-health-checks.md
  docs/02-operations/troubleshooting-matrix.md
  docs/09-handoff/2026-02-01-SESSION-61-HANDOFF.md
Due: none

docs: Add orchestrator deployment troubleshooting and consolidation notes
  docs/02-operations/troubleshooting-matrix.md
  docs/architecture/cloud-function-shared-consolidation.md
Due: none

docs: Add Session 61 start prompt with comprehensive future work
  docs/09-handoff/SESSION-61-START-PROMPT.md
Due: none

docs: Add Session 62 takeover prompt
  docs/09-handoff/SESSION-62-TAKEOVER-PROMPT.md
Due: none

docs: Add feature drift detection and vegas_line incident analysis
  .claude/skills/validate-feature-drift.md
  docs/08-projects/current/feature-quality-monitoring/2026-02-01-VEGAS-LINE-DRIFT-INCIDENT.md
  docs/08-projects/current/ml-challenger-experiments/EXPERIMENT-PLAN.md
Due: none

docs: Add Session 61 Part 2 - Feature drift discovery and experiment planning
  docs/09-handoff/2026-02-01-SESSION-61-HANDOFF.md
Due: none

fix: Add Phase 2 deployment support and fix requirements
  .claude/skills/validate-feature-drift.md
  bin/deploy-service.sh
  data_processors/raw/requirements.txt
  docs/08-projects/current/feature-quality-monitoring/2026-02-01-VEGAS-LINE-DRIFT-INCIDENT.md
  docs/08-projects/current/feature-quality-monitoring/README.md
  docs/09-handoff/2026-02-01-SESSION-62-HANDOFF.md
Due: none

docs: Add Session 62 start prompt and update feature monitoring README
  docs/08-projects/current/feature-quality-monitoring/README.md
  docs/09-handoff/2026-02-01-SESSION-62-START-PROMPT.md
Due: none

docs: Add Session 63 takeover prompt
  docs/09-handoff/SESSION-63-TAKEOVER-PROMPT.md
Due: none

docs: Session 62-63 - V8 hit rate investigation and Vegas line fix
  .claude/skills/validate-daily/SKILL.md
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  docs/08-projects/current/feature-quality-monitoring/2026-02-01-SESSION-63-INVESTIGATION-FINDINGS.md
  docs/08-projects/current/feature-quality-monitoring/2026-02-01-VEGAS-LINE-ROOT-CAUSE-ANALYSIS.md
  docs/08-projects/current/feature-quality-monitoring/README.md
  docs/08-projects/current/ml-challenger-experiments/EXPERIMENT-PLAN.md
  docs/08-projects/current/ml-challenger-training-strategy/README.md
  docs/08-projects/current/ml-challenger-training-strategy/V8-TRAINING-DISTRIBUTION-MISMATCH.md
  docs/09-handoff/2026-02-01-SESSION-62-PART2-VEGAS-LINE-FIX.md
  docs/09-handoff/2026-02-01-SESSION-63-HANDOFF.md
Due: validate-sql-fstrings

docs: Add V8 fix execution plan with phased approach
  docs/08-projects/current/feature-quality-monitoring/README.md
  docs/08-projects/current/feature-quality-monitoring/V8-FIX-EXECUTION-PLAN.md
  docs/09-handoff/2026-02-01-SESSION-63-HANDOFF.md
Due: none

docs: Add Session 63 takeover prompt for new chat
  docs/09-handoff/2026-02-01-SESSION-63-TAKEOVER-PROMPT.md
Due: none

docs: Add Session 63 Part 2 handoff - Heartbeat fix deployment complete
  docs/09-handoff/2026-02-01-SESSION-63-PART-2-HEARTBEAT-FIX.md
Due: none

docs: Session 64 investigation - DISPROVED Vegas hypothesis
  data_processors/precompute/ml_feature_store/feature_extractor.py
  docs/09-handoff/2026-02-01-SESSION-64-INVESTIGATION.md
Due: validate-sql-fstrings

feat: Add prevention mechanisms from V8 investigation
  bin/verify-deployment-before-backfill.sh
  docs/08-projects/current/feature-quality-monitoring/V8-FIX-EXECUTION-PLAN.md
  docs/08-projects/current/feature-quality-monitoring/V8-INVESTIGATION-LEARNINGS.md
Due: none

docs: Add Session 64 takeover prompt
  docs/10-session-prompts/2026-02-01-SESSION-64-TAKEOVER.md
Due: none

docs: Consolidate prevention mechanisms and execution log design
  docs/08-projects/current/feature-quality-monitoring/JAN-9-28-PREDICTION-REGENERATION-PLAN.md
  docs/08-projects/current/feature-quality-monitoring/V8-INVESTIGATION-LEARNINGS.md
  docs/09-handoff/2026-01-31-SESSION-52-USAGE-RATE-FIX-HANDOFF.md
Due: none

docs: Add comprehensive Session 64 handoff
  docs/09-handoff/2026-02-01-SESSION-64-HANDOFF.md
Due: none

feat: Add prediction tracking schema fields
  docs/09-handoff/2026-02-01-SESSION-64-HANDOFF.md
  schemas/bigquery/predictions/prediction_execution_log.sql
Due: none

feat: Add prediction tracking schema fields
  predictions/worker/worker.py
Due: validate-sql-fstrings
