Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

feat: Update skills with quality fields + add validate-source-alignment (Session 140)
  .claude/skills/experiment-tracker/SKILL.md
  .claude/skills/hit-rate-analysis/SKILL.md
  .claude/skills/model-experiment/SKILL.md
  .claude/skills/model-health/SKILL.md
  .claude/skills/spot-check-features/SKILL.md
  .claude/skills/subset-performance/SKILL.md
  .claude/skills/subset-picks/SKILL.md
  .claude/skills/validate-daily/SKILL.md
  .claude/skills/validate-historical/SKILL.md
  .claude/skills/validate-source-alignment/SKILL.md
  .claude/skills/yesterdays-grading/SKILL.md
Due: none

fix: Correct vegas source comparison in validate-source-alignment skill
  .claude/skills/validate-source-alignment/SKILL.md
Due: none

feat: Zero tolerance for default features in predictions (Session 141)
  data_processors/precompute/ml_feature_store/quality_scorer.py
  docs/08-projects/current/zero-tolerance-defaults/00-PROJECT-OVERVIEW.md
  docs/09-handoff/2026-02-06-SESSION-141-HANDOFF.md
  predictions/coordinator/quality_gate.py
  predictions/worker/worker.py
  schemas/bigquery/predictions/01_player_prop_predictions.sql
  tests/unit/prediction_tests/coordinator/test_quality_gate.py
Due: validate-sql-fstrings

docs: Update CLAUDE.md with Session 141 zero tolerance policy
  CLAUDE.md
Due: none

docs: Session 142 handoff prompt with backfill validation tasks
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

feat: Add default_feature_indices tracking for per-feature audit trail (Session 142)
  CLAUDE.md
  data_processors/precompute/ml_feature_store/quality_scorer.py
  docs/08-projects/current/feature-completeness/00-PROJECT-OVERVIEW.md
  docs/09-handoff/2026-02-06-SESSION-142-HANDOFF.md
  predictions/worker/data_loaders.py
  predictions/worker/worker.py
  schemas/bigquery/predictions/01_player_prop_predictions.sql
  schemas/bigquery/predictions/04_ml_feature_store_v2.sql
  shared/ml/feature_contract.py
Due: validate-sql-fstrings

docs: Session 142 handoff with backfill performance investigation details
  docs/09-handoff/2026-02-06-SESSION-142-HANDOFF.md
Due: none

docs: Session 143 prompt for feature store performance investigation
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

feat: Fix ML feature store backfill performance (17min→3s) and add timing visibility (Session 143)
  data_processors/analytics/analytics_base.py
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/precompute/precompute_base.py
  data_processors/raw/processor_base.py
  docs/08-projects/current/feature-store-performance/00-PROJECT-OVERVIEW.md
  schemas/bigquery/nba_reference/processor_run_history.sql
  shared/clients/bigquery_pool.py
  shared/processors/mixins/run_history_mixin.py
Due: validate-sql-fstrings

docs: Session 143 handoff with backfill and coverage tasks for Session 144
  docs/09-handoff/2026-02-07-SESSION-143-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

feat: Fix feature store defaults via cache miss fallback and add gap tracking (Session 144)
  .claude/skills/spot-check-features/SKILL.md
  backfill_jobs/precompute/ml_feature_store/ml_feature_store_precompute_backfill.py
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  schemas/bigquery/nba_predictions/feature_store_gaps.sql
Due: validate-sql-fstrings

docs: Session 144 handoff with cache miss fix and feature completeness investigation
  docs/09-handoff/2026-02-07-SESSION-144-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

feat: Make vegas features optional in zero-tolerance gating (Session 145)
  data_processors/precompute/ml_feature_store/quality_scorer.py
  docs/08-projects/current/feature-completeness/00-PROJECT-OVERVIEW.md
  docs/09-handoff/2026-02-07-SESSION-145-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
  predictions/coordinator/quality_gate.py
  predictions/worker/worker.py
  schemas/bigquery/predictions/04_ml_feature_store_v2.sql
  shared/ml/feature_contract.py
Due: validate-sql-fstrings

docs: Session 145 handoff with deployment status and next-session prompt
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

docs: Update next-session prompt with Cloud Build deploy option for coordinator
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

feat: Add cache miss tracking and Cloud Build deploy (Session 146)
  bin/cloud-deploy.sh
  cloudbuild.yaml
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  data_processors/precompute/player_daily_cache/player_daily_cache_processor.py
  docs/08-projects/current/feature-completeness/00-PROJECT-OVERVIEW.md
  docs/09-handoff/2026-02-07-SESSION-146-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
  schemas/bigquery/predictions/04_ml_feature_store_v2.sql
Due: validate-sql-fstrings

feat: Add cache miss monitoring and reconcile-yesterday skill (Session 147)
  .claude/skills/reconcile-yesterday/SKILL.md
  .claude/skills/validate-daily/SKILL.md
  bin/cloud-deploy.sh
  bin/monitoring/pipeline_canary_queries.py
Due: validate-sql-fstrings

feat: Fix CI/CD auto-deploy and add post-game reconciliation (Session 147)
  .github/workflows/auto-deploy.yml
  .github/workflows/deploy-service.yml
  bin/monitoring/daily_reconciliation.py
Due: validate-sql-fstrings

docs: Session 147 handoff - CI/CD auto-deploy via Cloud Build triggers
  CLAUDE.md
  docs/08-projects/current/ci-cd-auto-deploy/00-PROJECT-OVERVIEW.md
  docs/09-handoff/2026-02-07-SESSION-147-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

docs: Final Session 147 handoff with verified CI/CD triggers
  docs/08-projects/current/ci-cd-auto-deploy/00-PROJECT-OVERVIEW.md
  docs/09-handoff/2026-02-07-SESSION-147-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

fix: Change detector BDL→nbac + GitHub Actions CD error handling (Session 148)
  .github/workflows/deploy-service.yml
  shared/change_detection/change_detector.py
  shared/utils/completeness_checker.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: Prevent bash -e exit on conditional echo in auto-deploy workflow
  .github/workflows/auto-deploy.yml
Due: none

fix: Download monthly model from GCS in Cloud Build (Session 148)
  cloudbuild.yaml
  predictions/worker/Dockerfile
Due: none

docs: Session 148 handoff - BDL fix, CD fix, model loading fix
  docs/09-handoff/2026-02-07-SESSION-148-HANDOFF.md
Due: none

docs: Session 149 prompt with BDL cleanup + build optimization tasks
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

fix: Migrate BDL→nbac queries + optimize Cloud Build (Session 149)
  cloudbuild.yaml
  data_processors/analytics/Dockerfile
  data_processors/precompute/Dockerfile
  data_processors/raw/Dockerfile
  data_processors/raw/requirements-lock.txt
  predictions/coordinator/Dockerfile
  predictions/worker/Dockerfile
  scrapers/Dockerfile
  scrapers/requirements-lock.txt
  shared/utils/completeness_checker.py
  shared/utils/daily_scorecard.py
  shared/utils/postponement_detector.py
  shared/validation/context/player_universe.py
  shared/validation/continuous_validator.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: BDL service issue tracking + Session 149 handoff
  bin/monitoring/bdl_issue_report.py
  docs/09-handoff/2026-02-07-SESSION-149-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
  schemas/bigquery/views/bdl_service_issues.sql
Due: validate-sql-fstrings

feat: Enhanced BDL issue tracking with retry/latency metrics
  bin/monitoring/bdl_issue_report.py
  docs/08-projects/current/bdl-monitoring/00-PROJECT-OVERVIEW.md
  schemas/bigquery/views/bdl_service_issues.sql
Due: validate-sql-fstrings

fix: Update BDL skill + fix report bug (Session 150)
  .claude/skills/bdl-quality-check/SKILL.md
  bin/monitoring/bdl_issue_report.py
  docs/09-handoff/2026-02-07-SESSION-150-HANDOFF.md
Due: validate-sql-fstrings

feat: BDL decommission + feature completeness fix (Session 151)
  .env.example
  bin/scrapers/deploy/deploy_scrapers_simple.sh
  bin/scrapers/deploy/mlb/deploy_mlb_scrapers.sh
  config/workflows.yaml
  data_processors/precompute/ml_feature_store/feature_extractor.py
  docker-compose.dev.yml
  docs/09-handoff/2026-02-07-SESSION-151-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
  scrapers/registry.py
  shared/config/orchestration_config.py
  shared/config/service_urls.py
  shared/utils/secrets.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: Line-reactive predictions + monitoring + subset tracking (Session 152)
  .claude/skills/validate-daily/SKILL.md
  bin/monitoring/check_betting_line_sources.py
  bin/orchestrators/setup_line_check_scheduler.sh
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  data_processors/publishing/all_subsets_picks_exporter.py
  docs/08-projects/current/vegas-line-source-tracking/00-PROJECT-PLAN.md
  predictions/coordinator/coordinator.py
  predictions/coordinator/player_loader.py
  predictions/coordinator/quality_alerts.py
  predictions/coordinator/quality_gate.py
  predictions/worker/worker.py
  schemas/bigquery/predictions/01_player_prop_predictions.sql
  schemas/bigquery/predictions/04_ml_feature_store_v2.sql
  schemas/bigquery/predictions/05_subset_pick_snapshots.sql
  schemas/bigquery/predictions/v_daily_pipeline_health.sql
  schemas/bigquery/predictions/vegas_source_coverage_view.sql
  shared/ml/feature_contract.py
Due: validate-sql-fstrings

feat: Materialize subsets + subset grading (Sessions 153-154)
  backfill_jobs/publishing/daily_export.py
  data_processors/grading/subset_grading/__init__.py
  data_processors/grading/subset_grading/subset_grading_processor.py
  data_processors/publishing/all_subsets_picks_exporter.py
  data_processors/publishing/subset_materializer.py
  docs/09-handoff/2026-02-07-SESSION-153-HANDOFF.md
  orchestration/cloud_functions/grading/main.py
  schemas/bigquery/predictions/06_current_subset_picks.sql
  schemas/bigquery/predictions/07_subset_grading_results.sql
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: Add Cloud Build auto-deploy for grading Cloud Function
  .gitignore
  cloudbuild-functions.yaml
Due: none

docs: Update CLAUDE.md with CF trigger + Session 155 handoff prompt
  CLAUDE.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

docs: Session 154 handoff
  docs/09-handoff/2026-02-07-SESSION-154-HANDOFF.md
Due: none

feat: Redesign subsets — 8 clean subsets with direction filtering (Session 154)
  data_processors/publishing/all_subsets_picks_exporter.py
  data_processors/publishing/subset_materializer.py
  docs/08-projects/current/subset-redesign/00-SUBSET-REFERENCE.md
  shared/config/subset_public_names.py
Due: validate-sql-fstrings

docs: Session 154 handoff — subset redesign + backfill plan
  docs/09-handoff/2026-02-07-SESSION-154-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

fix: Decimal serialization in subset materializer + subset system docs
  data_processors/publishing/subset_materializer.py
  docs/08-projects/current/subset-redesign/01-SUBSET-SYSTEM-DEEP-DIVE.md
Due: validate-sql-fstrings

feat: Eliminate non-vegas feature defaults + training data quality gates (Session 156)
  .claude/skills/model-experiment/SKILL.md
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  data_processors/precompute/player_daily_cache/player_daily_cache_processor.py
  docs/09-handoff/2026-02-07-SESSION-156-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
  ml/experiments/backfill_breakout_shadow.py
  ml/experiments/breakout_experiment_runner.py
  ml/experiments/quick_retrain.py
  ml/experiments/train_breakout_classifier.py
  ml/features/breakout_features.py
Due: validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
