Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$

fix: Correct OKCSA typo and add game code validation
  bin/fix_feb4_data.sh
  bin/validate_game_codes.sh
Due: none

docs: Add comprehensive Session 124 handoff with all fixes and learnings
  docs/09-handoff/2026-02-05-SESSION-124-COMPLETE-HANDOFF.md
Due: none

fix: Use NBA.com injury reports as primary source (not BDL)
  DEPLOYMENT-STATUS-SESSION-124.md
  bin/fix_feb4_missing_games.sh
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  shared/constants/nba_teams.py
Due: validate-sql-fstrings

docs: Update tracking plan - NBA.com as primary injury source
  docs/08-projects/current/breakout-detection-v2/FEATURE-TRACKING-PLAN.md
Due: none

feat: Add canonical NBA team tricode constants and validation
  docs/05-development/nba-team-codes-reference.md
  shared/constants/__init__.py
Due: validate-sql-fstrings

docs: Add data sources discovery improvements (Session 127B post-mortem)
  CLAUDE.md
  docs/06-reference/data-sources/02-fallback-strategies.md
  docs/06-reference/scrapers/00-SCRAPER-INVENTORY.md
Due: none

docs: Add Session 124 end handoff for fresh validation session
  docs/09-handoff/2026-02-05-SESSION-124-END-START-FRESH.md
Due: none

docs: Add Session 127B final comprehensive handoff
  docs/09-handoff/2026-02-05-SESSION-127B-FINAL-HANDOFF.md
Due: none

fix: Session 128 - Edge filter, DNP recency, and orchestration fixes
  data_processors/precompute/player_daily_cache/player_daily_cache_processor.py
  data_processors/precompute/player_daily_cache/worker.py
  data_processors/raw/oddsapi/oddsapi_batch_processor.py
  docs/08-projects/current/session-128-validation-issues/README.md
  orchestration/cloud_functions/phase3_to_phase4/main.py
  orchestration/cloud_functions/phase4_to_phase5/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Add Session 128B validation fixes handoff
  docs/09-handoff/2026-02-05-SESSION-128B-VALIDATION-FIXES-HANDOFF.md
Due: none

docs: Add Session 128B handoff - orchestrator trigger fix investigation
  docs/09-handoff/2026-02-05-SESSION-128B-HANDOFF.md
Due: none

feat: Add breakout classifier with shadow mode (Session 128)
  bin/monitoring/check_breakout_data.sh
  docs/08-projects/current/breakout-detection-v2/EXPERIMENT-RESULTS.md
  docs/08-projects/current/breakout-detection-v2/FEATURE-TRACKING-PLAN.md
  docs/09-handoff/2026-02-05-SESSION-128-HANDOFF.md
  experiments/example_breakout_config.json
  experiments/results/EXP_BREAKOUT_1_75X_83f5b21c.json
  experiments/results/EXP_COMBINED_BEST_259f9440.json
  experiments/results/EXP_DEEP_MODEL_5916127d.json
  experiments/results/EXP_ENHANCED_ALL_978e1bf2.json
  experiments/results/EXP_SESSION126_FEATURES_7f1d8197.json
  experiments/results/EXP_WIDER_PPG_ef0ff905.json
  ml/experiments/breakout_experiment_runner.py
  predictions/worker/prediction_systems/breakout_classifier_v1.py
  predictions/worker/worker.py
Due: validate-sql-fstrings

docs: Session 128 - Deployment drift fix and prevention infrastructure
  CLAUDE.md
  SESSION-128-SUMMARY.md
  bin/infrastructure/setup-drift-monitoring.sh
  cloud_functions/deployment_drift_monitor/main.py
  cloud_functions/deployment_drift_monitor/requirements.txt
  docs/02-operations/DEPLOYMENT-DRIFT-PREVENTION.md
  docs/02-operations/session-learnings.md
  docs/09-handoff/HANDOFF-SESSION-128-NEXT-SESSION.md
  docs/09-handoff/SESSION-128-QUICK-REFERENCE.md
Due: validate-sql-fstrings

docs: Add Session 128 final handoff document
  docs/09-handoff/2026-02-05-SESSION-128-FINAL-HANDOFF.md
Due: none

feat: Auto-detect feature version (v2_37 vs v2_39)
  predictions/worker/data_loaders.py
Due: validate-sql-fstrings

docs: Add Session 128B prediction worker handoff for new chat
  docs/09-handoff/2026-02-05-SESSION-128B-PREDICTION-WORKER-HANDOFF.md
Due: none

fix: Fix grading service broken since Feb 4 (Session 129)
  bin/deploy-service.sh
  data_processors/grading/nba/Dockerfile
Due: none

docs: Add Session 129 handoff - grading service fix
  docs/09-handoff/2026-02-05-SESSION-129-HANDOFF.md
Due: none

feat: Add deep health checks and deployment smoke tests (Session 129)
  CLAUDE.md
  bin/deploy-service.sh
  data_processors/grading/nba/main_nba_grading_service.py
  docs/02-operations/system-features.md
  docs/05-development/health-checks-and-smoke-tests.md
Due: validate-sql-fstrings

docs: Add Session 128 final handoff for breakout classifier
  docs/09-handoff/2026-02-05-SESSION-128-FINAL-HANDOFF.md
Due: none

fix: Add authentication to smoke tests in deploy script
  bin/deploy-service.sh
Due: none

fix: Fix grading service with correct method name and missing dependency
  data_processors/grading/nba/main_nba_grading_service.py
  data_processors/grading/nba/requirements.txt
Due: validate-sql-fstrings

fix: Temporarily revert to v2_37features for model compatibility
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
Due: validate-sql-fstrings

docs: Add Session 130 handoff - grading service double bug fix
  docs/09-handoff/2026-02-05-SESSION-130-HANDOFF.md
Due: none

fix: Accept v2_39features in CatBoost V8/V9 models
  predictions/worker/prediction_systems/catboost_v8.py
Due: validate-sql-fstrings

fix: Add nba-grading-service to drift monitoring
  bin/check-deployment-drift.sh
Due: none

docs: Add Session 130B handoff - breakout classifier deployment
  docs/09-handoff/2026-02-05-SESSION-130B-BREAKOUT-DEPLOY-HANDOFF.md
Due: none

docs: Update next session prompt for Session 131
  NEXT-SESSION-PROMPT.md
Due: none

docs: Add prevention improvements roadmap for next session
  docs/09-handoff/2026-02-05-NEXT-SESSION-PREVENTION-IMPROVEMENTS.md
Due: none

fix: Include breakout classifier model in worker Docker image
  predictions/worker/Dockerfile
Due: none

docs: Add Session 131 handoff - Feb 5 prediction blocker investigation
  docs/09-handoff/2026-02-05-SESSION-131-HANDOFF.md
Due: none

fix: Comment out team_context code that references undefined game_date
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
Due: validate-sql-fstrings

docs: Session 129B handoff - v2_39features fix deployed, blocked by Phase 4
  docs/09-handoff/2026-02-05-SESSION-129B-PREDICTION-WORKER-V2_39-FIX.md
Due: none

feat: Add prevention improvements to stop silent failure bugs
  bin/deploy-service.sh
  bin/validate-dockerfile-dependencies.sh
  cloud_functions/deployment_drift_monitor/main.py
  data_processors/grading/nba/main_nba_grading_service.py
  docs/09-handoff/2026-02-05-SESSION-132-PREVENTION-IMPROVEMENTS.md
  predictions/coordinator/coordinator.py
  predictions/worker/worker.py
Due: validate-sql-fstrings

docs: Add Phase 4 investigation findings to Session 129B handoff
  docs/09-handoff/2026-02-05-SESSION-129B-PREDICTION-WORKER-V2_39-FIX.md
Due: none

docs: Add next session handoff for completing prevention improvements
  docs/09-handoff/2026-02-05-NEXT-SESSION-COMPLETION.md
Due: none

fix: Correct worker deep health check import and model path validation
  predictions/worker/worker.py
Due: validate-sql-fstrings

feat: Update breakout classifier naming and GCS model loading
  predictions/worker/Dockerfile
  predictions/worker/prediction_systems/breakout_classifier_v1.py
Due: validate-sql-fstrings

feat: Add dependency lock files for deterministic builds
  data_processors/analytics/Dockerfile
  data_processors/analytics/requirements-lock.txt
  data_processors/grading/nba/Dockerfile
  data_processors/grading/nba/requirements-lock.txt
  data_processors/precompute/Dockerfile
  data_processors/precompute/requirements-lock.txt
  data_processors/precompute/requirements.txt
  experiments/results/BREAKOUT_V1_MIDJAN_25f27aec.json
  experiments/results/BREAKOUT_V1_MIDJAN_27cce164.json
  predictions/coordinator/Dockerfile
  predictions/coordinator/requirements-lock.txt
  predictions/worker/Dockerfile
  predictions/worker/requirements-lock.txt
Due: none

docs: Complete Session 133 - dependency lock files (100% prevention)
  bin/check-active-deployments.sh
  docs/09-handoff/2026-02-05-SESSION-132-PREVENTION-IMPROVEMENTS.md
  docs/09-handoff/2026-02-05-SESSION-133-COMPLETION.md
Due: none
