Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

validate-scraper-config-tables:
  name: Validate scraper config table references (warning only)
  description: Checks that BigQuery tables referenced in scraper_retry_config.yaml exist (informational, non-blocking)
  entry: python .pre-commit-hooks/validate_scraper_config_tables.py
  language: python
  pass_filenames: false
  verbose: true

validate-sql-queries:
  name: Validate SQL validation queries
  description: Checks for Session 123 anti-patterns (cache_date = game_date, missing partition filters, etc.)
  entry: python .pre-commit-hooks/validate_sql_queries.py
  language: python
  verbose: true

validate-view-filters:
  name: Validate BigQuery view quality filters (Session 209)
  description: Ensures views querying prediction tables have quality filter annotations (prevents contaminated metrics)
  entry: python .pre-commit-hooks/validate_view_filters.py
  language: python
  pass_filenames: false
  verbose: true

validate-python-syntax:
  name: Validate Python syntax in deploy directories
  description: Catches syntax errors that would break Cloud Function deploys (Session 213)
  entry: python .pre-commit-hooks/validate_python_syntax.py
  language: python
  pass_filenames: false
  verbose: true

validate-deploy-safety:
  name: Check for dangerous --set-env-vars
  description: Prevents accidental env var wipes from --set-env-vars (Session 81/213)
  entry: python .pre-commit-hooks/validate_deploy_safety.py
  language: python
  pass_filenames: false
  verbose: true

feat: MLB pipeline — worker regressor support, signals refinement, season replay improvements
  docs/02-operations/system-features.md
  docs/08-projects/current/mlb-2026-season-strategy/03-DEPLOY-CHECKLIST.md
  docs/08-projects/current/mlb-2026-season-strategy/06-SEASON-PLAN-2026.md
  docs/08-projects/current/session-425-investigation/INVESTIGATION-PLAN.md
  docs/08-projects/current/session-426-under-signal-debugging/SESSION-PLAN.md
  docs/09-handoff/2026-03-08-SESSION-438b-HANDOFF.md
  docs/09-handoff/2026-03-08-SESSION-442-HANDOFF.md
  ml/signals/mlb/best_bets_exporter.py
  ml/signals/mlb/signals.py
  predictions/mlb/supplemental_loader.py
  predictions/mlb/worker.py
  scripts/mlb/analysis/opponent_venue_deep_dive.py
  scripts/mlb/analysis/opponent_venue_followup.py
  scripts/mlb/analysis/pitcher_deep_dive.py
  scripts/mlb/analysis/push_risk_analysis.py
  scripts/mlb/analysis/signal_filter_optimization.py
  scripts/mlb/analysis/signal_filter_optimization_part2.py
  scripts/mlb/analysis/signal_filter_optimization_part3.py
  scripts/mlb/analysis/ultra_bet_deep_dive.py
  scripts/mlb/analysis/ultra_bet_discovery.py
  scripts/mlb/backfill_ballpark_factors.py
  scripts/mlb/bankroll_simulation.py
  scripts/mlb/training/feature_analysis.py
  scripts/mlb/training/season_replay.py
  tests/mlb/test_exporter_with_regressor.py
  tests/mlb/test_supplemental_loader.py
Due: validate-sql-fstrings, validate-python-syntax

chore: update per-model pipeline algorithm version to v446_per_model_deployed
  ml/signals/pipeline_merger.py
Due: validate-sql-fstrings

feat: Session 451 — Mar 8 autopsy filters and observations
  CLAUDE.md
  docs/08-projects/current/session-451-mar8-filters/00-OVERVIEW.md
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  ml/signals/aggregator.py
  ml/signals/mean_reversion_under.py
  ml/signals/per_model_pipeline.py
  ml/signals/pipeline_merger.py
  ml/signals/player_blacklist.py
  ml/signals/supplemental_data.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

docs: Session 451 handoff — Mar 8 filters + Claude review concept
  docs/09-handoff/2026-03-09-SESSION-451-HANDOFF.md
Due: none

feat: Session 452 — Mar 8 autopsy fixes: game cap, FT variance filter, UNDER rsc floor, ultra tier
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/aggregator.py
  ml/signals/pipeline_merger.py
  tests/unit/signals/test_aggregator.py
  tests/unit/signals/test_pipeline_merger.py
Due: validate-sql-fstrings, validate-python-syntax

feat: Session 453 — slate-level observations + version test resilience
  ml/signals/pipeline_merger.py
  tests/unit/signals/test_aggregator.py
  tests/unit/signals/test_pipeline_merger.py
Due: validate-sql-fstrings

revert: Remove slate observations — data showed no signal
  docs/09-handoff/2026-03-09-SESSION-453-HANDOFF.md
  ml/signals/claude_pick_reviewer.py
  ml/signals/pipeline_merger.py
  scripts/test_claude_review.py
  scripts/test_claude_review_multiday.py
  tests/unit/signals/test_pipeline_merger.py
Due: validate-sql-fstrings

feat: Sessions 454-458 — V3 FINAL MLB deploy, weekly retrain CF, leakage fixes
  .pre-commit-hooks/check_date_comparisons.py
  CLAUDE.md
  bin/retrain.sh
  data_processors/grading/mlb/main_mlb_grading_service.py
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/precompute/player_daily_cache/player_daily_cache_processor.py
  data_processors/precompute/player_shot_zone_analysis/player_shot_zone_analysis_processor.py
  data_processors/precompute/team_defense_zone_analysis/team_defense_zone_analysis_processor.py
  docs/08-projects/current/model-management/MONTHLY-RETRAINING.md
  docs/09-handoff/2026-03-09-SESSION-446-HANDOFF.md
  docs/09-handoff/2026-03-09-SESSION-449-HANDOFF.md
  docs/09-handoff/2026-03-09-SESSION-450-HANDOFF.md
  docs/09-handoff/2026-03-09-SESSION-452-HANDOFF.md
  docs/09-handoff/2026-03-09-SESSION-454-HANDOFF.md
  docs/09-handoff/2026-03-09-SESSION-455-HANDOFF.md
  docs/09-handoff/2026-03-09-SESSION-456-HANDOFF.md
  docs/09-handoff/2026-03-09-SESSION-457-HANDOFF.md
  docs/09-handoff/2026-03-09-SESSION-458-HANDOFF.md
  ml/experiments/quick_retrain.py
  ml/signals/mlb/best_bets_exporter.py
  orchestration/cloud_functions/mlb_pitcher_watchlist/main.py
  orchestration/cloud_functions/mlb_pitcher_watchlist/requirements.txt
  orchestration/cloud_functions/weekly_retrain/deploy.sh
  orchestration/cloud_functions/weekly_retrain/main.py
  orchestration/cloud_functions/weekly_retrain/requirements.txt
  scripts/regenerate_player_daily_cache.py
  tests/mlb/test_exporter_with_regressor.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

feat: Session 459 — P0/P1 experiment matrix, all confirm V3 FINAL optimal
  docs/09-handoff/2026-03-09-SESSION-459-HANDOFF.md
  scripts/mlb/training/season_replay.py
Due: validate-sql-fstrings

feat: Session 459 — MLB hyperparameter sweep + NBA BB pipeline replay
  docs/09-handoff/2026-03-10-SESSION-459-HANDOFF.md
  scripts/mlb/training/season_replay.py
Due: validate-sql-fstrings

feat: Session 462 — BB simulator validated signals/filters
  CLAUDE.md
  ml/signals/aggregator.py
  ml/signals/cold_3pt_over.py
  ml/signals/hot_3pt_under.py
  ml/signals/line_drifted_down_under.py
  ml/signals/per_model_pipeline.py
  ml/signals/pick_angle_builder.py
  ml/signals/pipeline_merger.py
  ml/signals/registry.py
  ml/signals/supplemental_data.py
  tests/unit/signals/test_aggregator.py
  tests/unit/signals/test_cold_3pt_over.py
  tests/unit/signals/test_hot_3pt_under.py
  tests/unit/signals/test_line_drifted_down_under.py
  tests/unit/signals/test_player_blacklist.py
Due: validate-sql-fstrings

feat: Session 462 — promote cold shooting filters + update signal inventory
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  ml/signals/aggregator.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

docs: Session 462 handoff document
  docs/09-handoff/2026-03-10-SESSION-462-HANDOFF.md
Due: none

feat: Session 463 — FT anomaly signal/filter, slow pace signal, retrain fix
  ml/signals/aggregator.py
  ml/signals/ft_anomaly_under.py
  ml/signals/per_model_pipeline.py
  ml/signals/pick_angle_builder.py
  ml/signals/pipeline_merger.py
  ml/signals/registry.py
  ml/signals/slow_pace_under.py
  orchestration/cloud_functions/weekly_retrain/main.py
  tests/unit/signals/test_aggregator.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: Session 463 — star_line_under shadow signal (57.6% HR, N=1018)
  ml/signals/aggregator.py
  ml/signals/pick_angle_builder.py
  ml/signals/registry.py
  ml/signals/star_line_under.py
Due: validate-sql-fstrings

feat: Session 464 — L2=10+D4 hyperparams, 10 new signals, 2 promotions, production model
  docs/08-projects/current/mlb-session-464/EXPERIMENT-PLAN.md
  docs/08-projects/current/model-management/MONTHLY-RETRAINING.md
  docs/09-handoff/2026-03-09-SESSION-460-HANDOFF.md
  docs/09-handoff/2026-03-10-SESSION-461-HANDOFF.md
  docs/09-handoff/2026-03-10-SESSION-462-CONTINUATION.md
  docs/09-handoff/2026-03-10-SESSION-463-HANDOFF.md
  ml/signals/mlb/best_bets_exporter.py
  ml/signals/mlb/registry.py
  ml/signals/mlb/signals.py
  predictions/mlb/supplemental_loader.py
  scripts/mlb/training/season_replay.py
  scripts/mlb/training/train_regressor_v2.py
Due: validate-sql-fstrings, validate-python-syntax

feat: Session 463 — sharp consensus signal, counter-market filter, retrain sha256 fix
  ml/signals/aggregator.py
  ml/signals/pick_angle_builder.py
  ml/signals/registry.py
  ml/signals/sharp_consensus_under.py
  orchestration/cloud_functions/weekly_retrain/main.py
  tests/unit/signals/test_aggregator.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 464 handoff document
  docs/09-handoff/2026-03-10-SESSION-464-HANDOFF.md
Due: none

fix: extend retrain eval window 7→14 days + NBA handoff doc
  docs/09-handoff/2026-03-10-SESSION-463-NBA-HANDOFF.md
  orchestration/cloud_functions/weekly_retrain/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 463 NBA handoff — final update with eval window fix
  docs/09-handoff/2026-03-10-SESSION-463-NBA-HANDOFF.md
Due: none

docs: Session 465 start prompt for next chat
  docs/09-handoff/2026-03-10-SESSION-465-START.md
Due: none

feat: Session 465 — combo signals, catcher framing infra, replay experiments
  data_processors/raw/mlb/mlb_catcher_framing_processor.py
  docs/08-projects/current/mlb-2026-season-strategy/03-DEPLOY-CHECKLIST.md
  docs/08-projects/current/mlb-2026-season-strategy/06-SEASON-PLAN-2026.md
  docs/08-projects/current/mlb-session-464/EXPERIMENT-PLAN.md
  docs/09-handoff/2026-03-10-SESSION-465-HANDOFF.md
  docs/09-handoff/2026-03-10-SESSION-466-START.md
  ml/signals/mlb/best_bets_exporter.py
  ml/signals/mlb/registry.py
  ml/signals/mlb/signals.py
  predictions/mlb/supplemental_loader.py
  scrapers/mlb/registry.py
  scripts/mlb/training/season_replay.py
Due: validate-sql-fstrings, validate-python-syntax

feat: Session 466 — rescue restriction, signal promotions, retrain fix
  ml/signals/aggregator.py
  ml/signals/pipeline_merger.py
  orchestration/cloud_functions/weekly_retrain/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: Session 465 — xFIP signal, catcher framing fixes, umpire backfill, replay bugs
  docs/09-handoff/2026-03-10-SESSION-465-HANDOFF.md
  docs/09-handoff/2026-03-10-SESSION-466-START.md
  ml/signals/mlb/best_bets_exporter.py
  ml/signals/mlb/registry.py
  ml/signals/mlb/signals.py
  scrapers/mlb/external/mlb_catcher_framing.py
  scripts/mlb/backfill_umpire_assignments.py
  scripts/mlb/training/season_replay.py
Due: validate-sql-fstrings

fix: blacklist survives fleet swap — expand to model family history
  ml/signals/player_blacklist.py
Due: validate-sql-fstrings

feat: Session 465 — promote xfip_elite + day_game_csw, add umpire replay infra
  ml/signals/mlb/best_bets_exporter.py
  ml/signals/mlb/registry.py
  ml/signals/mlb/signals.py
  scripts/mlb/backfill_umpire_assignments.py
  scripts/mlb/training/season_replay.py
Due: validate-sql-fstrings

docs: Session 465 — update handoff with promotions and umpire findings
  docs/09-handoff/2026-03-10-SESSION-465-HANDOFF.md
  docs/09-handoff/2026-03-10-SESSION-466-START.md
Due: none

feat: Session 465 — umpire signals to TRACKING_ONLY, experiment plan update
  docs/08-projects/current/mlb-session-464/EXPERIMENT-PLAN.md
  scripts/mlb/training/season_replay.py
Due: validate-sql-fstrings

docs: MLB 2026 season review — full system handoff for new chat
  docs/09-handoff/2026-03-10-SESSION-466-MLB-SEASON-REVIEW.md
Due: none

feat: automated signal/filter discovery system — Phase 1
  scripts/nba/training/discovery/__init__.py
  scripts/nba/training/discovery/data_loader.py
  scripts/nba/training/discovery/feature_scanner.py
  scripts/nba/training/discovery/stats_utils.py
Due: validate-sql-fstrings

feat: signal combo interaction tester — Tool 2
  scripts/nba/training/discovery/combo_tester.py
Due: validate-sql-fstrings

feat: 5-season discovery data — 79K predictions across 2021-2026
  scripts/nba/training/discovery/data_loader.py
Due: validate-sql-fstrings

docs: Session 467 handoff — discovery results, v466 monitoring, archetype analyzer
  docs/09-handoff/2026-03-11-SESSION-467-HANDOFF.md
Due: none

feat: MLB 2026 Phase 1 — Dockerfile fix, multi-model fleet, umpire tiebreaker, cleanup
  bin/mlb/review_blacklist.py
  ml/signals/mlb/best_bets_exporter.py
  predictions/mlb/Dockerfile
  predictions/mlb/prediction_systems/lightgbm_v1_regressor_predictor.py
  predictions/mlb/prediction_systems/xgboost_v1_regressor_predictor.py
  predictions/mlb/requirements.txt
  predictions/mlb/worker.py
  scripts/mlb/training/season_replay.py
  scripts/mlb/training/train_lightgbm_v1.py
  scripts/mlb/training/train_regressor_v2.py
  scripts/mlb/training/train_xgboost_v1.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 468 — MLB pre-season verification, updated deploy checklist and season plan
  docs/08-projects/current/mlb-2026-season-strategy/03-DEPLOY-CHECKLIST.md
  docs/08-projects/current/mlb-2026-season-strategy/05-DEAD-ENDS.md
  docs/08-projects/current/mlb-2026-season-strategy/06-SEASON-PLAN-2026.md
  docs/09-handoff/2026-03-10-SESSION-466-MLB-SEASON-REVIEW.md
  docs/09-handoff/2026-03-11-SESSION-468-HANDOFF.md
Due: none

docs: MLB Opening Day handoff — complete guide for new chat to retrain and deploy
  docs/09-handoff/2026-03-11-MLB-OPENING-DAY-HANDOFF.md
Due: none

feat: OVER edge floor 5.0 + hot shooting block — v468 algorithm
  CLAUDE.md
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  ml/signals/aggregator.py
  ml/signals/pipeline_merger.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

feat: health-aware signal weights, directional book_disagree, over_line_rose block — v469
  CLAUDE.md
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  ml/signals/aggregator.py
  ml/signals/book_disagree_over.py
  ml/signals/book_disagree_under.py
  ml/signals/pick_angle_builder.py
  ml/signals/pipeline_merger.py
  ml/signals/registry.py
  tests/unit/signals/test_aggregator.py
  tests/unit/signals/test_book_disagree_directional.py
  tests/unit/signals/test_health_aware_weights.py
Due: validate-sql-fstrings

docs: Session 468 learnings — OVER edge floor + hot shooting block
  docs/02-operations/session-learnings.md
Due: none

docs: mark Session 451 filters doc as historical (superseded by v469)
  docs/08-projects/current/session-451-mar8-filters/00-OVERVIEW.md
Due: none

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$
