Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

validate-scraper-config-tables:
  name: Validate scraper config table references (warning only)
  description: Checks that BigQuery tables referenced in scraper_retry_config.yaml exist (informational, non-blocking)
  entry: python .pre-commit-hooks/validate_scraper_config_tables.py
  language: python
  pass_filenames: false
  verbose: true

validate-sql-queries:
  name: Validate SQL validation queries
  description: Checks for Session 123 anti-patterns (cache_date = game_date, missing partition filters, etc.)
  entry: python .pre-commit-hooks/validate_sql_queries.py
  language: python
  verbose: true

validate-view-filters:
  name: Validate BigQuery view quality filters (Session 209)
  description: Ensures views querying prediction tables have quality filter annotations (prevents contaminated metrics)
  entry: python .pre-commit-hooks/validate_view_filters.py
  language: python
  pass_filenames: false
  verbose: true

validate-python-syntax:
  name: Validate Python syntax in deploy directories
  description: Catches syntax errors that would break Cloud Function deploys (Session 213)
  entry: python .pre-commit-hooks/validate_python_syntax.py
  language: python
  pass_filenames: false
  verbose: true

validate-deploy-safety:
  name: Check for dangerous --set-env-vars
  description: Prevents accidental env var wipes from --set-env-vars (Session 81/213)
  entry: python .pre-commit-hooks/validate_deploy_safety.py
  language: python
  pass_filenames: false
  verbose: true

feat: add 8 prevention mechanisms from Session 334 system hardening
  .github/workflows/auto-deploy.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/validate_model_references.py
  bin/validation/validate_model_registry.py
  bin/validation/validate_workflow_dependencies.py
  data_processors/publishing/all_subsets_picks_exporter.py
  data_processors/publishing/season_subset_picks_exporter.py
  data_processors/publishing/subset_materializer.py
  ml/experiments/quick_retrain.py
  orchestration/cloud_functions/daily_health_check/main.py
  predictions/coordinator/quality_gate.py
  predictions/coordinator/signal_calculator.py
  tests/unit/shared/test_cross_model_subsets.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

docs: update Session 334 handoff with implementation results
  docs/09-handoff/2026-02-24-SESSION-334-HANDOFF.md
Due: none

docs: update CLAUDE.md with Session 334 changes
  CLAUDE.md
Due: none

docs: update Session 334 handoff with infrastructure fixes and model cleanup
  docs/09-handoff/2026-02-24-SESSION-334-HANDOFF.md
Due: none

docs: Session 335 handoff — shadow model verification, champion evaluation
  docs/09-handoff/2026-02-24-SESSION-335-HANDOFF.md
Due: none

feat: complete Session 335 hardening — registry check, pattern extraction, circuit breaker, deploy hook
  .pre-commit-config.yaml
  .pre-commit-hooks/validate_auto_deploy_consistency.py
  bin/retrain.sh
  ml/signals/supplemental_data.py
  shared/config/cross_model_subsets.py
  shared/utils/completion_tracker.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

feat: add ft_rate_bench_over signal — bench OVER + high FT rate (72.5% HR, WATCH)
  ml/signals/ft_rate_bench_over.py
  ml/signals/pick_angle_builder.py
  ml/signals/registry.py
  ml/signals/signal_health.py
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings

feat: add signal_ft_rate_bench_over subset for live performance tracking
  data_processors/publishing/signal_subset_materializer.py
  shared/config/subset_public_names.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 336 — player profiles signal implementation and CLAUDE.md update
  CLAUDE.md
  docs/08-projects/current/player-profiles/09-SIGNAL-IMPLEMENTATION.md
Due: none

docs: Session 336 handoff — ft_rate_bench_over signal and subset
  docs/09-handoff/2026-02-24-SESSION-336-HANDOFF.md
Due: none

docs: add edge-5+ health check to daily steering, update Session 335 handoff
  .claude/skills/daily-steering/SKILL.md
  docs/09-handoff/2026-02-24-SESSION-335-HANDOFF.md
Due: none

feat: add V15 experiment support — ft_rate_season + starter_rate_season in feature contract and quick_retrain
  ml/experiments/quick_retrain.py
  shared/ml/feature_contract.py
Due: validate-sql-fstrings, validate-python-syntax

docs: player profiles project — research, validation results, and archetype design
  docs/08-projects/current/player-profiles/00-OVERVIEW.md
  docs/08-projects/current/player-profiles/01-CURRENT-STATE.md
  docs/08-projects/current/player-profiles/02-ARCHETYPE-DESIGN.md
  docs/08-projects/current/player-profiles/03-PROFILE-SCHEMA.md
  docs/08-projects/current/player-profiles/04-INTEGRATION-POINTS.md
  docs/08-projects/current/player-profiles/05-IMPLEMENTATION-ROADMAP.md
  docs/08-projects/current/player-profiles/06-PHASE0-VALIDATION-RESULTS.md
  docs/08-projects/current/player-profiles/07-CONTROLLED-VALIDATION-RESULTS.md
  docs/08-projects/current/player-profiles/08-FULL-CONTROLLED-VALIDATION.md
Due: none

fix: Phase 6 SQL escape bug + preserve minScale on deploy
  bin/deploy-service.sh
  bin/hot-deploy.sh
  cloudbuild.yaml
  docs/09-handoff/2026-02-24-SESSION-337-HANDOFF.md
  docs/09-handoff/2026-02-24-SESSION-337B-HANDOFF.md
  shared/config/cross_model_subsets.py
Due: validate-sql-fstrings, validate-python-syntax, validate-deploy-safety

docs: Session 338 — minScale drift, SQL escape, Phase 6 fix learnings
  CLAUDE.md
  docs/02-operations/session-learnings.md
  docs/09-handoff/2026-02-24-SESSION-338-HANDOFF.md
Due: none

fix: post-write validation uses at-least check instead of exact match
  data_processors/analytics/operations/bigquery_save_ops.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 339 validation handoff — verify all Session 338 fixes
  docs/09-handoff/2026-02-25-SESSION-339-HANDOFF.md
Due: none

fix: replace time heuristic with schedule query for live data status
  bin/deploy/deploy_live_export.sh
  data_processors/publishing/status_exporter.py
Due: validate-sql-fstrings, validate-python-syntax, validate-deploy-safety

fix: preserve minScale on Cloud Function deploys (orchestrators)
  cloudbuild-functions.yaml
Due: validate-deploy-safety

feat: add Trends V3 feed with 7 trend detectors
  data_processors/publishing/trends_tonight_exporter.py
  data_processors/publishing/trends_v3_builder.py
  docs/09-handoff/2026-02-24-SESSION-340-HANDOFF.md
Due: validate-sql-fstrings, validate-python-syntax

feat: per-type caps, type interleaving, wider bounce-back window
  data_processors/publishing/trends_v3_builder.py
Due: validate-sql-fstrings, validate-python-syntax

fix: shooting % NULL mismatch and round-robin type interleaving
  data_processors/publishing/trends_v3_builder.py
Due: validate-sql-fstrings, validate-python-syntax

fix: add post-production validation for trend items
  data_processors/publishing/trends_v3_builder.py
Due: validate-sql-fstrings, validate-python-syntax

fix: detail lines lead with change, season avg last
  data_processors/publishing/trends_v3_builder.py
Due: validate-sql-fstrings, validate-python-syntax

fix: scale scoring streak thresholds, simplify shooting details
  data_processors/publishing/trends_v3_builder.py
Due: validate-sql-fstrings, validate-python-syntax

feat: add build_commit to tonight.json metadata
  data_processors/publishing/trends_tonight_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 341 handoff — Trends V3 polish and bug fixes
  docs/09-handoff/2026-02-25-SESSION-341-HANDOFF.md
Due: none

feat: add tonight's box score data to trend items
  data_processors/publishing/trends_tonight_exporter.py
  tests/unit/publishing/test_trends_tonight_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

fix: re-export best-bets/all.json after grading for fresh ultra_record
  data_processors/publishing/best_bets_all_exporter.py
  orchestration/cloud_functions/post_grading_export/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

feat: add trends-tonight to Phase 6 export types
  orchestration/cloud_functions/phase5_to_phase6/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: decommission zombie models and activate direction-aware blocking
  docs/08-projects/current/model-health-diagnosis-session-342/01-ZOMBIE-DECOMMISSION.md
  ml/signals/aggregator.py
  ml/signals/model_direction_affinity.py
  predictions/worker/prediction_systems/catboost_monthly.py
  predictions/worker/worker.py
  tests/unit/signals/test_model_direction_affinity.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 343 handoff and Session 342 diagnosis docs
  docs/08-projects/current/model-health-diagnosis-session-342/00-DIAGNOSIS.md
  docs/09-handoff/2026-02-25-SESSION-342-HANDOFF.md
  docs/09-handoff/2026-02-25-SESSION-343-HANDOFF.md
Due: none

feat: register Q55 shadow model, add evaluation plan, update model docs
  CLAUDE.md
  bin/monitoring/check_export_freshness.py
  data_processors/publishing/signal_best_bets_exporter.py
  docs/08-projects/current/model-system-evaluation-session-343/00-EVALUATION-PLAN.md
  ml/signals/model_direction_affinity.py
  orchestration/cloud_functions/post_grading_export/main.py
  shared/config/cross_model_subsets.py
  tests/unit/signals/test_model_direction_affinity.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

docs: Session 343 handoff — Q55 discovery, evaluation plan, shadow deploys
  docs/09-handoff/2026-02-25-SESSION-343-HANDOFF.md
Due: none

feat: register Q55+trend_wt and Q57 shadow models, decommission v12_vegas_q43
  CLAUDE.md
  bin/monitoring/check_export_freshness.py
  docs/08-projects/current/model-system-evaluation-session-343/00-EVALUATION-PLAN.md
  docs/09-handoff/2026-02-25-SESSION-344b-HANDOFF.md
  ml/signals/model_direction_affinity.py
  shared/config/cross_model_subsets.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 344 handoff — model health diagnosis, stale export fix verification
  docs/09-handoff/2026-02-25-SESSION-344-HANDOFF.md
Due: none

docs: finalize Session 344b handoff with remaining action items
  docs/09-handoff/2026-02-25-SESSION-344b-HANDOFF.md
Due: none

feat: add GCS export freshness monitoring to daily-health-check CF
  orchestration/cloud_functions/daily_health_check/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 345 handoff — export monitor, best bets attribution, fresh window experiment
  docs/09-handoff/2026-02-25-SESSION-345-HANDOFF.md
Due: none

docs: update evaluation plan with Session 345 findings and prioritized checklist
  docs/08-projects/current/model-system-evaluation-session-343/00-EVALUATION-PLAN.md
Due: none

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$
