Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$

docs: Session 251 — backfill complete, FEB25 backtests, quality fix
  docs/09-handoff/2026-02-14-SESSION-251-HANDOFF.md
Due: none

feat: signal discovery framework with model health gate and Phase 6 integration
  backfill_jobs/publishing/daily_export.py
  data_processors/publishing/signal_best_bets_exporter.py
  docs/08-projects/current/signal-discovery-framework/01-BACKTEST-RESULTS.md
  docs/08-projects/current/signal-discovery-framework/02-ARCHITECTURE.md
  ml/experiments/signal_backtest.py
  ml/signals/__init__.py
  ml/signals/aggregator.py
  ml/signals/base_signal.py
  ml/signals/dual_agree.py
  ml/signals/high_edge.py
  ml/signals/minutes_surge.py
  ml/signals/model_health.py
  ml/signals/pace_mismatch.py
  ml/signals/registry.py
  ml/signals/three_pt_bounce.py
  orchestration/cloud_functions/phase5_to_phase6/main.py
  orchestration/cloud_functions/post_grading_export/main.py
  schemas/bigquery/nba_predictions/signal_best_bets_picks.sql
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: signal annotations on all picks, Signal Picks subset, performance view
  backfill_jobs/publishing/daily_export.py
  data_processors/publishing/all_subsets_picks_exporter.py
  data_processors/publishing/signal_annotator.py
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/supplemental_data.py
  schemas/bigquery/nba_predictions/pick_signal_tags.sql
  schemas/bigquery/nba_predictions/v_signal_performance.sql
  shared/config/subset_public_names.py
Due: validate-sql-fstrings

docs: Session 254 handoff + updated signal framework architecture docs
  docs/08-projects/current/signal-discovery-framework/02-ARCHITECTURE.md
  docs/09-handoff/2026-02-14-SESSION-254-HANDOFF.md
Due: none

docs: finalize Session 255 handoff with cleanup + performance queries
  docs/09-handoff/2026-02-14-SESSION-255-HANDOFF.md
Due: none

docs: Session 256 comprehensive signal analysis complete
  NEW-CHAT-PROMPT.md
  NEW-SESSION-SIGNAL-ANALYSIS-PROMPT.md
  NEXT-SESSION-START-HERE.md
  QUICK-HANDOFF.md
  SESSION-255-FINAL-STATUS.txt
  WELCOME-BACK.txt
  docs/08-projects/current/signal-discovery-framework/01-BACKTEST-RESULTS.md
  docs/08-projects/current/signal-discovery-framework/COMBO-MECHANICS-ANALYSIS.md
  docs/08-projects/current/signal-discovery-framework/COMBO-SIGNALS-GUIDE.md
  docs/08-projects/current/signal-discovery-framework/COMPREHENSIVE-SIGNAL-ANALYSIS.md
  docs/08-projects/current/signal-discovery-framework/HARMFUL-SIGNALS-ANALYSIS.md
  docs/08-projects/current/signal-discovery-framework/HARMFUL-SIGNALS-SEGMENTATION.md
  docs/08-projects/current/signal-discovery-framework/MATRIX-QUICK-REFERENCE.md
  docs/08-projects/current/signal-discovery-framework/PERFORMANCE-VIEW-VALIDATION.md
  docs/08-projects/current/signal-discovery-framework/README.md
  docs/08-projects/current/signal-discovery-framework/SEGMENTATION-QUICK-REF.md
  docs/08-projects/current/signal-discovery-framework/SIGNAL-CLEANUP-ANALYSIS-PLAN.md
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INTERACTION-MATRIX-V2.md
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INTERACTION-MATRIX.md
  docs/08-projects/current/signal-discovery-framework/TESTING-COVERAGE-ANALYSIS.md
  docs/08-projects/current/signal-discovery-framework/ZERO-PICK-PROTOTYPES-ANALYSIS.md
  docs/08-projects/current/signal-discovery-framework/queries/backtest_comparison.sql
  docs/08-projects/current/signal-discovery-framework/queries/harmful_signals_segmentation.sql
  docs/09-handoff/2026-02-14-SESSION-256-FINAL-HANDOFF.md
  docs/09-handoff/2026-02-14-SESSION-256-HANDOFF.md
  ml/signals/edge_spread_optimal.py
  ml/signals/prop_value_gap_extreme.py
  ml/signals/registry.py
Due: validate-sql-fstrings

chore: organize session prompts and archive old files
  docs/09-handoff/archive/DEPLOYMENT-QUOTA-FIX.md
  docs/09-handoff/archive/DEPLOYMENT-STATUS-SESSION-124.md
  docs/09-handoff/archive/DEPLOYMENT_VERIFICATION.md
  docs/09-handoff/archive/NEXT-SESSION-PROMPT.md
  docs/09-handoff/archive/RECOVERY_READY.md
  docs/09-handoff/archive/SESSION-128-SUMMARY.md
  docs/09-handoff/archive/SESSION-82-START-PROMPT.md
  docs/09-handoff/archive/TASK5_SCHEDULER_VERIFICATION_REPORT.md
  docs/09-handoff/session-prompts/COMPREHENSIVE-TESTING-SESSION-PROMPT.md
  docs/09-handoff/session-prompts/NEW-CHAT-PROMPT.md
  docs/09-handoff/session-prompts/NEW-SESSION-SIGNAL-ANALYSIS-PROMPT.md
  docs/09-handoff/session-prompts/NEXT-SESSION-START-HERE.md
  docs/09-handoff/session-prompts/QUICK-HANDOFF.md
  docs/09-handoff/session-prompts/README.md
  docs/09-handoff/session-prompts/SESSION-255-FINAL-STATUS.txt
  docs/09-handoff/session-prompts/WELCOME-BACK.txt
Due: none

docs: add START-NEXT-SESSION-HERE guide
  docs/09-handoff/START-NEXT-SESSION-HERE.md
Due: none

docs: add handoff prompt for parallel chat sessions
  docs/09-handoff/session-prompts/HANDOFF-TO-OTHER-CHAT.md
Due: none

docs: Session 257 comprehensive signal testing results
  docs/08-projects/current/signal-discovery-framework/COMPREHENSIVE-TESTING-RESULTS.md
  docs/08-projects/current/signal-discovery-framework/SIGNAL-DECISION-MATRIX.md
  docs/08-projects/current/signal-discovery-framework/TESTING-COVERAGE-MAP.md
  docs/09-handoff/2026-02-14-SESSION-257-HANDOFF.md
  docs/09-handoff/session-prompts/SESSION-258-SIGNAL-IMPLEMENTATION-PROMPT.md
Due: none

feat: combo registry, signal health monitoring, scoring fix, signal count floor
  data_processors/publishing/signal_annotator.py
  data_processors/publishing/signal_best_bets_exporter.py
  docs/08-projects/current/signal-discovery-framework/SESSION-258-IMPLEMENTATION.md
  docs/08-projects/current/signal-discovery-framework/SESSION-259-MEGA-TEST-PLAN.md
  docs/09-handoff/session-prompts/SESSION-259-REVIEW-PROMPT.md
  ml/experiments/signal_backfill.py
  ml/signals/aggregator.py
  ml/signals/blowout_recovery.py
  ml/signals/cold_snap.py
  ml/signals/combo_3way.py
  ml/signals/combo_he_ms.py
  ml/signals/combo_registry.py
  ml/signals/registry.py
  ml/signals/signal_health.py
  ml/signals/supplemental_data.py
  orchestration/cloud_functions/post_grading_export/main.py
  schemas/bigquery/nba_predictions/pick_signal_tags.sql
  schemas/bigquery/nba_predictions/signal_best_bets_picks.sql
  schemas/bigquery/nba_predictions/signal_combo_registry.sql
  schemas/bigquery/nba_predictions/signal_health_daily.sql
  schemas/bigquery/nba_predictions/v_signal_combo_performance.sql
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 259 handoff and updated START-NEXT-SESSION-HERE
  docs/09-handoff/2026-02-15-SESSION-259-HANDOFF.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
Due: none

feat: configurable model selection, signal health weighting, Session 260 docs
  data_processors/publishing/signal_annotator.py
  data_processors/publishing/signal_best_bets_exporter.py
  docs/08-projects/current/signal-discovery-framework/SESSION-259-FOCUSED-BACKTEST-RESULTS.md
  docs/08-projects/current/signal-discovery-framework/SESSION-259-MEGA-TEST-PLAN.md
  docs/08-projects/current/signal-discovery-framework/SESSION-260-ADAPTIVE-PREDICTION-SYSTEM.md
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  docs/09-handoff/2026-02-15-SESSION-260-HANDOFF.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
  docs/09-handoff/session-prompts/SESSION-259-RESULTS-REPORT.md
  ml/experiments/signal_backtest_focused.py
  ml/signals/aggregator.py
  ml/signals/supplemental_data.py
  shared/config/model_selection.py
Due: validate-sql-fstrings

docs: Session 261 — historical replay analysis, decision framework, handoff docs
  docs/08-projects/current/signal-discovery-framework/SESSION-261-HISTORICAL-REPLAY-AND-DECISION-FRAMEWORK.md
  docs/09-handoff/2026-02-15-SESSION-261-HANDOFF.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
  docs/09-handoff/session-prompts/SESSION-261-FEB2-INVESTIGATION.md
Due: none

feat: V12 confidence filter, replay engine, decay detection, model performance table
  .claude/skills/replay/SKILL.md
  .claude/skills/validate-daily/SKILL.md
  data_processors/publishing/signal_annotator.py
  data_processors/publishing/signal_best_bets_exporter.py
  docs/08-projects/current/signal-discovery-framework/SESSION-262-FEB2-CRASH-INVESTIGATION.md
  docs/09-handoff/2026-02-15-SESSION-262-HANDOFF.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
  ml/analysis/__init__.py
  ml/analysis/model_performance.py
  ml/analysis/replay_cli.py
  ml/analysis/replay_engine.py
  ml/analysis/replay_strategies.py
  ml/signals/aggregator.py
  orchestration/cloud_functions/decay_detection/__init__.py
  orchestration/cloud_functions/decay_detection/main.py
  orchestration/cloud_functions/decay_detection/requirements.txt
  shared/config/model_selection.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 262 — replay engine, decay monitoring, V12 confidence filter project docs
  docs/08-projects/current/signal-discovery-framework/SESSION-262-REPLAY-AND-MONITORING.md
Due: none

feat: wire automation + replay enhancements for Feb 19 readiness
  docs/09-handoff/SESSION-259-262-COMPREHENSIVE-REVIEW.md
  ml/analysis/replay_cli.py
  ml/analysis/replay_engine.py
  orchestration/cloud_functions/decay_detection/main.py
  orchestration/cloud_functions/post_grading_export/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 263 — update CLAUDE.md and START-NEXT-SESSION-HERE
  CLAUDE.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
Due: none

docs: Session 264-266 prompts for parallel work streams
  docs/09-handoff/session-prompts/SESSION-264-COLD-SIGNAL-FIX.md
  docs/09-handoff/session-prompts/SESSION-265-V8-REPLAY-VALIDATION.md
  docs/09-handoff/session-prompts/SESSION-266-MONITORING-FEATURES.md
Due: none

feat: zero COLD model-dependent signal weights in aggregator
  ml/signals/aggregator.py
  ml/signals/signal_health.py
Due: validate-sql-fstrings

feat: monitoring features — meta-monitoring, directional concentration, cross-model crash, baseline dashboard
  .claude/skills/validate-daily/SKILL.md
  CLAUDE.md
  orchestration/cloud_functions/daily_health_check/main.py
  orchestration/cloud_functions/decay_detection/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 266 — monitoring features handoff and START-NEXT-SESSION-HERE update
  docs/09-handoff/2026-02-15-SESSION-266-HANDOFF.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
Due: none

feat: signal-health + model-health exports, steering playbook, forward plan
  CLAUDE.md
  backfill_jobs/publishing/daily_export.py
  data_processors/publishing/model_health_exporter.py
  data_processors/publishing/signal_health_exporter.py
  docs/02-operations/runbooks/model-steering-playbook.md
  docs/08-projects/current/signal-discovery-framework/SESSION-267-FORWARD-PLAN.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
  orchestration/cloud_functions/daily_health_check/requirements.txt
Due: validate-sql-fstrings

docs: Session 268 prompt — daily steering skill + backfill
  docs/09-handoff/session-prompts/SESSION-268-DAILY-STEERING-SKILL.md
Due: none

feat: daily-steering skill + fix signal annotator query
  .claude/skills/daily-steering/SKILL.md
  CLAUDE.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings

feat: remove health gate from signal best bets + add signal context to subset picks
  CLAUDE.md
  data_processors/publishing/signal_annotator.py
  data_processors/publishing/signal_best_bets_exporter.py
  docs/08-projects/current/signal-discovery-framework/V8-MULTI-SEASON-REPLAY-RESULTS.md
  docs/09-handoff/2026-02-15-SESSION-264-HANDOFF.md
  docs/09-handoff/2026-02-15-SESSION-269-HANDOFF.md
  docs/09-handoff/2026-02-15-SESSION-270-HANDOFF.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
  docs/09-handoff/session-prompts/SESSION-262-PUSHBACK-PROMPT.md
  docs/09-handoff/session-prompts/SESSION-262-REVIEW-PROMPT.md
  docs/09-handoff/session-prompts/SESSION-270-REMOVE-HEALTH-GATE-PROMPT.md
  ml/analysis/steering_replay.py
  ml/experiments/signal_backfill.py
  ml/signals/model_health.py
  schemas/bigquery/predictions/06_current_subset_picks.sql
Due: validate-sql-fstrings

docs: Session 271 prompt — daily steering process design
  docs/09-handoff/session-prompts/SESSION-271-DAILY-STEERING-PROCESS-PROMPT.md
Due: none

feat: add actual_points, result, last_30d_ppg to tonight API + DNP fields to player profiles
  data_processors/publishing/player_profile_exporter.py
  data_processors/publishing/tonight_all_players_exporter.py
Due: validate-sql-fstrings

feat: model management overhaul — auto-upload, DB-driven loading, retrain reminders
  bin/infrastructure/setup_retrain_reminder.sh
  bin/migrations/001_enrich_model_registry.sql
  bin/retrain.sh
  docs/02-operations/runbooks/daily-checklist.md
  docs/02-operations/runbooks/model-steering-playbook.md
  docs/08-projects/current/model-management-overhaul/01-OVERVIEW.md
  docs/08-projects/current/model-management-overhaul/02-SIGNAL-SYSTEM-ANALYSIS.md
  docs/08-projects/current/model-management-overhaul/03-SIGNAL-MARKET-PATTERNS.md
  docs/08-projects/current/walkforward-season-sim/01-WALKFORWARD-RESULTS.md
  docs/08-projects/current/walkforward-season-sim/run1-full-comparison.json
  docs/08-projects/current/walkforward-season-sim/run2-7d-vs-14d.json
  docs/09-handoff/2026-02-15-SESSION-271-HANDOFF.md
  docs/09-handoff/2026-02-16-SESSION-273-HANDOFF.md
  ml/analysis/model_performance.py
  ml/experiments/model_performance_by_type.py
  ml/experiments/quick_retrain.py
  ml/experiments/season_walkforward.py
  orchestration/cloud_functions/retrain_reminder/main.py
  orchestration/cloud_functions/retrain_reminder/requirements.txt
  predictions/worker/prediction_systems/catboost_monthly.py
  predictions/worker/worker.py
  schemas/bigquery/predictions/11_ml_model_registry.sql
  schemas/model_registry.json
  shared/utils/pushover_notifier.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: 5 market-pattern UNDER signals — bench, usage, volatile, FT, self-creator
  CLAUDE.md
  ml/experiments/dimensional_analysis.py
  ml/experiments/historical_pattern_validation.py
  ml/experiments/signal_backtest.py
  ml/signals/b2b_fatigue_under.py
  ml/signals/bench_under.py
  ml/signals/cold_continuation_2.py
  ml/signals/high_ft_under.py
  ml/signals/high_usage_under.py
  ml/signals/registry.py
  ml/signals/self_creator_under.py
  ml/signals/supplemental_data.py
  ml/signals/volatile_under.py
Due: validate-sql-fstrings

feat: signal cleanup — remove 10 underperformers, add 3 UNDER combos, aggregator 60→74% HR
  CLAUDE.md
  docs/02-operations/system-features.md
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  docs/08-projects/summaries/2026-02.md
  docs/09-handoff/2026-02-16-SESSION-275-HANDOFF.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
  ml/signals/combo_registry.py
  ml/signals/registry.py
Due: validate-sql-fstrings

docs: update START-NEXT-SESSION-HERE with retrain priorities and todo list
  docs/09-handoff/START-NEXT-SESSION-HERE.md
Due: none

feat: retrain sprint — 6 models trained, V12+quantile first ever, streaming buffer fix
  CLAUDE.md
  bin/retrain.sh
  docs/08-projects/current/model-management-overhaul/04-RETRAIN-SPRINT-RESULTS.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
  ml/experiments/quick_retrain.py
  predictions/worker/prediction_systems/catboost_monthly.py
Due: validate-sql-fstrings

feat: 3-layer multi-model best bets — V12 signals unlocked, cross-model subsets, consensus scoring
  CLAUDE.md
  backfill_jobs/publishing/daily_export.py
  data_processors/publishing/cross_model_subset_materializer.py
  data_processors/publishing/signal_annotator.py
  data_processors/publishing/signal_best_bets_exporter.py
  docs/08-projects/current/multi-model-best-bets/00-ARCHITECTURE.md
  ml/signals/aggregator.py
  ml/signals/cross_model_scorer.py
  ml/signals/supplemental_data.py
  schemas/bigquery/nba_predictions/signal_best_bets_picks.sql
  shared/config/cross_model_subsets.py
  shared/config/subset_public_names.py
Due: validate-sql-fstrings

fix: persist cross-model agreement provenance in subset picks
  data_processors/publishing/cross_model_subset_materializer.py
Due: validate-sql-fstrings

docs: add Session 277 multi-model best bets planning docs
  docs/08-projects/current/multi-model-best-bets/01-NEXT-SESSION-PLAN.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
Due: none

feat: smart filters + pick angles — block 3 poison segments, add human-readable reasoning
  CLAUDE.md
  data_processors/publishing/signal_annotator.py
  data_processors/publishing/signal_best_bets_exporter.py
  docs/09-handoff/START-NEXT-SESSION-HERE.md
  ml/signals/aggregator.py
  ml/signals/pick_angle_builder.py
  schemas/bigquery/nba_predictions/signal_best_bets_picks.sql
  schemas/bigquery/predictions/06_current_subset_picks.sql
Due: validate-sql-fstrings

feat: add agreeing_model_ids + season/month/week record to signal best bets
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/aggregator.py
  ml/signals/cross_model_scorer.py
  schemas/bigquery/nba_predictions/signal_best_bets_picks.sql
Due: validate-sql-fstrings

docs: add Session 279 pick provenance + hierarchical layers plan
  docs/08-projects/current/multi-model-best-bets/02-SESSION-279-PLAN.md
Due: none
