Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$

fix(mlb): tighten MAX_EDGE 1.5 → 1.25 (A2 narrowed, Session 2)
  docs/08-projects/current/mlb-comprehensive-review-2026-05-12/07-A2-MONITOR-QUERY.md
  docs/08-projects/current/mlb-comprehensive-review-2026-05-12/08-A5-CLV-DESIGN.md
  docs/08-projects/current/mlb-comprehensive-review-2026-05-12/09-B1-BACKTEST-QUERY.md
  ml/signals/mlb/best_bets_exporter.py
Due: validate-sql-fstrings

fix(mlb-grading): detect did_not_start voids + fix all.json today stomp
  bin/monitoring/mlb_daily_performance.py
  data_processors/grading/mlb/main_mlb_grading_service.py
  data_processors/grading/mlb/mlb_prediction_grading_processor.py
  data_processors/publishing/mlb/mlb_best_bets_exporter.py
  docs/08-projects/current/mlb-comprehensive-review-2026-05-12/06-MULTI-SESSION-ROADMAP.md
  docs/09-handoff/2026-05-13-mlb-grading-and-publish-bugs.md
  docs/09-handoff/2026-05-13-mlb-roadmap-session-6.md
  schemas/bigquery/mlb_predictions/prediction_accuracy.sql
  schemas/bigquery/mlb_predictions/signal_best_bets_picks.sql
Due: validate-sql-fstrings, validate-python-syntax

fix(mlb-grading): cast NULL literals in MERGE STRUCT + normalize game_pk type
  data_processors/grading/mlb/mlb_prediction_grading_processor.py
Due: validate-sql-fstrings, validate-python-syntax

fix(mlb-grading): three follow-up fixes to did_not_start path
  data_processors/grading/mlb/main_mlb_grading_service.py
  data_processors/grading/mlb/mlb_prediction_grading_processor.py
Due: validate-sql-fstrings, validate-python-syntax

fix(mlb-publish): restore LEFT JOIN to prediction_accuracy (regression fix)
  data_processors/publishing/mlb/mlb_best_bets_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

feat(mlb-publish): content guard on all.json (refuse silent overwrites)
  data_processors/publishing/mlb/mlb_best_bets_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

ops(mlb-grading): force redeploy with latest exporter + add backup script
  bin/backups/mlb_snapshot_daily.sh
  data_processors/grading/mlb/main_mlb_grading_service.py
Due: validate-sql-fstrings, validate-python-syntax

fix(mlb): did_not_start branch missed team-disambig + voids absent from history
  data_processors/grading/mlb/mlb_prediction_grading_processor.py
  data_processors/publishing/mlb/mlb_best_bets_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

docs(handoff): modal design continuation + tonight's ops follow-ups
  docs/09-handoff/2026-05-13-mlb-modal-and-followups.md
Due: none

fix(observability): per-processor phase_completion emit + backfill endpoint coverage
  data_processors/analytics/main_analytics_service.py
  data_processors/analytics/mlb/main_mlb_analytics_service.py
  data_processors/precompute/main_precompute_service.py
  data_processors/precompute/mlb/main_mlb_precompute_service.py
  monitoring/alert-policies/grading-low-coverage-alert.yaml
Due: validate-sql-fstrings, validate-python-syntax

feat(signals): Path B Week 3 — regime-adaptive OQW + contending_models field
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/aggregator.py
  ml/signals/pipeline_merger.py
  schemas/bigquery/nba_predictions/signal_best_bets_picks.sql
Due: validate-sql-fstrings, validate-python-syntax

chore(security): Path C Week 2 — data_quality_alerts auth lockdown + Slack secrets
  orchestration/cloud_functions/data_quality_alerts/deploy.sh
Due: none

feat(signals): obs-filter audit 2026-05-15 — promote 3, remove 1
  ml/signals/aggregator.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

docs(ops): DR drill 2026-05-15 — snapshot restore validated
  bin/operations/dr_restore_snapshot.sh
  docs/02-operations/disaster-recovery-runbook.md
Due: none

fix(alerts): skip empty fields block in Slack payload (400 Bad Request)
  orchestration/cloud_functions/data_quality_alerts/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

chore(security): Path A — Slack→Secret Manager for 10 CFs + deploy scripts
  bin/deploy/deploy_stale_cleanup.sh
  bin/deploy/deploy_validation_runner.sh
  bin/orchestrators/deploy_phase4_timeout_check.sh
  orchestration/cloud_functions/mlb_regime_monitor/deploy.sh
  orchestration/cloud_functions/weekly_retrain/deploy.sh
Due: validate-deploy-safety

docs: handoff 2026-05-15 — obs audit + DR drill + Slack→Secret Manager
  docs/09-handoff/2026-05-15-obs-audit-dr-drill-slack-secrets.md
Due: none

feat(monitoring): per-model bias + mae_gap tracking (2025-26 anomaly follow-up)
  bin/monitoring/bias_decay_monitor.py
  docs/08-projects/current/2026-05-15-2025-26-anomaly-rootcause/00-FINDINGS.md
  docs/08-projects/current/2026-05-15-2025-26-anomaly-rootcause/01-MONITORING-PLAN.md
  ml/analysis/model_performance.py
  schemas/bigquery/nba_predictions/model_performance_daily.sql
  shared/monitoring/bias_decay_thresholds.py
  tests/monitoring/unit/test_bias_decay_thresholds.py
Due: validate-sql-fstrings, validate-python-syntax

feat(admin): Model Health page + resilient blueprint loader
  services/admin_dashboard/app.py
  services/admin_dashboard/blueprints/__init__.py
  services/admin_dashboard/blueprints/model_health.py
  services/admin_dashboard/services/auth.py
  services/admin_dashboard/templates/base.html
  services/admin_dashboard/templates/model_health.html
Due: validate-sql-fstrings

docs: handoff 2026-05-16 — bias monitoring + Model Health dashboard
  docs/09-handoff/2026-05-16-bias-monitoring-and-model-health-dashboard.md
Due: none

feat(monitoring): wrap bias_decay_monitor as Cloud Function
  cloudbuild-functions.yaml
  orchestration/cloud_functions/bias_decay_monitor/main.py
  orchestration/cloud_functions/bias_decay_monitor/requirements.txt
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-deploy-safety

chore: add OWM secret deps + mlb-weather-pregame scheduler entry
  bin/schedulers/setup_mlb_schedulers.sh
  orchestration/cloud_functions/bias_decay_monitor/requirements.txt
Due: none

fix: admin dashboard WORKDIR + bias_decay_monitor storage dep
  orchestration/cloud_functions/bias_decay_monitor/requirements.txt
  services/admin_dashboard/Dockerfile
Due: none

fix(mlb): rewire mlb_weather scraper to actually call OWM with appid
  scrapers/mlb/external/mlb_weather.py
Due: validate-sql-fstrings

refactor: lazy-load shared.monitoring.processor_heartbeat + dep cleanup
  bin/scrapers/deploy/mlb/deploy_mlb_scrapers.sh
  orchestration/cloud_functions/bias_decay_monitor/requirements.txt
  shared/monitoring/__init__.py
Due: validate-sql-fstrings, validate-python-syntax

fix(mlb): lower TIGHT regime threshold 1.7 → 1.5 K to end pick drought
  ml/signals/mlb/best_bets_exporter.py
Due: validate-sql-fstrings

fix(mlb): explicit BLOCK_ALL_AWAY_OVER + edge-window invariant validator
  ml/signals/mlb/best_bets_exporter.py
Due: validate-sql-fstrings

fix(mlb-phase2): stop 28-errors/min error loop in odds game-lines path
  data_processors/raw/oddsapi/odds_game_lines_processor.py
  data_processors/raw/path_extractors/mlb_extractors.py
Due: validate-sql-fstrings, validate-python-syntax

refactor(mlb): centralize TIGHT_VEGAS_MAE_THRESHOLD in ml/signals/mlb/config.py
  ml/analysis/mlb_league_macro.py
  ml/signals/mlb/best_bets_exporter.py
  ml/signals/mlb/config.py
Due: validate-sql-fstrings

feat(monitoring): add check_mlb_pick_drought multi-day canary
  bin/monitoring/pipeline_canary_queries.py
Due: validate-sql-fstrings, validate-python-syntax

feat(mlb): extend startup validator to all env-var thresholds
  ml/signals/mlb/best_bets_exporter.py
Due: validate-sql-fstrings

docs: handoff 2026-05-17 — MLB drought fix + retrain + antifragility
  docs/09-handoff/2026-05-17-mlb-drought-fix-retrain-and-antifragility.md
Due: none

feat(mlb): extend halt_state_writer to MLB + wire halt envelope in exporters
  data_processors/publishing/mlb/mlb_best_bets_exporter.py
  ml/signals/mlb/best_bets_exporter.py
  orchestration/cloud_functions/halt_state_writer/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

fix(halt-state): suspend fleet_blocked during model swaps + drought must be ongoing
  orchestration/cloud_functions/halt_state_writer/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

chore(mlb): defensive cleanups around halt envelope wiring
  data_processors/publishing/mlb/mlb_best_bets_exporter.py
  ml/signals/mlb/best_bets_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

docs: handoff 2026-05-17-2 — halt_state MLB extension + fleet-transition fix
  docs/09-handoff/2026-05-17-2-halt-state-mlb-extension-and-fleet-transition-fix.md
Due: none

test(mlb): edge-window × regime cross-product pytest
  tests/mlb/test_exporter_with_regressor.py
Due: validate-sql-fstrings

docs: handoff 2026-05-18 — edge-window pytest + grading divergence discovery
  docs/09-handoff/2026-05-18-edge-window-pytest-and-grading-divergence.md
Due: none
