Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

validate-scraper-config-tables:
  name: Validate scraper config table references (warning only)
  description: Checks that BigQuery tables referenced in scraper_retry_config.yaml exist (informational, non-blocking)
  entry: python .pre-commit-hooks/validate_scraper_config_tables.py
  language: python
  pass_filenames: false
  verbose: true

validate-sql-queries:
  name: Validate SQL validation queries
  description: Checks for Session 123 anti-patterns (cache_date = game_date, missing partition filters, etc.)
  entry: python .pre-commit-hooks/validate_sql_queries.py
  language: python
  verbose: true

validate-view-filters:
  name: Validate BigQuery view quality filters (Session 209)
  description: Ensures views querying prediction tables have quality filter annotations (prevents contaminated metrics)
  entry: python .pre-commit-hooks/validate_view_filters.py
  language: python
  pass_filenames: false
  verbose: true

validate-python-syntax:
  name: Validate Python syntax in deploy directories
  description: Catches syntax errors that would break Cloud Function deploys (Session 213)
  entry: python .pre-commit-hooks/validate_python_syntax.py
  language: python
  pass_filenames: false
  verbose: true

validate-deploy-safety:
  name: Check for dangerous --set-env-vars
  description: Prevents accidental env var wipes from --set-env-vars (Session 81/213)
  entry: python .pre-commit-hooks/validate_deploy_safety.py
  language: python
  pass_filenames: false
  verbose: true

feat: pitcher pitch arsenal view + statcast processor fix
  data_processors/raw/mlb/mlb_statcast_daily_processor.py
  schemas/bigquery/mlb_analytics/pitcher_pitch_arsenal_tables.sql
Due: validate-sql-fstrings, validate-python-syntax

feat: add pitch_arsenal to MLB pitcher exporter
  data_processors/publishing/mlb/mlb_pitcher_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 528 + 529 handoffs — MLB pitcher UI Phase 1 + 2
  docs/09-handoff/2026-04-12-SESSION-528-HANDOFF.md
  docs/09-handoff/2026-04-13-SESSION-529-HANDOFF.md
Due: none

feat: per-pitch MLB game feed pipeline for true per-type arsenal stats
  bin/schedulers/setup_mlb_schedulers.sh
  data_processors/raw/main_processor_service.py
  data_processors/raw/mlb/__init__.py
  data_processors/raw/mlb/mlb_game_feed_processor.py
  schemas/bigquery/mlb_analytics/pitcher_pitch_arsenal_tables.sql
  schemas/bigquery/mlb_raw/mlb_game_feed_pitches_tables.sql
  scrapers/mlb/mlbstatsapi/__init__.py
  scrapers/mlb/mlbstatsapi/mlb_game_feed_daily.py
  scrapers/registry.py
Due: validate-sql-fstrings, validate-python-syntax

feat: advanced arsenal metrics — putaway, velo fade, concentration
  data_processors/publishing/mlb/mlb_pitcher_exporter.py
  schemas/bigquery/mlb_analytics/pitcher_advanced_arsenal_tables.sql
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 530 handoff + MLB arsenal signal correlation tool
  docs/09-handoff/2026-04-13-SESSION-530-HANDOFF.md
  scripts/mlb/analysis/arsenal_signal_correlation.py
Due: validate-sql-fstrings

feat: expected arsenal (whiff vs league) + 2025 backfill script + monthly correlation reminder
  bin/backfill/backfill_mlb_game_feed_range.sh
  data_processors/publishing/mlb/mlb_pitcher_exporter.py
  schemas/bigquery/mlb_analytics/league_pitch_type_stats.sql
  schemas/bigquery/mlb_analytics/pitcher_expected_arsenal.sql
Due: validate-sql-fstrings, validate-python-syntax

feat: embed last-5 K history on tonight starter entries
  data_processors/publishing/mlb/mlb_pitcher_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 531 handoff — 2025 backfill, expected arsenal, pitcher modal v1
  docs/09-handoff/2026-04-13-SESSION-531-HANDOFF.md
Due: none

docs: Session 532 handoff — MLB frontend discipline + 10 design prototypes
  docs/09-handoff/2026-04-14-SESSION-532-HANDOFF.md
Due: none

chore: add MLB best bets scheduler YAML source-of-truth
  deployment/scheduler/mlb/bb-schedules.yaml
  deployment/scheduler/mlb/deploy-bb-schedules.sh
Due: none

fix: MLB filter audit blind spot + vegas_mae_7d NULL for all April
  data_processors/grading/mlb/main_mlb_grading_service.py
  data_processors/grading/mlb/mlb_prediction_grading_processor.py
  ml/analysis/mlb_league_macro.py
  ml/signals/mlb/best_bets_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

feat: expand MLB rescue signals — recent_k_above_line + projection_agrees_over
  ml/signals/mlb/best_bets_exporter.py
Due: validate-sql-fstrings

docs: Session 535 handoff + commit sessions 533/534 handoffs
  .claude/projects/-home-naji-code-nba-stats-scraper/memory/session-533.md
  docs/09-handoff/2026-04-15-SESSION-533-HANDOFF.md
  docs/09-handoff/2026-04-15-SESSION-534-HANDOFF.md
  docs/09-handoff/2026-04-15-SESSION-535-HANDOFF.md
Due: none

feat(mlb-exporter): opponent K-defense + strikeout zone data for profile JSON
  data_processors/publishing/mlb/mlb_pitcher_exporter.py
  docs/09-handoff/2026-04-16-SESSION-536-HANDOFF.md
Due: validate-sql-fstrings, validate-python-syntax

fix(mlb-exporter): drop non-existent is_starting_pitcher filter
  data_processors/publishing/mlb/mlb_pitcher_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 537 handoff — MLB pipeline recovery + frontend URL routing + editorial banner
  docs/09-handoff/2026-04-16-SESSION-537-HANDOFF.md
Due: none

docs: Session 538 handoff — typographic cleanup on MLB Tonight's Starters
  docs/09-handoff/2026-04-16-SESSION-538-HANDOFF.md
Due: none

docs: Session 539 handoff — MLB validation + BB-scheduler cold-start hypothesis
  docs/09-handoff/2026-04-16-SESSION-539-HANDOFF.md
Due: none

docs: Session 540 handoff — MLB pitcher pages frontend overhaul
  docs/09-handoff/2026-04-16-SESSION-540-HANDOFF.md
Due: none

fix(mlb-worker): coerce BQ Decimal→float in feature loaders + module-level bigquery import
  predictions/mlb/pitcher_loader.py
  predictions/mlb/supplemental_loader.py
  predictions/mlb/worker.py
Due: validate-sql-fstrings, validate-python-syntax

fix(mlb-bb-exporter): isolate signal failures so one crashing signal can't kill the whole pipeline
  ml/signals/mlb/best_bets_exporter.py
Due: validate-sql-fstrings

fix(monitoring): MLB best-bets canary was silently broken — detect zero-pick outages
  bin/monitoring/pipeline_canary_queries.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 541 handoff — MLB post-incident validation + automation review
  docs/09-handoff/2026-04-18-SESSION-541-HANDOFF.md
Due: none

fix(monitoring): canary + 3 scheduler bugs found during S542 audit
  bin/monitoring/pipeline_canary_queries.py
  bin/monitoring/requirements.txt
  scrapers/mlb/mlbstatsapi/mlb_umpire_assignments.py
  scrapers/mlb/oddsapi/mlb_game_lines.py
Due: validate-sql-fstrings, validate-python-syntax

fix(monitoring): fix last_attempt_time check for DatetimeWithNanoseconds
  bin/monitoring/pipeline_canary_queries.py
Due: validate-sql-fstrings, validate-python-syntax

fix(scrapers): register mlb_live_box_scores in MLB scraper registry
  scrapers/registry.py
Due: validate-sql-fstrings

docs: Session 542 handoff — MLB validation + canary/scheduler audit
  docs/09-handoff/2026-04-18-SESSION-542-HANDOFF.md
Due: none

feat(canary): add playoff mode — suppress NBA prediction checks during playoffs
  bin/monitoring/pipeline_canary_queries.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 544 handoff — OIDC full sweep + canary playoff mode
  docs/09-handoff/2026-04-19-SESSION-544-HANDOFF.md
Due: none

fix(infra): set prediction-worker min-instances to 0
  bin/deploy-service.sh
Due: none

feat(phase3): early-exit on no-game days using schedule_guard
  data_processors/analytics/main_analytics_service.py
Due: validate-sql-fstrings, validate-python-syntax

docs: GCP cost reduction execution log (Apr 24-26)
  docs/08-projects/current/2026-offseason-plan/03-COST-REDUCTION-EXECUTION.md
Due: none

fix(canary): suppress grading_freshness check during NBA offseason
  bin/monitoring/pipeline_canary_queries.py
Due: validate-sql-fstrings, validate-python-syntax

docs: MLB monitoring posture verification
  docs/08-projects/current/2026-offseason-plan/04-MLB-MONITORING-POSTURE.md
Due: none

feat(mlb): deploy script for mlb-self-heal Cloud Function
  orchestration/cloud_functions/mlb_self_heal/deploy.sh
Due: none

docs: mark mlb_self_heal gap as resolved
  docs/08-projects/current/2026-offseason-plan/04-MLB-MONITORING-POSTURE.md
Due: none

fix: 3 tier-1 production bugs from validation backlog
  ml/signals/aggregator.py
  orchestration/cloud_functions/daily_health_check/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: validation backlog + GCP billing audit (T1-1/T1-2/T1-3 marked fixed)
  docs/08-projects/current/2026-offseason-plan/01-VALIDATION-AND-IMPROVEMENT-PLAN.md
  docs/08-projects/current/2026-offseason-plan/02-GCP-BILLING-AUDIT.md
Due: none

docs: handoff for cost reduction + MLB monitoring + Tier-1 fixes session
  docs/09-handoff/2026-04-26-SESSION-COST-REDUCTION-HANDOFF.md
Due: none

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$
