Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$

docs(mlb-strikeout): session handoff — leak fix, validation, CLV pivot
  docs/09-handoff/2026-05-21-1-mlb-strikeout-clv-pivot.md
Due: none

feat(mlb): durable manual halt — halt_overrides table + MLB exporter halt-gate
  data_processors/publishing/mlb/mlb_best_bets_exporter.py
  orchestration/cloud_functions/halt_state_writer/deploy.sh
  orchestration/cloud_functions/halt_state_writer/main.py
  schemas/bigquery/nba_orchestration/halt_overrides.sql
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

docs(mlb): record the MLB output pause + closing-line capture fix
  docs/08-projects/current/mlb-lineup-early-hook/02-EXECUTION-PLAN.md
  docs/09-handoff/2026-05-21-1-mlb-strikeout-clv-pivot.md
Due: none

feat(mlb): market-efficiency scanner — C2 softer-markets test
  scripts/mlb/market_efficiency_scan.py
Due: validate-sql-fstrings

docs(mlb): C2 softer-markets tested + dead — C1 is the sole remaining thread
  docs/08-projects/current/mlb-lineup-early-hook/02-EXECUTION-PLAN.md
Due: none

docs(mlb): add the 2026-05-23 CLV checkpoint to the handoff
  docs/09-handoff/2026-05-21-1-mlb-strikeout-clv-pivot.md
Due: none

fix(mlb): correct CLV report consensus bug + C2 scan push handling
  scripts/mlb/clv_report.py
  scripts/mlb/market_efficiency_scan.py
Due: validate-sql-fstrings

docs(mlb): pre-registered kill-criterion + C1 reframe (8-agent review)
  docs/08-projects/current/mlb-lineup-early-hook/02-EXECUTION-PLAN.md
  docs/09-handoff/2026-05-21-1-mlb-strikeout-clv-pivot.md
Due: none

docs(mlb): rewrite handoff as the single forward-looking doc
  docs/09-handoff/2026-05-21-1-mlb-strikeout-clv-pivot.md
Due: none

docs(mlb): conclude pitcher-strikeout betting project — efficient market
  docs/08-projects/current/mlb-lineup-early-hook/02-EXECUTION-PLAN.md
  docs/08-projects/current/mlb-lineup-early-hook/03-FINDING-market-is-efficient.md
  docs/09-handoff/2026-05-21-1-mlb-strikeout-clv-pivot.md
Due: none

refactor(mlb): make pitcher tonight page + trends prediction-free
  data_processors/publishing/mlb/mlb_pitcher_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

fix(nba): filter odds snapshots to pre-tipoff in feature_extractor
  .pre-commit-config.yaml
  .pre-commit-hooks/check_odds_snapshot_filter.py
  data_processors/precompute/ml_feature_store/feature_extractor.py
Due: validate-sql-fstrings, validate-python-syntax

fix(nba): make check-odds-snapshot-filter hook actually run
  .pre-commit-config.yaml
Due: none

fix(nba): close 11 more odds-snapshot look-ahead leaks across repo
  .pre-commit-hooks/check_odds_snapshot_filter.py
  bin/backfill_f47_f50.py
  data_processors/analytics/upcoming_player_game_context/async_upcoming_player_game_context_processor.py
  data_processors/analytics/upcoming_player_game_context/betting_data.py
  ml/experiments/quick_retrain.py
  ml/signals/per_model_pipeline.py
  ml/signals/supplemental_data.py
  schemas/bigquery/raw/odds_api_props_tables.sql
Due: validate-sql-fstrings, validate-python-syntax

feat(nba): backfill_vegas_leak_fix.py — one-time cleanup script
  scripts/backfill_vegas_leak_fix.py
Due: validate-sql-fstrings

fix(nba): three_pt_makes Phase 3 fallback + activate check-date-comparisons hook
  .pre-commit-config.yaml
  data_processors/analytics/player_game_summary/player_game_summary_processor.py
Due: validate-sql-fstrings, validate-python-syntax

fix(nba): bdb_retry_processor HTTP-invokes Phase 3 instead of dead Pub/Sub topic
  orchestration/cloud_functions/bdb_retry_processor/main.py
  orchestration/cloud_functions/bdb_retry_processor/requirements.txt
Due: validate-cloud-function-imports, validate-sql-fstrings

fix(nba): bdb_retry_processor verifies pgs enrichment + delete dead bdb_arrival_trigger
  orchestration/cloud_functions/bdb_arrival_trigger/main.py
  orchestration/cloud_functions/bdb_arrival_trigger/requirements.txt
  orchestration/cloud_functions/bdb_retry_processor/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs(nba): 2026-05-29 system audit + BDB pipeline handoff
  docs/09-handoff/2026-05-29-1-system-audit-and-bdb-pipeline-handoff.md
Due: none

fix(nba): activate validate-bq-sql-patterns + validate-sql-queries hooks
  .pre-commit-config.yaml
Due: none

fix(nba): league_macro writes row when games/BB exist but MAE is empty
  ml/analysis/league_macro.py
Due: validate-sql-fstrings

fix(nba): wire validate-cloud-function-symlinks hook + add 5 missing symlinks
  .pre-commit-config.yaml
  orchestration/cloud_functions/auto_backfill_orchestrator/shared/validation/scraper_config_validator.py
  orchestration/cloud_functions/daily_health_summary/shared/validation/scraper_config_validator.py
  orchestration/cloud_functions/phase4_to_phase5/shared/validation/scraper_config_validator.py
  orchestration/cloud_functions/phase5_to_phase6/shared/validation/scraper_config_validator.py
  orchestration/cloud_functions/self_heal/shared/validation/scraper_config_validator.py
Due: validate-cloud-function-imports, validate-sql-fstrings

chore(nba): symlink-hook hygiene + codify post-grading-export secret binding
  .pre-commit-hooks/validate_cloud_function_symlinks.py
  cloudbuild-functions.yaml
Due: validate-sql-fstrings, validate-deploy-safety

fix(nba): expand quality_scorer to FEATURE_COUNT=60 + fix ml_feature_store_v2 schema
  data_processors/precompute/ml_feature_store/quality_scorer.py
  schemas/bigquery/predictions/04_ml_feature_store_v2.sql
  shared/validation/feature_store_validator.py
Due: validate-sql-fstrings, validate-view-filters, validate-python-syntax

docs(nba): 2026-05-30 handoff — 6 tasks shipped + PBP loader season-wide failure
  docs/09-handoff/2026-05-30-1-tasks-shipped-and-pbp-discovery.md
Due: none

docs(nba): update CLAUDE.md for today's BQ schema fix + audit findings
  CLAUDE.md
Due: none

fix(nba): pbp processor reads file_path from opts (loader broken since 2025-11-02)
  data_processors/raw/nbacom/nbac_play_by_play_processor.py
Due: validate-sql-fstrings, validate-python-syntax

fix(nba): close fc80e130 file_path regression in 16 sibling processors + pbp regex
  data_processors/raw/balldontlie/bdl_active_players_processor.py
  data_processors/raw/balldontlie/bdl_boxscores_processor.py
  data_processors/raw/balldontlie/bdl_injuries_processor.py
  data_processors/raw/balldontlie/bdl_live_boxscores_processor.py
  data_processors/raw/balldontlie/bdl_player_box_scores_processor.py
  data_processors/raw/balldontlie/bdl_standings_processor.py
  data_processors/raw/bettingpros/bettingpros_player_props_processor.py
  data_processors/raw/bigdataball/bigdataball_pbp_processor.py
  data_processors/raw/espn/espn_boxscore_processor.py
  data_processors/raw/espn/espn_scoreboard_processor.py
  data_processors/raw/nbacom/nbac_gamebook_processor.py
  data_processors/raw/nbacom/nbac_injury_report_processor.py
  data_processors/raw/nbacom/nbac_player_movement_processor.py
  data_processors/raw/nbacom/nbac_scoreboard_v2_processor.py
  data_processors/raw/nbacom/nbac_team_boxscore_processor.py
  data_processors/raw/oddsapi/odds_game_lines_processor.py
  data_processors/raw/path_extractors/nba_extractors.py
Due: validate-sql-fstrings, validate-python-syntax

fix(mlb): restrict 32 MLB schedulers to month=3-10 (was year-round)
  bin/schedulers/setup_mlb_reminders.sh
  bin/schedulers/setup_mlb_schedulers.sh
  deployment/scheduler/mlb/monitoring-schedules.yaml
  deployment/scheduler/mlb/validator-schedules.yaml
Due: none

fix(mlb): force mlb_raw dataset in BP props processor (stop 404 redelivery storm)
  data_processors/raw/mlb/mlb_bp_historical_props_processor.py
Due: validate-sql-fstrings, validate-python-syntax

docs: 2026-06-16 system deep-dive handoff (health, MLB strikeout re-check, next-market)
  docs/09-handoff/2026-06-16-system-deep-dive.md
Due: none

fix(orchestration): correct MLB schedule/box_scores GCS prefix in expected_outputs planner
  orchestration/cloud_functions/expected_outputs_planner/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: record deep-dive follow-up actions (P2 fix, P3 upstream gap, P4 cost, P5 deferred)
  docs/09-handoff/2026-06-16-system-deep-dive.md
Due: none

fix(observability): add google-cloud-monitoring to phase2 raw processors lock
  data_processors/raw/requirements-lock.txt
Due: none

feat(monitoring): alert policy for monitor/validator scheduler job failures + audit notes
  docs/09-handoff/2026-06-16-system-deep-dive.md
  monitoring/alert-policies/monitor-job-failure-alert.yaml
Due: none

fix(observability): use protobuf-6-compatible google-cloud-monitoring (>=2.27.0)
  data_processors/raw/requirements-lock.txt
Due: none

fix(observability): stream pipeline_event_log inserts to bypass partition-mod quota
  shared/utils/bigquery_utils.py
  shared/utils/pipeline_logger.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

docs: 2026-06-17 improvement backlog (10-agent sweep) + executed items
  docs/09-handoff/2026-06-17-improvement-backlog.md
Due: none

docs: correct batter-props status — schedulers created but blocked (400, needs scraper-service redeploy)
  docs/09-handoff/2026-06-17-improvement-backlog.md
Due: none
