Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$

feat: Add data quality validation to team defense processor
  data_processors/analytics/team_defense_game_summary/team_defense_game_summary_processor.py
  shared/validation/pre_write_validator.py
Due: validate-sql-fstrings

feat: Enable distributed locking auto-activation in analytics_base.py
  data_processors/analytics/analytics_base.py
Due: validate-sql-fstrings

docs: Session 118 concise handoff - complete comprehensive fixes
  docs/09-handoff/2026-02-05-NEXT-SESSION-START-HERE.md
Due: none

feat: Add team stats dependency validation to player processor
  data_processors/analytics/player_game_summary/player_game_summary_processor.py
Due: validate-sql-fstrings

docs: Add Session 119 handoff document
  docs/09-handoff/2026-02-07-SESSION-119-HANDOFF.md
Due: none

feat: Add post-write validation to BigQuerySaveOpsMixin
  data_processors/analytics/operations/bigquery_save_ops.py
  data_processors/precompute/operations/bigquery_save_ops.py
Due: validate-sql-fstrings

feat: Complete Session 118 - distributed locking and validation
  .claude/skills/validate-daily/SKILL.md
  bin/batch_regenerate_early_season.sh
  bin/regenerate_cache_bypass_bootstrap.py
  bin/regenerate_shot_zone_nov.sh
  data_processors/precompute/player_shot_zone_analysis/player_shot_zone_analysis_processor.py
  data_processors/precompute/precompute_base.py
  docs/09-handoff/2026-02-04-NEXT-SESSION-PROMPT.txt
  docs/09-handoff/2026-02-05-SESSION-117-DATA-QUALITY-VALIDATION-GAP.md
  docs/09-handoff/2026-02-06-NEXT-SESSION-START-HERE.md
  docs/09-handoff/2026-02-06-SESSION-118-HANDOFF.md
  docs/09-handoff/SESSION-117-SUMMARY.md
  orchestration/cloud_functions/phase3_to_phase4/shared/config/scraper_retry_config.py
  orchestration/cloud_functions/phase3_to_phase4/shared/config/scraper_retry_config.yaml
  orchestration/cloud_functions/phase3_to_phase4/shared/validation/scraper_config_validator.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Add Session 118 complete handoff
  docs/09-handoff/2026-02-05-SESSION-118-COMPLETE.md
Due: none

docs: Add Session 120 handoff document
  docs/09-handoff/2026-02-05-SESSION-120-HANDOFF.md
Due: none

docs: Add validation infrastructure project document (Sessions 118-120)
  docs/08-projects/current/validation-infrastructure-sessions-118-120.md
Due: none

docs: Update project docs with Session 118 complete info
  docs/08-projects/current/prevention-and-monitoring/phase3-orchestration-reliability/SESSION-TRACKER.md
  docs/09-handoff/2026-02-06-NEXT-SESSION-PRIORITIES.md
Due: none

fix: Install shared requirements (boto3) in all Dockerfiles for AWS SES
  data_processors/analytics/Dockerfile
  data_processors/precompute/Dockerfile
  data_processors/raw/Dockerfile
  predictions/coordinator/Dockerfile
  predictions/worker/Dockerfile
Due: none

fix: Add PreWriteValidator to precompute BigQuerySaveOpsMixin (Gap 1)
  data_processors/precompute/operations/bigquery_save_ops.py
Due: validate-sql-fstrings

docs: Update validation project docs with Session 121 complete
  docs/08-projects/current/validation-infrastructure-sessions-118-120.md
Due: none

fix: Remove duplicate *100 multiplication for confidence scores
  bin/alerts/daily_summary/main.py
  bin/alerts/send_daily_summary.sh
  monitoring/send_daily_summary.sh
Due: validate-sql-fstrings

docs: Add Session 122 handoff - alert investigation and fixes
  docs/09-handoff/2026-02-04-SESSION-122-ALERT-INVESTIGATION-HANDOFF.md
Due: none

feat: Add pre-write validation rules for zone analysis tables
  shared/validation/pre_write_validator.py
Due: validate-sql-fstrings

docs: Add Session 121 comprehensive handoff document
  docs/09-handoff/2026-02-05-SESSION-121-HANDOFF.md
Due: none

docs: Update validation project with Priority 2 complete
  docs/08-projects/current/validation-infrastructure-sessions-118-120.md
Due: none

fix: Add google-cloud-storage to nba-grading-service requirements
  data_processors/grading/nba/requirements.txt
Due: none

feat: Add usage_rate validation to block impossible values
  shared/validation/pre_write_validator.py
Due: validate-sql-fstrings

fix: Integrate pre-write validation in player_game_summary bypass path
  data_processors/analytics/player_game_summary/player_game_summary_processor.py
  docs/08-projects/current/data-quality-improvement-plan/README.md
  docs/09-handoff/2026-02-04-SESSION-122-VALIDATION-INVESTIGATION.md
  orchestration/cloud_functions/grading/main.py
  orchestration/cloud_functions/grading_coverage_monitor/README.md
  orchestration/cloud_functions/grading_coverage_monitor/main.py
  orchestration/cloud_functions/grading_coverage_monitor/requirements.txt
  orchestration/cloud_functions/phase3_to_grading/README.md
  orchestration/cloud_functions/phase3_to_grading/__init__.py
  orchestration/cloud_functions/phase3_to_grading/main.py
  orchestration/cloud_functions/phase3_to_grading/requirements.txt
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: Add comprehensive grading prevention system
  orchestration/cloud_functions/grading/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: Add DNP filter to player_daily_cache to prevent pollution
  data_processors/precompute/player_daily_cache/player_daily_cache_processor.py
Due: validate-sql-fstrings

docs: Add Session 2026-02-04 investigation documents
  docs/09-handoff/2026-02-04-RED-SIGNAL-ANALYSIS.md
  docs/09-handoff/2026-02-04-USAGE-RATE-INVESTIGATION.md
Due: none

docs: Add Session 2026-02-04 comprehensive handoff
  docs/09-handoff/2026-02-04-SESSION-COMPREHENSIVE-VALIDATION-HANDOFF.md
Due: none

docs: Add Session 123 DNP validation emergency findings
  docs/08-projects/current/dnp-validation-emergency/SESSION-123-FINDINGS.md
  docs/08-projects/current/phase3-race-condition-prevention/README.md
  docs/09-handoff/2026-02-04-SESSION-123-GRADING-PREVENTION-SYSTEM.md
Due: none

docs: Add Session 123 race condition investigation and prevention plan
  docs/08-projects/current/phase3-race-condition-prevention/PREVENTION-PLAN.md
  docs/09-handoff/2026-02-05-SESSION-123-RACE-CONDITION-FIX.md
Due: none

feat: Add validation query test framework and SQL pre-commit hook
  .pre-commit-config.yaml
  .pre-commit-hooks/validate_sql_queries.py
  bin/audit/audit_cache_dnp_pollution.py
  shared/validation/validation_query_framework.py
Due: validate-sql-fstrings

docs: Add next session handoff for Tier 1 implementation
  docs/08-projects/current/phase3-race-condition-prevention/NEXT-SESSION-HANDOFF.md
Due: none

docs: Add P0 cache regeneration plan for 78% DNP pollution
  docs/08-projects/current/dnp-validation-emergency/REGENERATION-PLAN.md
Due: none

feat: Implement sequential execution groups to prevent race conditions
  data_processors/analytics/main_analytics_service.py
Due: validate-sql-fstrings

test: Add comprehensive unit tests for sequential execution
  CLAUDE.md
  data_processors/analytics/main_analytics_service.py
  data_processors/analytics/tests/test_sequential_execution.py
  docs/08-projects/current/phase3-race-condition-prevention/OPUS-REVIEW-DECISION.md
  docs/08-projects/current/session-124-deployment-catchup/DEPLOYMENT-STATUS-INTERIM.md
  docs/08-projects/current/session-124-deployment-catchup/SESSION-124-DEPLOYMENT-PLAN.md
  docs/08-projects/current/session-124-deployment-catchup/TOMORROW-MORNING-MONITORING-GUIDE.md
Due: validate-sql-fstrings

docs: Add Session 124 comprehensive handoff document
  docs/09-handoff/2026-02-05-SESSION-124-TIER1-IMPLEMENTATION.md
Due: none

docs: Add Session 123 final summary and complete handoff
  bin/monitoring/consecutive_failure_monitor.py
  bin/monitoring/historical_completeness_monitor.py
  docs/08-projects/current/session-124-deployment-catchup/FINAL-STATUS.md
  docs/08-projects/current/session-124-model-naming-refresh/README.md
  docs/08-projects/current/session-125-orchestration-reliability/README.md
  docs/09-handoff/2026-02-04-SESSION-123-FINAL-SUMMARY.md
  orchestration/cloud_functions/scraper_gap_backfiller/main.py
  orchestration/cloud_functions/transition_monitor/main.py
  orchestration/cloud_functions/validation_runner/main.py
  orchestration/cloud_functions/validation_runner/requirements.txt
  schemas/validation_results.yaml
  shared/validation/continuous_validator.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Add Session 124 and 125 handoff documents
  docs/09-handoff/2026-02-04-SESSION-124-COMPREHENSIVE-HANDOFF.md
  docs/09-handoff/2026-02-05-SESSION-125-HANDOFF.md
Due: none

docs: Add Session 125 handoff with Opus Tier 2/3 review
  docs/09-handoff/2026-02-05-SESSION-125-NEXT-STEPS.md
Due: none

docs: Complete Session 123 P1 work - validation improvements
  .claude/skills/validate-daily/SKILL.md
  .env.example
  docs/05-development/VALIDATION-QUERY-REVIEW-CHECKLIST.md
  docs/09-handoff/2026-02-04-SESSION-122-VALIDATION-INVESTIGATION.md
  shared/utils/slack_alerts.py
  shared/utils/slack_channels.py
  shared/validation/continuous_validator.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: Add validation runner deployment script
  bin/deploy/deploy_validation_runner.sh
Due: none

fix: Add missing dependencies and correct service account for validation runner
  bin/deploy/deploy_validation_runner.sh
  orchestration/cloud_functions/validation_runner/requirements.txt
Due: none
