Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

validate-scraper-config-tables:
  name: Validate scraper config table references (warning only)
  description: Checks that BigQuery tables referenced in scraper_retry_config.yaml exist (informational, non-blocking)
  entry: python .pre-commit-hooks/validate_scraper_config_tables.py
  language: python
  pass_filenames: false
  verbose: true

validate-sql-queries:
  name: Validate SQL validation queries
  description: Checks for Session 123 anti-patterns (cache_date = game_date, missing partition filters, etc.)
  entry: python .pre-commit-hooks/validate_sql_queries.py
  language: python
  verbose: true

validate-view-filters:
  name: Validate BigQuery view quality filters (Session 209)
  description: Ensures views querying prediction tables have quality filter annotations (prevents contaminated metrics)
  entry: python .pre-commit-hooks/validate_view_filters.py
  language: python
  pass_filenames: false
  verbose: true

validate-python-syntax:
  name: Validate Python syntax in deploy directories
  description: Catches syntax errors that would break Cloud Function deploys (Session 213)
  entry: python .pre-commit-hooks/validate_python_syntax.py
  language: python
  pass_filenames: false
  verbose: true

validate-deploy-safety:
  name: Check for dangerous --set-env-vars
  description: Prevents accidental env var wipes from --set-env-vars (Session 81/213)
  entry: python .pre-commit-hooks/validate_deploy_safety.py
  language: python
  pass_filenames: false
  verbose: true

fix(mlb): emit best_bets pct as 0-100 percentage to match NBA convention
  data_processors/publishing/mlb/mlb_best_bets_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

fix(publishing): refuse to overwrite tonight JSON with games-but-no-players
  data_processors/publishing/base_exporter.py
  data_processors/publishing/tonight_all_players_exporter.py
  orchestration/cloud_functions/daily_health_check/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

fix(monitoring): monitor date-keyed tonight files + unit tests + handoff
  docs/09-handoff/2026-05-02-tonight-content-guard.md
  orchestration/cloud_functions/daily_health_check/main.py
  tests/unit/publishing/test_tonight_all_players_exporter.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat(mlb): write date-keyed leaderboard history for past-date browsing
  data_processors/publishing/mlb/mlb_pitcher_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

fix(mlb): default schedule scraper to 7-day lookahead
  scrapers/mlb/mlbstatsapi/mlb_schedule.py
Due: validate-sql-fstrings

chore: drift-tooling hygiene, signal version, halt-mode runbook
  .claude/skills/best-bets-config/SKILL.md
  .claude/skills/validate-daily/SKILL.md
  .pre-commit-hooks/validate_auto_deploy_consistency.py
  bin/check-deployment-drift.sh
  bin/monitoring/verify-env-vars-preserved.sh
  docs/02-operations/runbooks/halt-mode-frontend-impact.md
  ml/signals/aggregator.py
  ml/signals/pipeline_merger.py
Due: validate-sql-fstrings

feat(pipeline-redesign): Phase A — bug fixes + project scaffolding
  .claude/skills/best-bets-config/SKILL.md
  docs/08-projects/current/pipeline-state-redesign-2026-05/00-PROJECT-PLAN.md
  docs/08-projects/current/pipeline-state-redesign-2026-05/01-ARCHITECTURE.md
  docs/08-projects/current/pipeline-state-redesign-2026-05/02-EXECUTION-LOG.md
  docs/08-projects/current/pipeline-state-redesign-2026-05/03-BACKFILL-MANIFEST.md
  docs/08-projects/current/pipeline-state-redesign-2026-05/04-DEMO-SCRIPT.md
  ml/signals/aggregator.py
  orchestration/cloud_functions/post_grading_export/main.py
  orchestration/cloud_functions/weekly_retrain/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat(pipeline-redesign): Phase B — halt_state as first-class state
  data_processors/publishing/base_exporter.py
  data_processors/publishing/best_bets_all_exporter.py
  data_processors/publishing/signal_best_bets_exporter.py
  docs/08-projects/current/pipeline-state-redesign-2026-05/02-EXECUTION-LOG.md
  orchestration/cloud_functions/halt_state_writer/__init__.py
  orchestration/cloud_functions/halt_state_writer/deploy.sh
  orchestration/cloud_functions/halt_state_writer/main.py
  orchestration/cloud_functions/halt_state_writer/requirements.txt
  schemas/bigquery/nba_orchestration/halt_state.sql
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

feat(pipeline-redesign): Phase C — expected_outputs date-grid
  docs/08-projects/current/pipeline-state-redesign-2026-05/02-EXECUTION-LOG.md
  orchestration/cloud_functions/expected_outputs_planner/__init__.py
  orchestration/cloud_functions/expected_outputs_planner/deploy.sh
  orchestration/cloud_functions/expected_outputs_planner/main.py
  orchestration/cloud_functions/expected_outputs_planner/requirements.txt
  schemas/bigquery/nba_orchestration/expected_outputs.sql
Due: validate-cloud-function-imports, validate-sql-fstrings

feat(pipeline-redesign): Phases D + E — observability + gap detector
  docs/08-projects/current/pipeline-state-redesign-2026-05/02-EXECUTION-LOG.md
  orchestration/cloud_functions/gap_detector/__init__.py
  orchestration/cloud_functions/gap_detector/deploy.sh
  orchestration/cloud_functions/gap_detector/main.py
  orchestration/cloud_functions/gap_detector/requirements.txt
  orchestration/cloud_functions/phase_completion_reconciler/__init__.py
  orchestration/cloud_functions/phase_completion_reconciler/deploy.sh
  orchestration/cloud_functions/phase_completion_reconciler/main.py
  orchestration/cloud_functions/phase_completion_reconciler/requirements.txt
  shared/observability/__init__.py
  shared/observability/metrics.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

feat(pipeline-redesign): Phase H — signal/filter registry + drift hook
  .pre-commit-config.yaml
  .pre-commit-hooks/validate_signal_references.py
  docs/08-projects/current/pipeline-state-redesign-2026-05/02-EXECUTION-LOG.md
  shared/registry/__init__.py
  shared/registry/filters.yaml
  shared/registry/loader.py
  shared/registry/signals.yaml
Due: validate-sql-fstrings, validate-python-syntax

feat(pipeline-redesign): Phase G — unified Cloud Monitoring alerts
  docs/08-projects/current/pipeline-state-redesign-2026-05/02-EXECUTION-LOG.md
  monitoring/alert-policies/deploy-alert-policies.sh
  monitoring/alert-policies/expected-output-overdue.yaml
  monitoring/alert-policies/halt-state-stale.yaml
  monitoring/alert-policies/phase-error-rate.yaml
Due: none

docs(pipeline-redesign): Phase K — architecture spec + 4 runbooks + handoff
  CLAUDE.md
  docs/01-architecture/pipeline-state-redesign.md
  docs/02-operations/runbooks/backfill-a-date.md
  docs/02-operations/runbooks/expected-outputs.md
  docs/02-operations/runbooks/halt-mode-operations.md
  docs/02-operations/runbooks/observability-alerts.md
  docs/08-projects/current/pipeline-state-redesign-2026-05/02-EXECUTION-LOG.md
  docs/09-handoff/2026-05-09-PIPELINE-STATE-REDESIGN-HANDOFF.md
Due: none

feat(validate-season): user-facing CLI for "is every past date processed?"
  bin/validate-season.sh
  docs/02-operations/runbooks/expected-outputs.md
Due: none

fix(halt_state_writer): add predictions_inactive halt reason
  orchestration/cloud_functions/halt_state_writer/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix(halt_state_writer): add between_rounds halt reason for in-window dormancy
  orchestration/cloud_functions/halt_state_writer/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat(pipeline-redesign): Phase F + I + L — backfill subscriber, frontend uptime, dashboard
  monitoring/dashboards/deploy-dashboards.sh
  monitoring/dashboards/nba-pipeline-health.json
  monitoring/uptime-checks/playerprops-routes.sh
  orchestration/cloud_functions/scraper_gap_backfiller/deploy-pubsub-subscriber.sh
  orchestration/cloud_functions/scraper_gap_backfiller/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat(verify-pipeline-state): end-to-end pipeline-redesign smoke test
  bin/verify-pipeline-state.sh
Due: none

docs(pipeline-redesign): execution log — Phases F + I + L progress
  docs/08-projects/current/pipeline-state-redesign-2026-05/02-EXECUTION-LOG.md
Due: none

fix(deploy-pubsub-subscriber): grant gap-detector run.invoker on the subscriber
  orchestration/cloud_functions/scraper_gap_backfiller/deploy-pubsub-subscriber.sh
Due: none

fix(pipeline-redesign): 8 post-review fixes — subscriber + race + alerts + docs
  bin/verify-pipeline-state.sh
  data_processors/publishing/base_exporter.py
  docs/01-architecture/pipeline-state-redesign.md
  docs/02-operations/runbooks/halt-mode-operations.md
  monitoring/alert-policies/expected-output-overdue.yaml
  monitoring/alert-policies/halt-state-stale.yaml
  monitoring/alert-policies/phase-error-rate.yaml
  orchestration/cloud_functions/gap_detector/main.py
  orchestration/cloud_functions/phase_completion_reconciler/main.py
  orchestration/cloud_functions/scraper_gap_backfiller/main.py
  schemas/bigquery/nba_orchestration/halt_state.sql
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

fix(verify): eventarc filter syntax (use grep, not gcloud --filter)
  bin/verify-pipeline-state.sh
Due: none

fix(metrics): add google-cloud-monitoring to gap_detector + halt_state_writer
  orchestration/cloud_functions/gap_detector/requirements.txt
  orchestration/cloud_functions/halt_state_writer/main.py
  orchestration/cloud_functions/halt_state_writer/requirements.txt
Due: validate-cloud-function-imports, validate-sql-fstrings

fix(monitoring): attach alert policy to 3 public uptime checks
  monitoring/alert-policies/deploy-alert-policies.sh
  monitoring/alert-policies/uptime-check-failed.yaml
Due: none

fix(subscriber): correct 4 scraper-name mismatches in PHASE1_OUTPUT_TO_SCRAPER
  orchestration/cloud_functions/scraper_gap_backfiller/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs(handoff): 2026-05-11 pipeline state follow-ups (Fix #3 + Fix #1 + ParameterResolver gap)
  docs/09-handoff/2026-05-11-PIPELINE-STATE-FOLLOWUP-HANDOFF.md
Due: none

fix(pipeline-state): agent-review follow-ups — planner path, resolver hardening
  orchestration/__init__.py
  orchestration/cloud_functions/expected_outputs_planner/main.py
  orchestration/parameter_resolver.py
  shared/utils/bigquery_client.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

feat(backfiller): Phase 2-6 dispatch in pubsub_subscriber (Fix #2)
  orchestration/cloud_functions/scraper_gap_backfiller/deploy-pubsub-subscriber.sh
  orchestration/cloud_functions/scraper_gap_backfiller/main.py
  orchestration/cloud_functions/scraper_gap_backfiller/requirements.txt
Due: validate-cloud-function-imports, validate-sql-fstrings

chore(cleanup): payload regex validation, resolver unit test, legacy BQ client removal
  orchestration/cloud_functions/scraper_gap_backfiller/main.py
  scripts/verify_database_completeness.py
  shared/utils/__init__.py
  shared/utils/bigquery_client.py
  shared/utils/bigquery_utils.py
  tests/unit/orchestration/test_parameter_resolver.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

docs(handoff): 2026-05-11 evening — Fix #2 deployed + MLB improvement plan
  docs/09-handoff/2026-05-11-PIPELINE-STATE-MLB-FOLLOWUP.md
Due: none

docs(handoff): 2026-05-11 evening — sport-leakage findings + MLB plan v2
  docs/08-projects/current/mlb-improvements-2026-05/PLAN.md
  docs/08-projects/current/sport-leakage-elimination/PLAN.md
  docs/09-handoff/2026-05-11-EVENING-SPORT-LEAKAGE-MLB-IMPROVEMENT.md
Due: none

feat(mlb): add history-only mode to pitcher exporter + backfill script
  bin/backfill/backfill_mlb_pitcher_history.py
  data_processors/publishing/mlb/mlb_pitcher_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

fix(health-check): monitor MLB pitcher leaderboard + best-bets freshness
  orchestration/cloud_functions/daily_health_check/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix(mlb): empty-publish guard + drop tracked test artifacts + roadmap
  .benchmarks/Linux-CPython-3.12-64bit/0001_baseline_2026_01_27.json
  .gitignore
  .hypothesis/constants/67b0a8ccf18bf5d2
  .hypothesis/examples/04e6b3400353b141/199b0d416937c87e
  .hypothesis/examples/04e6b3400353b141/5c06c98e62ce0475
  .hypothesis/examples/04e6b3400353b141/66521f5deb32817d
  .hypothesis/examples/04e6b3400353b141/e68018370da77701
  .hypothesis/examples/199b0d416937c87e/667624cd4b22a0e2
  .hypothesis/examples/199b0d416937c87e/ba6c3c59c5495380
  .hypothesis/examples/199b0d416937c87e/e670545f23422666
  .hypothesis/examples/5c06c98e62ce0475/d91ec2c6ea898bba
  .hypothesis/examples/66521f5deb32817d/32488e45d8d46689
  .hypothesis/examples/e68018370da77701/88c5bef5d055bbcf
  .hypothesis/unicode_data/15.0.0/charmap.json.gz
  .hypothesis/unicode_data/15.0.0/codec-utf-8.json.gz
  data_processors/publishing/mlb/mlb_pitcher_exporter.py
  docs/08-projects/current/system-improvement-roadmap-2026-05-12/PLAN.md
Due: validate-sql-fstrings, validate-python-syntax

feat(mlb): sort Tonight slate chronologically, not by edge
  data_processors/publishing/mlb/mlb_pitcher_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

docs(handoff): MLB pitcher modal polish vs NBA player modal
  docs/09-handoff/2026-05-12-mlb-modal-polish-vs-nba.md
Due: none

fix(status,mlb): sport-aware status + defensive name fallback + alerts
  data_processors/publishing/exporter_utils.py
  data_processors/publishing/mlb/mlb_best_bets_exporter.py
  data_processors/publishing/mlb/mlb_pitcher_exporter.py
  data_processors/publishing/mlb/mlb_predictions_exporter.py
  data_processors/publishing/mlb/mlb_results_exporter.py
  data_processors/publishing/status_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

fix(alerts): rate-limit missing-name alerts via per-context GCS dedup
  data_processors/publishing/exporter_utils.py
Due: validate-sql-fstrings, validate-python-syntax

fix(mlb): wrong-opponent + is_day_game + voids + thresholds + April-guard
  bin/mlb/review_blacklist.py
  bin/schedulers/setup_mlb_schedulers.sh
  data_processors/publishing/mlb/mlb_best_bets_exporter.py
  ml/signals/mlb/best_bets_exporter.py
  predictions/mlb/pitcher_loader.py
  predictions/mlb/worker.py
  scripts/mlb/training/train_regressor_v2.py
Due: validate-sql-fstrings, validate-python-syntax

docs(handoff): investigate MLB UNDER-disabled state for next session
  docs/09-handoff/2026-05-12-mlb-under-disabled-investigation.md
Due: none

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$
