Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

validate-scraper-config-tables:
  name: Validate scraper config table references (warning only)
  description: Checks that BigQuery tables referenced in scraper_retry_config.yaml exist (informational, non-blocking)
  entry: python .pre-commit-hooks/validate_scraper_config_tables.py
  language: python
  pass_filenames: false
  verbose: true

validate-sql-queries:
  name: Validate SQL validation queries
  description: Checks for Session 123 anti-patterns (cache_date = game_date, missing partition filters, etc.)
  entry: python .pre-commit-hooks/validate_sql_queries.py
  language: python
  verbose: true

validate-view-filters:
  name: Validate BigQuery view quality filters (Session 209)
  description: Ensures views querying prediction tables have quality filter annotations (prevents contaminated metrics)
  entry: python .pre-commit-hooks/validate_view_filters.py
  language: python
  pass_filenames: false
  verbose: true

validate-python-syntax:
  name: Validate Python syntax in deploy directories
  description: Catches syntax errors that would break Cloud Function deploys (Session 213)
  entry: python .pre-commit-hooks/validate_python_syntax.py
  language: python
  pass_filenames: false
  verbose: true

validate-deploy-safety:
  name: Check for dangerous --set-env-vars
  description: Prevents accidental env var wipes from --set-env-vars (Session 81/213)
  entry: python .pre-commit-hooks/validate_deploy_safety.py
  language: python
  pass_filenames: false
  verbose: true

feat: signal weight & promotion report — weekly monitoring
  bin/monitoring/signal_weight_report.py
Due: validate-sql-fstrings, validate-python-syntax

fix: migrate batter analytics from BDL to unified source (BDL + mlbapi UNION)
  data_processors/analytics/mlb/batter_game_summary_processor.py
  data_processors/analytics/mlb/main_mlb_analytics_service.py
  data_processors/analytics/mlb/pitcher_game_summary_processor.py
Due: validate-sql-fstrings, validate-python-syntax

docs: MLB Sprint 4 fully deployed — scheduler jobs + BDL migration + handoff
  docs/08-projects/current/mlb-pitcher-strikeouts/CURRENT-STATUS.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
Due: none

feat: batter stats backfill script — MLB Stats API replaces BDL
  scripts/mlb/backfill_batter_stats.py
Due: validate-sql-fstrings

docs: Session 429 handoff — system improvement audit complete
  docs/09-handoff/START-NEXT-SESSION-HERE.md
Due: none

docs: BDL retirement plan + updated MLB data sources analysis
  docs/08-projects/current/mlb-pitcher-strikeouts/BDL-RETIREMENT-PLAN.md
  docs/08-projects/current/mlb-pitcher-strikeouts/DATA-SOURCES.md
Due: none

feat: umpire assignments scraper + game lines scheduler + batter backfill
  bin/schedulers/setup_mlb_schedulers.sh
  scrapers/mlb/mlbstatsapi/mlb_umpire_assignments.py
  scrapers/mlb/registry.py
  scrapers/registry.py
Due: validate-sql-fstrings

docs: handoff — BDL retirement, data source audit, proxy audit
  docs/09-handoff/START-NEXT-SESSION-HERE.md
Due: none

feat: retire BDL data source + enable proxies on MLB web scrapers
  data_processors/analytics/mlb/main_mlb_analytics_service.py
  data_processors/precompute/mlb/pitcher_features_processor.py
  predictions/mlb/base_predictor.py
  predictions/mlb/pitcher_strikeouts_predictor.py
  predictions/shared/injury_filter.py
  predictions/shared/injury_integration.py
  scrapers/mlb/external/mlb_ballpark_factors.py
  scrapers/mlb/external/mlb_reddit_discussion.py
  scrapers/mlb/external/mlb_umpire_stats.py
  scrapers/mlb/registry.py
  scrapers/registry.py
Due: validate-sql-fstrings, validate-python-syntax

fix: update combo signal HRs + signal weight report known-active list
  bin/monitoring/signal_weight_report.py
  ml/signals/pick_angle_builder.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 430 handoff — BDL retired, audits complete, backfill resuming
  docs/09-handoff/START-NEXT-SESSION-HERE.md
Due: none

docs: mark BDL retired across project docs + fix scraper inventory
  docs/06-reference/scrapers/00-SCRAPER-INVENTORY.md
  docs/08-projects/current/mlb-pitcher-strikeouts/BDL-RETIREMENT-PLAN.md
  docs/08-projects/current/mlb-pitcher-strikeouts/CURRENT-STATUS.md
  docs/08-projects/current/mlb-pitcher-strikeouts/DATA-SOURCES.md
Due: none

docs: Session 430 handoff — BDL retired, 4-agent audit, prioritized plan
  docs/09-handoff/2026-03-07-SESSION-430-HANDOFF.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
Due: none

feat: scheduled monitoring CFs + CI pre-commit checks
  .github/workflows/pre-commit-checks.yml
  cloudbuild-functions.yaml
  orchestration/cloud_functions/data_source_health_canary/main.py
  orchestration/cloud_functions/data_source_health_canary/requirements.txt
  orchestration/cloud_functions/signal_decay_monitor/main.py
  orchestration/cloud_functions/signal_decay_monitor/requirements.txt
  orchestration/cloud_functions/signal_weight_report/main.py
  orchestration/cloud_functions/signal_weight_report/requirements.txt
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-deploy-safety

docs: Session 431 handoff — monitors scheduled, CI active, calendar regime analyzed
  docs/09-handoff/START-NEXT-SESSION-HERE.md
Due: none

docs: final Session 431 handoff — all priorities complete
  docs/09-handoff/START-NEXT-SESSION-HERE.md
Due: none

docs: Session 431 archived handoff document
  docs/09-handoff/2026-03-07-SESSION-431-HANDOFF.md
Due: none

feat: auto-demote filter system — CF evaluator + runtime overrides
  data_processors/publishing/signal_best_bets_exporter.py
  docs/09-handoff/2026-03-07-SESSION-431b-HANDOFF.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
  ml/signals/aggregator.py
  orchestration/cloud_functions/filter_counterfactual_evaluator/__init__.py
  orchestration/cloud_functions/filter_counterfactual_evaluator/main.py
  orchestration/cloud_functions/filter_counterfactual_evaluator/requirements.txt
  schemas/bigquery/nba_predictions/filter_counterfactual_daily.sql
  schemas/bigquery/nba_predictions/filter_overrides.sql
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

fix: filter CF streaming buffer fix + test updates
  cloudbuild-functions.yaml
  orchestration/cloud_functions/filter_counterfactual_evaluator/main.py
  tests/unit/signals/test_aggregator.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-deploy-safety

docs: add auto-demote filter system to CLAUDE.md tables and monitoring
  CLAUDE.md
Due: none

docs: Session 432 handoff — auto-demote filter system complete
  docs/09-handoff/2026-03-07-SESSION-432-HANDOFF.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
Due: none

feat: update MLB CatBoost V1 model path to pre-season retrain
  predictions/mlb/config.py
  predictions/mlb/prediction_systems/catboost_v1_predictor.py
Due: validate-sql-fstrings, validate-python-syntax

feat: add MLB season resume script for Mar 24-25 scheduler activation
  bin/mlb-season-resume.sh
Due: none

docs: update MLB status — model retrained, backfills running
  docs/08-projects/current/mlb-pitcher-strikeouts/CURRENT-STATUS.md
Due: none

feat: combo MIN_EDGE 4.0 + signal dedup fix + DvP gamebook fallback
  data_processors/publishing/signal_annotator.py
  docs/09-handoff/2026-03-07-SESSION-432-HANDOFF.md
  docs/09-handoff/2026-03-07-SESSION-433-HANDOFF.md
  ml/signals/combo_3way.py
  ml/signals/combo_he_ms.py
  ml/signals/signal_health.py
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings, validate-python-syntax

docs: comprehensive MLB status update — all sprint 4 tasks complete
  docs/08-projects/current/mlb-pitcher-strikeouts/CURRENT-STATUS.md
Due: none

fix: COALESCE statcast features with season averages in MLB training query
  ml/training/mlb/quick_retrain_mlb.py
Due: validate-sql-fstrings

docs: Session 432 handoff — auto-demote + MLB pre-season complete
  docs/09-handoff/2026-03-07-SESSION-432-HANDOFF.md
Due: none

fix: worker zero-tolerance gate now uses required_default_count
  predictions/worker/data_loaders.py
Due: validate-sql-fstrings, validate-python-syntax

feat: MLB NaN-native CatBoost training + COALESCE fix in production loaders
  ml/training/mlb/quick_retrain_mlb.py
  predictions/mlb/config.py
  predictions/mlb/pitcher_loader.py
  predictions/mlb/pitcher_strikeouts_predictor.py
  predictions/mlb/prediction_systems/catboost_v1_predictor.py
Due: validate-sql-fstrings, validate-python-syntax

feat: MLB OVER-only strategy + season phases + 3 new signals
  ml/signals/mlb/best_bets_exporter.py
  ml/signals/mlb/registry.py
  ml/signals/mlb/signals.py
  scripts/mlb/training/walk_forward_simulation.py
Due: validate-sql-fstrings

fix: quality scorer FEATURE_COUNT cap + signal tuning
  data_processors/precompute/ml_feature_store/quality_scorer.py
  ml/signals/aggregator.py
Due: validate-sql-fstrings, validate-python-syntax

feat: ESPN Fantasy projections scraper — NumberFire SPOF fallback
  data_processors/raw/main_processor_service.py
  data_processors/raw/path_extractors/__init__.py
  data_processors/raw/path_extractors/external_extractors.py
  data_processors/raw/projections/espn_processor.py
  ml/signals/projection_consensus.py
  ml/signals/supplemental_data.py
  schemas/espn_projections.json
  scrapers/projections/espn_projections.py
  scrapers/registry.py
  scrapers/utils/gcs_path_builder.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 434 handoff — bug fixes, signal tuning, ESPN scraper
  docs/09-handoff/2026-03-07-SESSION-434-HANDOFF.md
Due: none

feat: MLB overconfidence cap + daily pick limit (walk-forward validated)
  ml/signals/mlb/best_bets_exporter.py
Due: validate-sql-fstrings

feat: MLB experiment runner + systematic feature/model grid results
  ml/training/mlb/experiment_runner.py
Due: validate-sql-fstrings

feat: MLB V2 features — workload + matchup + wider CatBoost (experiment-validated)
  ml/training/mlb/quick_retrain_mlb.py
  predictions/mlb/pitcher_loader.py
  predictions/mlb/prediction_systems/catboost_v1_predictor.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 435b handoff — MLB experiments, V2 features, production strategy
  .claude/skills/daily-steering/SKILL.md
  CLAUDE.md
  docs/09-handoff/2026-03-08-SESSION-435-HANDOFF.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
  ml/analysis/league_macro.py
  orchestration/cloud_functions/post_grading_export/main.py
  schemas/bigquery/nba_predictions/league_macro_daily.sql
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: OVER edge floor raised 3.0 → 4.0 — BB OVER 3-4 was 33.3% HR
  ml/signals/aggregator.py
Due: validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$
