Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$

docs: comprehensive session handoff 2026-07-02
  docs/09-handoff/2026-07-02-SESSION-HANDOFF.md
Due: none

fix: VSiN scraper __main__ stale API + document paywall
  docs/06-reference/scrapers/00-SCRAPER-INVENTORY.md
  scrapers/external/vsin_betting_splits.py
Due: validate-sql-fstrings

docs: mark VSiN-dependent signals as no-data-source in inventory
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
Due: none

docs: document VSiN replacement research outcome
  docs/06-reference/scrapers/00-SCRAPER-INVENTORY.md
Due: none

docs: external scraper audit, stale table name fix, session handoff
  CLAUDE.md
  docs/06-reference/scrapers/00-SCRAPER-INVENTORY.md
  docs/09-handoff/2026-07-02-2-session-handoff.md
Due: none

feat: DraftKings Network betting splits scraper (VSiN replacement)
  data_processors/raw/external/__init__.py
  data_processors/raw/external/dknetwork_betting_splits_processor.py
  data_processors/raw/main_processor_service.py
  data_processors/raw/path_extractors/__init__.py
  data_processors/raw/path_extractors/external_extractors.py
  docs/06-reference/scrapers/00-SCRAPER-INVENTORY.md
  schemas/bigquery/nba_raw/session_401_new_tables.sql
  scrapers/external/dknetwork_betting_splits.py
  scrapers/registry.py
  scrapers/utils/gcs_path_builder.py
Due: validate-sql-fstrings, validate-python-syntax

docs: update handoff — DK Network scraper built and validated
  docs/09-handoff/2026-07-02-2-session-handoff.md
Due: none

fix: remove phantom atproto submodule pins breaking nba-scrapers deploy
  scrapers/requirements-lock.txt
Due: none

docs: note atproto deploy fix in handoff
  docs/09-handoff/2026-07-02-2-session-handoff.md
Due: none

fix: harden scraper health canary — DEAD escalation + fix silent blind spots
  bin/monitoring/data_source_health_canary.py
Due: validate-sql-fstrings, validate-python-syntax

feat: wire DraftKings Network betting splits into sharp-money signals
  bin/deploy/deploy_dknetwork_scheduler.sh
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings, validate-deploy-safety

docs: session handoff — DK Network ready + scraper silent-death monitoring hardened
  docs/09-handoff/2026-07-03-session-handoff.md
Due: none

docs(ops): NBA off-season re-enable runbook + script, ten-agent review handoff
  docs/runbooks/nba-offseason-2026-reenable.md
  scripts/nba_offseason_reenable.sh
Due: none

feat: wire idle isotonic edge->P(win) calibrator as shadow win_prob
  data_processors/publishing/signal_best_bets_exporter.py
  docs/08-projects/current/calibration-wiring/RELIABILITY-REPORT.md
  ml/calibration/win_prob_loader.py
Due: validate-sql-fstrings, validate-python-syntax

docs: 10-agent whole-system review synthesis + improvement backlog
  docs/09-handoff/2026-07-03-2-tenagent-system-review.md
Due: none

fix: signal-path correctness fixes + season-open fail-closed guards
  config/workflows.yaml
  ml/signals/aggregator.py
  ml/signals/book_disagree_under.py
  ml/signals/mean_reversion_under.py
  ml/signals/regime_context.py
  ml/signals/supplemental_data.py
  ml/signals/whole_line_precision.py
  shared/config/nba_season_dates.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings, validate-python-syntax

feat: fleet correlation-budget gate (enforce cross-model diversity)
  bin/validation/validate_fleet_diversity.py
  docs/08-projects/current/fleet-diversity-gate/00-SCOPE.md
Due: validate-sql-fstrings, validate-python-syntax

fix: address 5-agent review findings (warmup, book_disagree revert, calibrator warning)
  docs/08-projects/current/calibration-wiring/RELIABILITY-REPORT.md
  ml/signals/book_disagree_under.py
  ml/signals/regime_context.py
Due: validate-sql-fstrings

test: add DK Network scraper unit tests (53 cases, NBA resolve_team coverage)
  tests/scrapers/unit/test_dknetwork_betting_splits.py
Due: validate-sql-fstrings

feat: NBA bankroll simulator (Kelly vs flat backtest) + findings
  docs/08-projects/current/bet-sizing/2026-07-03-nba-bankroll-sim-findings.md
  scripts/nba/bankroll_simulation.py
Due: validate-sql-fstrings

docs: consolidated gameplan through 2026-27 season open
  docs/09-handoff/2026-07-03-3-GAMEPLAN.md
Due: none

docs: P0 errata — Kelly breakeven 53.5%, ultra-tier no-op, fleet-gate protected-signals correction
  docs/08-projects/current/bet-sizing/2026-07-03-nba-bankroll-sim-findings.md
  docs/08-projects/current/fleet-diversity-gate/00-SCOPE.md
Due: none

fix: P1.1 — refit edge calibrator on provenance-verified live data (v2026-07-04-live)
  docs/08-projects/current/calibration-wiring/RELIABILITY-REPORT.md
  docs/09-handoff/2026-07-03-3-GAMEPLAN.md
  ml/calibration/edge_calibrator.py
  ml/calibration/evaluate_reliability.py
  ml/calibration/win_prob_loader.py
  tests/unit/ml/test_edge_calibrator.py
Due: validate-sql-fstrings

feat: P1.2 — CLV closing-line capture (T-30 sweep, retraction split-brain fix, late re-export)
  bin/deploy/deploy_closing_lines_scheduler.sh
  bin/deploy/deploy_phase6_scheduler.sh
  bin/monitoring/pipeline_canary_queries.py
  data_processors/publishing/best_bets_all_exporter.py
  data_processors/publishing/signal_best_bets_exporter.py
  docs/09-handoff/2026-07-03-3-GAMEPLAN.md
  docs/runbooks/nba-offseason-2026-reenable.md
  ml/signals/supplemental_data.py
  schemas/bigquery/nba_predictions/signal_best_bets_picks.sql
  scrapers/main_scraper_service.py
  scrapers/oddsapi/oddsa_player_props.py
  scrapers/routes/__init__.py
  scrapers/routes/closing_lines.py
  scripts/nba_offseason_reenable.sh
  tests/unit/publishing/test_clv_retraction.py
  tests/unit/scrapers/test_closing_line_sweep.py
Due: validate-sql-fstrings, validate-python-syntax, validate-deploy-safety

docs: adjudicated off-season plan + restore manifest + measurement-infra spec (3+4-agent review)
  docs/02-operations/scheduler-restore-manifest-2026.md
  docs/08-projects/current/measurement-infrastructure/00-SPEC.md
  docs/09-handoff/2026-07-03-3-GAMEPLAN.md
  docs/09-handoff/2026-07-03-5-adjudicated-plan.md
Due: none

fix: Session-1 off-season triage — de-landmine weekly-retrain docs, unblock pytest, fix espn syntax
  .pre-commit-config.yaml
  .pre-commit-hooks/validate_python_syntax.py
  CLAUDE.md
  docs/02-operations/runbooks/season-resume-2026-27.md
  pytest.ini
  requirements-test.txt
  scrapers/espn/espn_game_boxscore.py
  scrapers/espn/espn_roster.py
  scrapers/espn/espn_scoreboard_api.py
Due: validate-sql-fstrings

fix: version + repair nba-monitoring-alerts CF (was firing 3 BQ errors every 4h)
  orchestration/cloud_functions/nba_monitoring_alerts/README.md
  orchestration/cloud_functions/nba_monitoring_alerts/deploy.sh
  orchestration/cloud_functions/nba_monitoring_alerts/main.py
  orchestration/cloud_functions/nba_monitoring_alerts/requirements.txt
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: C2 — repair model_bb_candidates writer (un-backfillable provenance stream)
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/per_model_pipeline.py
  schemas/model_bb_candidates.json
  tests/unit/publishing/test_model_bb_candidates_writer.py
Due: validate-sql-fstrings, validate-python-syntax

docs: 2026-07-04 session handoff (8-agent review + monitor/C2 fixes)
  docs/09-handoff/2026-07-04-session-handoff.md
Due: none

fix: repair pipeline-canary image (bin/monitoring stripped by .gcloudignore)
  .gcloudignore
  bin/monitoring/rebuild_canary_image.sh
Due: none

feat: C1 — unconditional shadow-tag persistence + signal-stream view
  ml/signals/aggregator.py
  schemas/bigquery/nba_predictions/v_bb_candidate_signal_stream.sql
  tests/unit/signals/test_c1_shadow_tag_persistence.py
Due: validate-sql-fstrings

test: green ~111 stale unit tests (pool-cache isolation + fixture drift)
  tests/unit/conftest.py
  tests/unit/publishing/test_best_bets_exporter.py
  tests/unit/signals/test_aggregator.py
  tests/unit/signals/test_health_aware_weights.py
  tests/unit/signals/test_player_blacklist.py
Due: validate-sql-fstrings

feat: C3 — pre-registered two-tier promotion gates (measurement-infra)
  docs/08-projects/current/measurement-infrastructure/PREREG-promotion-gates-2026-27.md
  shared/registry/filters.yaml
  shared/registry/signals.yaml
  tests/unit/signals/test_promotion_gates_prereg.py
Due: validate-sql-fstrings

docs: 2026-07-04 Session 2 handoff (full worklist done: canary, C1, tests, C3)
  docs/09-handoff/2026-07-04-SESSION-2-HANDOFF.md
Due: none

test: green the publishing + signals stale-test tail (~78 failures)
  tests/unit/conftest.py
  tests/unit/publishing/test_bounce_back_exporter.py
  tests/unit/publishing/test_news_exporter.py
  tests/unit/publishing/test_player_game_report_exporter.py
  tests/unit/publishing/test_player_profile_exporter.py
  tests/unit/publishing/test_player_season_exporter.py
  tests/unit/publishing/test_predictions_exporter.py
  tests/unit/publishing/test_streaks_exporter.py
  tests/unit/publishing/test_system_performance_exporter.py
  tests/unit/publishing/test_team_tendencies_exporter.py
  tests/unit/publishing/test_tonight_all_players_exporter.py
  tests/unit/publishing/test_tonight_trend_plays_exporter.py
  tests/unit/publishing/test_what_matters_exporter.py
  tests/unit/publishing/test_whos_hot_cold_exporter.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

docs: 2026-07-04 Session 3 handoff (test-greening tail done, all pushed)
  docs/09-handoff/2026-07-04-SESSION-3-HANDOFF.md
Due: none

fix: DistributedLock.acquire honors max_wait_seconds < retry delay
  shared/utils/distributed_lock.py
  tests/unit/utils/test_distributed_lock.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

test: green isolated stale tests in ml/shared/orchestration/data_processors/utils
  tests/unit/data_processors/test_analytics_base.py
  tests/unit/data_processors/test_ml_feature_store.py
  tests/unit/data_processors/test_precompute_base.py
  tests/unit/ml/test_feature_extraction.py
  tests/unit/orchestration/test_cleanup_processor.py
  tests/unit/shared/test_cross_model_subsets.py
  tests/unit/shared/utils/test_bdl_availability_logger.py
  tests/unit/shared/validation/test_phase_boundary_validator.py
  tests/unit/utils/test_completion_tracker.py
Due: validate-sql-fstrings

docs: update Session 3 handoff (broader-suite triage + distributed_lock bugfix)
  docs/09-handoff/2026-07-04-SESSION-3-HANDOFF.md
Due: none

docs: 8-agent future-prediction ideas backlog + Session 4 handoff
  docs/08-projects/current/future-prediction-ideas/00-IDEAS-BACKLOG.md
  docs/09-handoff/2026-07-05-SESSION-4-HANDOFF.md
Due: none
