Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$

feat: Session 400b — remove star_under filter (72.1% HR in March)
  ml/signals/aggregator.py
Due: validate-sql-fstrings

docs: Session 400/400b handoff — star_under research + monitoring plan
  docs/09-handoff/2026-03-04-SESSION-398-HANDOFF.md
  docs/09-handoff/2026-03-04-SESSION-400-HANDOFF.md
  docs/09-handoff/2026-03-04-SESSION-401-HANDOFF.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
Due: none

feat: Session 401 — 10 new data source scrapers, processors, signals, referee fix, CLV tracking
  data_processors/raw/external/__init__.py
  data_processors/raw/external/covers_referee_processor.py
  data_processors/raw/external/hashtagbasketball_dvp_processor.py
  data_processors/raw/external/nba_tracking_processor.py
  data_processors/raw/external/rotowire_lineups_processor.py
  data_processors/raw/external/teamrankings_processor.py
  data_processors/raw/external/vsin_betting_splits_processor.py
  data_processors/raw/main_processor_service.py
  data_processors/raw/nbacom/nbac_referee_processor.py
  data_processors/raw/oddsapi/odds_api_props_processor.py
  data_processors/raw/path_extractors/__init__.py
  data_processors/raw/path_extractors/external_extractors.py
  data_processors/raw/projections/__init__.py
  data_processors/raw/projections/dailyfantasyfuel_processor.py
  data_processors/raw/projections/dimers_processor.py
  data_processors/raw/projections/fantasypros_processor.py
  data_processors/raw/projections/numberfire_processor.py
  ml/signals/closing_line_value.py
  ml/signals/dvp_mismatch.py
  ml/signals/predicted_pace.py
  ml/signals/projection_consensus.py
  ml/signals/registry.py
  ml/signals/supplemental_data.py
  schemas/bigquery/nba_raw/session_401_new_tables.sql
  scrapers/external/__init__.py
  scrapers/external/covers_referee_stats.py
  scrapers/external/hashtagbasketball_dvp.py
  scrapers/external/nba_tracking_stats.py
  scrapers/external/rotowire_lineups.py
  scrapers/external/teamrankings_stats.py
  scrapers/external/vsin_betting_splits.py
  scrapers/oddsapi/oddsa_player_props.py
  scrapers/projections/__init__.py
  scrapers/projections/dailyfantasyfuel_projections.py
  scrapers/projections/dimers_projections.py
  scrapers/projections/fantasypros_projections.py
  scrapers/projections/numberfire_projections.py
  scrapers/registry.py
  scrapers/utils/gcs_path_builder.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 401 plan — away_noveg eval, model promotion, fleet cleanup
  docs/09-handoff/SESSION-401-PLAN.md
Due: none

fix: resolve TODAY to actual date in scraper opts, fix RotoWire + tracking
  scrapers/external/nba_tracking_stats.py
  scrapers/external/rotowire_lineups.py
  scrapers/mixins/config_mixin.py
Due: validate-sql-fstrings

feat: remove away_noveg filter — model staleness was root cause, not location
  CLAUDE.md
  ml/signals/aggregator.py
Due: validate-sql-fstrings

docs: Session 402 handoff + Session 403 plan — away_noveg removal, fleet eval, next steps
  docs/09-handoff/2026-03-04-SESSION-402-HANDOFF.md
  docs/09-handoff/SESSION-403-PLAN.md
Due: none

docs: update docs for 10 new data sources, signals, and scraper issues
  CLAUDE.md
  docs/02-operations/session-learnings.md
  docs/02-operations/troubleshooting-matrix.md
  docs/06-reference/scrapers/00-SCRAPER-INVENTORY.md
Due: none

fix: add Playwright chromium binary + nba_api for failing scrapers
  scrapers/Dockerfile
  scrapers/external/nba_tracking_stats.py
  scrapers/requirements-lock.txt
  scrapers/requirements.txt
Due: validate-sql-fstrings

fix: NumberFire + VSiN scrapers via Playwright JS rendering
  scrapers/external/vsin_betting_splits.py
  scrapers/projections/numberfire_projections.py
Due: validate-sql-fstrings

feat: referee data backfill script for reprocessing GCS files
  bin/backfill_referee_data.py
Due: validate-sql-fstrings, validate-python-syntax

feat: projection consensus 4-source wiring, scraper rewrites, exporter fix
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/projection_consensus.py
  ml/signals/supplemental_data.py
  scrapers/external/nba_tracking_stats.py
  scrapers/external/vsin_betting_splits.py
  scrapers/projections/numberfire_projections.py
Due: validate-sql-fstrings, validate-python-syntax

fix: pass snapshot_type through orchestration for CLV evening scrape
  orchestration/parameter_resolver.py
  orchestration/workflow_executor.py
  scrapers/routes/orchestration.py
Due: validate-sql-fstrings

fix: remove Playwright chromium install from Dockerfile
  scrapers/Dockerfile
Due: none

chore: remove playwright packages from requirements-lock.txt
  scrapers/requirements-lock.txt
Due: none

chore: remove greenlet (playwright dependency) from requirements-lock
  scrapers/requirements-lock.txt
Due: none

chore: remove playwright from requirements.txt
  scrapers/requirements.txt
Due: none

docs: Session 403 handoff — scraper fixes, exporter consistency, validation results
  docs/02-operations/session-learnings.md
  docs/09-handoff/2026-03-04-SESSION-403-HANDOFF.md
Due: none

docs: Session 404 plan — verify scrapers, grade rescues, projection consensus, model promotion
  docs/09-handoff/session-prompts/SESSION-404-PLAN.md
Due: none

docs: trim CLAUDE.md (455→385 lines), update signal inventory, add model dead ends doc
  CLAUDE.md
  docs/06-reference/model-dead-ends.md
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  docs/09-handoff/2026-03-04-SESSION-404-HANDOFF.md
Due: none

feat: VSiN sharp money + RotoWire minutes shadow signals, monitoring expansion, Session 405 plan
  bin/bootstrap_hr.py
  bin/simulate_best_bets.py
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  docs/09-handoff/2026-03-04-SESSION-404-HANDOFF.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
  docs/09-handoff/session-prompts/SESSION-405-PLAN.md
  ml/signals/aggregator.py
  ml/signals/minutes_projection.py
  ml/signals/pick_angle_builder.py
  ml/signals/registry.py
  ml/signals/sharp_money.py
  ml/signals/signal_health.py
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings, validate-python-syntax

fix: projection consensus join, combo edge threshold, scraper data quality
  bin/monitoring/signal_firing_canary.py
  data_processors/raw/projections/dailyfantasyfuel_processor.py
  docs/06-reference/scrapers/00-SCRAPER-INVENTORY.md
  ml/signals/combo_3way.py
  ml/signals/combo_he_ms.py
  ml/signals/projection_consensus.py
  ml/signals/supplemental_data.py
  orchestration/cloud_functions/daily_health_check/main.py
  scrapers/projections/dailyfantasyfuel_projections.py
  scrapers/projections/dimers_projections.py
  scrapers/projections/fantasypros_projections.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

docs: Session 405 handoff — 6 critical signal bug fixes, shadow signal expansion
  docs/09-handoff/2026-03-05-SESSION-405-HANDOFF.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
Due: none

feat: Session 405 phase 2 — analysis tools, fleet retrain, infra improvements
  bin/analysis/edge_calibration.py
  bin/analysis/model_correlation.py
  docs/02-operations/session-learnings.md
  docs/06-reference/scrapers/00-SCRAPER-INVENTORY.md
  docs/08-projects/current/large-spread-starter-under-validation.md
  docs/09-handoff/2026-03-05-SESSION-405-HANDOFF.md
  orchestration/cloud_functions/decay_detection/main.py
  orchestration/cloud_functions/gcs_freshness_monitor/main.py
  orchestration/cloud_functions/gcs_freshness_monitor/requirements.txt
  scrapers/external/vsin_betting_splits.py
  scrapers/projections/numberfire_projections.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

fix: DVP rank computation, scraper name dedup, projection range validation
  ml/signals/combo_3way.py
  ml/signals/combo_he_ms.py
  ml/signals/supplemental_data.py
  scrapers/projections/dimers_projections.py
  scrapers/projections/fantasypros_projections.py
Due: validate-sql-fstrings

feat: re-add Playwright for JS-rendered scrapers, RotoWire play_probability
  scrapers/Dockerfile
  scrapers/external/rotowire_lineups.py
  scrapers/projections/dimers_projections.py
  scrapers/projections/fantasypros_projections.py
  scrapers/requirements-lock.txt
Due: validate-sql-fstrings

chore: bump algorithm version to v406_scraper_fixes_combo_edge3
  ml/signals/aggregator.py
Due: validate-sql-fstrings

fix: Playwright Dockerfile — install system deps manually for Trixie
  scrapers/Dockerfile
Due: none

fix: Playwright timeout + HTTP fallback for FP/Dimers scrapers
  scrapers/projections/dimers_projections.py
  scrapers/projections/fantasypros_projections.py
Due: validate-sql-fstrings

docs: Session 406 handoff + Session 407 plan
  docs/09-handoff/2026-03-05-SESSION-406-HANDOFF.md
  docs/09-handoff/session-prompts/SESSION-407-PLAN.md
Due: none

fix: TeamRankings TODAY literal + RotoWire play_probability in Phase 2
  data_processors/raw/external/rotowire_lineups_processor.py
  scrapers/external/teamrankings_stats.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 407 handoff — verification, feature experiment, experiment table plan
  docs/09-handoff/2026-03-05-SESSION-407-HANDOFF.md
Due: none

fix: worker NoneType crash + single-source projection mode
  ml/signals/projection_consensus.py
  ml/signals/supplemental_data.py
  predictions/worker/worker.py
  scrapers/projections/dimers_projections.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 407 handoff — worker crash fix, single-source projections
  docs/09-handoff/2026-03-05-SESSION-407-HANDOFF.md
Due: none

fix: TeamRankings efficiency scraper + pace_v1 experiment (DEAD END)
  bin/backfill_experiment_features.py
  docs/06-reference/model-dead-ends.md
  docs/08-projects/current/model-evaluation-and-selection/EXPERIMENT-GRID.md
  results/session_408/baseline_v12nv_s42.json
  results/session_408/pace_v1_s123.json
  results/session_408/pace_v1_s42.json
  results/session_408/pace_v1_s456.json
  results/session_408/pace_v1_s789.json
  results/session_408/pace_v1_s999.json
  scrapers/external/teamrankings_stats.py
Due: validate-sql-fstrings, validate-python-syntax

feat: pace_v1 full experiment (DEAD END) + backfill improvements
  bin/backfill_experiment_features.py
  docs/06-reference/model-dead-ends.md
  docs/08-projects/current/model-evaluation-and-selection/EXPERIMENT-GRID.md
  results/session_408/pace_v1_full_s123.json
  results/session_408/pace_v1_full_s42.json
  results/session_408/pace_v1_full_s456.json
  results/session_408/pace_v1_full_s789.json
  results/session_408/pace_v1_full_s999.json
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 408 handoff + Session 409 prompt
  docs/09-handoff/2026-03-05-SESSION-408-HANDOFF.md
  docs/09-handoff/session-prompts/session-409-prompt.md
Due: none

feat: 5 new shadow signals + signal decay monitor + volatile_scoring_over re-enabled
  CLAUDE.md
  bin/backfill_experiment_features.py
  bin/monitoring/data_source_health_canary.py
  bin/monitoring/signal_decay_monitor.py
  docs/08-projects/current/model-evaluation-and-selection/EXPERIMENT-GRID.md
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  docs/09-handoff/2026-03-05-SESSION-406-HANDOFF.md
  docs/09-handoff/2026-03-05-SESSION-409-HANDOFF.md
  docs/09-handoff/2026-03-05-SESSION-411-HANDOFF.md
  docs/09-handoff/session-prompts/session-407-prompt.md
  docs/09-handoff/session-prompts/session-412-prompt.md
  ml/experiments/experiment_harness.py
  ml/experiments/quick_retrain.py
  ml/experiments/signal_backtest.py
  ml/signals/blowout_risk_under.py
  ml/signals/career_matchup_over.py
  ml/signals/consistent_scorer_over.py
  ml/signals/hot_form_over.py
  ml/signals/minutes_load_over.py
  ml/signals/over_trend_over.py
  ml/signals/registry.py
  ml/signals/scoring_momentum_over.py
  ml/signals/signal_health.py
  ml/signals/supplemental_data.py
  ml/signals/usage_surge_over.py
  schemas/bigquery/experiment_grid_results.json
Due: validate-sql-fstrings, validate-python-syntax

feat: true pick locking + daily regime context for OVER exposure
  CLAUDE.md
  data_processors/publishing/best_bets_all_exporter.py
  data_processors/publishing/signal_best_bets_exporter.py
  docs/01-architecture/best-bets-and-subsets.md
  docs/02-operations/session-learnings.md
  docs/08-projects/current/signal-discovery-framework/SIGNAL-ENVIRONMENT-CORRELATION.md
  docs/09-handoff/2026-03-05-SESSION-412-HANDOFF.md
  ml/signals/aggregator.py
  ml/signals/regime_context.py
Due: validate-sql-fstrings, validate-python-syntax

feat: high_spread_over observation filter + spread_magnitude in signal pipeline
  docs/09-handoff/2026-03-05-SESSION-412-HANDOFF.md
  ml/signals/aggregator.py
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings
