Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$

docs: Session 326 — signal study, Ultra Bets investigation, filter audit
  CLAUDE.md
  docs/08-projects/current/session-326-analysis/01-SIGNAL-FILTER-ULTRA-ANALYSIS.md
  docs/09-handoff/2026-02-22-SESSION-325-HANDOFF.md
  docs/09-handoff/2026-02-22-SESSION-326-HANDOFF.md
  docs/09-handoff/2026-02-22-SESSION-326-PROMPT.md
Due: none

feat: remove 4 harmful signals, model-aware UNDER filter, Ultra Bets tier
  CLAUDE.md
  bin/backfill_dry_run.py
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/aggregator.py
  ml/signals/combo_registry.py
  ml/signals/high_ft_under.py
  ml/signals/high_usage_under.py
  ml/signals/pick_angle_builder.py
  ml/signals/registry.py
  ml/signals/self_creator_under.py
  ml/signals/signal_health.py
  ml/signals/ultra_bets.py
  ml/signals/volatile_under.py
Due: validate-sql-fstrings

feat: Ultra Bets live HR tracking, internal-only export, admin visibility
  CLAUDE.md
  bin/backfill_dry_run.py
  data_processors/publishing/admin_picks_exporter.py
  data_processors/publishing/signal_best_bets_exporter.py
  docs/09-handoff/2026-02-22-SESSION-327-HANDOFF.md
  ml/signals/pick_angle_builder.py
  ml/signals/ultra_bets.py
Due: validate-sql-fstrings

docs: Session 327 — ultra live performance data, monitoring plan, backfill results
  CLAUDE.md
  docs/09-handoff/2026-02-22-SESSION-327-HANDOFF.md
Due: none

feat: add ultra_tier to admin dashboard, ultra_gate progress tracker
  data_processors/publishing/admin_dashboard_exporter.py
Due: validate-sql-fstrings

fix: remove dead criterion, fix system_id attribution, deduplicate helpers
  CLAUDE.md
  bin/backfill_dry_run.py
  data_processors/publishing/admin_dashboard_exporter.py
  data_processors/publishing/admin_picks_exporter.py
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/ultra_bets.py
Due: validate-sql-fstrings

docs: condense CLAUDE.md from 717 to 396 lines (58% size reduction)
  CLAUDE.md
Due: none

feat: add subsets and model_candidates_summary to admin dashboard
  data_processors/publishing/admin_dashboard_exporter.py
Due: validate-sql-fstrings

feat: add ultra_tier gate, game_time, and stat to public best bets
  data_processors/publishing/best_bets_all_exporter.py
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/ultra_bets.py
Due: validate-sql-fstrings

fix: add pick angle generation to backfill script, update handoff
  bin/backfill_dry_run.py
  docs/09-handoff/2026-02-22-SESSION-328-HANDOFF.md
Due: validate-sql-fstrings

docs: add session 329 handoff, new learnings for backfill angles + env var drift
  CLAUDE.md
  docs/02-operations/session-learnings.md
  docs/09-handoff/2026-02-22-SESSION-329-HANDOFF.md
Due: none

docs: update Session 329 handoff — V12+Vegas verified, coordinator timeout fixed
  docs/09-handoff/2026-02-22-SESSION-329-HANDOFF.md
Due: none

feat: add ultra_record, pipeline_summary, and ungate ultra_tier for frontend
  data_processors/publishing/admin_dashboard_exporter.py
  data_processors/publishing/best_bets_all_exporter.py
Due: validate-sql-fstrings

fix: resolve coordinator bigquery import, Decimal serialization, and batch line lookups
  data_processors/publishing/signal_annotator.py
  data_processors/publishing/signal_best_bets_exporter.py
  predictions/coordinator/coordinator.py
  predictions/coordinator/player_loader.py
Due: validate-sql-fstrings

docs: add backend response to frontend data gaps, update handoff
  docs/08-projects/current/frontend-data-design/08-BACKEND-RESPONSE.md
  docs/09-handoff/2026-02-22-SESSION-329-HANDOFF.md
Due: none

docs: add Session 330 handoff — coordinator fixes + batch line optimization
  docs/09-handoff/2026-02-22-SESSION-330-HANDOFF.md
Due: none

docs: update handoff — P1-P3 resolved, coordinator timeout 1200s
  docs/09-handoff/2026-02-22-SESSION-329-HANDOFF.md
Due: none

docs: add P1 ungraded picks investigation to handoff
  docs/09-handoff/2026-02-22-SESSION-329-HANDOFF.md
Due: none

feat: add VOID/DNP status to best bets export for frontend
  data_processors/publishing/best_bets_all_exporter.py
  docs/08-projects/current/frontend-data-design/09-VOID-DNP-FRONTEND-PROMPT.md
Due: validate-sql-fstrings

docs: add Session 331 handoff — VOID/DNP fix, daily steering, pipeline timing
  docs/09-handoff/2026-02-22-SESSION-331-HANDOFF.md
Due: none

feat: add tonight JSON re-export to post-grading pipeline
  docs/08-projects/current/frontend-data-design/10-WAITING-ON-RESULTS-BUG.md
  orchestration/cloud_functions/post_grading_export/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: add model-direction affinity filter (Phase 1 — observation mode)
  data_processors/publishing/signal_annotator.py
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/aggregator.py
  ml/signals/model_direction_affinity.py
  ml/signals/pick_angle_builder.py
  tests/unit/signals/test_aggregator.py
  tests/unit/signals/test_model_direction_affinity.py
  tests/unit/signals/test_player_blacklist.py
Due: validate-sql-fstrings

fix: completeness checker CASE WHEN undercounting team games by ~50%
  shared/utils/completeness_checker.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: SQL escape in model_direction_affinity, Decimal serialization in signal_subset_materializer
  data_processors/publishing/signal_subset_materializer.py
  ml/signals/model_direction_affinity.py
Due: validate-sql-fstrings

fix: add BDL_API_KEY to live-export deploy and env var drift detection
  bin/deploy/deploy_live_export.sh
  bin/monitoring/verify-env-vars-preserved.sh
  docs/08-projects/current/frontend-data-design/11-LIVE-GRADING-STALE-DATA-BUG.md
  docs/08-projects/current/frontend-data-design/12-LIVE-GRADING-BUG-RESOLUTION.md
Due: none

docs: add Session 332 handoff — tonight re-export, completeness fix, pipeline recovery
  docs/09-handoff/2026-02-22-SESSION-332-HANDOFF.md
Due: none

fix: Phase 3 partial processing cascade — filter-not-reject, canary auto-heal, visibility
  .claude/skills/validate-daily/SKILL.md
  CLAUDE.md
  bin/deploy/deploy_live_freshness_monitor.sh
  bin/monitoring/pipeline_canary_queries.py
  bin/monitoring/verify-env-vars-preserved.sh
  data_processors/analytics/team_offense_game_summary/team_offense_game_summary_processor.py
  docs/08-projects/current/frontend-data-design/06-FRONTEND-CHAT-PROMPT.md
  docs/08-projects/current/frontend-data-design/07-FRONTEND-RESPONSE.md
  docs/08-projects/current/frontend-data-design/11-LIVE-GRADING-STALE-DATA-BUG.md
  docs/08-projects/current/frontend-data-design/12-LIVE-GRADING-BUG-RESOLUTION.md
  docs/09-handoff/2026-02-23-SESSION-302-HANDOFF.md
  orchestration/cloud_functions/live_freshness_monitor/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: add Phase 3 partial processing to session-learnings and troubleshooting-matrix
  docs/02-operations/session-learnings.md
  docs/02-operations/troubleshooting-matrix.md
Due: none

feat: promote catboost_v12 as interim champion (Session 332)
  shared/config/model_selection.py
Due: validate-sql-fstrings

docs: Session 332 handoff — V12 interim champion, full retrain, scheduler fixes
  CLAUDE.md
  docs/09-handoff/2026-02-23-SESSION-332-HANDOFF.md
Due: none

docs: update Session 332 handoff with complete retrain results and next steps
  docs/09-handoff/2026-02-23-SESSION-332-HANDOFF.md
Due: none

fix: add alt_pattern for v12_vegas model family classification
  shared/config/cross_model_subsets.py
Due: validate-sql-fstrings

fix: use champion model for blacklist and signal health instead of hardcoded v9
  ml/signals/player_blacklist.py
  ml/signals/signal_health.py
Due: validate-sql-fstrings

docs: update Session 332 handoff with Session 333 completions
  docs/09-handoff/2026-02-23-SESSION-332-HANDOFF.md
Due: none

docs: Session 333 handoff — model registration, registry cleanup, pipeline fixes
  docs/09-handoff/2026-02-23-SESSION-333-HANDOFF.md
Due: none

fix: disable BDL monitoring workflows generating ~97 BQ errors/day
  .github/workflows/bdb-pbp-monitor.yml
  .github/workflows/bdl-quality-monitor.yml
Due: none

docs: update Session 333 handoff with infrastructure fixes
  docs/09-handoff/2026-02-23-SESSION-333-HANDOFF.md
Due: none

fix: set min-instances=1 on all orchestrators to prevent cold-start failures
  bin/orchestrators/deploy_phase3_to_phase4.sh
  bin/orchestrators/deploy_phase4_to_phase5.sh
  bin/orchestrators/deploy_phase5_to_phase6.sh
  bin/validation/detect_config_drift.py
Due: validate-sql-fstrings

docs: Session 334 handoff — prevention improvements and system hardening plan
  docs/09-handoff/2026-02-24-SESSION-334-HANDOFF.md
Due: none

fix: disable catastrophic v12_q43 retrained models (13.6% and 35.7% live HR)
  predictions/worker/prediction_systems/catboost_monthly.py
Due: validate-sql-fstrings
