Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$

docs: Add Session 49 comprehensive handoff for ML feature investigation
  docs/09-handoff/2026-01-31-SESSION-49-ML-FEATURE-INVESTIGATION-HANDOFF.md
Due: none

docs: Update Session 48 handoff with deployment status and TODO list
  docs/09-handoff/2026-01-30-SESSION-48-DATA-QUALITY-SELF-HEALING-HANDOFF.md
Due: none

fix: Correct game_id join in gamebook_players_with_games_cte
  data_processors/analytics/upcoming_player_game_context/queries/shared_ctes.py
Due: validate-sql-fstrings

docs: Add Session 50 handoff for ML feature fixes and backfill plan
  docs/09-handoff/2026-01-31-SESSION-50-ML-FEATURE-FIXES-HANDOFF.md
Due: none

perf: Add opponent metrics caching to reduce BigQuery calls 10x
  data_processors/analytics/upcoming_player_game_context/team_context.py
  data_processors/analytics/upcoming_player_game_context/upcoming_player_game_context_processor.py
Due: validate-sql-fstrings

fix: Correct column names in opponent metrics batch query
  data_processors/analytics/upcoming_player_game_context/team_context.py
Due: validate-sql-fstrings

fix: Correct games_in_last_7_days window calculation (3 files)
  data_processors/analytics/upcoming_player_game_context/player_stats.py
  data_processors/precompute/player_composite_factors/player_composite_factors_processor.py
  data_processors/precompute/player_daily_cache/player_daily_cache_processor.py
Due: validate-sql-fstrings

feat: Implement avg_usage_rate_last_7_games from historical data
  data_processors/analytics/upcoming_player_game_context/player_stats.py
Due: validate-sql-fstrings

docs: Update Session 50 handoff with complete fix summary
  docs/09-handoff/2026-01-31-SESSION-50-ML-FEATURE-FIXES-HANDOFF.md
Due: none

chore: Adjust validation ranges for ppm_avg_last_10 and games_vs_opponent
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
Due: validate-sql-fstrings

docs: Update Session 50 handoff with feature counts, defaults, and validation ranges
  docs/09-handoff/2026-01-31-SESSION-50-ML-FEATURE-FIXES-HANDOFF.md
Due: none

feat: Add postponement awareness to validation and auto-confirm logic
  scripts/validate_tonight_data.py
  shared/utils/postponement_detector.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Add handoff docs for shot zone and model drift investigations
  docs/09-handoff/2026-01-31-CHAT-PROMPTS.md
  docs/09-handoff/2026-01-31-MODEL-DRIFT-INVESTIGATION.md
  docs/09-handoff/2026-01-31-SHOT-ZONE-DATA-INVESTIGATION.md
Due: none

fix: Improve backfill reliability with schedule-based thresholds
  data_processors/analytics/player_game_summary/player_game_summary_processor.py
  schemas/bigquery/raw/nbac_schedule_tables.sql
  shared/config/source_coverage/__init__.py
Due: validate-sql-fstrings

fix: Ensure all shot zone data comes from same PBP source
  data_processors/analytics/player_game_summary/player_game_summary_processor.py
  data_processors/analytics/player_game_summary/sources/shot_zone_analyzer.py
  schemas/bigquery/analytics/player_game_summary_tables.sql
Due: validate-sql-fstrings

feat: Auto-invalidate predictions when postponement confirmed
  shared/utils/postponement_detector.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Add note about shot zone completeness validation
  data_processors/precompute/player_shot_zone_analysis/player_shot_zone_analysis_processor.py
Due: validate-sql-fstrings

docs: Add Session 53 shot zone fix completion handoff
  docs/09-handoff/2026-01-31-SESSION-53-SHOT-ZONE-FIX-COMPLETE.md
Due: none

docs: Document shot zone data quality fix across project docs
  CLAUDE.md
  docs/02-operations/daily-validation-checklist.md
  docs/02-operations/troubleshooting-matrix.md
Due: none

docs: Add Session 53 final comprehensive handoff
  docs/09-handoff/2026-01-31-SESSION-53-FINAL-HANDOFF.md
Due: none

docs: Add operational handoff for shot zone fix
  docs/09-handoff/2026-01-31-SHOT-ZONE-FIX-HANDOFF.md
Due: none

docs: Add next session handoff and documentation review prompt
  docs/09-handoff/2026-01-31-SESSION-53-NEXT-SESSION-HANDOFF.md
  docs/09-handoff/REVIEW-PROMPT-SESSION-53-DOCS.md
Due: none

feat: Complete prediction regeneration for BDB reprocessing (Phase 2)
  predictions/coordinator/coordinator.py
Due: validate-sql-fstrings

docs: Add BDB reprocessing Phase 2 completion documentation
  docs/08-projects/current/bdb-reprocessing-strategy/DECISION-MATRIX.md
  docs/08-projects/current/bdb-reprocessing-strategy/DEPLOYMENT-INSTRUCTIONS.md
  docs/08-projects/current/bdb-reprocessing-strategy/EXECUTIVE-SUMMARY.md
  docs/08-projects/current/bdb-reprocessing-strategy/IMPLEMENTATION-LOG.md
  docs/08-projects/current/bdb-reprocessing-strategy/PHASE-2-COMPLETION.md
  docs/08-projects/current/bdb-reprocessing-strategy/README.md
  docs/08-projects/current/bdb-reprocessing-strategy/SESSION-53-IMPLEMENTATION-SUMMARY.md
  docs/08-projects/current/bdb-reprocessing-strategy/TECHNICAL-IMPLEMENTATION-GUIDE.md
  docs/08-projects/current/catboost-v12-v13-experiments/EXPERIMENT-RESULTS-SUMMARY.md
  docs/08-projects/current/catboost-v12-v13-experiments/JANUARY-2026-ANALYSIS.md
  docs/08-projects/current/catboost-v12-v13-experiments/README.md
  docs/08-projects/current/catboost-v8-performance-analysis/README.md
  docs/08-projects/current/catboost-v9-experiments/README.md
  docs/08-projects/current/nba-backfill-2021-2026/CURRENT-STATUS.md
  docs/09-handoff/2026-01-30-SESSION-34-CATBOOST-V9-EXPERIMENTS-HANDOFF.md
  docs/09-handoff/2026-01-30-SESSION-44-DEEP-INVESTIGATION-HANDOFF.md
  docs/09-handoff/2026-01-30-SESSION-46-FATIGUE-FIX-HANDOFF.md
  docs/09-handoff/2026-01-30-SESSION-47-START-PROMPT.md
  docs/09-handoff/2026-01-31-DOWNSTREAM-DATA-QUALITY-TRACKING.md
  docs/09-handoff/2026-01-31-SESSION-50-NOV-DEC-BACKFILL-HANDOFF.md
  docs/09-handoff/2026-01-31-SESSION-51-ML-FEATURE-BACKFILL-HANDOFF.md
  docs/09-handoff/2026-01-31-SESSION-51-NOV-DEC-BACKFILL-COMPLETION-HANDOFF.md
  docs/09-handoff/2026-01-31-SESSION-52-BACKFILL-COMPLETE-HANDOFF.md
  docs/09-handoff/2026-01-31-SESSION-52-CATBOOST-EXPERIMENTS-HANDOFF.md
  docs/09-handoff/2026-01-31-SESSION-53-BDB-RETRY-SYSTEM-HANDOFF.md
  docs/09-handoff/2026-01-31-SESSION-53-MODEL-EXPERIMENTS-HANDOFF.md
  docs/09-handoff/2026-01-31-SESSION-54-BDB-PHASE-2-COMPLETE.md
  docs/09-handoff/2026-01-31-SESSION-54-START-PROMPT.md
Due: none

docs: Add model ensemble research findings and plan
  docs/08-projects/current/model-ensemble-research/RESEARCH-PLAN.md
  docs/09-handoff/2026-01-31-SESSION-54-START-PROMPT.md
  ml/experiments/evaluate_model.py
  ml/experiments/results/JAN_COMBINED_RECENCY_results.json
  ml/experiments/results/JAN_COMBINED_results.json
  ml/experiments/results/JAN_DEC_ONLY_results.json
  ml/experiments/results/JAN_LAST_SEASON_results.json
  ml/experiments/results/JAN_NOV_DEC_RECENCY_results.json
  ml/experiments/results/JAN_NOV_DEC_results.json
  ml/experiments/results/catboost_v9_exp_JAN_COMBINED_20260131_085311_metadata.json
  ml/experiments/results/catboost_v9_exp_JAN_COMBINED_RECENCY_20260131_085332_metadata.json
  ml/experiments/results/catboost_v9_exp_JAN_DEC_ONLY_20260131_085101_metadata.json
  ml/experiments/results/catboost_v9_exp_JAN_FULL_HISTORY_20260131_085701_metadata.json
  ml/experiments/results/catboost_v9_exp_JAN_FULL_HISTORY_20260131_085719_metadata.json
  ml/experiments/results/catboost_v9_exp_JAN_LAST_SEASON_20260131_085238_metadata.json
  ml/experiments/results/catboost_v9_exp_JAN_NOV_DEC_20260131_085112_metadata.json
  ml/experiments/results/catboost_v9_exp_JAN_NOV_DEC_RECENCY_20260131_085120_metadata.json
Due: validate-sql-fstrings

feat: Add usage_rate extraction and feature quality validation
  data_processors/analytics/upcoming_player_game_context/loaders/game_data_loaders.py
  data_processors/analytics/upcoming_player_game_context/upcoming_player_game_context_processor.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
Due: validate-sql-fstrings

fix: Correct audit logging schema mismatch (metadata JSON vs STRING)
  predictions/coordinator/coordinator.py
Due: validate-sql-fstrings

fix: Use insert_rows_json for audit logging with JSON fields
  predictions/coordinator/coordinator.py
Due: validate-sql-fstrings

docs: Add Session 55 start prompt and final summary
  docs/08-projects/current/model-ensemble-research/CONFIDENCE-ANALYSIS.md
  docs/08-projects/current/model-ensemble-research/CONFIDENCE-VS-EDGE.md
  docs/08-projects/current/model-ensemble-research/VEGAS-SHARPNESS-ANALYSIS.md
  docs/09-handoff/2026-01-31-SESSION-54-FINAL-SUMMARY.md
  docs/09-handoff/2026-01-31-SESSION-55-COMPREHENSIVE-HANDOFF.md
  docs/09-handoff/2026-01-31-SESSION-55-START-PROMPT.md
Due: none

docs: Add comprehensive unified dashboard design handoff
  docs/09-handoff/2026-01-31-SESSION-56-UNIFIED-DASHBOARD-HANDOFF.md
Due: none

feat: Add unified admin dashboard MVP with Home/Command Center page
  bin/deploy-service.sh
  docs/09-handoff/2026-01-31-SESSION-57-MVP-BUILD-COMPLETE.md
  services/unified_dashboard/Dockerfile
  services/unified_dashboard/README.md
  services/unified_dashboard/backend/api/__init__.py
  services/unified_dashboard/backend/api/home.py
  services/unified_dashboard/backend/main.py
  services/unified_dashboard/backend/requirements.txt
  services/unified_dashboard/backend/services/__init__.py
  services/unified_dashboard/backend/services/bigquery_client.py
  services/unified_dashboard/backend/services/firestore_client.py
  services/unified_dashboard/backend/utils/__init__.py
  services/unified_dashboard/backend/utils/health_calculator.py
  services/unified_dashboard/frontend/.gitignore
  services/unified_dashboard/frontend/index.html
  services/unified_dashboard/frontend/package.json
  services/unified_dashboard/frontend/postcss.config.js
  services/unified_dashboard/frontend/src/App.tsx
  services/unified_dashboard/frontend/src/index.css
  services/unified_dashboard/frontend/src/index.tsx
  services/unified_dashboard/frontend/src/pages/Home.tsx
  services/unified_dashboard/frontend/tailwind.config.js
  services/unified_dashboard/frontend/tsconfig.json
  services/unified_dashboard/frontend/tsconfig.node.json
  services/unified_dashboard/frontend/vite.config.ts
  services/unified_dashboard/run-local.sh
Due: validate-sql-fstrings

fix: Add Firestore batch state creation to regeneration flow
  predictions/coordinator/coordinator.py
Due: validate-sql-fstrings

docs: Add Session 55 final handoff document
  docs/09-handoff/2026-01-31-SESSION-55-FINAL-HANDOFF.md
Due: none

feat: Add ML infrastructure - diagnostics, experiment registry, and skills
  .claude/skills/experiment-tracker/SKILL.md
  .claude/skills/hit-rate-analysis/SKILL.md
  .claude/skills/model-health/SKILL.md
  .claude/skills/player-lookup/SKILL.md
  .claude/skills/todays-predictions/SKILL.md
  .claude/skills/top-picks/SKILL.md
  .claude/skills/yesterdays-grading/SKILL.md
  bin/monitoring/vegas_sharpness_monitor.py
  docs/08-projects/current/session-56-ml-infrastructure/PRODUCTION-BACKTEST-GAP.md
  docs/08-projects/current/session-56-ml-infrastructure/QUICK-REFERENCE.md
  docs/08-projects/current/session-56-ml-infrastructure/README.md
  ml/experiment_registry.py
  ml/experiments/__init__.py
  ml/experiments/configs/example_experiment.yaml
  ml/experiments/configs/experiment_config_schema.yaml
  ml/experiments/train_walkforward.py
  schemas/bigquery/nba_orchestration/performance_diagnostics_daily.sql
  schemas/bigquery/nba_predictions/ml_experiments.sql
  shared/utils/performance_diagnostics.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: Update BigQuery queries to match actual table schemas
  services/unified_dashboard/backend/services/bigquery_client.py
Due: validate-sql-fstrings

fix: Add insertJob rate limit detection to BigQuery retry logic
  shared/utils/bigquery_retry.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: Add production-equivalent evaluation mode to evaluate_model.py
  ml/experiments/evaluate_model.py
Due: validate-sql-fstrings

docs: Add comprehensive TODO list from Session 56
  docs/08-projects/current/session-56-ml-infrastructure/TODO-LIST.md
Due: none

fix: Update frontend to call backend API directly instead of using proxy
  services/unified_dashboard/frontend/src/pages/Home.tsx
Due: none
