Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$

docs: Session 435 handoff — league macro monitor, OVER edge floor, overconfidence analysis
  docs/09-handoff/2026-03-08-SESSION-435-HANDOFF.md
Due: none

docs: update Session 435 handoff with deploy timing and auto-disable check
  docs/09-handoff/2026-03-08-SESSION-435-HANDOFF.md
Due: none

docs: Session 435b handoff — MLB experiments, V2 features, production strategy
  docs/08-projects/current/mlb-pitcher-strikeouts/CURRENT-STATUS.md
  docs/09-handoff/2026-03-08-SESSION-435b-HANDOFF.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
Due: none

feat: MLB V3 model (40f, +8pp HR), FanGraphs features, league macro tracker, 12-book odds
  ml/analysis/mlb_league_macro.py
  ml/experiments/quick_retrain.py
  ml/signals/mlb/best_bets_exporter.py
  ml/training/mlb/experiment_runner.py
  ml/training/mlb/quick_retrain_mlb.py
  predictions/mlb/config.py
  predictions/mlb/pitcher_loader.py
  predictions/mlb/prediction_systems/catboost_v1_predictor.py
  scrapers/mlb/oddsapi/mlb_batter_props.py
  scrapers/mlb/oddsapi/mlb_batter_props_his.py
  scrapers/mlb/oddsapi/mlb_game_lines.py
  scrapers/mlb/oddsapi/mlb_game_lines_his.py
  scrapers/mlb/oddsapi/mlb_pitcher_props.py
  scrapers/mlb/oddsapi/mlb_pitcher_props_his.py
Due: validate-sql-fstrings, validate-python-syntax

fix: demote blowout_risk_under filter back to observation
  ml/signals/aggregator.py
Due: validate-sql-fstrings

docs: Session 436 handoff — MLB V3 model, FanGraphs features, macro tracker, 12-book odds
  docs/09-handoff/2026-03-08-SESSION-436-HANDOFF.md
Due: none

fix: promote high_spread_over filter + apply OVER edge floor to rescued picks
  ml/signals/aggregator.py
Due: validate-sql-fstrings

feat: add /daily-autopsy skill for daily prediction learning
  .claude/skills/daily-autopsy/SKILL.md
Due: none

feat: vs_opponent features, V3 walk-forward, MLB daily-steering
  .claude/skills/daily-steering/SKILL.md
  data_processors/analytics/mlb/pitcher_game_summary_processor.py
  scripts/mlb/training/walk_forward_simulation.py
Due: validate-sql-fstrings, validate-python-syntax

fix: MLB worker health endpoint — pass service_name as keyword arg
  predictions/mlb/worker.py
Due: validate-sql-fstrings, validate-python-syntax

feat: Phase 1 signal architecture redesign — shadow signals + rescue fix
  docs/08-projects/current/signal-architecture-redesign/00-PLAN.md
  docs/09-handoff/2026-03-08-SESSION-436b-HANDOFF.md
  ml/signals/aggregator.py
Due: validate-sql-fstrings

docs: Session 436b handoff — signal architecture redesign plan for next session
  docs/09-handoff/2026-03-08-SESSION-436b-HANDOFF.md
Due: none

feat: Phase 2-3 signal architecture — rescue redesign + OVER quality scoring
  docs/08-projects/current/signal-architecture-redesign/00-PLAN.md
  ml/signals/aggregator.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

docs: Session 437 handoff — rescue redesign, OVER quality, volume tier analysis
  docs/09-handoff/2026-03-08-SESSION-437-HANDOFF.md
Due: none

feat: /season-autopsy skill + enhanced /daily-autopsy with player history & scenarios
  .claude/skills/daily-autopsy/SKILL.md
  .claude/skills/season-autopsy/SKILL.md
Due: none

docs: update Session 437 handoff with autopsy tools and full-season analysis
  docs/09-handoff/2026-03-08-SESSION-437-HANDOFF.md
Due: none

feat: MLB autopsy skill, opponent K rate (f15), retrain strategy comparison
  .claude/skills/mlb-autopsy/SKILL.md
  data_processors/analytics/mlb/pitcher_game_summary_processor.py
  scripts/mlb/training/walk_forward_simulation.py
Due: validate-sql-fstrings, validate-python-syntax

feat: add ballpark K factor + is_day_game to pitcher_game_summary
  data_processors/analytics/mlb/pitcher_game_summary_processor.py
Due: validate-sql-fstrings, validate-python-syntax

feat: Session 438 — BASE_SIGNALS fix + P9 z-score + P10 sanity check observations
  ml/signals/aggregator.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

docs: Session 438 handoff — season autopsy deep dives + injury analysis direction
  docs/09-handoff/2026-03-08-SESSION-438-HANDOFF.md
Due: none

feat: Session 439 — star criteria fix + normalizer fixes + depleted roster obs
  data_processors/analytics/upcoming_player_game_context/team_context.py
  data_processors/raw/espn/espn_boxscore_processor.py
  data_processors/raw/nbacom/nbac_play_by_play_processor.py
  data_processors/raw/nbacom/nbac_player_boxscore_processor.py
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  docs/09-handoff/2026-03-08-SESSION-439-HANDOFF.md
  ml/signals/aggregator.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings, validate-python-syntax

feat: Session 440 — promote prediction_sanity filter from observation to active
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  ml/signals/aggregator.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

fix: update stale algorithm version assertion (v365 → v4*)
  tests/unit/signals/test_player_blacklist.py
Due: validate-sql-fstrings

feat: Session 441 — per-team cap (2/team) + hot shooting reversion obs
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  ml/signals/aggregator.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

chore: remove unused team_capped list in team cap logic
  ml/signals/aggregator.py
Due: validate-sql-fstrings

docs: Session 441 handoff — cross-day autopsy + team cap + hot shooting reversion
  docs/09-handoff/2026-03-08-SESSION-441-HANDOFF.md
Due: none

feat: Session 442 — autopsy-driven observations + rest_advantage_2d weight
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  ml/signals/aggregator.py
  ml/signals/regime_context.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

feat: MLB CatBoost regressor v2 — predictor, exporter, signals, training, tests
  ml/signals/mlb/best_bets_exporter.py
  ml/signals/mlb/registry.py
  ml/signals/mlb/signals.py
  predictions/mlb/prediction_systems/__init__.py
  predictions/mlb/prediction_systems/catboost_v2_regressor_predictor.py
  predictions/mlb/worker.py
  scripts/mlb/training/train_regressor_v2.py
  scripts/mlb/training/walk_forward_simulation.py
  tests/mlb/test_catboost_v2_regressor.py
  tests/mlb/test_exporter_with_regressor.py
Due: validate-sql-fstrings, validate-python-syntax

feat: Session 442 — solo game pick observation (O5)
  ml/signals/aggregator.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

feat: MLB Session 443 — cross-season validated filters + strategy
  ml/signals/mlb/best_bets_exporter.py
  ml/signals/mlb/registry.py
  ml/signals/mlb/signals.py
  tests/mlb/test_exporter_with_regressor.py
Due: validate-sql-fstrings

docs: MLB 2026 season strategy — full project documentation
  docs/08-projects/current/mlb-2026-season-strategy/00-OVERVIEW.md
  docs/08-projects/current/mlb-2026-season-strategy/01-RESEARCH-FINDINGS.md
  docs/08-projects/current/mlb-2026-season-strategy/02-STRATEGY.md
  docs/08-projects/current/mlb-2026-season-strategy/03-DEPLOY-CHECKLIST.md
  docs/08-projects/current/mlb-2026-season-strategy/04-SEASON-GOALS.md
  docs/08-projects/current/mlb-2026-season-strategy/05-DEAD-ENDS.md
Due: none

docs: Session 443 handoff — MLB 2026 season strategy + deploy plan
  docs/09-handoff/2026-03-08-SESSION-443-HANDOFF.md
Due: none

feat: Session 443 — per-model best bets pipelines
  data_processors/publishing/signal_best_bets_exporter.py
  docs/08-projects/current/per-model-pipelines/00-ARCHITECTURE.md
  docs/08-projects/current/per-model-pipelines/01-IMPLEMENTATION-PLAN.md
  ml/analysis/model_performance.py
  ml/signals/aggregator.py
  ml/signals/per_model_pipeline.py
  ml/signals/pipeline_merger.py
  schemas/model_bb_candidates.json
  tests/unit/publishing/test_signal_best_bets_exporter.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings, validate-python-syntax

feat: Session 443 — per-model pipeline season replay script
  bin/replay_per_model_pipeline.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 445 handoff — per-model pipelines + replay
  docs/09-handoff/2026-03-08-SESSION-445-HANDOFF.md
Due: none

feat: MLB Session 444-445 — ultra tier, 36 features, 23-pitcher blacklist
  docs/08-projects/current/mlb-2026-season-strategy/02-STRATEGY.md
  docs/08-projects/current/mlb-2026-season-strategy/03-DEPLOY-CHECKLIST.md
  docs/08-projects/current/mlb-2026-season-strategy/04-SEASON-GOALS.md
  docs/08-projects/current/mlb-2026-season-strategy/05-DEAD-ENDS.md
  docs/09-handoff/2026-03-08-SESSION-444-HANDOFF.md
  ml/signals/mlb/best_bets_exporter.py
  ml/signals/mlb/signals.py
  predictions/mlb/prediction_systems/catboost_v2_regressor_predictor.py
  scripts/mlb/training/season_replay.py
  scripts/mlb/training/train_regressor_v2.py
  scripts/mlb/training/walk_forward_simulation.py
  tests/mlb/test_catboost_v2_regressor.py
  tests/mlb/test_exporter_with_regressor.py
Due: validate-sql-fstrings, validate-python-syntax

feat: MLB umpire + weather processors — wire scrapers to BQ
  data_processors/raw/main_processor_service.py
  data_processors/raw/mlb/__init__.py
  data_processors/raw/mlb/mlb_umpire_assignments_processor.py
  data_processors/raw/mlb/mlb_umpire_stats_processor.py
  data_processors/raw/mlb/mlb_weather_processor.py
  schemas/bigquery/mlb_raw/mlb_umpire_assignments_tables.sql
  schemas/bigquery/mlb_raw/mlb_umpire_stats_tables.sql
  schemas/bigquery/mlb_raw/mlb_weather_tables.sql
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 446 handoff — MLB ultra tier + umpire/weather pipeline
  docs/09-handoff/2026-03-08-SESSION-446-HANDOFF.md
Due: none

fix: Session 448-449 infra fixes — decay-detection SQL, deploy.sh hardening, CF auto-deploy triggers
  CLAUDE.md
  bin/deploy-function.sh
  docs/02-operations/session-learnings.md
  docs/02-operations/troubleshooting-matrix.md
  docs/09-handoff/2026-03-08-SESSION-448-HANDOFF.md
  docs/09-handoff/2026-03-08-SESSION-448c-HANDOFF.md
  docs/09-handoff/2026-03-09-SESSION-449-HANDOFF.md
  orchestration/cloud_functions/decay_detection/main.py
  orchestration/cloud_functions/monthly_retrain/deploy.sh
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: per-model pipeline refinements — replay fixes, exporter source_pipeline tagging, subset config
  bin/replay_per_model_pipeline.py
  data_processors/publishing/signal_best_bets_exporter.py
  docs/08-projects/current/multi-model-best-bets/00-ARCHITECTURE.md
  docs/09-handoff/2026-03-08-SESSION-447-HANDOFF.md
  ml/signals/per_model_pipeline.py
  shared/config/cross_model_subsets.py
Due: validate-sql-fstrings, validate-python-syntax
