Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

docs: Complete Week 4 (Documentation) - PROJECT 100% COMPLETE! 🎉
  docs/01-architecture/data-flow-comprehensive.md
  docs/02-operations/TROUBLESHOOTING-DECISION-TREE.md
  docs/09-handoff/2026-02-02-SESSION-80-FINAL-HANDOFF.md
  docs/09-handoff/2026-02-02-SESSION-80-HANDOFF.md
  docs/09-handoff/2026-02-02-SESSION-81-HANDOFF.md
  docs/09-handoff/2026-02-02-SESSION-81-V9-DEPLOYMENT-HANDOFF.md
  docs/09-handoff/2026-02-02-SESSION-82-HANDOFF.md
  docs/09-handoff/SESSION-83-START-PROMPT.md
  docs/README.md
Due: none

feat: Add dynamic subset performance tracking view
  bin/test-subset-system.sh
  schemas/bigquery/predictions/views/v_dynamic_subset_performance.sql
Due: none

docs: Prevention & Monitoring System - PROJECT COMPLETE! 🎉
  docs/09-handoff/2026-02-02-PREVENTION-MONITORING-PROJECT-COMPLETE.md
Due: none

feat: Add env var drift prevention, staging cleanup, and signal alerting
  bin/deploy-service.sh
  bin/monitoring/check_prediction_signals.sh
  bin/monitoring/setup_signal_alert_scheduler.sh
  bin/monitoring/setup_staging_cleanup_scheduler.sh
  predictions/coordinator/coordinator.py
  predictions/shared/batch_staging_writer.py
  predictions/worker/env.template
Due: validate-sql-fstrings

docs: Create comprehensive handoff for next session
  docs/09-handoff/NEXT-SESSION-START.md
Due: none

fix: Add missing import for get_bigquery_client in check-signal endpoint
  predictions/coordinator/coordinator.py
Due: validate-sql-fstrings

docs: Update Session 81 handoff with complete improvements
  docs/09-handoff/2026-02-02-SESSION-81-HANDOFF.md
Due: none

feat: Add daily subset picks notifications via Slack + Email
  bin/notifications/README.md
  bin/notifications/send_daily_picks.py
  bin/notifications/setup_daily_picks_scheduler.sh
  shared/notifications/__init__.py
  shared/notifications/subset_picks_notifier.py
Due: validate-sql-fstrings

feat: Add SMS support + complete 3-channel notification system
  bin/notifications/SETUP_GUIDE.md
  bin/notifications/send_daily_picks.py
  shared/notifications/subset_picks_notifier.py
  shared/utils/sms_notifier.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 83 complete handoff
  docs/09-handoff/2026-02-02-SESSION-83-COMPLETE-HANDOFF.md
Due: none

docs: Add Session 84 start prompt + update Session 83 handoff
  docs/09-handoff/2026-02-02-SESSION-83-COMPLETE-HANDOFF.md
  docs/09-handoff/SESSION-84-START-PROMPT.md
Due: none

fix: Correct Vegas coverage thresholds and fix grading service
  bin/deploy-monitoring-job.sh
  bin/monitoring/AUTOMATED_MONITORING_SETUP.md
  bin/monitoring/DEPLOYMENT_CHECKLIST.md
  bin/monitoring/QUICK_REFERENCE.md
  bin/monitoring/check_vegas_line_coverage.sh
  bin/monitoring/setup_daily_grading_check_scheduler.sh
  bin/monitoring/setup_weekly_drift_check_scheduler.sh
  data_processors/grading/nba/requirements.txt
  deployment/dockerfiles/nba/Dockerfile.grading-completeness-check
  deployment/dockerfiles/nba/Dockerfile.weekly-model-drift-check
Due: none

test: Update integration test thresholds to match reality
  tests/integration/monitoring/test_vegas_line_coverage.py
  tests/integration/predictions/test_prediction_quality_regression.py
Due: validate-sql-fstrings

feat: Add model attribution tracking to predictions
  bin/verify-model-attribution.sh
  docs/08-projects/current/model-attribution-tracking/DESIGN.md
  docs/08-projects/current/model-attribution-tracking/IMPLEMENTATION.md
  docs/08-projects/current/model-attribution-tracking/README.md
  predictions/worker/prediction_systems/catboost_v9.py
  predictions/worker/worker.py
  schemas/bigquery/predictions/migrations/2026-02-02-model-attribution.sql
Due: validate-sql-fstrings

docs: Add Session 84 handoff document
  docs/09-handoff/2026-02-02-SESSION-84-HANDOFF.md
Due: none

feat: Improve grading completeness monitoring accuracy (Session 80)
  bin/monitoring/check_grading_completeness.sh
Due: none

docs: Update monitoring README with automated check instructions
  bin/monitoring/README.md
Due: none

docs: Add Session 82 handoff
  docs/09-handoff/2026-02-02-SESSION-82-HANDOFF.md
Due: none

docs: Add Session 85 start prompt
  docs/09-handoff/SESSION-85-START-PROMPT.md
Due: none

docs: Session 80 handoff - Monitoring improvements and grading fixes
  docs/09-handoff/2026-02-02-SESSION-80-HANDOFF.md
Due: none

docs: Add Session 81 start prompt
  docs/09-handoff/SESSION-81-START-PROMPT.md
Due: none

docs: Session 81 prediction quality analysis and edge-based filtering
  CLAUDE.md
  docs/08-projects/current/prediction-quality-analysis/README.md
  docs/08-projects/current/prediction-quality-analysis/SESSION-81-DEEP-DIVE.md
Due: none

fix: Prevent NULL REPEATED fields in execution logger BigQuery writes
  predictions/worker/execution_logger.py
Due: validate-sql-fstrings

docs: Add Session 85 handoff
  docs/09-handoff/2026-02-02-SESSION-85-HANDOFF.md
Due: none

feat: Implement edge >= 3 filter in prediction consolidation (Session 81)
  predictions/shared/batch_staging_writer.py
Due: validate-sql-fstrings

docs: Update hit-rate-analysis skill with Session 81 findings
  .claude/skills/hit-rate-analysis/SKILL.md
Due: none

feat: Add edge filter verification to daily validation (Session 81)
  .claude/skills/validate-daily/SKILL.md
Due: none

feat: Add execution logger check and signal analysis to skills
  .claude/skills/hit-rate-analysis/SKILL.md
  .claude/skills/validate-daily/SKILL.md
Due: none

feat: Add deployment verification tools (Session 87)
  bin/deploy-service.sh
  bin/is-feature-deployed.sh
  bin/whats-deployed.sh
  docs/08-projects/current/phase6-subset-model-enhancements/OPUS_REVIEW_FINDINGS.md
Due: none

feat: Add model attribution to daily subset picks notifications
  shared/notifications/subset_picks_notifier.py
Due: validate-sql-fstrings

docs: Update Session 85 handoff with Part 2 progress
  docs/09-handoff/2026-02-02-SESSION-85-HANDOFF.md
Due: none

docs: Add Session 87 handoff
  docs/09-handoff/2026-02-03-SESSION-87-HANDOFF.md
Due: none

feat: Add deployment drift and deactivation checks to daily validation
  .claude/skills/validate-daily/SKILL.md
Due: none

docs: Add Session 88 start prompt
  docs/09-handoff/SESSION-88-START-PROMPT.md
Due: none

docs: Create validation improvements project handoff (Session 81)
  docs/08-projects/current/validation-improvements/HANDOFF-SESSION-81.md
  docs/08-projects/current/validation-improvements/README.md
Due: none

docs: Complete Session 85 handoff and update CLAUDE.md
  CLAUDE.md
  docs/09-handoff/2026-02-02-SESSION-85-HANDOFF.md
Due: none

docs: Add Session 82 start prompt
  SESSION-82-START-PROMPT.md
Due: none

fix: Create metadata dict in CatBoostV9 for model attribution
  predictions/worker/prediction_systems/catboost_v9.py
Due: validate-sql-fstrings

feat: Add mode-aware validation & comprehensive Session 85 docs
  CLAUDE.md
  docs/09-handoff/2026-02-02-SESSION-85-HANDOFF.md
  shared/validation/phase3_completion_checker.py
Due: validate-sql-fstrings

fix: Access nested metadata for catboost model attribution
  predictions/worker/worker.py
Due: validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
