Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$

docs: Update signal system docs for Session 374 implementation
  CLAUDE.md
Due: none

feat: Fix spread bug, add OVER filters, line_rising_over signal, disable prop_line_drop_over
  CLAUDE.md
  data_processors/analytics/upcoming_player_game_context/betting_data.py
  ml/signals/aggregator.py
  ml/signals/line_rising_over.py
  ml/signals/pick_angle_builder.py
  ml/signals/registry.py
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Add Session 374b handoff — spread fix, OVER filters, strategy analysis
  docs/09-handoff/2026-03-01-SESSION-374B-HANDOFF.md
Due: none

feat: Feature 41/42 backfill + distribution health validation
  .claude/skills/spot-check-features/SKILL.md
  .claude/skills/validate-daily/SKILL.md
  .claude/skills/validate-feature-drift/SKILL.md
  backfill_jobs/feature_store/fix_spread_features.py
  bin/validation/feature_distribution_health.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 376 — fleet triage, retrain, 5 experiment dead ends
  CLAUDE.md
  docs/08-projects/current/session-376-experiments/00-EXPERIMENT-PLAN.md
  docs/09-handoff/2026-03-01-SESSION-376-HANDOFF.md
Due: none

docs: Future experiment ideas — prioritized roadmap beyond CatBoost V12
  docs/08-projects/current/session-376-experiments/01-FUTURE-EXPERIMENT-IDEAS.md
Due: none

feat: XGBoost framework + IND opponent block + book std UNDER filter
  ml/experiments/quick_retrain.py
  ml/signals/aggregator.py
  ml/signals/supplemental_data.py
  predictions/worker/prediction_systems/catboost_monthly.py
Due: validate-sql-fstrings, validate-python-syntax

fix: Grade manual_override picks + patch signal-best-bets JSON after grading
  orchestration/cloud_functions/post_grading_export/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: XGBoost DMatrix feature names + OVER edge 5 floor + model classification
  ml/signals/aggregator.py
  ml/signals/model_direction_affinity.py
  predictions/worker/prediction_systems/catboost_monthly.py
  shared/config/cross_model_subsets.py
Due: validate-sql-fstrings, validate-python-syntax

fix: Update all exporters from catboost_v9 to catboost_v12 + model sanity guard
  data_processors/publishing/base_exporter.py
  data_processors/publishing/best_bets_exporter.py
  data_processors/publishing/daily_signals_exporter.py
  data_processors/publishing/live_grading_exporter.py
  data_processors/publishing/player_game_report_exporter.py
  data_processors/publishing/player_profile_exporter.py
  data_processors/publishing/player_season_exporter.py
  data_processors/publishing/predictions_exporter.py
  data_processors/publishing/results_exporter.py
  data_processors/publishing/signal_annotator.py
  data_processors/publishing/signal_best_bets_exporter.py
  data_processors/publishing/streaks_exporter.py
  data_processors/publishing/system_performance_exporter.py
  data_processors/publishing/tonight_all_players_exporter.py
  data_processors/publishing/tonight_player_exporter.py
  data_processors/publishing/trends_tonight_exporter.py
  ml/signals/aggregator.py
  ml/signals/supplemental_data.py
  predictions/worker/requirements.txt
  predictions/worker/worker.py
  shared/validation/prediction_sanity.py
Due: validate-sql-fstrings, validate-python-syntax

docs: XGBoost crisis documentation + version compatibility checks
  CLAUDE.md
  docs/02-operations/session-learnings.md
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

fix: Post-grading export adds missing BQ picks to JSON (manual_override)
  orchestration/cloud_functions/post_grading_export/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: Remove 2-day warmup filter that blocked all recently-registered models
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings

fix: Ultra classification now written to BQ (was stripped from JSON picks)
  data_processors/publishing/signal_best_bets_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

fix: Timezone-aware game start filter + ultra BQ write
  data_processors/publishing/signal_best_bets_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

feat: Always show ultra_tier in public best bets JSON
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  data_processors/publishing/signal_best_bets_exporter.py
  ml/experiments/quick_retrain.py
  schemas/bigquery/migrations/2026-03-01-add-v18-features.sql
  shared/ml/feature_contract.py
Due: validate-sql-fstrings, validate-python-syntax

fix: Eliminate stale model refs, timezone bugs, and export safety gaps
  data_processors/publishing/signal_annotator.py
  data_processors/publishing/signal_best_bets_exporter.py
  data_processors/publishing/trends_tonight_exporter.py
  ml/signals/pick_angle_builder.py
  ml/signals/registry.py
  ml/signals/supplemental_data.py
  orchestration/cloud_functions/data_quality_alerts/main.py
  orchestration/cloud_functions/grading_alert/main.py
  orchestration/cloud_functions/prediction_health_alert/main.py
  orchestration/cloud_functions/system_performance_alert/main.py
  predictions/coordinator/coordinator.py
  predictions/coordinator/player_loader.py
  scrapers/routes/schedule_fix.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

feat: Add self_creation_over and sharp_line_move_over signal classes
  ml/signals/self_creation_over.py
  ml/signals/sharp_line_move_over.py
Due: validate-sql-fstrings

fix: Simplify fix-stale-schedule partition filter for BQ compatibility
  scrapers/routes/schedule_fix.py
Due: validate-sql-fstrings

fix: Update signal health monitoring + model_performance dedup guard
  ml/analysis/model_performance.py
  ml/signals/combo_registry.py
  ml/signals/signal_health.py
Due: validate-sql-fstrings

fix: Use direct UTC comparison for game_date_est hours_since_start
  scrapers/routes/schedule_fix.py
Due: validate-sql-fstrings

fix: Lower stale game threshold from >4h to >=3h
  scrapers/routes/schedule_fix.py
Due: validate-sql-fstrings

docs: Session 380 handoff — pipeline audit and repair
  docs/09-handoff/2026-03-01-SESSION-380-HANDOFF.md
Due: none

fix: Replace date.today() with ET-aware date in coordinator
  predictions/coordinator/coordinator.py
Due: validate-sql-fstrings, validate-python-syntax

fix: Block legacy models from best bets + fix ultra single-criteria
  config/workflows.yaml
  ml/signals/aggregator.py
  ml/signals/ultra_bets.py
Due: validate-sql-fstrings

fix: Guard against null statistics in team boxscore + add schedule refresh to game-hour workflows
  scrapers/nbacom/nbac_team_boxscore.py
Due: validate-sql-fstrings

docs: Session 381 handoff — live scoring pipeline repair
  docs/09-handoff/2026-03-01-SESSION-381-HANDOFF.md
Due: none

fix: Remove hardcoded catboost_v12 from tonight exporters
  data_processors/publishing/tonight_all_players_exporter.py
  data_processors/publishing/tonight_player_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

fix: Remove all hardcoded catboost_v12 from publishing exporters
  .pre-commit-hooks/validate_model_references.py
  data_processors/publishing/best_bets_exporter.py
  data_processors/publishing/daily_signals_exporter.py
  data_processors/publishing/live_grading_exporter.py
  data_processors/publishing/player_game_report_exporter.py
  data_processors/publishing/player_profile_exporter.py
  data_processors/publishing/player_season_exporter.py
  data_processors/publishing/predictions_exporter.py
  data_processors/publishing/results_exporter.py
  data_processors/publishing/streaks_exporter.py
  data_processors/publishing/trends_tonight_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

feat: Governance gate reform + Starter OVER SC>=5 filter
  ml/experiments/quick_retrain.py
  ml/signals/aggregator.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

docs: Session 382 handoff — remove hardcoded catboost_v12 from exporters
  docs/09-handoff/2026-03-01-SESSION-382-HANDOFF.md
Due: none

feat: Add sharp_line_drop_under signal + enable spread-fix models
  ml/signals/combo_registry.py
  ml/signals/pick_angle_builder.py
  ml/signals/registry.py
  ml/signals/sharp_line_drop_under.py
  ml/signals/signal_health.py
Due: validate-sql-fstrings

fix: COALESCE grading for manual picks in best-bets/all.json
  data_processors/publishing/best_bets_all_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 382C handoff — spread fix retrains + fleet triage
  docs/09-handoff/2026-03-02-SESSION-382C-HANDOFF.md
Due: none

feat: Add per-model performance profiling system (Phase 0+1)
  bin/monitoring/model_profile_monitor.py
  data_processors/publishing/signal_annotator.py
  data_processors/publishing/signal_best_bets_exporter.py
  ml/analysis/model_profile.py
  ml/signals/aggregator.py
  ml/signals/model_direction_affinity.py
  ml/signals/model_profile_loader.py
  orchestration/cloud_functions/post_grading_export/main.py
  schemas/bigquery/nba_predictions/model_profile_daily.sql
  shared/config/cross_model_subsets.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

docs: Session 384 handoff — per-model performance profiling system
  docs/09-handoff/2026-03-01-SESSION-384-HANDOFF.md
Due: none

docs: Session 385 — profile filtering investigation + forward-looking roadmap
  docs/08-projects/current/session-385-profile-filtering-investigation/00-FINDINGS.md
  docs/08-projects/current/session-385-profile-filtering-investigation/01-FORWARD-LOOKING-ROADMAP.md
Due: none

docs: Session 385 handoff — profile filtering investigation
  docs/09-handoff/2026-03-02-SESSION-385-HANDOFF.md
Due: none

feat: Add disabled model filtering, pick events audit, and published pick grading
  bin/deactivate_model.py
  data_processors/publishing/best_bets_all_exporter.py
  data_processors/publishing/signal_best_bets_exporter.py
  schemas/bigquery/nba_predictions/best_bets_pick_events.sql
  schemas/bigquery/nba_predictions/best_bets_published_picks.sql
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 386 handoff — poisoned published picks prevention system
  CLAUDE.md
  docs/02-operations/session-learnings.md
  docs/09-handoff/2026-03-02-SESSION-386-HANDOFF.md
Due: none
