Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$

docs: Session 111 findings - optimal scenarios and implementation plan
  docs/08-projects/current/regression-to-mean-fix/README.md
  docs/08-projects/current/regression-to-mean-fix/SESSION-111-OPTIMAL-SCENARIOS.md
  docs/09-handoff/2026-02-03-SESSION-111-HANDOFF.md
Due: none

docs: Add Session 112 start prompt for review and validation
  docs/09-handoff/SESSION-112-START-PROMPT.md
Due: none

fix: Preserve decimal precision in minutes_played (Session 109)
  data_processors/analytics/player_game_summary/player_game_summary_processor.py
Due: validate-sql-fstrings

feat: Implement scenario filtering system (Session 112)
  .claude/skills/hit-rate-analysis/SKILL.md
  docs/08-projects/current/scenario-filtering-system/MONITORING-GUIDE.md
  docs/08-projects/current/scenario-filtering-system/README.md
  docs/09-handoff/2026-02-03-SESSION-109-SPOT-CHECK-FINDINGS.md
  docs/09-handoff/2026-02-03-SESSION-112-HANDOFF.md
  ml/experiments/bias_fix_experiments.py
  predictions/coordinator/signal_calculator.py
  predictions/worker/worker.py
  schemas/bigquery/predictions/04b_scenario_subset_extensions.sql
Due: validate-sql-fstrings

docs: Add Session 113 start prompt with regeneration question
  docs/09-handoff/SESSION-113-START-PROMPT.md
Due: none

docs: Add Session 113 handoffs for Phase 6 exporter and L5 bug
  docs/09-handoff/2026-02-04-SESSION-113-L5-FEATURE-BUG-HANDOFF.md
  docs/09-handoff/2026-02-04-SESSION-113-PHASE6-EXPORTER-HANDOFF.md
  predictions/coordinator/signal_calculator.py
Due: validate-sql-fstrings

fix: Exclude DNP games from L5/L10 calculations in ML feature store
  data_processors/precompute/ml_feature_store/feature_extractor.py
  docs/09-handoff/2026-02-03-SESSION-113-HANDOFF.md
Due: validate-sql-fstrings

docs: Add complete Session 113 handoff with Phase 6 + Slack details
  docs/09-handoff/2026-02-04-SESSION-113-COMPLETE-HANDOFF.md
Due: none

docs: Complete Session 113 L5 DNP bug documentation and validation
  .claude/skills/spot-check-features/SKILL.md
  docs/08-projects/current/2026-02-04-l5-feature-dnp-bug/ACTION-PLAN.md
  docs/08-projects/current/2026-02-04-l5-feature-dnp-bug/PROJECT-OVERVIEW.md
  docs/08-projects/current/2026-02-04-l5-feature-dnp-bug/VALIDATION-PLAN.md
  docs/08-projects/current/2026-02-04-l5-feature-dnp-bug/VALIDATION-RESULTS.md
Due: none

docs: Create comprehensive validation handoff for Session 113
  docs/08-projects/current/2026-02-04-l5-feature-dnp-bug/SESSION-113-VALIDATION-FINDINGS.md
  docs/09-handoff/2026-02-04-SESSION-113-VALIDATION-HANDOFF.md
Due: none

docs: Session 113 final compilation - NO-GO decision
  docs/08-projects/current/2026-02-04-l5-feature-dnp-bug/CHAT-A-FIX-TEST-RESULTS.md
  docs/08-projects/current/2026-02-04-l5-feature-dnp-bug/CHAT-B-TEAM-PACE-RESULTS.md
  docs/08-projects/current/2026-02-04-l5-feature-dnp-bug/CHAT-C-PHASE4-VALIDATION-RESULTS.md
  docs/08-projects/current/2026-02-04-l5-feature-dnp-bug/CHAT-D-FEATURE-VALIDATION-RESULTS.md
  docs/08-projects/current/2026-02-04-l5-feature-dnp-bug/FINAL-REPROCESSING-REPORT.md
Due: none

docs: Create post-fix handoff for final reprocessing
  data_processors/precompute/ml_feature_store/feature_extractor.py
  docs/09-handoff/2026-02-04-SESSION-113-POST-FIX-HANDOFF.md
Due: validate-sql-fstrings

fix: Improve DNP filtering to handle unmarked DNPs and 0-point games
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
Due: validate-sql-fstrings

docs: Session 113+ comprehensive data quality fix handoff
  .claude/skills/spot-check-features/SKILL.md
  .claude/skills/validate-historical.md
  docs/09-handoff/2026-02-04-SESSION-113-FULL-FIX-HANDOFF.md
Due: none

fix: Fix early season skip and save_precompute return value bugs
  data_processors/precompute/operations/bigquery_save_ops.py
  data_processors/precompute/player_daily_cache/player_daily_cache_processor.py
Due: validate-sql-fstrings

feat: Add dynamic threshold for shot_zone early season processing
  data_processors/precompute/player_shot_zone_analysis/player_shot_zone_analysis_processor.py
Due: validate-sql-fstrings

docs: Update spot-check-features with dynamic shot_zone expectations
  .claude/skills/spot-check-features/SKILL.md
Due: none

docs: Create comprehensive Session 113+ handoff and new session prompt
  docs/09-handoff/2026-02-03-SESSION-114-CACHE-REGENERATION-REPORT.md
  docs/09-handoff/2026-02-04-SESSION-113-FINAL-DNP-FIX.md
  docs/09-handoff/2026-02-04-SESSION-113-PLUS-COMPLETE-HANDOFF.md
  docs/09-handoff/NEW-SESSION-PROMPT.md
Due: none

feat: Add 11 new validation checks from Session 113+ learnings
  .claude/skills/spot-check-features/SKILL.md
  .claude/skills/validate-daily/SKILL.md
Due: none

fix: Add dynamic thresholds to team_defense and player_daily_cache for early season
  data_processors/precompute/player_daily_cache/player_daily_cache_processor.py
  data_processors/precompute/team_defense_zone_analysis/team_defense_zone_analysis_processor.py
Due: validate-sql-fstrings

docs: Create Session 114 complete handoff document
  docs/09-handoff/2026-02-04-SESSION-114-COMPLETE-HANDOFF.md
Due: none

fix: CRITICAL - Fix DNP pollution in L5/L10 calculations (2 locations)
  data_processors/analytics/upcoming_player_game_context/player_stats.py
  data_processors/precompute/player_daily_cache/aggregators/stats_aggregator.py
Due: validate-sql-fstrings

docs: Complete DNP bug audit report with comprehensive findings
  docs/09-handoff/2026-02-04-SESSION-114-DNP-BUG-AUDIT-COMPLETE.md
Due: none

docs: Session 114 final comprehensive handoff (low context)
  docs/09-handoff/2026-02-04-SESSION-114-FINAL-HANDOFF.md
Due: none

docs: Create comprehensive next session prompt for validation and deployment
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

docs: Update Session 114 handoff with final scan decision
  docs/09-handoff/2026-02-04-SESSION-114-FINAL-HANDOFF.md
Due: none

fix: Update Phase 3 column names to match player_game_summary schema
  data_processors/analytics/upcoming_player_game_context/loaders/game_data_loaders.py
Due: validate-sql-fstrings

feat: Add 3 new validation checks to spot-check-features (Session 115)
  .claude/skills/spot-check-features/SKILL.md
Due: none

docs: Session 115 comprehensive audit, findings, and regeneration
  docs/08-projects/current/2026-02-04-l5-feature-dnp-bug/FIX-L5-CALCULATION-BUG.md
  docs/08-projects/current/2026-02-04-l5-feature-dnp-bug/SESSION-113-FIX-SUMMARY.md
  docs/08-projects/current/2026-02-04-session-115-phase3-schema-bug/SCHEMA-MISMATCH-BUG.md
  docs/09-handoff/2026-02-04-SESSION-115-COMPREHENSIVE-AUDIT.md
  docs/09-handoff/2026-02-04-SESSION-115-CONTINUATION-HANDOFF.md
  docs/09-handoff/2026-02-04-SESSION-115-FINAL-HANDOFF.md
  docs/09-handoff/2026-02-04-SESSION-115-HANDOFF.md
Due: none

docs: Add next session quick start handoff
  docs/09-handoff/2026-02-04-NEXT-SESSION-START-HERE.md
Due: none

docs: Session 116 orchestration reliability runbook and handoff
  docs/02-operations/runbooks/phase3-completion-tracking-reliability.md
  docs/09-handoff/2026-02-04-SESSION-116-HANDOFF.md
Due: none

feat: Session 116 orchestration reliability prevention mechanisms
  bin/maintenance/reconcile_phase3_completion.py
  bin/monitoring/phase3_health_check.sh
  data_processors/analytics/analytics_base.py
  data_processors/analytics/operations/bigquery_save_ops.py
  orchestration/cloud_functions/phase3_to_phase4/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 116 implementation complete summary
  docs/09-handoff/2026-02-04-SESSION-116-IMPLEMENTATION-COMPLETE.md
Due: none

docs: Session 117 start here - comprehensive handoff for next session
  docs/09-handoff/2026-02-04-SESSION-117-START-HERE.md
Due: none

fix: Add data quality validation to team_offense processor
  data_processors/analytics/team_offense_game_summary/team_offense_game_summary_processor.py
  shared/validation/pre_write_validator.py
Due: validate-sql-fstrings

fix: Trigger full fallback when ANY invalid team data detected
  data_processors/analytics/team_offense_game_summary/team_offense_game_summary_processor.py
Due: validate-sql-fstrings

fix: Session 117 deployment fixes for orchestrator
  .pre-commit-hooks/validate_cloud_function_symlinks.py
  bin/maintenance/reconcile_phase3_completion.py
  orchestration/cloud_functions/phase3_to_phase4/requirements.txt
Due: validate-sql-fstrings

docs: Add Phase 3 health check scripts to CLAUDE.md
  CLAUDE.md
Due: none

docs: Session 117 complete handoff document
  docs/09-handoff/2026-02-04-SESSION-117-COMPLETE.md
Due: none

docs: Add Phase 3 orchestration reliability project to prevention-and-monitoring
  docs/08-projects/current/prevention-and-monitoring/phase3-orchestration-reliability/QUICK-REFERENCE.md
  docs/08-projects/current/prevention-and-monitoring/phase3-orchestration-reliability/README.md
  docs/08-projects/current/prevention-and-monitoring/phase3-orchestration-reliability/SESSION-TRACKER.md
Due: none
