Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$

docs: Session 469 handoff, session learnings, filter count fixes
  CLAUDE.md
  docs/02-operations/session-learnings.md
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  docs/09-handoff/2026-03-11-SESSION-469-HANDOFF.md
Due: none

docs: expanded Session 469 handoff with detailed next-session priorities
  docs/09-handoff/2026-03-11-SESSION-469-HANDOFF.md
Due: none

fix: prevent published picks from vanishing after model disable
  data_processors/publishing/best_bets_all_exporter.py
  docs/02-operations/troubleshooting-matrix.md
Due: validate-sql-fstrings, validate-python-syntax

feat: MLB blacklist 28→23 pitchers + fix shadow grading scheduler
  docs/08-projects/current/mlb-2026-season-strategy/06-SEASON-PLAN-2026.md
  docs/09-handoff/2026-03-11-MLB-OPENING-DAY-HANDOFF.md
  ml/signals/mlb/signals.py
  tests/mlb/test_shadow_picks.py
Due: validate-sql-fstrings

feat: demote high_skew_over_block to observation (Session 470)
  ml/signals/aggregator.py
  ml/signals/pipeline_merger.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

feat: MLB launch runbook + automated reminder schedulers
  bin/schedulers/setup_mlb_reminders.sh
  docs/08-projects/current/mlb-2026-season-strategy/03-DEPLOY-CHECKLIST.md
  docs/08-projects/current/mlb-2026-season-strategy/07-LAUNCH-RUNBOOK.md
Due: none

docs: Session 470 handoff — Mar 7-8 autopsy, high_skew demotion, model refresh
  docs/09-handoff/2026-03-12-SESSION-470-HANDOFF.md
Due: none

feat: Slack+Pushover reminder CF for MLB season milestones
  bin/schedulers/setup_mlb_reminders.sh
  orchestration/cloud_functions/slack_reminder/main.py
  orchestration/cloud_functions/slack_reminder/requirements.txt
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: improve slack-reminder body parsing (force=True + raw fallback)
  orchestration/cloud_functions/slack_reminder/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 471 handoff — MLB reminders live, morning priorities
  docs/09-handoff/2026-03-12-SESSION-471-HANDOFF.md
Due: none

feat: add LightGBM/XGBoost support to weekly-retrain CF
  orchestration/cloud_functions/weekly_retrain/main.py
  orchestration/cloud_functions/weekly_retrain/requirements.txt
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: add missing hot_shooting_over_block to filter_counts dict
  ml/signals/aggregator.py
Due: validate-sql-fstrings

docs: Session 471 handoff — multi-framework retrain, filter crash fix
  docs/09-handoff/2026-03-12-SESSION-471-HANDOFF.md
Due: none

fix: block real_sc=0 UNDER picks where predicted < 55% of line (line-movement artifact)
  ml/signals/aggregator.py
  shared/utils/schedule/gcs_reader.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

fix: grade BB-sourced predictions even when model is BLOCKED (is_active=FALSE)
  data_processors/grading/prediction_accuracy/prediction_accuracy_processor.py
Due: validate-sql-fstrings, validate-python-syntax

fix: CF eval window out-of-sample, demote downtrend_under
  .pre-commit-config.yaml
  .pre-commit-hooks/validate_bettingpros_queries.py
  bin/validation/validate_cloud_function_imports.py
  ml/experiments/evaluate_model.py
  ml/signals/aggregator.py
  orchestration/cloud_functions/line_quality_self_heal/main.py
  orchestration/cloud_functions/monthly_retrain/main.py
  orchestration/cloud_functions/weekly_retrain/main.py
  shared/validation/context/player_universe.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

fix: retrain.sh passes --framework flag based on model_type from registry
  bin/retrain.sh
Due: none

docs: Session 473 handoff — fleet restored, edge collapse root cause found
  docs/09-handoff/2026-03-19-SESSION-473-HANDOFF.md
Due: none

docs: Session 473B handoff — MLB retrain complete, fix runbook training-end date
  docs/08-projects/current/mlb-2026-season-strategy/07-LAUNCH-RUNBOOK.md
  docs/09-handoff/2026-03-19-SESSION-473B-HANDOFF.md
Due: none

fix: post_grading_export runs analytics even when graded_count=0
  orchestration/cloud_functions/post_grading_export/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: Session 474 visibility + reliability fixes
  bin/monitoring/pipeline_canary_queries.py
  bin/refresh-model-cache.sh
  orchestration/cloud_functions/daily_health_check/main.py
  predictions/worker/worker.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

docs: update CLAUDE.md with Session 474 fixes and operational patterns
  CLAUDE.md
Due: none

feat: coordinator BQ registry TTL + tanking_risk observation filter
  ml/signals/aggregator.py
  predictions/coordinator/coordinator.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 474 handoff + add missing Session 472 handoff to tracking
  docs/09-handoff/2026-03-18-SESSION-472-HANDOFF.md
  docs/09-handoff/2026-03-20-SESSION-474-HANDOFF.md
Due: none

fix: worker registry query now loads blocked+enabled models
  predictions/worker/prediction_systems/catboost_monthly.py
Due: validate-sql-fstrings, validate-python-syntax

feat: raise OVER floor to 6.0, reduce home_under weight to 1.0
  ml/signals/aggregator.py
Due: validate-sql-fstrings

docs: Session 475 handoff + fleet reset from 9-agent diagnosis
  docs/09-handoff/2026-03-20-SESSION-475-HANDOFF.md
Due: none

fix: Session 476 — fleet reset + filter fixes to restore picks
  ml/signals/aggregator.py
  predictions/worker/worker.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 476 late-season action plan + 9-agent diagnosis findings
  docs/08-projects/current/late-season-476/00-PLAN.md
Due: none

docs: update Session 476 plan with LGBM retrain results + final fleet
  docs/08-projects/current/late-season-476/00-PLAN.md
Due: none

docs: Session 476 handoff — 9-agent diagnosis + fleet rebuild
  docs/09-handoff/2026-03-21-SESSION-476-HANDOFF.md
Due: none

feat: Session 477 error tracking + pipeline bulletproofing
  bin/monitoring/pipeline_canary_queries.py
  bin/unblock-model.sh
  docs/02-operations/pipeline-error-catalog.md
Due: validate-sql-fstrings, validate-python-syntax

feat: Session 477 error tracking + pipeline bulletproofing
  bin/monitoring/pipeline_canary_queries.py
  docs/02-operations/session-learnings.md
  docs/09-handoff/2026-03-21-SESSION-477-HANDOFF.md
Due: validate-sql-fstrings, validate-python-syntax

fix: grading pipeline broken since Mar 16 + false-positive critical errors
  data_processors/grading/prediction_accuracy/prediction_accuracy_processor.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
Due: validate-sql-fstrings, validate-python-syntax

feat: Session 478 monitoring + resilience improvements (8 changes)
  .pre-commit-config.yaml
  .pre-commit-hooks/validate_bq_sql_patterns.py
  bin/monitoring/pipeline_canary_queries.py
  bin/recover-grading.sh
  data_processors/grading/prediction_accuracy/prediction_accuracy_processor.py
  ml/analysis/league_macro.py
  ml/signals/signal_health.py
  orchestration/cloud_functions/post_grading_export/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

docs: Session 478 handoff — grading outage fix + 8 monitoring improvements
  docs/09-handoff/2026-03-21-SESSION-478-HANDOFF.md
Due: none

fix: canary script column name bugs + stale catboost_v9 references
  bin/monitoring/pipeline_canary_queries.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 479 handoff — MLB opening day prep + canary fixes
  docs/09-handoff/2026-03-22-SESSION-479-HANDOFF.md
Due: none

docs: Session 480 handoff — morning check, system healthy
  docs/09-handoff/2026-03-22-SESSION-480-HANDOFF.md
Due: none

fix: MLB TODAY/YESTERDAY literal resolution in prediction worker and grading services
  data_processors/grading/mlb/Dockerfile
  data_processors/grading/mlb/mlb_prediction_grading_processor.py
  data_processors/grading/mlb/mlb_shadow_grading_processor.py
  data_processors/grading/mlb/requirements.txt
  predictions/mlb/worker.py
Due: validate-sql-fstrings, validate-python-syntax
