Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$

test(mlb): fix 4 stale tests in test_exporter_with_regressor.py
  tests/mlb/test_exporter_with_regressor.py
Due: validate-sql-fstrings

fix(mlb-grading): align void threshold to DK rule (4.0 IP → 0.33 IP)
  data_processors/grading/mlb/mlb_prediction_grading_processor.py
Due: validate-sql-fstrings, validate-python-syntax

feat(mlb): port filter counterfactual evaluator (Phase 1 — data collection)
  ml/signals/mlb/best_bets_exporter.py
  orchestration/cloud_functions/mlb_filter_counterfactual_evaluator/__init__.py
  orchestration/cloud_functions/mlb_filter_counterfactual_evaluator/main.py
  orchestration/cloud_functions/mlb_filter_counterfactual_evaluator/requirements.txt
  schemas/bigquery/mlb_predictions/filter_counterfactual_daily.sql
  schemas/bigquery/mlb_predictions/filter_overrides.sql
Due: validate-cloud-function-imports, validate-sql-fstrings

test(mlb): rewrite test_worker_integration for current batch-flow API
  tests/mlb/test_worker_integration.py
Due: validate-sql-fstrings

chore(scrapers): remove dead `download()` overrides in 2 MLB scrapers
  scrapers/mlb/external/mlb_ballpark_factors.py
  scrapers/mlb/statcast/mlb_statcast_pitcher.py
Due: validate-sql-fstrings

chore(pre-commit): add 3 hooks covering recent bug classes + fix --set-secrets
  .pre-commit-config.yaml
  .pre-commit-hooks/validate_scraper_download_override.py
  .pre-commit-hooks/validate_set_secrets.py
  .pre-commit-hooks/validate_threshold_drift.py
  bin/alerts/deploy_daily_summary.sh
  bin/alerts/deploy_nba_grading_alerts.sh
  bin/analytics/deploy/deploy_analytics_processors.sh
  bin/deploy/deploy_news_fetcher.sh
  bin/deploy/deploy_stale_cleanup.sh
  bin/deploy/deploy_validation_runner.sh
  bin/monitoring/deploy/deploy_health_summary.sh
  bin/orchestrators/deploy_phase4_timeout_check.sh
  bin/raw/deploy/deploy_processors_simple.sh
  bin/scrapers/deploy/deploy_scrapers_simple.sh
  bin/scrapers/deploy/mlb/deploy_mlb_scrapers.sh
Due: validate-sql-fstrings, validate-deploy-safety

feat(skill): /mlb-best-bets-config — MLB threshold/fleet/halt dashboard
  .claude/skills/mlb-best-bets-config/SKILL.md
Due: none

chore(mlb-precompute): decommission orphaned pitcher_ml_features pipeline
  data_processors/precompute/mlb/main_mlb_precompute_service.py
  orchestration/cloud_functions/mlb_self_heal/main.py
  schemas/bigquery/mlb_precompute/archived/ml_feature_store_tables.sql
  services/admin_dashboard/services/bigquery_service.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

analysis(mlb): isotonic calibration — do not deploy, root cause is signal
  scripts/mlb/isotonic_calibration_analysis.py
  scripts/mlb/isotonic_calibration_findings.md
Due: validate-sql-fstrings

docs: handoff 2026-05-18-2 — grading fix + CF Phase 1 + decommission
  docs/09-handoff/2026-05-18-2-grading-fix-cf-phase1-and-decommission.md
Due: none

chore: hot fixes from post-decommission review
  .pre-commit-hooks/validate_set_secrets.py
  data_processors/precompute/mlb/main_mlb_precompute_service.py
  monitoring/mlb/mlb_freshness_checker.py
  monitoring/mlb/mlb_stall_detector.py
  orchestration/cloud_functions/mlb_phase4_to_phase5/main.py
  services/admin_dashboard/services/firestore_service.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

docs: handoff 2026-05-18-3 — post-review hot fixes + strategic plan
  docs/09-handoff/2026-05-18-3-post-review-hot-fixes-and-strategic-plan.md
Due: none

feat(mlb-cf-eval): lower eligibility bar for MLB volume
  docs/09-handoff/2026-05-19-cf-eligibility-and-halt-check.md
  docs/09-handoff/2026-05-19-props-web-stale-tab-prompt.md
  orchestration/cloud_functions/mlb_filter_counterfactual_evaluator/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs(audit): NBA grading audit — no inflation, verdict verified
  docs/08-projects/current/nba-grading-audit/AUDIT-2026-05-18.md
Due: none

docs: handoff 2026-05-19-2 — Path A closeout
  docs/09-handoff/2026-05-19-2-path-a-closeout.md
Due: none

feat(mlb-sidemodel): slice 1 — write-through p_sidemodel to BQ
  predictions/mlb/sidemodel/__init__.py
  predictions/mlb/sidemodel/binary_v1.py
  predictions/mlb/worker.py
Due: validate-sql-fstrings, validate-python-syntax

docs(mlb-sidemodel): Path B scoping spec + 2026-05-19-3 handoff
  docs/08-projects/current/mlb-sidemodel/SCOPING.md
  docs/09-handoff/2026-05-19-3-path-b-scoping.md
Due: none

feat(mlb-sidemodel): slice 2 training pipeline — side-model dead end
  docs/08-projects/current/mlb-sidemodel/SCOPING.md
  scripts/mlb/training/build_sidemodel_training_set.py
  scripts/mlb/training/train_sidemodel_v1.py
Due: validate-sql-fstrings

docs(offseason-plan): engine improvement roadmap from 20-agent review
  docs/08-projects/current/2026-offseason-plan/05-ENGINE-IMPROVEMENT-ROADMAP.md
Due: none

feat(mlb-pitcher): season pitch arsenal + tonights_factors Key Angles
  data_processors/publishing/mlb/mlb_pitcher_exporter.py
  schemas/bigquery/mlb_analytics/pitcher_pitch_arsenal_tables.sql
Due: validate-sql-fstrings, validate-python-syntax

fix(mlb-pitcher): strikeout_zones lookup-format mismatch
  data_processors/publishing/mlb/mlb_pitcher_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

fix: prediction-engine leakage, governance & dead-code fixes (roadmap P0/P2)
  bin/monitoring/pipeline_canary_queries.py
  data_processors/precompute/ml_feature_store/feature_calculator.py
  ml/experiments/quick_retrain.py
  ml/signals/aggregator.py
  ml/signals/mlb/registry.py
  ml/signals/mlb/signals.py
  ml/signals/signal_health.py
  orchestration/cloud_functions/filter_counterfactual_evaluator/main.py
  orchestration/cloud_functions/mlb_filter_counterfactual_evaluator/main.py
  orchestration/cloud_functions/phase4_to_phase5/main.py
  orchestration/cloud_functions/weekly_retrain/main.py
  predictions/mlb/pitcher_loader.py
  shared/registry/filters.yaml
  tests/ml/unit/test_v12_augmentation_leakage.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

docs: handoff 2026-05-20 — engine roadmap execution + MLB early-hook plan
  docs/09-handoff/2026-05-20-ENGINE-ROADMAP-HANDOFF.md
Due: none

fix(mlb-lineups): skip dedup so afternoon/overnight re-scrapes process
  data_processors/raw/mlb/mlb_lineups_processor.py
Due: validate-sql-fstrings, validate-python-syntax

docs(mlb-lineup-early-hook): Phase 0 spec + restore lineup scrape coverage
  bin/schedulers/setup_mlb_schedulers.sh
  docs/08-projects/current/mlb-lineup-early-hook/00-PROJECT-SPEC.md
Due: none

docs(mlb-strikeout): project spec + discovery harness spec
  docs/08-projects/current/mlb-lineup-early-hook/00-PROJECT-SPEC.md
  docs/08-projects/current/mlb-lineup-early-hook/01-DISCOVERY-HARNESS-SPEC.md
Due: none

feat(mlb): register mlb_lineups in expected_outputs_planner
  orchestration/cloud_functions/expected_outputs_planner/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs(mlb-strikeout): execution plan + session handoff
  docs/08-projects/current/mlb-lineup-early-hook/02-EXECUTION-PLAN.md
  docs/09-handoff/2026-05-20-MLB-STRIKEOUT-PLANNING-HANDOFF.md
Due: none

fix(mlb): prior-season FanGraphs join to remove look-ahead leak
  data_processors/analytics/mlb/pitcher_game_summary_processor.py
  ml/training/mlb/experiment_runner.py
  ml/training/mlb/quick_retrain_mlb.py
  predictions/mlb/pitcher_loader.py
  predictions/mlb/shadow_mode_runner.py
  scripts/mlb/training/feature_analysis.py
  scripts/mlb/training/season_replay.py
  scripts/mlb/training/train_regressor_v2.py
  scripts/mlb/training/walk_forward_simulation.py
Due: validate-sql-fstrings, validate-python-syntax

feat(mlb): Stage 1.1 — Poisson p_over + model-market blend
  predictions/mlb/prediction_systems/catboost_v2_regressor_predictor.py
  scripts/mlb/training/train_regressor_v2.py
  tests/mlb/test_catboost_v2_regressor.py
Due: validate-sql-fstrings, validate-python-syntax

fix(mlb): leak-free blend fitting + Stage 1.4-ready replay harness
  scripts/mlb/training/season_replay.py
  scripts/mlb/training/train_regressor_v2.py
Due: validate-sql-fstrings

fix(mlb): season_replay / production retrain parity
  scripts/mlb/training/season_replay.py
Due: validate-sql-fstrings

feat(mlb): Stage 1.4 calibration report — sigmoid vs Poisson p_over
  scripts/mlb/training/calibration_report.py
Due: validate-sql-fstrings

feat(mlb): pre-run harness fixes — raw_pred_k, --blend-weight, raw-edge calibration
  scripts/mlb/training/calibration_report.py
  scripts/mlb/training/season_replay.py
Due: validate-sql-fstrings

docs(mlb-strikeout): revise execution plan with Stage 1.4 RUN-1 findings
  docs/08-projects/current/mlb-lineup-early-hook/02-EXECUTION-PLAN.md
Due: none

docs(mlb-strikeout): mark Stage 1.4 findings confirmed by 20-run sweep
  docs/08-projects/current/mlb-lineup-early-hook/02-EXECUTION-PLAN.md
Due: none

feat(mlb): add --rescue-min-edge to season_replay (Stage 1.3 gate testing)
  scripts/mlb/training/season_replay.py
Due: validate-sql-fstrings

chore(mlb): commit the pitcher_game_summary leak-fix backfill SQL
  scripts/mlb/backfill_pitcher_game_summary_leakfix.sql
Due: none

docs(mlb): rewrite execution plan around the post-validation pivot
  docs/08-projects/current/mlb-lineup-early-hook/02-EXECUTION-PLAN.md
Due: none

feat(mlb): CLV report tool + corrected Phase B plan
  docs/08-projects/current/mlb-lineup-early-hook/02-EXECUTION-PLAN.md
  scripts/mlb/clv_report.py
Due: validate-sql-fstrings
