Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$

research(mlb): batter-props conditional-subset backtest — NO-GO (0/212 subsets beat vig)
  docs/09-handoff/2026-06-17-improvement-backlog.md
  scripts/mlb/batter_subset_scan.py
Due: validate-sql-fstrings

research(ml): fleet-diversity diagnosis — GBDTs/feature-sets don't de-correlate (premise corrected)
  docs/09-handoff/2026-06-17-improvement-backlog.md
Due: none

docs: handoff for MQ/distributional diversity-model experiment (fresh session)
  docs/09-handoff/2026-06-18-mq-diversity-build-handoff.md
Due: none

feat(eval): off-season eval foundation — walk-forward cache, discovery revival, BB-injection
  .gitignore
  docs/09-handoff/2026-06-18-cadence-PREREG.md
  docs/09-handoff/2026-06-18-cadence-RESULT.md
  docs/09-handoff/2026-06-18-eval-foundation-progress.md
  docs/09-handoff/2026-06-18-morning-briefing.md
  docs/09-handoff/2026-06-19-INC4-bb-injection-handoff.md
  ml/signals/supplemental_data.py
  scripts/nba/training/discovery/bb_injection_run.py
  scripts/nba/training/discovery/build_bb_simulator_cache.py
  scripts/nba/training/discovery/build_sim_predictions_table.py
  scripts/nba/training/discovery/build_walkforward_predictions.py
  scripts/nba/training/discovery/edge_belief_audit.py
  scripts/nba/training/discovery/real_odds_reckoning.py
Due: validate-sql-fstrings

fix: guard None source_model_family + DvP minutes_played column
  ml/signals/aggregator.py
  ml/signals/per_model_pipeline.py
  ml/signals/supplemental_data.py
  ml/signals/ultra_bets.py
Due: validate-sql-fstrings

feat(eval): INC-4 BB-pipeline injection — non-zero picks + BB-vs-raw measurement
  docs/09-handoff/2026-06-20-INC4-bb-injection-RESULT.md
  scripts/nba/training/discovery/bb_injection_diagnose.py
  scripts/nba/training/discovery/bb_injection_run.py
  scripts/nba/training/discovery/bb_vs_raw_compare.py
  scripts/nba/training/discovery/build_sim_predictions_table.py
Due: validate-sql-fstrings

docs: strengthen HSE caveat (quality_floor confound) + exact gated-rerun recipe
  docs/09-handoff/2026-06-20-INC4-bb-injection-RESULT.md
Due: none

docs: off-season strategy (improve-vs-expand) + reviewed action plan
  docs/09-handoff/2026-06-20-expand-vs-improve-strategy.md
  docs/09-handoff/2026-06-21-offseason-action-plan.md
Due: none

feat(monitoring): min-instances drift detection in deployment_drift_alerter
  bin/monitoring/deployment_drift_alerter.py
  bin/monitoring/deployment_drift_alerter_cloudrun.py
Due: validate-sql-fstrings, validate-python-syntax

feat(eval): STEP 5 staleness arm — late-season collapse is NOT model staleness
  docs/09-handoff/2026-06-21-STEP5-staleness-RESULT.md
  scripts/nba/training/discovery/build_walkforward_predictions.py
Due: validate-sql-fstrings

feat(eval): STEP 4 gated re-run — wire signal_health+regime into sim aggregator
  bin/simulate_best_bets.py
  docs/09-handoff/2026-06-21-STEP4-gated-rerun-RESULT.md
  scripts/nba/training/discovery/build_sim_predictions_table.py
Due: validate-sql-fstrings, validate-python-syntax

feat(signals): STEP 3 HSE OVER-rescue floor (config-flagged, default OFF)
  ml/signals/aggregator.py
Due: validate-sql-fstrings

feat(signals): HSE floor 3-state mode (off/observe/active) for CF shadowing
  ml/signals/aggregator.py
Due: validate-sql-fstrings

docs: gcloud/BQ runbook for STEPS 1/6/7 + HSE floor promotion path
  docs/09-handoff/2026-06-21-gcloud-session-runbook.md
Due: none

fix(signals): dynamic season-start in supplemental queries (was hardcoded 2025-10-22)
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings

docs: multi-season BB extension RESULT — +13.7pp lift is 2025-26-only (dead feeds pre-2025)
  docs/09-handoff/2026-06-22-multiseason-BB-extension-RESULT.md
Due: none

docs: session handoff — off-season foundation complete + merged to main
  docs/09-handoff/2026-06-23-SESSION-HANDOFF.md
Due: none

fix(signals): dynamic season-start in per-model pipeline + signal_health
  ml/signals/per_model_pipeline.py
  ml/signals/signal_health.py
Due: validate-sql-fstrings

chore(gitignore): ignore mlb/nba replay + staleness scratch caches (93MB)
  .gitignore
Due: none

docs: season-resume 2026-27 runbook + off-season review corrections
  docs/02-operations/runbooks/season-resume-2026-27.md
  docs/09-handoff/2026-06-23-SESSION-HANDOFF.md
Due: none

research: cross-book OVER signals are 2025-26-only artifacts (5-season WF)
  docs/02-operations/runbooks/season-resume-2026-27.md
  docs/09-handoff/2026-06-23-crossbook-OVER-multiseason-RESULT.md
Due: none

research: UNDER edge3+ stable 57.3% 5-season; low-line/low-var archetype does not reproduce on BB population
  docs/09-handoff/2026-06-23-crossbook-OVER-multiseason-RESULT.md
Due: none

research: signal trust-map — OVER layer is pervasively 2025-26-overfit
  docs/02-operations/runbooks/season-resume-2026-27.md
  docs/09-handoff/2026-06-23-signal-trustmap-RESULT.md
Due: none

research: 'edge5+ money zone' is OVER-FALSE — high-edge OVER has no cross-season edge
  docs/02-operations/runbooks/season-resume-2026-27.md
  docs/09-handoff/2026-06-23-edge-calibration-RESULT.md
Due: none

research: broad 5-season findings — UNDER-only robust, b2b_under wrongly removed
  docs/02-operations/runbooks/season-resume-2026-27.md
  docs/09-handoff/2026-06-23-broad-research-findings.md
Due: none

feat(signals): reinstate b2b_fatigue_under in SHADOW (5-season validated)
  ml/signals/aggregator.py
  ml/signals/b2b_fatigue_under.py
  ml/signals/registry.py
Due: validate-sql-fstrings

docs: b2b_fatigue_under shadow-reinstated + promotion path; flag b2b_boost_over + high_line_under
  docs/02-operations/runbooks/season-resume-2026-27.md
Due: none

docs: consolidated session-2 handoff — review + 5-season research + b2b reinstatement
  docs/09-handoff/2026-06-23-SESSION-2-research-HANDOFF.md
Due: none

research: high_line_under additive (add ~1.5); OVER scoring-env gate refuted
  docs/09-handoff/2026-06-23-SESSION-3-gate-and-overlap-RESULT.md
  scripts/nba/training/discovery/high_line_under_overlap.py
  scripts/nba/training/discovery/over_scoring_env_gate.py
Due: validate-sql-fstrings

research: RUN_NOW audits — keep under_low_rsc>=2 gate; high_line_under add at 1.0 (pairing)
  docs/09-handoff/2026-06-23-SESSION-3-gate-and-overlap-RESULT.md
  scripts/nba/training/discovery/runnow_under_audits.py
Due: validate-sql-fstrings

research: slow_pace_under PASSES formal gate (new UNDER signal candidate)
  docs/09-handoff/2026-06-23-SESSION-3-gate-and-overlap-RESULT.md
  scripts/nba/training/discovery/runnow_worth_trying.py
Due: validate-sql-fstrings

feat(monitoring): OVER decay-watch harness for 2026-27 season resume
  .pre-commit-hooks/validate_signal_references.py
  bin/monitoring/over_decay_watch.py
  docs/02-operations/runbooks/season-resume-2026-27.md
Due: validate-sql-fstrings, validate-python-syntax

research: frame-breaking exploration — model features are DONE; CLV is the next lever
  docs/09-handoff/2026-06-23-SESSION-4-frame-breaking-RESULT.md
  scripts/nba/training/discovery/error_decomposition.py
  scripts/nba/training/discovery/structural_selection_signals.py
Due: validate-sql-fstrings

docs: session-3 handoff + CLV validation build scope
  docs/08-projects/current/clv-validation/00-SCOPE.md
  docs/09-handoff/2026-06-23-SESSION-3-HANDOFF.md
Due: none

research: coverage audit — map the cross-season-testable boundary
  scripts/nba/training/discovery/coverage_audit.py
Due: validate-sql-fstrings

research: shadow-backlog formal gate — 3 NEW UNDER signals pass
  docs/09-handoff/2026-06-23-SESSION-3-HANDOFF.md
  scripts/nba/training/discovery/shadow_backlog_gate.py
Due: validate-sql-fstrings

research: CLV Phase 0 + Phase 1 first-cut — UNDER beats the close cross-season
  docs/08-projects/current/clv-validation/00-SCOPE.md
  scripts/nba/training/discovery/clv_validation.py
Due: validate-sql-fstrings

research: CLV Phase 2 — CLV is a per-pick gate on a real close; 4 UNDER signals trust-validated
  docs/08-projects/current/clv-validation/00-SCOPE.md
  scripts/nba/training/discovery/clv_validation.py
Due: validate-sql-fstrings
