Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

validate-scraper-config-tables:
  name: Validate scraper config table references (warning only)
  description: Checks that BigQuery tables referenced in scraper_retry_config.yaml exist (informational, non-blocking)
  entry: python .pre-commit-hooks/validate_scraper_config_tables.py
  language: python
  pass_filenames: false
  verbose: true

validate-sql-queries:
  name: Validate SQL validation queries
  description: Checks for Session 123 anti-patterns (cache_date = game_date, missing partition filters, etc.)
  entry: python .pre-commit-hooks/validate_sql_queries.py
  language: python
  verbose: true

validate-view-filters:
  name: Validate BigQuery view quality filters (Session 209)
  description: Ensures views querying prediction tables have quality filter annotations (prevents contaminated metrics)
  entry: python .pre-commit-hooks/validate_view_filters.py
  language: python
  pass_filenames: false
  verbose: true

validate-python-syntax:
  name: Validate Python syntax in deploy directories
  description: Catches syntax errors that would break Cloud Function deploys (Session 213)
  entry: python .pre-commit-hooks/validate_python_syntax.py
  language: python
  pass_filenames: false
  verbose: true

validate-deploy-safety:
  name: Check for dangerous --set-env-vars
  description: Prevents accidental env var wipes from --set-env-vars (Session 81/213)
  entry: python .pre-commit-hooks/validate_deploy_safety.py
  language: python
  pass_filenames: false
  verbose: true

fix: MLB Phase 3 cast NULL venue to STRING in pitcher_history CTE
  data_processors/analytics/mlb/pitcher_game_summary_processor.py
Due: validate-sql-fstrings, validate-python-syntax

fix: MLB Phase 4 schedule column names (probable_pitcher, status_code, day_night)
  data_processors/precompute/mlb/lineup_k_analysis_processor.py
  data_processors/precompute/mlb/pitcher_features_processor.py
Due: validate-sql-fstrings, validate-python-syntax

feat: add APP_MODULE build arg to precompute Dockerfile (MLB support)
  data_processors/precompute/Dockerfile
Due: none

fix: add extract_raw_data stub to MLB Phase 4 processors
  data_processors/precompute/mlb/lineup_k_analysis_processor.py
  data_processors/precompute/mlb/pitcher_features_processor.py
Due: validate-sql-fstrings, validate-python-syntax

fix: serialize date objects before insert_rows_json in MLB Phase 4
  data_processors/precompute/mlb/pitcher_features_processor.py
Due: validate-sql-fstrings, validate-python-syntax

fix: remove legacy bottom_up_k_expected field from MLB Phase 4 insert
  data_processors/precompute/mlb/pitcher_features_processor.py
Due: validate-sql-fstrings, validate-python-syntax

docs: add Session 499 handoff
  docs/09-handoff/2026-03-28-SESSION-499-HANDOFF.md
Due: none

fix: MLB Phase 5 unblock + lineup processor column fixes
  data_processors/precompute/mlb/lineup_k_analysis_processor.py
  predictions/mlb/pitcher_loader.py
  predictions/mlb/prediction_systems/catboost_v1_predictor.py
  predictions/mlb/prediction_systems/catboost_v2_regressor_predictor.py
Due: validate-sql-fstrings, validate-python-syntax

fix: oddsa fallback JOIN normalize player_lookup (remove underscores)
  predictions/mlb/pitcher_loader.py
Due: validate-sql-fstrings, validate-python-syntax

fix: season_k_per_9 fallback to k_per_9_rolling_10 for Opening Day
  predictions/mlb/pitcher_loader.py
Due: validate-sql-fstrings, validate-python-syntax

fix: expand pitcher_loader lookback from 30 to 365 days for offseason
  predictions/mlb/pitcher_loader.py
Due: validate-sql-fstrings, validate-python-syntax

docs: add Session 500 handoff
  docs/09-handoff/2026-03-28-SESSION-500-HANDOFF.md
Due: none

fix: mlb_lineups scraper read team abbreviation from gameData not boxscore
  scrapers/mlb/mlbstatsapi/mlb_lineups.py
Due: validate-sql-fstrings

fix: update stale prediction-coordinator URL in 4 orchestration CFs
  orchestration/cloud_functions/enrichment_trigger/main.py
  orchestration/cloud_functions/line_quality_self_heal/main.py
  orchestration/cloud_functions/phase4_timeout_check/main.py
  orchestration/cloud_functions/phase4_to_phase5/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: add Session 501 handoff
  docs/09-handoff/2026-03-29-SESSION-501-HANDOFF.md
Due: none

fix: MLB Phase 4 crash — replace non-existent bdl_pitchers with bdl_active_pitchers view
  data_processors/precompute/mlb/pitcher_features_processor.py
Due: validate-sql-fstrings, validate-python-syntax

fix: add libgomp1 to 6 Dockerfiles, fix --set-env-vars, parameterize service account
  cloud_scripts/deploy_functions.sh
  cloudbuild-functions.yaml
  data_processors/analytics/Dockerfile
  data_processors/grading/mlb/Dockerfile
  data_processors/grading/nba/Dockerfile
  data_processors/precompute/Dockerfile
  monitoring/processors/execution/deploy.sh
  monitoring/processors/gap_detection/deploy.sh
  monitoring/scrapers/freshness/deploy.sh
  orchestration/cloud_functions/prediction_monitoring/deploy.sh
  orchestration/cloud_functions/scraper_availability_monitor/deploy.sh
  orchestration/cloud_functions/weekly_retrain/deploy.sh
  orchestration/cloud_functions/weekly_retrain/main.py
  predictions/coordinator/Dockerfile
  scrapers/Dockerfile
  scripts/deploy/deploy-analytics.sh
  scripts/deploy/deploy-predictions.sh
  services/admin_dashboard/deploy.sh
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-deploy-safety

feat: monitoring improvements, prediction_grades migration, feature drift update
  bin/monitoring/pipeline_canary_queries.py
  bin/monitoring/reset_demoted_filter.py
  data_processors/ml_feedback/scoring_tier_processor.py
  orchestration/cloud_functions/daily_health_check/main.py
  orchestration/cloud_functions/filter_counterfactual_evaluator/main.py
  schemas/bigquery/nba_predictions/filter_overrides.sql
  services/admin_dashboard/services/bigquery_service.py
  services/nba_grading_alerts/main.py
  shared/validation/feature_drift_detector.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

chore: cleanup batch — grading per-model check, SQL patterns, pick angles, docs
  bin/monitoring/grading_gap_detector.py
  data_processors/analytics/player_game_summary/player_game_summary_processor.py
  docs/06-reference/scrapers/00-SCRAPER-INVENTORY.md
  ml/signals/pick_angle_builder.py
  orchestration/cloud_functions/filter_counterfactual_evaluator/main.py
  schemas/bigquery/patches/2026-01-29_patch_l5_l10_from_cache.sql
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

docs: add Session 502 handoff
  docs/09-handoff/2026-03-29-SESSION-502-HANDOFF.md
Due: none

docs: add Session 503 Monday handoff
  docs/09-handoff/2026-03-30-SESSION-503-HANDOFF.md
Due: none

feat: add BLOCKED model stale retrain alert to decay_detection
  orchestration/cloud_functions/decay_detection/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: correct avg_absolute_error column name in dashboard/alerts, default write_to_bigquery=True in MLB worker
  predictions/mlb/worker.py
  services/admin_dashboard/services/bigquery_service.py
  services/nba_grading_alerts/main.py
Due: validate-sql-fstrings, validate-python-syntax

fix: lower governance gate 60% -> 53% for raw model evaluation
  CLAUDE.md
  ml/experiments/quick_retrain.py
  orchestration/cloud_functions/weekly_retrain/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: add Session 504 handoff
  docs/09-handoff/2026-03-31-SESSION-504-HANDOFF.md
Due: none

docs: add Session 505 handoff
  docs/09-handoff/2026-03-31-SESSION-505-HANDOFF.md
Due: none

fix: correct TIGHT cap recovery window in weekly_retrain CF
  orchestration/cloud_functions/weekly_retrain/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: revert usage_surge_over to shadow (COLD at 33.3% HR, N=15)
  ml/signals/aggregator.py
  ml/signals/signal_health.py
Due: validate-sql-fstrings

feat: wire bp_mlb_player_props into MLB daily pipeline
  bin/schedulers/setup_mlb_schedulers.sh
  scrapers/mlb/oddsapi/mlb_events.py
  scrapers/mlb/registry.py
Due: validate-sql-fstrings

fix: correct 3 blocking bugs in bp_mlb_player_props wiring
  bin/schedulers/setup_mlb_schedulers.sh
  scrapers/bettingpros/bp_mlb_player_props.py
  scrapers/registry.py
Due: validate-sql-fstrings

docs: add Session 506 handoff
  docs/09-handoff/2026-04-01-SESSION-506-HANDOFF.md
Due: none

fix: 4 post-session-506 audit fixes
  CLAUDE.md
  orchestration/cloud_functions/weekly_retrain/main.py
  scrapers/bettingpros/bp_mlb_player_props.py
  scrapers/mlb/registry.py
  scrapers/registry.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: add Session 507 handoff
  docs/09-handoff/2026-04-01-SESSION-507-HANDOFF.md
Due: none

docs: add Session 508 handoff
  docs/09-handoff/2026-04-01-SESSION-508-HANDOFF.md
Due: none

fix: P0/P1 cost reduction — CPU downgrades, BQ filter, canary cleanup
  bin/cleanup-artifact-registry.sh
  bin/monitoring/pipeline_canary_queries.py
  data_processors/publishing/player_profile_exporter.py
  docs/08-projects/current/gcp-cost-optimization/02-COST-AUDIT-2026-04-02.md
  docs/08-projects/current/gcp-cost-optimization/03-COST-REDUCTION-PLAN-2026-04-02.md
  docs/09-handoff/2026-04-01-GCP-BILLING-INVESTIGATION.md
  infra/backend.tf
  infra/cloud_logging.tf
Due: validate-sql-fstrings, validate-python-syntax

docs: add Session 509 handoff
  docs/09-handoff/2026-04-03-SESSION-509-HANDOFF.md
Due: none

fix: session 510 cost reduction — exporter partition filters + tiered canary
  bin/monitoring/pipeline_canary_queries.py
  data_processors/publishing/player_profile_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

fix: cleanup-artifact-registry.sh handle multi-tag and untagged images
  bin/cleanup-artifact-registry.sh
Due: none

fix: cleanup-artifact-registry.sh counter bug (temp file for subshell scope)
  bin/cleanup-artifact-registry.sh
Due: none

fix: cleanup-artifact-registry.sh double-path bug in delete command
  bin/cleanup-artifact-registry.sh
Due: none

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$
