Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$

fix: Add pandas dependency for validation runner digest
  orchestration/cloud_functions/validation_runner/requirements.txt
Due: none

fix: Add all required dependencies for validation runner
  orchestration/cloud_functions/validation_runner/requirements.txt
Due: none

docs: Add Session 124 comprehensive deployment documentation
  docs/08-projects/current/session-124-deployment-catchup/FINAL-VICTORY-STATUS.md
  docs/08-projects/current/session-124-model-naming-refresh/FINDINGS.md
  docs/08-projects/current/session-124-model-naming-refresh/MODEL-TRAINING-PLAN.md
  docs/08-projects/current/session-124-model-naming-refresh/TIER-BIAS-METHODOLOGY.md
Due: none

docs: Add next session handoff for post-Session 123 work
  docs/09-handoff/2026-02-05-NEXT-SESSION-HANDOFF.md
  ml/calibration/__init__.py
  ml/calibration/isotonic_calibrator.py
  shared/config/subset_public_names.py
Due: validate-sql-fstrings

docs: Add Session 124 findings and handoff
  docs/08-projects/current/session-124-model-naming-refresh/FINDINGS.md
  docs/09-handoff/2026-02-04-SESSION-124-HANDOFF.md
Due: none

fix: Remove NbacGamebookProcessor from post-game expected processors
  config/workflows.yaml
  functions/monitoring/realtime_completeness_checker/main.py
Due: validate-sql-fstrings

docs: Add Session 126 handoff document
  docs/09-handoff/2026-02-05-SESSION-126-HANDOFF.md
Due: none

feat: Complete Tier 1 with dependency gate and usage_rate validation (Session 125)
  data_processors/analytics/main_analytics_service.py
  data_processors/analytics/operations/bigquery_save_ops.py
  data_processors/analytics/tests/test_sequential_execution.py
Due: validate-sql-fstrings

docs: Add Session 125 Day 1 complete handoff
  docs/09-handoff/2026-02-05-SESSION-125-DAY1-COMPLETE.md
Due: none

docs: Add Session 127 handoff - orchestration monitoring
  docs/09-handoff/2026-02-05-SESSION-127-HANDOFF.md
Due: none

feat: Add quality filters and propagate quality to grading (Session 125)
  data_processors/grading/prediction_accuracy/prediction_accuracy_processor.py
  predictions/worker/worker.py
Due: validate-sql-fstrings

fix: Close validation bypass in UpcomingTeamGameContextProcessor (Session 125)
  data_processors/analytics/upcoming_team_game_context/upcoming_team_game_context_processor.py
  docs/08-projects/current/phase3-race-condition-prevention/bypass-path-audit.md
Due: validate-sql-fstrings

fix: Correct BDL processor name in completeness checker
  functions/monitoring/realtime_completeness_checker/main.py
Due: validate-sql-fstrings

docs: Update Session 127 handoff with bug fixes and findings
  docs/09-handoff/2026-02-05-SESSION-127-HANDOFF.md
Due: none

fix: Critical timezone bug causing Feb 4 data loss + gap backfiller fixes
  docs/08-projects/current/scraper-gap-backfiller-decision-tree.txt
  docs/08-projects/current/scraper-gap-backfiller-health-check-fix.md
  docs/08-projects/current/session-124-timezone-bug-fix.md
  orchestration/cloud_functions/scraper_gap_backfiller/main.py
  orchestration/master_controller.py
  test_gap_backfiller_logic.py
  test_timezone_fix.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Add Session 125 complete handoff (Day 1 + Bypass Audit)
  docs/09-handoff/2026-02-05-SESSION-125-COMPLETE.md
Due: none

feat: Strengthen role player UNDER filter and add breakout monitoring (Session 125)
  docs/08-projects/current/breakout-detection-design/BREAKOUT-DETECTION-DESIGN.md
  predictions/worker/worker.py
  validation/queries/monitoring/breakout_filter_monitoring.sql
Due: validate-sql-fstrings

feat: Add hot streak UNDER filter and breakout classifier infrastructure (Session 125)
  .claude/skills/model-experiment/SKILL.md
  ml/experiments/train_breakout_classifier.py
  predictions/worker/worker.py
Due: validate-sql-fstrings

fix: Make gamebook non-critical when NBAC boxscore fallback enabled
  data_processors/analytics/player_game_summary/player_game_summary_processor.py
Due: validate-sql-fstrings

docs: Add Session 125B implementation docs and handoff
  docs/08-projects/current/breakout-detection-design/SESSION-125-IMPLEMENTATION.md
  docs/09-handoff/2026-02-05-SESSION-125B-BREAKOUT-DETECTION-HANDOFF.md
Due: none

feat: Add breakout_risk_score calculator with tests and design docs (Session 125B)
  data_processors/precompute/ml_feature_store/breakout_risk_calculator.py
  docs/08-projects/current/breakout-risk-score/BREAKOUT-RISK-SCORE-DESIGN.md
  tests/processors/precompute/ml_feature_store/test_breakout_risk_calculator.py
Due: validate-sql-fstrings

docs: Update handoff with breakout_risk_score and final commits
  docs/09-handoff/2026-02-05-SESSION-125B-BREAKOUT-DETECTION-HANDOFF.md
Due: none

docs: Add Session 126 start prompt
  docs/08-projects/current/session-124-orchestration-fixes/README.md
  docs/08-projects/current/session-124-orchestration-fixes/scraper-gap-backfiller-decision-tree.txt
  docs/08-projects/current/session-124-orchestration-fixes/scraper-gap-backfiller-health-check-fix.md
  docs/08-projects/current/session-124-orchestration-fixes/session-124-timezone-bug-fix.md
  docs/09-handoff/2026-02-05-SESSION-126-START-PROMPT.md
Due: none

docs: Add Session 126 handoff for integration tests or monitoring
  docs/09-handoff/2026-02-05-SESSION-126-NEXT.md
Due: none

fix: Use team tricodes for gamebook game_code generation
  orchestration/parameter_resolver.py
Due: validate-sql-fstrings

docs: Add Session 126 verification results and Session 127 handoff
  docs/09-handoff/2026-02-05-SESSION-127-FINAL-HANDOFF.md
  docs/09-handoff/2026-02-05-SESSION-127-VERIFICATION-RESULTS.md
Due: none

fix: Make completeness checker gamebook-aware for evening analytics
  functions/monitoring/realtime_completeness_checker/main.py
  functions/monitoring/realtime_completeness_checker/requirements.txt
Due: validate-sql-fstrings

test: Update test for gamebook non-critical dependency
  tests/processors/analytics/player_game_summary/test_unit.py
Due: validate-sql-fstrings

docs: Update validate-daily skill for same-night analytics
  .claude/skills/validate-daily/SKILL.md
Due: none

docs: Add source distribution check to validate-historical
  .claude/skills/validate-historical/SKILL.md
Due: none

feat: Add breakout detection v2 with CV ratio, usage trend, and composite signal (Session 126)
  data_processors/precompute/ml_feature_store/breakout_risk_calculator.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  docs/08-projects/current/breakout-detection-v2/BREAKOUT-DETECTION-V2-DESIGN.md
  shared/ml/feature_contract.py
  tests/processors/precompute/ml_feature_store/test_breakout_risk_calculator.py
Due: validate-sql-fstrings

docs: Add Session 126 handoff for breakout detection v2
  docs/09-handoff/2026-02-05-SESSION-126-BREAKOUT-V2-HANDOFF.md
Due: none

docs: Add Session 126 final handoff with deployment drift warning
  docs/09-handoff/2026-02-05-SESSION-126-FINAL-HANDOFF.md
Due: none

docs: Update breakout v2 design doc with implementation status
  docs/08-projects/current/breakout-detection-v2/BREAKOUT-DETECTION-V2-DESIGN.md
Due: none

docs: Add Session 127 start prompt for breakout detection
  docs/09-handoff/2026-02-05-SESSION-127-BREAKOUT-START.md
Due: none

docs: Add Session 126 production verification documentation
  docs/08-projects/current/phase3-race-condition-prevention/session-126-production-verification.md
Due: none

fix: CRITICAL - Revert to correct away_team/home_team attributes
  orchestration/parameter_resolver.py
Due: validate-sql-fstrings

feat: Implement real injured_teammates_ppg for breakout risk (Session 127)
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  docs/08-projects/current/breakout-detection-v2/FEATURE-TRACKING-PLAN.md
Due: validate-sql-fstrings

docs: Update tracking plan - P1 injured_teammates_ppg completed
  docs/08-projects/current/breakout-detection-v2/FEATURE-TRACKING-PLAN.md
Due: none

docs: Add Session 127B handoff - injured_teammates_ppg implementation
  docs/09-handoff/2026-02-05-SESSION-127B-HANDOFF.md
Due: none
