Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

docs: Session 298 handoff — ASB retrain, natural sizing, odds expansion, vegas experiments
  docs/09-handoff/2026-02-19-SESSION-298-HANDOFF.md
Due: none

fix: dedup player_game_summary in last-10 query, guard negative days_rest
  data_processors/publishing/tonight_all_players_exporter.py
Due: validate-sql-fstrings

feat: add duplicate detection canary for player_game_summary
  bin/monitoring/pipeline_canary_queries.py
Due: validate-sql-fstrings

feat: break-day awareness sweep — suppress false alerts on non-game days (Session 299)
  bin/monitoring/pipeline_canary_queries.py
  orchestration/cloud_functions/daily_health_summary/main.py
  orchestration/cloud_functions/prediction_health_alert/main.py
  scrapers/bettingpros/bp_events.py
  scrapers/nbacom/nbac_scoreboard_v2.py
  scrapers/oddsapi/oddsa_events.py
  shared/utils/schedule_guard.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: deploy low-vegas (0.25x) shadow model, add v9_low_vegas family
  predictions/worker/prediction_systems/catboost_monthly.py
  shared/config/cross_model_subsets.py
Due: validate-sql-fstrings

fix: historical props backfill — correct group name, increase timeout, add snapshot-time arg
  scripts/backfill_historical_props.py
Due: validate-sql-fstrings

fix: Phase 4→5 publish bug — use analysis_date key, add direct backfill script
  data_processors/precompute/base/precompute_base.py
  scripts/backfill_historical_props.py
  scripts/backfill_historical_props_direct.py
Due: validate-sql-fstrings

docs: Session 300 handoff — Phase 4→5 fix, scheduler IAM, historical backfill
  docs/09-handoff/2026-02-19-SESSION-300-HANDOFF.md
Due: none

fix: UPCG async boxscores query — rebounds column not found in raw table
  data_processors/analytics/upcoming_player_game_context/async_upcoming_player_game_context_processor.py
Due: validate-sql-fstrings

docs: update Session 300 handoff with Session 301 verification results
  docs/09-handoff/2026-02-19-SESSION-299-HANDOFF.md
  docs/09-handoff/2026-02-19-SESSION-300-HANDOFF.md
Due: none

chore: update production model to ASB rolling-window retrain, fix steering skill signal query
  .claude/skills/daily-steering/SKILL.md
  CLAUDE.md
Due: none

fix: drift check reads gcs_path from manifest model entry instead of hardcoded prefix
  bin/check-deployment-drift.sh
Due: none

fix: OddsAPI batch lock re-entry — allow re-processing after completed batch
  data_processors/raw/handlers/oddsapi_batch_handler.py
Due: validate-sql-fstrings

fix: add ml/ to Cloud Function deployment package (phase6-export ModuleNotFoundError)
  cloudbuild-functions.yaml
Due: none

docs: Session 301 handoff — Option C post-break cache warmup fix design
  docs/09-handoff/2026-02-19-SESSION-301-HANDOFF.md
Due: none

fix: adaptive L7d/L14d lookback in player_daily_cache post-break warmup (Option C1)
  data_processors/precompute/player_daily_cache/builders/completeness_checker.py
Due: validate-sql-fstrings

docs: Session 302 handoff — batch lock fix, pipeline recovery, historical backfill
  docs/09-handoff/2026-02-19-SESSION-302-HANDOFF.md
Due: none

fix: phase5→6 orchestrator silent-skip when completion_pct=0 on re-triggered batches
  orchestration/cloud_functions/phase5_to_phase6/main.py
  predictions/coordinator/coordinator.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: coordinator /status cross-instance visibility + /start cross-instance dedup
  predictions/coordinator/coordinator.py
Due: validate-sql-fstrings

docs: Session 303 handoff — Option C1, phase5→6 fix, coordinator cross-instance fix
  docs/09-handoff/2026-02-19-SESSION-303-HANDOFF.md
Due: none

feat: add BookDisagreementSignal (WATCH) — 93% HR when books disagree
  docs/09-handoff/2026-02-19-SESSION-303B-HANDOFF.md
  ml/signals/book_disagreement.py
  ml/signals/pick_angle_builder.py
  ml/signals/registry.py
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings

docs: Session 304 handoff — validation, validation-runner deploy, Feb 20 pre-game status
  docs/09-handoff/2026-02-19-SESSION-304-HANDOFF.md
Due: none

feat: add late-snapshot odds data backfill script
  bin/backfill_daily_props_snapshots.py
Due: validate-sql-fstrings

feat: add /sweep-odds endpoint + nightly scheduler for late snapshot catch-up
  data_processors/raw/main_processor_service.py
Due: validate-sql-fstrings

docs: Session 305 handoff — late snapshot backfill, sweep endpoint, line movement analysis
  docs/09-handoff/2026-02-20-SESSION-305-HANDOFF.md
Due: none

fix: lower prop_line_drop_over threshold 3.0→2.0 for production viability
  CLAUDE.md
  ml/signals/combo_registry.py
  ml/signals/prop_line_drop_over.py
Due: validate-sql-fstrings

docs: update Session 305 handoff with signal audit + threshold change
  docs/09-handoff/2026-02-20-SESSION-305-HANDOFF.md
Due: none

docs: Session 306 continuation prompt — verify deploys, monitor signal, research
  docs/09-handoff/session-prompts/SESSION-306-PROMPT.md
Due: none

feat: Phase A multi-source candidate generation + Session 306 fixes
  .claude/skills/best-bets-config/SKILL.md
  .claude/skills/validate-daily/SKILL.md
  CLAUDE.md
  data_processors/publishing/signal_annotator.py
  data_processors/publishing/signal_best_bets_exporter.py
  docs/08-projects/current/best-bets-v2/00-ARCHITECTURE-PLAN.md
  docs/08-projects/current/best-bets-v2/01-REVISED-STRATEGY.md
  docs/09-handoff/2026-02-20-SESSION-306-HANDOFF.md
  ml/signals/aggregator.py
  ml/signals/supplemental_data.py
  schemas/bigquery/nba_predictions/signal_best_bets_picks.sql
Due: validate-sql-fstrings

fix: numeric precision + edge column reference bugs in exporter
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/player_blacklist.py
Due: validate-sql-fstrings

fix: champion_edge precision + is_correct→prediction_correct column names
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/player_blacklist.py
Due: validate-sql-fstrings

docs: Session 307 handoff + Phase A project documentation
  docs/08-projects/current/best-bets-v2/02-SESSION-307-PHASE-A.md
  docs/09-handoff/2026-02-20-SESSION-307-HANDOFF.md
Due: none

refactor: Session 308 system review — V12 pattern fix, dead code cleanup, confidence removal
  CLAUDE.md
  docs/08-projects/current/best-bets-v2/03-SESSION-308-REVIEW.md
  ml/experiments/signal_system_audit.py
  ml/signals/cold_continuation_2.py
  ml/signals/fg_cold_continuation.py
  ml/signals/home_dog.py
  ml/signals/hot_streak.py
  ml/signals/hot_streak_2.py
  ml/signals/hot_streak_3.py
  ml/signals/minutes_surge_5.py
  ml/signals/pace_mismatch.py
  ml/signals/pick_angle_builder.py
  ml/signals/points_surge_3.py
  ml/signals/prop_value_gap_extreme.py
  ml/signals/rest_advantage.py
  ml/signals/scoring_acceleration.py
  ml/signals/three_pt_volume_surge.py
  ml/signals/triple_stack.py
  shared/config/cross_model_subsets.py
Due: validate-sql-fstrings

docs: Session 308 handoff — system review findings + next priorities
  docs/09-handoff/2026-02-20-SESSION-308-HANDOFF.md
Due: none

fix: model_performance_daily registry name mismatch — discover models from grading data
  docs/09-handoff/2026-02-19-SESSION-309-HANDOFF.md
  docs/09-handoff/2026-02-20-SESSION-308-HANDOFF.md
  ml/analysis/model_performance.py
  shared/config/cross_model_subsets.py
Due: validate-sql-fstrings

docs: how the best bets system works — end-to-end explanation
  docs/08-projects/current/best-bets-v2/04-HOW-BEST-BETS-WORK.md
Due: none

docs: future edge exploration ideas — 12 research hypotheses with discovery queries
  docs/08-projects/current/best-bets-v2/05-FUTURE-EDGE-EXPLORATION.md
Due: none

docs: Session 310 review prompt — best bets system + model transition strategy
  docs/09-handoff/2026-02-19-SESSION-309-REVIEW-PROMPT.md
Due: none

fix: Session 310 — quality bypass, tiebreakers, xm_* logging + full system review
  backfill_jobs/publishing/daily_export.py
  bin/retrain.sh
  docs/08-projects/current/best-bets-v2/06-SESSION-310-REVIEW.md
  docs/09-handoff/2026-02-20-SESSION-310-HANDOFF.md
  ml/signals/aggregator.py
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings

docs: Session 310 handoff — add Layer 2 broken issue, project docs path
  docs/09-handoff/2026-02-20-SESSION-310-HANDOFF.md
Due: none

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
