Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

feat: Add monthly model retraining infrastructure
  docs/08-projects/current/ml-monthly-retraining/EXECUTION-TASKS.md
  docs/08-projects/current/ml-monthly-retraining/MONTHLY-MODEL-ARCHITECTURE.md
  docs/08-projects/current/ml-monthly-retraining/MULTI-MODEL-STRATEGY.md
  docs/08-projects/current/ml-monthly-retraining/QUICK-START.md
  docs/08-projects/current/ml-monthly-retraining/README.md
  docs/08-projects/current/ml-monthly-retraining/SONNET-HANDOFFS.md
  docs/08-projects/current/ml-monthly-retraining/STRATEGY.md
  predictions/worker/prediction_systems/catboost_monthly.py
  predictions/worker/worker.py
  verify_monthly_models.py
Due: validate-sql-fstrings

docs: Add Session 70 handoff - V9 performance analysis
  docs/09-handoff/2026-02-01-SESSION-70-V9-PERFORMANCE-ANALYSIS.md
Due: none

docs: Update hit-rate-analysis skill for monthly models
  .claude/skills/hit-rate-analysis/SKILL.md
Due: none

docs: Add pre-game signals strategy project
  docs/08-projects/current/pre-game-signals-strategy/README.md
  docs/08-projects/current/pre-game-signals-strategy/daily-diagnostic.sql
  docs/08-projects/current/pre-game-signals-strategy/historical-analysis.sql
  docs/08-projects/current/pre-game-signals-strategy/validation-tracker.md
Due: none

docs: Add pre-game signals strategy and Session 69 handoff
  docs/08-projects/current/pre-game-signals-strategy/README.md
  docs/09-handoff/2026-02-01-SESSION-69-HANDOFF.md
Due: none

docs: Add dynamic subset system design
  docs/08-projects/current/pre-game-signals-strategy/DYNAMIC-SUBSET-DESIGN.md
Due: none

docs: Add Session 70 takeover prompt
  docs/09-handoff/2026-02-01-SESSION-70-TAKEOVER-PROMPT.md
Due: none

docs: Add Session 70 master plan for pre-game signals
  docs/09-handoff/2026-02-01-SESSION-70-MASTER-PLAN.md
Due: none

fix: Include monthly model file in prediction-worker Docker image
  predictions/worker/Dockerfile
Due: none

chore: Sync cloud function shared modules and add Session 68 docs
  docs/08-projects/current/catboost-v9-experiments/GRADING-BACKFILL-GAP-PREVENTION.md
  docs/09-handoff/2026-02-01-ORCHESTRATION-ISSUES-INVESTIGATION.md
  docs/09-handoff/2026-02-01-SESSION-68-GRADING-GAP-FIXES-HANDOFF.md
  orchestration/cloud_functions/auto_backfill_orchestrator/shared/alerts/__init__.py
  orchestration/cloud_functions/auto_backfill_orchestrator/shared/endpoints/health.py
  orchestration/cloud_functions/auto_backfill_orchestrator/shared/publishers/unified_pubsub_publisher.py
  orchestration/cloud_functions/daily_health_summary/shared/alerts/__init__.py
  orchestration/cloud_functions/daily_health_summary/shared/endpoints/health.py
  orchestration/cloud_functions/daily_health_summary/shared/publishers/unified_pubsub_publisher.py
  orchestration/cloud_functions/phase2_to_phase3/shared/alerts/__init__.py
  orchestration/cloud_functions/phase2_to_phase3/shared/endpoints/health.py
  orchestration/cloud_functions/phase2_to_phase3/shared/publishers/unified_pubsub_publisher.py
  orchestration/cloud_functions/phase3_to_phase4/shared/alerts/__init__.py
  orchestration/cloud_functions/phase3_to_phase4/shared/endpoints/health.py
  orchestration/cloud_functions/phase3_to_phase4/shared/publishers/unified_pubsub_publisher.py
  orchestration/cloud_functions/phase4_to_phase5/shared/alerts/__init__.py
  orchestration/cloud_functions/phase4_to_phase5/shared/endpoints/health.py
  orchestration/cloud_functions/phase4_to_phase5/shared/publishers/unified_pubsub_publisher.py
  orchestration/cloud_functions/phase5_to_phase6/shared/alerts/__init__.py
  orchestration/cloud_functions/phase5_to_phase6/shared/endpoints/health.py
  orchestration/cloud_functions/phase5_to_phase6/shared/publishers/unified_pubsub_publisher.py
  orchestration/cloud_functions/prediction_monitoring/shared/__init__.py
  orchestration/cloud_functions/self_heal/shared/alerts/__init__.py
  orchestration/cloud_functions/self_heal/shared/endpoints/health.py
  orchestration/cloud_functions/self_heal/shared/publishers/unified_pubsub_publisher.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Add pick ranking system and A/B testing strategy
  docs/08-projects/current/pre-game-signals-strategy/DYNAMIC-SUBSET-DESIGN.md
Due: none

docs: Add design review for dynamic subset system
  docs/08-projects/current/pre-game-signals-strategy/SESSION-70-DESIGN-REVIEW.md
Due: none

docs: Add Sonnet handoff prompt for Phase 1 implementation
  docs/08-projects/current/pre-game-signals-strategy/SONNET-HANDOFF-PHASE1.md
Due: none

feat: Add pre-game signal check to validate-daily skill
  .claude/skills/validate-daily/SKILL.md
Due: none

fix: Disable espn_roster scraper - table doesn't exist
  shared/config/scraper_retry_config.yaml
Due: none

docs: Add Session 70 final handoff
  docs/09-handoff/2026-02-01-SESSION-70-FINAL-HANDOFF.md
Due: none

docs: Add Sonnet handoff for Phase 2+3 (subsets + skill)
  docs/08-projects/current/pre-game-signals-strategy/SONNET-HANDOFF-PHASE2-3.md
Due: none

feat: Add dynamic subset system (Phases 2+3)
  .claude/skills/subset-picks/SKILL.md
  .claude/skills/subset-picks/manifest.json
Due: none

docs: Add implementation completion doc for pre-game signals
  docs/08-projects/current/pre-game-signals-strategy/IMPLEMENTATION-COMPLETE-PHASE1-3.md
Due: none

feat: Add 3-layer scraper config validation system
  .pre-commit-config.yaml
  .pre-commit-hooks/validate_scraper_config_tables.py
  docs/09-handoff/2026-02-01-SESSION-70-CONFIG-VALIDATION.md
  shared/validation/README.md
  shared/validation/scraper_config_validator.py
Due: validate-sql-fstrings

feat: Add validation module exports
  shared/validation/__init__.py
Due: validate-sql-fstrings

feat: Comprehensive scraper health audit and monitoring improvements
  .claude/skills/validate-daily/SKILL.md
  docs/06-reference/scraper-scheduler-mapping.md
  docs/08-projects/current/scraper-health-audit/COMPREHENSIVE-AUDIT-2026-02-01.md
Due: none

docs: Add Session 70 scraper audit final handoff
  docs/09-handoff/2026-02-01-SESSION-70-SCRAPER-AUDIT-HANDOFF.md
Due: none

docs: Add trade-triggered roster refresh project
  docs/08-projects/current/trade-triggered-roster-refresh/README.md
Due: none

docs: Session 70 complete handoff for new chat
  docs/09-handoff/2026-02-01-SESSION-70-COMPLETE-HANDOFF.md
Due: none

feat: Auto signal calculation and /subset-performance skill
  .claude/skills/subset-performance/SKILL.md
  .claude/skills/subset-performance/manifest.json
  predictions/coordinator/coordinator.py
  predictions/coordinator/signal_calculator.py
Due: validate-sql-fstrings

docs: Add Session 71 handoff
  docs/09-handoff/2026-02-01-SESSION-71-HANDOFF.md
Due: none

docs: Update implementation doc for Phases 4-5 completion
  docs/08-projects/current/pre-game-signals-strategy/IMPLEMENTATION-COMPLETE.md
Due: none

docs: Update README with implementation status
  docs/08-projects/current/pre-game-signals-strategy/README.md
Due: none

docs: Session 71 handoff - scraper infrastructure fixes
  docs/09-handoff/2026-02-02-SESSION-71-HANDOFF.md
Due: none

feat: Add Slack signal alerts to #nba-betting-signals
  docs/08-projects/current/pre-game-signals-strategy/IMPLEMENTATION-COMPLETE.md
  docs/09-handoff/2026-02-01-SESSION-71-HANDOFF.md
  predictions/coordinator/signal_calculator.py
  shared/utils/slack_channels.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Add Session 71 handoff for dynamic subset implementation
  docs/09-handoff/2026-02-01-SESSION-71-DYNAMIC-SUBSET-IMPLEMENTATION.md
Due: none

fix: Cast player_id and team_id to int in player movement processor
  data_processors/raw/nbacom/nbac_player_movement_processor.py
Due: validate-sql-fstrings

docs: Add threshold tuning documentation and initial analysis
  docs/08-projects/current/pre-game-signals-strategy/THRESHOLD-TUNING.md
Due: none

docs: Session 71 final handoff - player movement fully automated
  docs/09-handoff/2026-02-02-SESSION-71-FINAL-HANDOFF.md
Due: none

docs: Update CLAUDE.md with Session 71 findings and manual triggers
  CLAUDE.md
Due: none

docs: Add signals system complete handoff
  docs/09-handoff/2026-02-02-SESSION-71-SIGNALS-COMPLETE.md
Due: none

docs: Add Session 72 start prompt
  docs/09-handoff/SESSION-72-START-PROMPT.md
Due: none

fix: Use correct NBA season in player list scraper
  scrapers/nbacom/nbac_player_list.py
Due: validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
