Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$

docs: session-9 cold-start handoff
  docs/09-handoff/2026-09-01-SESSION-9-START.md
Due: none

fix: the prediction dispatch subscription could expire itself out of existence
  bin/predictions/deploy/deploy_prediction_worker.sh
Due: none

fix: grading could not import predictions/, so every run died at the same line
  orchestration/cloud_functions/grading/predictions
Due: none

fix: grading crashed on any date with nothing to grade
  orchestration/cloud_functions/grading/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: five-agent review synthesis and Path 0 outcomes
  docs/09-handoff/2026-09-01-FIVE-AGENT-REVIEW.md
Due: none

docs: correct four claims in the five-agent review
  docs/09-handoff/2026-09-01-FIVE-AGENT-REVIEW.md
Due: none

docs: seventeen-agent review synthesis
  docs/09-handoff/2026-09-01-FIVE-AGENT-REVIEW.md
  docs/09-handoff/2026-09-05-SEVENTEEN-AGENT-REVIEW.md
Due: none

fix: make CI run tests, resolve the champion model, and stop the silent fallbacks
  .github/workflows/test.yml
  CLAUDE.md
  data_processors/publishing/admin_dashboard_exporter.py
  docs/09-handoff/2026-09-06-RESTORE-AND-REHEARSAL.md
  requirements-test.txt
  shared/config/model_selection.py
  tests/unit/prediction_tests/coordinator/test_batch_staging_writer_race_conditions.py
Due: validate-sql-fstrings, validate-python-syntax

fix: add pytz and functions-framework so CI can finish collection
  requirements-test.txt
Due: none

docs: record push verification, CI results, and the BUILD_COMMIT correction
  docs/09-handoff/2026-09-06-RESTORE-AND-REHEARSAL.md
Due: none

fix: parameterise coordinator date guard, correct model_bb_candidates semantics, restore metrics
  data_processors/analytics/requirements-lock.txt
  data_processors/analytics/requirements.txt
  data_processors/grading/nba/requirements-lock.txt
  data_processors/grading/nba/requirements.txt
  data_processors/precompute/requirements-lock.txt
  data_processors/precompute/requirements.txt
  data_processors/publishing/signal_best_bets_exporter.py
  predictions/coordinator/coordinator.py
  predictions/coordinator/player_loader.py
  predictions/coordinator/requirements-lock.txt
  predictions/coordinator/requirements.txt
  predictions/coordinator/tests/test_player_loader.py
  scrapers/requirements-lock.txt
  scrapers/requirements.txt
Due: validate-sql-fstrings, validate-python-syntax

fix: promoting a model to is_production silently removed it from the prediction fleet
  predictions/worker/prediction_systems/catboost_monthly.py
Due: validate-sql-fstrings, validate-python-syntax

fix: travel-context query violated the nbac_schedule partition filter on every export
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings

docs: 2026-09-07 handoff — Phase 5 proven end-to-end, three P0s, CLAUDE.md troubleshooting
  CLAUDE.md
  docs/09-handoff/2026-09-07-PHASE5-PROVEN-AND-THREE-P0S.md
Due: none

docs: menu for the next session — candidate work with evidence, effort and risk
  docs/09-handoff/2026-09-07-NEXT-SESSION-MENU.md
Due: none

feat: bet_key + is_backfilled on signal_best_bets_picks
  data_processors/publishing/best_bets_record_exporter.py
  data_processors/publishing/signal_best_bets_exporter.py
  schemas/bigquery/nba_predictions/signal_best_bets_picks.sql
  shared/utils/bet_key.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

fix: staging writer blamed the schema for infra failures and deleted its own evidence
  predictions/shared/batch_staging_writer.py
Due: validate-sql-fstrings, validate-python-syntax

test: CI is green -- 171 failures to 0, and the suite no longer touches live GCP
  .github/workflows/test.yml
  requirements-test.txt
  tests/cloud_functions/conftest.py
  tests/cloud_functions/test_phase5_to_phase6_handler.py
  tests/conftest.py
  tests/unit/clients/test_bigquery_client.py
  tests/unit/conftest.py
  tests/unit/mixins/test_run_history_mixin.py
  tests/unit/patterns/test_all_phase3_processors.py
  tests/unit/patterns/test_circuit_breaker_mixin.py
  tests/unit/patterns/test_dependency_tracking.py
  tests/unit/patterns/test_historical_backfill_detection.py
  tests/unit/prediction_tests/coordinator/test_batch_staging_writer_race_conditions.py
  tests/unit/prediction_tests/coordinator/test_firestore_arrayunion_limits.py
  tests/unit/prediction_tests/test_execution_logger.py
  tests/unit/test_health_checker.py
Due: validate-sql-fstrings

fix: the Phase 5->6 completeness gate could only ever block a zero-prediction batch
  orchestration/cloud_functions/phase5_to_phase6/main.py
  orchestration/cloud_functions/phase5_to_phase6/requirements.txt
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: three BDB tools published Phase 3 re-runs into a topic with no subscribers
  bin/monitoring/bdb_critical_monitor.py
  bin/monitoring/bdb_pending_monitor.py
  bin/monitoring/bdb_retry_processor.py
  bin/validation/validate_pubsub_topology.py
  shared/utils/phase3_trigger.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

chore: pin prediction-worker concurrency so it stops silently reverting
  bin/deploy-service.sh
Due: none

docs: 2026-09-08 handoff, a second-machine runbook, and four CLAUDE.md rows
  CLAUDE.md
  docs/02-operations/runbooks/working-from-a-second-machine.md
  docs/09-handoff/2026-09-07-NEXT-SESSION-MENU.md
  docs/09-handoff/2026-09-08-MEASUREMENT-CI-GATES-TOPOLOGY.md
Due: none

docs: record the deploy verification for 851f8116
  docs/09-handoff/2026-09-08-MEASUREMENT-CI-GATES-TOPOLOGY.md
Due: none

docs: MacBook session prompt for the week away
  docs/09-handoff/session-prompts/2026-09-13-MACBOOK-SESSION-PROMPT.md
Due: none
