Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$

fix: Add shared/clients and firestore dep to live-export deploy (Session 214)
  bin/deploy/deploy_live_export.sh
  orchestration/cloud_functions/live_export/requirements.txt
Due: none

feat: Switch live-export to Pacific time with 1 AM cutover + comprehensive frontend API doc (Session 214)
  docs/08-projects/current/session-214-gcs-live-updates/FRONTEND-API-CHANGES.md
  orchestration/cloud_functions/live_export/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: Scheduler triage, quality fields, validation upgrades (Session 213)
  .claude/skills/validate-daily/SKILL.md
  .pre-commit-config.yaml
  .pre-commit-hooks/validate_deploy_safety.py
  .pre-commit-hooks/validate_python_syntax.py
  CLAUDE.md
  data_processors/publishing/best_bets_exporter.py
  orchestration/cloud_functions/pipeline_reconciliation/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 214 final handoff with deployment fix details
  docs/09-handoff/2026-02-12-SESSION-214-HANDOFF.md
Due: none

docs: Final Session 213 handoff - complete infrastructure cleanup
  docs/09-handoff/2026-02-12-SESSION-213-HANDOFF.md
Due: none

fix: Best-bets table selection uses PT game-day boundary, not UTC (Session 214)
  data_processors/publishing/best_bets_exporter.py
Due: validate-sql-fstrings

docs: Session 214B handoff — remaining GCS issues + best-bets regression fix
  docs/09-handoff/2026-02-12-SESSION-214B-HANDOFF.md
Due: none

feat: Fix pipeline blockages — boxscore trigger, Phase 3→4 format, race condition (Session 215)
  cloudbuild-functions.yaml
  data_processors/analytics/main_analytics_service.py
  orchestration/cloud_functions/phase3_to_phase4/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 215 handoff — pipeline recovery and systemic fixes
  docs/09-handoff/2026-02-12-SESSION-215-HANDOFF.md
Due: none

fix: Fix enrichment-trigger and daily-health-check Cloud Functions (Session 216)
  cloudbuild-functions.yaml
  orchestration/cloud_functions/daily_health_check/main.py
  orchestration/cloud_functions/daily_health_check/requirements.txt
  orchestration/cloud_functions/enrichment_trigger/requirements.txt
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: Add missing transitive deps for daily-health-check (pubsub, storage, logging)
  orchestration/cloud_functions/daily_health_check/requirements.txt
Due: none

fix: Add all shared/ transitive deps to daily-health-check requirements
  orchestration/cloud_functions/daily_health_check/requirements.txt
Due: none

fix: game_id format mismatch in boxscore check and orchestrator coverage
  data_processors/analytics/main_analytics_service.py
  orchestration/cloud_functions/phase3_to_phase4/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 216 handoff — P1 scheduler fixes, enrichment + health-check
  docs/09-handoff/2026-02-12-SESSION-216-HANDOFF.md
Due: none

fix: Add all shared/ transitive deps to enrichment-trigger requirements
  orchestration/cloud_functions/enrichment_trigger/requirements.txt
Due: none

feat: Add validation skill improvements from Session 216 findings
  .claude/skills/reconcile-yesterday/SKILL.md
  .claude/skills/validate-daily/SKILL.md
  CLAUDE.md
Due: none

fix: Add player_name to profile summary, correct confidence scale docs
  data_processors/publishing/player_profile_exporter.py
  docs/08-projects/completed/frontend-api-backend/03-api-specification.md
  schemas/bigquery/predictions/01_player_prop_predictions.sql
Due: validate-sql-fstrings

fix: Replace gsutil with gcloud storage in backup scripts
  bin/operations/export_bigquery_tables.sh
  cloud_functions/bigquery_backup/bin/operations/export_bigquery_tables.sh
Due: none

docs: Session 217 handoff — game_id format mismatch fix and pipeline recovery
  CLAUDE.md
  docs/09-handoff/2026-02-12-SESSION-217-HANDOFF.md
Due: none

docs: Session 217 handoff — infrastructure recovery complete
  docs/09-handoff/2026-02-12-SESSION-217-HANDOFF.md
Due: none

docs: Update next session prompt for Session 218
  docs/09-handoff/2026-02-12-NEXT-SESSION-PROMPT.md
Due: none

feat: UPCG blocking check, injury deactivation, tonight export filter
  .claude/skills/reconcile-yesterday/SKILL.md
  .claude/skills/validate-daily/SKILL.md
  CLAUDE.md
  data_processors/analytics/upcoming_player_game_context/upcoming_player_game_context_processor.py
  data_processors/enrichment/prediction_line_enrichment/prediction_line_enrichment_processor.py
  data_processors/publishing/tonight_all_players_exporter.py
  docs/09-handoff/2026-02-12-SESSION-218-HANDOFF.md
  orchestration/cloud_functions/enrichment_trigger/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: Rewrite backup function in Python, fix scheduler 500→200 responses
  cloud_functions/bigquery_backup/main.py
  cloud_functions/bigquery_backup/requirements.txt
  orchestration/cloud_functions/daily_health_check/main.py
  orchestration/cloud_functions/validation_runner/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: Refactor grading-gap-detector, update deployment drift check
  bin/check-deployment-drift.sh
  docs/09-handoff/2026-02-12-NEXT-SESSION-PROMPT.md
  orchestration/cloud_functions/grading-gap-detector/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 218B handoff — backup rewrite, live-export Gen2, scheduler fixes
  docs/09-handoff/2026-02-12-SESSION-218B-HANDOFF.md
Due: none

fix: Return 200 from reporter Cloud Functions (reconcile, validate-freshness, health-summary)
  monitoring/health_summary/main.py
  orchestration/cloud_functions/prediction_monitoring/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 219 handoff — scheduler job triage (15 -> 8 failing)
  docs/09-handoff/2026-02-12-NEXT-SESSION-PROMPT.md
  docs/09-handoff/2026-02-12-SESSION-219-HANDOFF.md
Due: none

fix: Phase 4 same-day bypass, auto-retry message format, Docker cache busting
  bin/hot-deploy.sh
  cloudbuild.yaml
  data_processors/precompute/mixins/defensive_check_mixin.py
  orchestration/cloud_functions/auto_retry_processor/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 220 handoff — pipeline recovery, Phase 4 fixes, model decay assessment
  docs/09-handoff/2026-02-12-SESSION-220-HANDOFF.md
Due: none

fix: Fix last 3 failing scheduler jobs (15 → 0 failures)
  orchestration/cloud_functions/live_freshness_monitor/main.py
  orchestration/cloud_functions/live_freshness_monitor/requirements.txt
  orchestration/cloud_functions/self_heal/main.py
  orchestration/cloud_functions/transition_monitor/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Update Session 219 handoff — all 15 scheduler jobs fixed (15 → 0)
  docs/09-handoff/2026-02-12-NEXT-SESSION-PROMPT.md
  docs/09-handoff/2026-02-12-SESSION-219-HANDOFF.md
Due: none

docs: Commit Session 216B handoff, update next-session prompt with Session 220
  docs/09-handoff/2026-02-12-NEXT-SESSION-PROMPT.md
  docs/09-handoff/2026-02-12-SESSION-216B-HANDOFF.md
Due: none

feat: Scheduler health check, deploy script, Cloud Build triggers, grading-readiness fix
  .claude/skills/validate-daily/SKILL.md
  CLAUDE.md
  bin/deploy-function.sh
  bin/infrastructure/create_monitoring_function_triggers.sh
  cloudbuild-functions.yaml
  orchestration/cloud_functions/grading_readiness_monitor/main.py
  orchestration/cloud_functions/grading_readiness_monitor/requirements.txt
  orchestration/cloud_functions/live_freshness_monitor/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: Add model decay check, auto-retry health, update skills and docs for Sessions 215-220
  .claude/skills/model-experiment/SKILL.md
  .claude/skills/player-lookup/SKILL.md
  .claude/skills/validate-daily/SKILL.md
  .claude/skills/validate-scraped-data.md
  CLAUDE.md
  docs/02-operations/session-learnings.md
  docs/02-operations/troubleshooting-matrix.md
Due: none

fix: Fix f-string backslash syntax error in missing_prediction_detector.py
  orchestration/cloud_functions/prediction_monitoring/missing_prediction_detector.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 222 model decay analysis and experiment roadmap
  docs/08-projects/current/model-improvement-analysis/01-SESSION-222-MODEL-ANALYSIS.md
Due: none

docs: Session 223 handoff — 16 experiment results recovered, experiment roadmap
  docs/09-handoff/2026-02-12-NEXT-SESSION-PROMPT.md
  docs/09-handoff/2026-02-12-SESSION-221-HANDOFF.md
  docs/09-handoff/2026-02-12-SESSION-223-HANDOFF.md
Due: none

docs: Master experiment plan, features deep dive, multi-season data audit
  docs/08-projects/current/model-improvement-analysis/01-SESSION-222-MODEL-ANALYSIS.md
  docs/08-projects/current/model-improvement-analysis/02-MASTER-EXPERIMENT-PLAN.md
  docs/08-projects/current/model-improvement-analysis/03-NEW-FEATURES-DEEP-DIVE.md
  docs/08-projects/current/model-improvement-analysis/04-MULTI-SEASON-DATA-AUDIT.md
Due: none

docs: Add Waves 7-9, expert reviews, revised priorities to experiment plan
  docs/08-projects/current/model-improvement-analysis/02-MASTER-EXPERIMENT-PLAN.md
Due: none

docs: Session 224 handoff — master experiment plan complete
  docs/09-handoff/2026-02-12-SESSION-224-HANDOFF.md
Due: none
