Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

validate-scraper-config-tables:
  name: Validate scraper config table references (warning only)
  description: Checks that BigQuery tables referenced in scraper_retry_config.yaml exist (informational, non-blocking)
  entry: python .pre-commit-hooks/validate_scraper_config_tables.py
  language: python
  pass_filenames: false
  verbose: true

validate-sql-queries:
  name: Validate SQL validation queries
  description: Checks for Session 123 anti-patterns (cache_date = game_date, missing partition filters, etc.)
  entry: python .pre-commit-hooks/validate_sql_queries.py
  language: python
  verbose: true

validate-view-filters:
  name: Validate BigQuery view quality filters (Session 209)
  description: Ensures views querying prediction tables have quality filter annotations (prevents contaminated metrics)
  entry: python .pre-commit-hooks/validate_view_filters.py
  language: python
  pass_filenames: false
  verbose: true

validate-python-syntax:
  name: Validate Python syntax in deploy directories
  description: Catches syntax errors that would break Cloud Function deploys (Session 213)
  entry: python .pre-commit-hooks/validate_python_syntax.py
  language: python
  pass_filenames: false
  verbose: true

validate-deploy-safety:
  name: Check for dangerous --set-env-vars
  description: Prevents accidental env var wipes from --set-env-vars (Session 81/213)
  entry: python .pre-commit-hooks/validate_deploy_safety.py
  language: python
  pass_filenames: false
  verbose: true

docs: add Session 346 prompt for next session
  docs/09-handoff/session-prompts/SESSION-346-PROMPT.md
Due: none

fix: load shadow models from registry + add ml/ to worker Dockerfile
  docs/08-projects/current/model-system-evaluation-session-343/00-EVALUATION-PLAN.md
  predictions/worker/Dockerfile
  predictions/worker/prediction_systems/catboost_monthly.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 346 handoff — shadow model fix, decay timeline, next session prompt
  docs/09-handoff/2026-02-26-SESSION-346-HANDOFF.md
  docs/09-handoff/session-prompts/SESSION-347-PROMPT.md
Due: none

fix: remove health gate that blocked profitable best bets picks
  data_processors/publishing/signal_best_bets_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

feat: add AWAY noveg negative filter to best bets aggregator
  CLAUDE.md
  docs/08-projects/current/model-system-evaluation-session-343/00-EVALUATION-PLAN.md
  docs/09-handoff/2026-02-26-SESSION-347-HANDOFF.md
  docs/09-handoff/session-prompts/SESSION-348-PROMPT.md
  ml/signals/aggregator.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

docs: Session 347 handoff — AWAY filter, grading fix, shadow diagnosis
  docs/09-handoff/2026-02-26-SESSION-347-HANDOFF.md
  docs/09-handoff/session-prompts/SESSION-348-PROMPT.md
Due: none

feat: Session 348 — decline diagnosis, fresh retrain, pubsub fix
  CLAUDE.md
  docs/08-projects/current/model-system-evaluation-session-343/00-EVALUATION-PLAN.md
  docs/08-projects/current/model-system-evaluation-session-343/SESSION-348-PLAN.md
  orchestration/cloud_functions/post_grading_export/requirements.txt
  shared/utils/__init__.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

feat: add signal-density negative filter to best bets aggregator
  ml/signals/aggregator.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

docs: add signal-density filter to CLAUDE.md negative filters list
  CLAUDE.md
Due: none

docs: Session 348 handoff — signal-density filter, fresh retrain, decline diagnosis
  docs/09-handoff/2026-02-26-SESSION-348-HANDOFF.md
  docs/09-handoff/session-prompts/SESSION-349-PROMPT.md
Due: none

feat: disable blowout_recovery signal — 50% HR, harmful in Feb
  CLAUDE.md
  ml/signals/combo_registry.py
  ml/signals/pick_angle_builder.py
  ml/signals/registry.py
  ml/signals/signal_health.py
  tests/unit/signals/test_player_blacklist.py
Due: validate-sql-fstrings

docs: Session 349 handoff — trends fix, blowout_recovery disabled, scheduler gap
  CLAUDE.md
  docs/09-handoff/2026-02-26-SESSION-349-HANDOFF.md
Due: none

feat: add LightGBM model support + shadow register 2 models
  CLAUDE.md
  docs/09-handoff/2026-02-26-SESSION-350-HANDOFF.md
  ml/experiments/quick_retrain.py
  predictions/worker/prediction_systems/catboost_monthly.py
  predictions/worker/requirements-lock.txt
  predictions/worker/requirements.txt
  shared/config/cross_model_subsets.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 350 fleet audit — disable q43, update model status, handoff
  CLAUDE.md
  docs/09-handoff/2026-02-26-SESSION-350-HANDOFF.md
Due: none

docs: Session 351 handoff — LightGBM validation, fleet triage, shadow eval
  docs/09-handoff/2026-02-27-SESSION-351-HANDOFF.md
Due: none

fix: CI/CD stale image bug, LightGBM runtime, edge floor adjustment
  .github/workflows/deploy-service.yml
  CLAUDE.md
  cloudbuild.yaml
  docs/08-projects/current/model-diversity-session-350/BEST-BETS-ZERO-PICKS-ANALYSIS.md
  docs/09-handoff/2026-02-27-SESSION-352-HANDOFF.md
  ml/signals/aggregator.py
  predictions/worker/Dockerfile
Due: validate-sql-fstrings, validate-deploy-safety

docs: Session 353 handoff — all models BLOCKED, recovery investigation
  docs/09-handoff/2026-02-27-SESSION-353-HANDOFF.md
Due: none

feat: star UNDER filter + tier-weight training flag
  ml/experiments/quick_retrain.py
  ml/signals/aggregator.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

docs: Session 354 handoff — star UNDER fix, experiment roadmap
  docs/09-handoff/2026-02-27-SESSION-354-HANDOFF.md
Due: none

docs: Session 355 prompt — experiment roadmap execution
  docs/09-handoff/session-prompts/session-355-prompt.md
Due: none

feat: anchor-line training, diff features, 3 new negative filters
  docs/09-handoff/2026-02-27-SESSION-355-HANDOFF.md
  ml/experiments/quick_retrain.py
  ml/signals/aggregator.py
  ml/signals/supplemental_data.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

feat: anchor-line worker support, V16 features, anchor-MAE variant
  ml/experiments/quick_retrain.py
  predictions/worker/prediction_systems/catboost_monthly.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 355 handoff — all 5 experiment priorities executed
  docs/09-handoff/2026-02-27-SESSION-355-HANDOFF.md
Due: none

docs: Session 356 prompt — deploy V16 features to feature store
  docs/09-handoff/session-prompts/session-356-prompt.md
Due: none

feat: deploy V16 features to feature store and prediction worker
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  ml/experiments/quick_retrain.py
  predictions/worker/prediction_systems/catboost_monthly.py
  shared/ml/feature_contract.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 356 handoff — V16 features deployed to feature store
  docs/09-handoff/2026-02-27-SESSION-356-HANDOFF.md
Due: none

docs: Session 357 prompt — train and enable V16 model
  docs/09-handoff/session-prompts/session-357-prompt.md
Due: none

fix: compute V16 features on combined train+eval data in quick_retrain
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

docs: Session 357 handoff — V16 model trained and enabled in shadow
  docs/09-handoff/2026-02-27-SESSION-357-HANDOFF.md
Due: none

docs: update CLAUDE.md with V16 model, fleet status, and dead ends
  CLAUDE.md
Due: none

fix: defensive LightGBM detection in worker model loader
  predictions/worker/prediction_systems/catboost_monthly.py
Due: validate-sql-fstrings, validate-python-syntax

feat: implement V17 feature set — opportunity risk features
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  ml/experiments/quick_retrain.py
  predictions/worker/prediction_systems/catboost_monthly.py
  schemas/bigquery/predictions/04_ml_feature_store_v2.sql
  shared/ml/feature_contract.py
Due: validate-sql-fstrings, validate-view-filters, validate-python-syntax

docs: add V17 opportunity risk features to dead ends list
  CLAUDE.md
Due: none

docs: Session 360 handoff — V17 experiment results and future directions
  docs/08-projects/current/v17-opportunity-risk-experiment/00-RESULTS.md
  docs/09-handoff/2026-02-27-SESSION-360-HANDOFF.md
Due: none

docs: Session 361 prompt — shadow fleet review + next experiments
  docs/09-handoff/session-prompts/session-360-prompt.md
Due: none

fix: Firestore race condition, game_id format mismatch, self-heal timeout
  .claude/skills/validate-daily/SKILL.md
  bin/validation/comprehensive_health_check.py
  orchestration/cloud_functions/phase3_to_phase4/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

feat: add front-load detection to decay-detection CF
  orchestration/cloud_functions/decay_detection/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: set _mode in Firestore duplicate path to prevent data loss
  orchestration/cloud_functions/phase3_to_phase4/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: model HR-weighted selection, expanded AWAY block, multi-model blacklist
  ml/signals/aggregator.py
  ml/signals/player_blacklist.py
  ml/signals/supplemental_data.py
  tests/unit/signals/test_aggregator.py
  tests/unit/signals/test_player_blacklist.py
Due: validate-sql-fstrings

docs: Session 365 — experiment results, filter improvements, dead ends
  CLAUDE.md
Due: none

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$
