Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

validate-scraper-config-tables:
  name: Validate scraper config table references (warning only)
  description: Checks that BigQuery tables referenced in scraper_retry_config.yaml exist (informational, non-blocking)
  entry: python .pre-commit-hooks/validate_scraper_config_tables.py
  language: python
  pass_filenames: false
  verbose: true

validate-sql-queries:
  name: Validate SQL validation queries
  description: Checks for Session 123 anti-patterns (cache_date = game_date, missing partition filters, etc.)
  entry: python .pre-commit-hooks/validate_sql_queries.py
  language: python
  verbose: true

validate-view-filters:
  name: Validate BigQuery view quality filters (Session 209)
  description: Ensures views querying prediction tables have quality filter annotations (prevents contaminated metrics)
  entry: python .pre-commit-hooks/validate_view_filters.py
  language: python
  pass_filenames: false
  verbose: true

validate-python-syntax:
  name: Validate Python syntax in deploy directories
  description: Catches syntax errors that would break Cloud Function deploys (Session 213)
  entry: python .pre-commit-hooks/validate_python_syntax.py
  language: python
  pass_filenames: false
  verbose: true

validate-deploy-safety:
  name: Check for dangerous --set-env-vars
  description: Prevents accidental env var wipes from --set-env-vars (Session 81/213)
  entry: python .pre-commit-hooks/validate_deploy_safety.py
  language: python
  pass_filenames: false
  verbose: true

docs: GCP cost-audit Session 7 — item 2 applied, 10-agent review re-run
  docs/08-projects/current/gcp-cost-audit-2026-07/00-FULL-ANALYSIS.md
  docs/08-projects/current/gcp-cost-audit-2026-07/01-WAVE-2-PIPELINE-EFFICIENCY.md
  docs/08-projects/current/gcp-cost-audit-2026-07/02-DECISION-RECORD.md
  docs/08-projects/current/gcp-cost-audit-2026-07/04-ROBUSTNESS-ASSESSMENT.md
  docs/08-projects/current/gcp-cost-audit-2026-07/06-PLAN.md
  docs/08-projects/current/gcp-cost-audit-2026-07/07-PLAN-REVIEW-2026-07-24.md
  docs/09-handoff/2026-07-21-SESSION-5-HANDOFF.md
  docs/09-handoff/2026-07-24-SESSION-6-HANDOFF.md
  docs/09-handoff/2026-07-24-SESSION-7-HANDOFF.md
Due: none

docs: GCP audit Session 7 — turnkey August §4 diffs + dev-env / blast-radius findings
  docs/08-projects/current/gcp-cost-audit-2026-07/06-PLAN.md
  docs/08-projects/current/gcp-cost-audit-2026-07/08-AUGUST-EXECUTION-PREP.md
  docs/09-handoff/2026-07-24-SESSION-7-HANDOFF.md
Due: none

docs: Fable review of August §4 diffs — fixes 2 regressions + de-scopes §4.2
  docs/08-projects/current/gcp-cost-audit-2026-07/08-AUGUST-EXECUTION-PREP.md
  docs/09-handoff/2026-07-24-SESSION-7-HANDOFF.md
Due: none

docs: GCP audit index README + 2 reusable anti-patterns from Session 7
  docs/02-operations/session-learnings.md
  docs/08-projects/current/gcp-cost-audit-2026-07/README.md
Due: none

docs: Fable close-out review — behavior-verify items 1/2, fix doc staleness
  docs/08-projects/current/gcp-cost-audit-2026-07/06-PLAN.md
  docs/08-projects/current/gcp-cost-audit-2026-07/07-PLAN-REVIEW-2026-07-24.md
  docs/08-projects/current/gcp-cost-audit-2026-07/08-AUGUST-EXECUTION-PREP.md
  docs/08-projects/current/gcp-cost-audit-2026-07/README.md
  docs/09-handoff/2026-07-24-SESSION-7-HANDOFF.md
Due: none

docs: audit close-out handoff for next session (2026-07-27)
  docs/08-projects/current/gcp-cost-audit-2026-07/README.md
  docs/09-handoff/2026-07-24-SESSION-7-HANDOFF.md
  docs/09-handoff/2026-07-27-SESSION-7-CLOSEOUT-HANDOFF.md
Due: none

fix: repair real_sc integrity — registry drift, inverted filters, UNDER shadow leak
  ml/signals/aggregator.py
  ml/signals/per_model_pipeline.py
  tests/unit/signals/test_signal_exclusion_integrity.py
Due: validate-sql-fstrings

refactor: centralize break-even as a function of execution, not a constant
  ml/signals/model_health.py
  shared/config/breakeven.py
Due: validate-sql-fstrings, validate-python-syntax

fix: counterfactual HR counted rows, not distinct blocked picks
  orchestration/cloud_functions/filter_counterfactual_evaluator/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: confirm 2026-27 opener as Oct 20 and repair the CDN schedule scraper
  scrapers/nbacom/nbac_schedule_cdn.py
  shared/config/nba_season_dates.py
Due: validate-sql-fstrings, validate-python-syntax

docs: drawdown protocol — decide now what is allowed when losing
  docs/02-operations/runbooks/drawdown-protocol.md
Due: none

docs: morning canary set — eight checks for "alive and honest"
  docs/02-operations/runbooks/morning-canary-set.md
Due: none

docs: 2026-27 season game plan + session handoff
  docs/08-projects/current/2026-27-season-prep/00-GAMEPLAN.md
  docs/09-handoff/2026-08-19-SESSION-HANDOFF.md
Due: none

fix: auto-halt fired on every day of every season and could never release
  ml/signals/regime_context.py
  orchestration/cloud_functions/halt_state_writer/main.py
  orchestration/cloud_functions/weekly_retrain/main.py
  shared/config/edge_halt.py
  tests/unit/signals/test_edge_halt.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

fix: remove four panic-era UNDER filters from the worker
  ml/signals/aggregator.py
  predictions/worker/worker.py
  shared/registry/filters.yaml
Due: validate-sql-fstrings, validate-python-syntax

docs: record that the auto-halt margin rests on contaminated prior seasons
  shared/config/edge_halt.py
Due: validate-sql-fstrings, validate-python-syntax

feat: run tests before deploying, and stop the permanently-red function builds
  cloudbuild-functions.yaml
  cloudbuild-nba-phase2.yaml
  cloudbuild-precompute.yaml
  cloudbuild.yaml
  requirements-test-gate.txt
Due: validate-deploy-safety

fix: one break-even, not two — wire the gates to shared/config/breakeven.py
  ml/analysis/mlb_model_performance.py
  ml/analysis/model_performance.py
  ml/signals/model_profile_loader.py
  orchestration/cloud_functions/decay_detection/main.py
  scripts/nba/training/discovery/clv_validation.py
  scripts/nba/training/discovery/high_line_under_overlap.py
  scripts/nba/training/discovery/over_scoring_env_gate.py
  scripts/nba/training/discovery/runnow_under_audits.py
  scripts/nba/training/discovery/runnow_worth_trying.py
  scripts/nba/training/discovery/shadow_backlog_gate.py
  scripts/nba/training/discovery/structural_selection_signals.py
  shared/config/breakeven.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

fix: the scheduler backup the restore plan depends on was deleted by a lifecycle rule
  bin/scheduler/backup_scheduler_jobs.sh
  ops/scheduler-snapshots/README.md
  ops/scheduler-snapshots/scheduler-jobs-2026-08-20.json
  ops/scheduler-snapshots/scheduler-jobs-latest.json
Due: none

feat: scheduler restore script + reconstructed job catalog
  ops/scheduler-catalog-2026.yaml
  scripts/nba_offseason_restore_jobs.py
Due: validate-sql-fstrings

docs: correct the restore manifest, add game-plan status, session handoff
  docs/02-operations/scheduler-restore-manifest-2026.md
  docs/08-projects/current/2026-27-season-prep/00-GAMEPLAN.md
  docs/09-handoff/2026-07-28-SESSION-CLOSEOUT-HANDOFF.md
  docs/09-handoff/2026-08-19-SESSION-2-HANDOFF.md
Due: none

fix: a green build was not proof of deployment, and the fan-out exhausted CPU quota
  CLAUDE.md
  bin/deploy-function.sh
  cloudbuild-functions.yaml
  cloudbuild-mlb-grading.yaml
  cloudbuild-mlb-worker.yaml
  cloudbuild-nba-phase2.yaml
  cloudbuild.yaml
Due: validate-deploy-safety

docs: session plan + todo list, and the health multipliers are provably inert
  docs/08-projects/current/2026-27-season-prep/00-GAMEPLAN.md
  docs/09-handoff/2026-08-20-SESSION-3-HANDOFF.md
Due: none

docs: ten-agent review — two functions were serving stale code behind green builds
  docs/09-handoff/2026-08-20-TEN-AGENT-REVIEW.md
Due: none

fix: derive all 17 unverified scheduler bodies from the code that consumes them
  ops/scheduler-catalog-2026.yaml
  scripts/nba_offseason_restore_jobs.py
Due: validate-sql-fstrings

feat: drop force from the retry chain; record the drawdown-tolerance decision
  docs/08-projects/current/2026-27-season-prep/00-GAMEPLAN.md
  ops/scheduler-catalog-2026.yaml
Due: none

docs: CF/scheduler pairing audit — decay-detection has no scheduler, canaries are paused
  docs/02-operations/cf-scheduler-pairing-audit-2026-08.md
  ops/scheduler-snapshots/scheduler-jobs-2026-08-21.json
Due: none

fix: the edge auto-halt measured fleet composition, not the market
  CLAUDE.md
  data_processors/publishing/signal_best_bets_exporter.py
  docs/08-projects/current/2026-27-season-prep/00-GAMEPLAN.md
  docs/09-handoff/2026-08-21-SESSION-4-AUTO-HALT-REBUILD.md
  ml/signals/regime_context.py
  orchestration/cloud_functions/halt_state_writer/main.py
  orchestration/cloud_functions/weekly_retrain/main.py
  shared/config/edge_halt.py
  tests/unit/signals/test_edge_halt.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

fix: state-machine blocker + SQL cleanups from reviewers 3 and 4
  shared/config/edge_halt.py
  tests/unit/signals/test_edge_halt.py
Due: validate-sql-fstrings, validate-python-syntax

fix: seven-agent review — 1 blocker, 9 majors, including a zeroed opening night
  CLAUDE.md
  data_processors/publishing/base_exporter.py
  data_processors/publishing/best_bets_all_exporter.py
  data_processors/publishing/signal_best_bets_exporter.py
  docs/02-operations/runbooks/halt-mode-operations.md
  docs/02-operations/runbooks/season-resume-2026-27.md
  docs/08-projects/current/2026-27-season-prep/00-GAMEPLAN.md
  docs/09-handoff/2026-08-21-SESSION-4-AUTO-HALT-REBUILD.md
  ml/signals/regime_context.py
  monitoring/alert-policies/halt-state-stale.yaml
  orchestration/cloud_functions/halt_state_writer/main.py
  orchestration/cloud_functions/post_grading_export/main.py
  orchestration/cloud_functions/weekly_retrain/main.py
  shared/config/edge_halt.py
  tests/unit/signals/test_edge_halt.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

fix: ten-agent round 2 — kill switch, a repeat of the swallow bug, and 17 tests
  CLAUDE.md
  data_processors/publishing/signal_best_bets_exporter.py
  docs/09-handoff/2026-08-21-SESSION-4-AUTO-HALT-REBUILD.md
  orchestration/cloud_functions/halt_state_writer/main.py
  shared/config/edge_halt.py
  tests/unit/publishing/test_halt_gate.py
  tests/unit/signals/test_edge_halt.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

feat: drawdown + volume circuit breakers, large-edge guards, invariance check
  CLAUDE.md
  bin/validation/validate_guard_invariance.py
  ml/signals/aggregator.py
  orchestration/cloud_functions/halt_state_writer/main.py
  shared/config/drawdown_halt.py
  shared/config/edge_halt.py
  tests/unit/signals/test_drawdown_halt.py
  tests/unit/signals/test_edge_halt.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

fix: four season-boundary bugs that break silently on 2026-10-20
  data_processors/publishing/season_game_counts_exporter.py
  ml/analysis/model_performance.py
  scrapers/news/player_linker.py
  shared/config/calendar_regime.py
Due: validate-sql-fstrings, validate-python-syntax

fix: the halt-state alert could never fire, and the Slack webhook was empty
  bin/deploy-function.sh
  bin/verify-deploy.sh
  monitoring/alert-policies/halt-state-stale.yaml
  orchestration/cloud_functions/phase_completion_reconciler/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: all 59 deleted scheduler jobs re-created (PAUSED) + restore-script fix
  docs/09-handoff/2026-08-22-SESSION-5-EXECUTION.md
  ops/scheduler-snapshots/scheduler-jobs-2026-08-22.json
  scripts/nba_offseason_restore_jobs.py
Due: validate-sql-fstrings

fix: two restored jobs were silent no-ops; news linking was already dead
  ops/scheduler-catalog-2026.yaml
  orchestration/cloud_functions/news_fetcher/main.py
  tests/unit/signals/test_drawdown_halt.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: a decorator on the wrong function, a fleet-wide block, a disarmed bound
  ml/signals/aggregator.py
  orchestration/cloud_functions/phase_completion_reconciler/main.py
  shared/config/drawdown_halt.py
  shared/config/edge_halt.py
  tests/unit/signals/test_drawdown_halt.py
  tests/unit/signals/test_edge_halt.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

docs: session-5 handoff — deployed, restored, and the roster-registry correction
  docs/09-handoff/2026-08-22-SESSION-5-EXECUTION.md
  docs/09-handoff/2026-08-22-SESSION-5-HANDOFF.md
Due: none

fix: the BR roster processor never wrote a row, and the guards had no tests
  backfill_jobs/scrapers/br_rosters/br_rosters_scraper_backfill.py
  data_processors/raw/basketball_ref/br_roster_batch_processor.py
  docker/backfill.Dockerfile
  ml/signals/aggregator.py
  ops/scheduler-catalog-2026.yaml
  orchestration/cloud_functions/post_grading_export/main.py
  orchestration/cloud_functions/weekly_retrain/main.py
  scripts/nba_offseason_restore_jobs.py
  tests/unit/data_processors/test_br_roster_batch_processor.py
  tests/unit/publishing/test_halt_downstream_guards.py
  tests/unit/publishing/test_halt_state_composition.py
  tests/unit/signals/test_aggregator_model_sanity.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

fix: a dead symlink has been crashing every manual gcloud build since May
  .gcloudignore
  .pre-commit-hooks/validate_cloud_function_symlinks.py
  bin/shortcuts/deploy-processors
  orchestration/cloud_functions/auto_backfill_orchestrator/shared/utils/bigquery_client.py
  orchestration/cloud_functions/daily_health_summary/shared/utils/bigquery_client.py
  orchestration/cloud_functions/phase3_to_phase4/shared/utils/bigquery_client.py
  orchestration/cloud_functions/phase4_to_phase5/shared/utils/bigquery_client.py
  orchestration/cloud_functions/phase5_to_phase6/shared/utils/bigquery_client.py
  orchestration/cloud_functions/self_heal/shared/utils/bigquery_client.py
Due: validate-cloud-function-imports, validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$
