Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

validate-scraper-config-tables:
  name: Validate scraper config table references (warning only)
  description: Checks that BigQuery tables referenced in scraper_retry_config.yaml exist (informational, non-blocking)
  entry: python .pre-commit-hooks/validate_scraper_config_tables.py
  language: python
  pass_filenames: false
  verbose: true

validate-sql-queries:
  name: Validate SQL validation queries
  description: Checks for Session 123 anti-patterns (cache_date = game_date, missing partition filters, etc.)
  entry: python .pre-commit-hooks/validate_sql_queries.py
  language: python
  verbose: true

validate-view-filters:
  name: Validate BigQuery view quality filters (Session 209)
  description: Ensures views querying prediction tables have quality filter annotations (prevents contaminated metrics)
  entry: python .pre-commit-hooks/validate_view_filters.py
  language: python
  pass_filenames: false
  verbose: true

validate-python-syntax:
  name: Validate Python syntax in deploy directories
  description: Catches syntax errors that would break Cloud Function deploys (Session 213)
  entry: python .pre-commit-hooks/validate_python_syntax.py
  language: python
  pass_filenames: false
  verbose: true

validate-deploy-safety:
  name: Check for dangerous --set-env-vars
  description: Prevents accidental env var wipes from --set-env-vars (Session 81/213)
  entry: python .pre-commit-hooks/validate_deploy_safety.py
  language: python
  pass_filenames: false
  verbose: true

fix: add pandas and full google-cloud deps to mlb grading service requirements
  data_processors/grading/mlb/requirements.txt
Due: none

fix: mlb grading Dockerfile missing predictions/shared module copy
  data_processors/grading/mlb/Dockerfile
Due: none

docs: Session 481 handoff — NBA validation, site bug fixes, MLB opening day prep
  docs/09-handoff/2026-03-22-SESSION-481-HANDOFF.md
Due: none

docs: new chat handoff for Session 481 — concise state + gotchas
  docs/09-handoff/2026-03-22-SESSION-481-NEW-CHAT-HANDOFF.md
Due: none

fix: resolve TODAY literal in all MLB worker endpoints + fix shadow grading import
  data_processors/grading/mlb/main_mlb_grading_service.py
  predictions/mlb/worker.py
Due: validate-sql-fstrings, validate-python-syntax

chore: add .venv/ and models/ to .gcloudignore (was inflating Cloud Build uploads to 1.1 GiB)
  .gcloudignore
Due: none

docs: Session 482 handoff — validation, MLB bug fixes, Opening Day prep
  docs/09-handoff/2026-03-22-SESSION-482-NEW-CHAT-HANDOFF.md
Due: none

docs: add Session 482 learnings — Cloud Run traffic pinning, MLB 503 startup crash, .gcloudignore .venv
  docs/02-operations/session-learnings.md
  docs/02-operations/troubleshooting-matrix.md
Due: none

fix: activate 7 market-awareness guardrails flagged by 9-agent review (Session 483)
  ml/signals/aggregator.py
  ml/signals/regime_context.py
  ml/signals/signal_health.py
Due: validate-sql-fstrings

docs+fix: Session 483 follow-through — monitoring, MLB, docs, fleet cleanup
  CLAUDE.md
  bin/monitoring/signal_decay_monitor.py
  docs/02-operations/session-learnings.md
  docs/09-handoff/2026-03-22-SESSION-483-HANDOFF.md
  orchestration/cloud_functions/mlb_phase5_to_phase6/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

docs: Session 483 final state — retrain results, fleet, gotchas
  CLAUDE.md
  docs/02-operations/session-learnings.md
  docs/09-handoff/2026-03-22-SESSION-483-HANDOFF.md
Due: none

fix: quick_retrain eval auto-detects system_id instead of hardcoding catboost_v9
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

feat: NBA playoff shadow mode — picks in BQ but not exported to GCS
  backfill_jobs/publishing/daily_export.py
Due: validate-sql-fstrings, validate-python-syntax

feat: MLB market regime awareness — port 3 NBA Session 483 guardrails to MLB
  ml/signals/mlb/best_bets_exporter.py
Due: validate-sql-fstrings

docs: Session 483 new-chat handoff — Mar 23 ready
  docs/09-handoff/2026-03-23-SESSION-483-NEW-CHAT-HANDOFF.md
Due: none

fix: pre-commit YAML multi-doc, MLB write_to_bigquery, dominance alert
  .pre-commit-config.yaml
  deployment/scheduler/mlb/validator-schedules.yaml
  ml/signals/pipeline_merger.py
  orchestration/cloud_functions/mlb_phase4_to_phase5/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: MLB signal health tracker (ml/signals/mlb/signal_health.py)
  ml/signals/mlb/signal_health.py
Due: validate-sql-fstrings

docs: Session 484 handoff — MLB Opening Day ready, signal_health built
  docs/09-handoff/2026-03-23-SESSION-484-HANDOFF.md
Due: none

fix: correct stale OVER edge floor log message (4.0 → 5.0 base, regime-adaptive)
  ml/signals/aggregator.py
Due: validate-sql-fstrings

docs: Session 485 handoff — CatBoost retrain, drought root cause, plan review
  docs/09-handoff/2026-03-23-SESSION-485-HANDOFF.md
Due: none

fix: add pybaseball to scraper requirements for mlb_statcast_daily
  bin/scrapers/deploy/mlb/deploy_mlb_scrapers.sh
  scrapers/requirements-lock.txt
  scrapers/requirements.txt
Due: none

feat: add cap_to_last_loose_market_date() to weekly-retrain CF
  orchestration/cloud_functions/weekly_retrain/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 486 handoff — MLB Opening Day fixes, LGBM retrain, retrain gate fix
  docs/09-handoff/2026-03-24-SESSION-486-HANDOFF.md
Due: none

fix: demote volatile_scoring_over to SHADOW_SIGNALS
  ml/signals/aggregator.py
Due: validate-sql-fstrings

docs: Session 487 handoff — fleet cleanup, volatile_scoring_over shadow, pick drought analysis
  docs/09-handoff/2026-03-24-SESSION-487-HANDOFF.md
Due: none

docs: update CLAUDE.md with Session 487 pick drought and filter findings
  CLAUDE.md
Due: none

docs: Session 488 morning check handoff — fleet cleanup follow-up, pick recovery
  docs/09-handoff/2026-03-25-SESSION-488-HANDOFF.md
Due: none

fix: demote 5 UNDER filters to observation — CF HR 37-52%, blocking winners
  ml/signals/aggregator.py
Due: validate-sql-fstrings

fix: reduce BQ cost from bigdataball-puller SA (~2 TB/day → ~50 GB/day)
  orchestration/cleanup_processor.py
  scrapers/utils/proxy_utils.py
Due: validate-sql-fstrings

fix: make LOG_LEVEL env var effective in worker, coordinator, scrapers, monitors
  orchestration/cloud_functions/auto_retry_processor/main.py
  orchestration/cloud_functions/live_freshness_monitor/main.py
  predictions/coordinator/coordinator.py
  predictions/worker/worker.py
  scrapers/scraper_base.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

fix: revert 4 incorrect filter demotions from Session 488
  ml/signals/aggregator.py
Due: validate-sql-fstrings

feat: BettingPros fallback for feature 50 (book_disagreement signal)
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  data_processors/precompute/ml_feature_store/quality_scorer.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 488 EOD handoff — corrective actions (4 filter reverts + BettingPros)
  docs/09-handoff/2026-03-25-SESSION-488-EOD-HANDOFF.md
Due: none

docs: multi-sport frontend plan — NBA + MLB on best-bets page
  docs/08-projects/current/multi-sport-frontend/00-OVERVIEW.md
  docs/08-projects/current/multi-sport-frontend/01-BACKEND-PLAN.md
  docs/08-projects/current/multi-sport-frontend/02-FRONTEND-PLAN.md
  docs/08-projects/current/multi-sport-frontend/03-SCHEMA-MAPPING.md
Due: none

docs: Session 489 handoff — full multi-sport backend + frontend implementation
  docs/09-handoff/2026-03-26-SESSION-489-MULTI-SPORT-FRONTEND.md
Due: none

feat: MLB multi-sport backend — all.json exporter + Phase 6 CF routing
  data_processors/publishing/mlb/mlb_best_bets_exporter.py
  orchestration/cloud_functions/phase6_export/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

fix: remove game_time from MLB export_all query — column doesn't exist in pitcher_strikeouts
  data_processors/publishing/mlb/mlb_best_bets_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 490 handoff — multi-sport live + schema review findings
  docs/09-handoff/2026-03-26-SESSION-490-MULTI-SPORT-LIVE.md
Due: none

feat: add season_start field to MLB all.json output
  data_processors/publishing/mlb/mlb_best_bets_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

fix: wrap MLB CF export in try/except — result=None crash on export failure
  orchestration/cloud_functions/phase6_export/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$
