Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

validate-scraper-config-tables:
  name: Validate scraper config table references (warning only)
  description: Checks that BigQuery tables referenced in scraper_retry_config.yaml exist (informational, non-blocking)
  entry: python .pre-commit-hooks/validate_scraper_config_tables.py
  language: python
  pass_filenames: false
  verbose: true

validate-sql-queries:
  name: Validate SQL validation queries
  description: Checks for Session 123 anti-patterns (cache_date = game_date, missing partition filters, etc.)
  entry: python .pre-commit-hooks/validate_sql_queries.py
  language: python
  verbose: true

validate-view-filters:
  name: Validate BigQuery view quality filters (Session 209)
  description: Ensures views querying prediction tables have quality filter annotations (prevents contaminated metrics)
  entry: python .pre-commit-hooks/validate_view_filters.py
  language: python
  pass_filenames: false
  verbose: true

validate-python-syntax:
  name: Validate Python syntax in deploy directories
  description: Catches syntax errors that would break Cloud Function deploys (Session 213)
  entry: python .pre-commit-hooks/validate_python_syntax.py
  language: python
  pass_filenames: false
  verbose: true

validate-deploy-safety:
  name: Check for dangerous --set-env-vars
  description: Prevents accidental env var wipes from --set-env-vars (Session 81/213)
  entry: python .pre-commit-hooks/validate_deploy_safety.py
  language: python
  pass_filenames: false
  verbose: true

fix: rebuild the br-rosters-backfill image so the scheduled flag actually exists
  ops/scheduler-catalog-2026.yaml
  scripts/nba_offseason_restore_jobs.py
Due: validate-sql-fstrings

fix: the fleet-wide sanity floor could not fire on the production path
  docs/09-handoff/2026-08-22-SESSION-6-HANDOFF.md
  ml/signals/aggregator.py
  ml/signals/per_model_pipeline.py
  orchestration/cloud_functions/weekly_retrain/main.py
  shared/registry/filters.yaml
  tests/unit/signals/test_aggregator_model_sanity.py
  tests/unit/signals/test_fleet_sanity_floor.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: session-6 handoff; correct a docstring claim that implied a cap breach
  docs/09-handoff/2026-08-22-SESSION-6-HANDOFF.md
  shared/config/drawdown_halt.py
Due: validate-sql-fstrings, validate-python-syntax

fix: four defects in the fleet-sanity floor, incl. a mock that mocked nothing
  docs/09-handoff/2026-08-22-SESSION-6-HANDOFF.md
  ml/signals/aggregator.py
  ml/signals/per_model_pipeline.py
  monitoring/alert-policies/deploy-alert-policies.sh
  monitoring/alert-policies/model-sanity-fleet-wide-trip.yaml
  orchestration/cloud_functions/filter_counterfactual_evaluator/main.py
  shared/registry/filters.yaml
  tests/unit/signals/test_aggregator_model_sanity.py
  tests/unit/signals/test_fleet_sanity_floor.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: carry the fleet-wide disarm marker into the audit trail
  data_processors/publishing/signal_best_bets_exporter.py
  docs/09-handoff/2026-08-22-SESSION-6-HANDOFF.md
  tests/unit/signals/test_fleet_sanity_floor.py
Due: validate-sql-fstrings, validate-python-syntax

fix: a test in the deploy gate imported a module the gate image lacks
  tests/unit/signals/test_fleet_sanity_floor.py
Due: validate-sql-fstrings

docs: final session-6 state — twelve services verified, alert policy live
  docs/09-handoff/2026-08-22-SESSION-6-HANDOFF.md
Due: none

docs: an agent research playbook, so the review angles stop being reinvented
  docs/02-operations/agent-research-playbook.md
Due: none

fix: keys/ was uploadable into every manual build context
  .gcloudignore
Due: none

fix: a second, independent blocker on the roster registry
  data_processors/reference/player_reference/roster_registry_processor.py
  data_processors/reference/player_reference/validators/gamebook_precedence_validator.py
Due: validate-sql-fstrings, validate-python-syntax

docs: session-7 start — the plan, and the six-agent findings that exist nowhere else
  docs/09-handoff/2026-08-22-SESSION-7-START.md
Due: none

fix: two signal queries selected a feature other than the one they named
  ml/signals/fast_pace_over.py
  ml/signals/per_model_pipeline.py
  ml/signals/predicted_pace.py
  ml/signals/slow_pace_under.py
  ml/signals/supplemental_data.py
  shared/registry/signals.yaml
  tests/unit/signals/test_feature_alias_contract.py
  tests/unit/signals/test_pace_signals.py
Due: validate-sql-fstrings

docs: decision B resolved — the trade-off it posed did not exist
  docs/09-handoff/2026-08-22-SESSION-7-START.md
Due: none

docs: correct the unpushed-commit list in §2 (four -> six)
  docs/09-handoff/2026-08-22-SESSION-7-START.md
Due: none

docs: BigDataBall season pass is a Phase D gate, and feature provenance belongs in Phase E
  docs/09-handoff/2026-08-22-SESSION-7-START.md
Due: none

docs: registry deploy path resolved — run it locally, the job is a trap
  docs/09-handoff/2026-08-22-SESSION-7-START.md
Due: none

fix: the roster registry crashed before writing a row, and a fixture hid it
  data_processors/reference/player_reference/roster_registry_processor.py
  tests/processors/reference/player_reference/test_roster_registry_init_contract.py
Due: validate-sql-fstrings, validate-python-syntax

fix: a failed registry write reported success and exited 0
  data_processors/reference/player_reference/roster_registry_processor.py
  tests/processors/reference/player_reference/test_roster_registry_status_contract.py
Due: validate-sql-fstrings, validate-python-syntax

docs: the seed rehearsal ran — machinery proven, three more defects found
  docs/09-handoff/2026-08-22-SESSION-7-START.md
Due: none

fix: unresolved_player_names was never written — dates went raw to BigQuery
  data_processors/reference/player_reference/operations/registry_ops.py
  tests/processors/reference/player_reference/test_registry_ops_json_safety.py
Due: validate-sql-fstrings, validate-python-syntax

fix: --test-mode wrote player_aliases and unresolved_player_names to production
  data_processors/reference/player_reference/roster_registry_processor.py
  tests/processors/reference/player_reference/test_roster_registry_init_contract.py
Due: validate-sql-fstrings, validate-python-syntax

docs: two more seed-path defects, and 62 rows of mine in a production table
  docs/09-handoff/2026-08-22-SESSION-7-START.md
Due: none

test: real coverage for the three roster source handlers, dead tests removed
  tests/processors/reference/README.md
  tests/processors/reference/conftest.py
  tests/processors/reference/player_reference/test_gamebook_registry.py
  tests/processors/reference/player_reference/test_roster_registry.py
  tests/processors/reference/player_reference/test_roster_source_handlers.py
Due: validate-sql-fstrings

docs: seed-path coverage rebuilt, and a likely root cause for cross-suite pollution
  docs/09-handoff/2026-08-22-SESSION-7-START.md
Due: none

docs: 62 rows deleted, decision A deferred, and a silently failing AI resolver
  docs/09-handoff/2026-08-22-SESSION-7-START.md
Due: none

fix: Phase B — handlers that reported success while failing, and the reason why
  data_processors/grading/prediction_accuracy/prediction_accuracy_processor.py
  orchestration/cloud_functions/expected_outputs_planner/main.py
  orchestration/cloud_functions/halt_state_writer/main.py
  orchestration/cloud_functions/weekly_retrain/main.py
  shared/utils/error_context.py
  tests/unit/observability/test_error_context_preserves_exceptions.py
  tests/unit/observability/test_failure_is_reported.py
  tests/unit/observability/test_grading_infra_errors_propagate.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

docs: session-8 entry point
  docs/09-handoff/2026-08-24-SESSION-8-START.md
Due: none

docs: measured deploy state — two enabled triggers silently did not fire
  docs/09-handoff/2026-08-24-SESSION-8-START.md
Due: none

docs: finalise the session-8 handoff as a cold-start takeover document
  docs/09-handoff/2026-08-24-SESSION-8-START.md
Due: none

fix: the safety net could not see its own terminal states
  orchestration/cloud_functions/expected_outputs_planner/main.py
  orchestration/cloud_functions/gap_detector/main.py
  tests/unit/observability/test_pipeline_state_metrics.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: half the metric-emitting Cloud Functions shipped without the emitter
  orchestration/cloud_functions/expected_outputs_planner/requirements.txt
  orchestration/cloud_functions/grading/requirements.txt
  orchestration/cloud_functions/phase6_export/requirements.txt
  tests/unit/observability/test_pipeline_state_metrics.py
Due: validate-sql-fstrings

fix: failed_count needs a sport label to be alertable
  orchestration/cloud_functions/gap_detector/main.py
  tests/unit/observability/test_pipeline_state_metrics.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: planner liveness as planning-horizon depth, not metric absence
  orchestration/cloud_functions/gap_detector/main.py
  tests/unit/observability/test_pipeline_state_metrics.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: bind SLACK_WEBHOOK_URL on the two phase orchestrators
  bin/deploy-function.sh
Due: none

docs: record the alerting deferred to season open, and why
  docs/02-operations/runbooks/season-resume-2026-27.md
Due: none

fix: season-average window must follow the season, not a 2025 literal
  data_processors/analytics/upcoming_player_game_context/team_context.py
  tests/unit/data_processors/test_team_context_season_window.py
Due: validate-sql-fstrings, validate-python-syntax

fix: the season label and the season window named different seasons
  data_processors/publishing/all_subsets_picks_exporter.py
  data_processors/publishing/best_bets_all_exporter.py
  data_processors/publishing/best_bets_record_exporter.py
  data_processors/publishing/season_subset_picks_exporter.py
  data_processors/publishing/signal_best_bets_exporter.py
  data_processors/publishing/subset_performance_exporter.py
  data_processors/publishing/today_best_bets_exporter.py
  shared/config/nba_season_dates.py
  tests/unit/publishing/test_season_window_alignment.py
Due: validate-sql-fstrings, validate-python-syntax

docs: the 2026 season-start checklist item was already done
  docs/02-operations/runbooks/season-resume-2026-27.md
Due: none

fix: an ungraded prediction was counted as a loss, and could auto-disable models
  ml/analysis/model_performance.py
  schemas/bigquery/nba_predictions/model_performance_daily.sql
  tests/unit/ml/test_model_performance_grading_filter.py
Due: validate-sql-fstrings

fix: the same ungraded-as-loss defect in three user-facing accuracy numbers
  data_processors/publishing/best_bets_exporter.py
  data_processors/publishing/player_season_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$
