Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$

docs: Add Session 64 takeover prompt
  docs/09-handoff/2026-02-01-SESSION-64-TAKEOVER-PROMPT.md
Due: none

feat: Add heartbeat system monitoring and verification
  .claude/skills/validate-daily/SKILL.md
  bin/cleanup-heartbeat-docs.py
  bin/deploy-service.sh
Due: validate-sql-fstrings

docs: Add Session 63 Part 2 Polish handoff - Heartbeat system hardening
  docs/09-handoff/2026-02-01-SESSION-63-PART-2-POLISH-HANDOFF.md
Due: none

docs: Add deploy-before-backfill rule to CLAUDE.md
  CLAUDE.md
Due: none

fix: Update backfill script to accept v37 feature store records
  ml/backfill_v8_predictions.py
Due: validate-sql-fstrings

docs: Add Session 52 monitoring handoff - ML Feature Store backfill complete
  docs/09-handoff/2026-01-31-SESSION-52-MONITORING-HANDOFF.md
Due: none

docs: Add Session 65 handoff with feature mismatch investigation
  docs/09-handoff/2026-02-01-SESSION-65-HANDOFF.md
Due: none

docs: Add Session 65 takeover prompt
  docs/09-handoff/2026-02-01-SESSION-65-TAKEOVER-PROMPT.md
Due: none

feat: Add features_snapshot field to predictions for debugging
  ml/backfill_v8_predictions.py
  predictions/worker/worker.py
  schemas/bigquery/predictions/01_player_prop_predictions.sql
Due: validate-sql-fstrings

docs: Add Session 66 handoff - Data leakage root cause discovery
  docs/09-handoff/2026-02-01-SESSION-66-HANDOFF.md
Due: none

docs: Add Session 67 takeover prompt for ML experiments
  docs/08-projects/current/ml-challenger-experiments/EXPERIMENT-PLAN.md
  docs/09-handoff/2026-02-01-SESSION-67-TAKEOVER-PROMPT.md
Due: none

docs: Add Session 67 ML experiment results - V9 candidate found
  docs/08-projects/current/ml-challenger-experiments/EXPERIMENT-PLAN.md
Due: none

docs: Add data quality audit confirming training data is clean
  docs/08-projects/current/ml-challenger-experiments/EXPERIMENT-PLAN.md
Due: none

docs: Add V9 promotion plan with full implementation checklist
  docs/08-projects/current/ml-challenger-experiments/V9-PROMOTION-PLAN.md
Due: none

feat: Add ML feature store audit script and historical cleanup plan
  bin/audit_feature_store.py
  docs/08-projects/current/ml-challenger-experiments/HISTORICAL-FEATURE-CLEANUP-PLAN.md
Due: validate-sql-fstrings

feat: Add CatBoost V9 prediction system with current season training
  predictions/worker/prediction_systems/catboost_v9.py
  predictions/worker/worker.py
Due: validate-sql-fstrings

docs: Update project docs with V9 model information
  CLAUDE.md
  docs/08-projects/current/ml-challenger-experiments/README.md
Due: none

fix: Add features_snapshot to ALL predictions, fix catboost_v9 condition
  predictions/worker/worker.py
Due: validate-sql-fstrings

feat: Add ML experimentation roadmap and last season analysis script
  docs/08-projects/current/ml-challenger-experiments/ML-EXPERIMENTATION-ROADMAP.md
  ml/experiments/last_season_analysis.py
Due: validate-sql-fstrings

fix: Add GCS model loading support to CatBoost V9
  predictions/worker/prediction_systems/catboost_v9.py
Due: validate-sql-fstrings

feat: Update backfill script to support V9 model
  ml/backfill_v8_predictions.py
Due: validate-sql-fstrings

docs: Add Session 67 handoff and Session 68 takeover prompt
  docs/09-handoff/2026-02-01-SESSION-67-HANDOFF.md
  docs/09-handoff/2026-02-01-SESSION-68-TAKEOVER-PROMPT.md
Due: none

docs: Update handoff with session strategy and line source options
  docs/09-handoff/2026-02-01-SESSION-67-HANDOFF.md
  docs/09-handoff/2026-02-01-SESSION-68-TAKEOVER-PROMPT.md
Due: none

docs: Add Sonnet session prompt for Session 68
  docs/09-handoff/2026-02-01-SESSION-68-SONNET-PROMPT.md
Due: none

feat: Add --line-source flag to quick_retrain.py and update skill queries for multi-model support
  .claude/skills/hit-rate-analysis/SKILL.md
  .claude/skills/model-experiment/SKILL.md
  .claude/skills/validate-daily/SKILL.md
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

docs: Add experiment variables documentation for ML training
  docs/08-projects/current/ml-challenger-training-strategy/EXPERIMENT-VARIABLES.md
  docs/08-projects/current/ml-challenger-training-strategy/README.md
Due: none

docs: Add comprehensive ML experiment plan with specific commands
  docs/08-projects/current/ml-challenger-training-strategy/EXPERIMENT-PLAN.md
  docs/08-projects/current/ml-challenger-training-strategy/README.md
Due: none

docs: Correct V9 edge-finding analysis - mark as superseded
  docs/08-projects/current/catboost-v9-experiments/V9-EDGE-FINDING-PERFORMANCE-ISSUE.md
Due: none

fix: Comprehensive pipeline improvements - quota, BDL cleanup, completion tracking
  .claude/skills/hit-rate-analysis/SKILL.md
  .claude/skills/model-health/SKILL.md
  .claude/skills/todays-predictions/SKILL.md
  .claude/skills/top-picks/SKILL.md
  .claude/skills/yesterdays-grading/SKILL.md
  data_processors/analytics/main_analytics_service.py
  data_processors/analytics/player_game_summary/player_game_summary_processor.py
  data_processors/analytics/upcoming_player_game_context/loaders/game_data_loaders.py
  data_processors/analytics/upcoming_player_game_context/upcoming_player_game_context_processor.py
  docs/09-handoff/2026-02-01-SESSION-68-VALIDATION-V9-ANALYSIS.md
  orchestration/cloud_functions/phase3_to_phase4/main.py
  predictions/worker/system_circuit_breaker.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Add Session 68 comprehensive fix handoff document
  docs/09-handoff/2026-02-01-SESSION-68-COMPREHENSIVE-FIX-HANDOFF.md
Due: none

feat: Add grading completeness check to validate-daily skill (Session 68 fix)
  .claude/skills/validate-daily/SKILL.md
Due: none

docs: Add grading table selection guidance to CLAUDE.md (Session 68 fix)
  CLAUDE.md
Due: none

feat: Auto-trigger grading backfill after predictions (Session 68 fix)
  ml/backfill_v8_predictions.py
Due: validate-sql-fstrings

docs: Add orchestration issues analysis for Feb 1 validation
  docs/08-projects/current/daily-orchestration-issues-2026-02-01.md
Due: none

fix: Add missing phase3_data_quality_check.py symlinks to Cloud Functions
  orchestration/cloud_functions/auto_backfill_orchestrator/shared/validation/phase3_data_quality_check.py
  orchestration/cloud_functions/daily_health_summary/shared/validation/phase3_data_quality_check.py
  orchestration/cloud_functions/phase2_to_phase3/shared/validation/phase3_data_quality_check.py
  orchestration/cloud_functions/phase3_to_phase4/shared/validation/phase3_data_quality_check.py
  orchestration/cloud_functions/phase4_to_phase5/shared/validation/phase3_data_quality_check.py
  orchestration/cloud_functions/phase5_to_phase6/shared/validation/phase3_data_quality_check.py
  orchestration/cloud_functions/self_heal/shared/validation/phase3_data_quality_check.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: Add validation for Cloud Function symlinks and prevention measures
  .pre-commit-hooks/validate_cloud_function_symlinks.py
  bin/validation/validate_cloud_function_imports.py
  docs/08-projects/current/daily-orchestration-improvements/2026-02-01-CLOUD-FUNCTION-SYMLINK-FIX.md
Due: validate-sql-fstrings

feat: Add team_win_pct fix script for historical feature cleanup
  backfill_jobs/feature_store/__init__.py
  backfill_jobs/feature_store/fix_team_win_pct.py
  docs/08-projects/current/historical-feature-cleanup/README.md
Due: validate-sql-fstrings

fix: Remove broken espon_nba_team_ids.py symlinks (typo)
  orchestration/cloud_functions/auto_backfill_orchestrator/shared/config/espon_nba_team_ids.py
  orchestration/cloud_functions/daily_health_summary/shared/config/espon_nba_team_ids.py
  orchestration/cloud_functions/phase2_to_phase3/shared/config/espon_nba_team_ids.py
  orchestration/cloud_functions/phase4_to_phase5/shared/config/espon_nba_team_ids.py
  orchestration/cloud_functions/phase5_to_phase6/shared/config/espon_nba_team_ids.py
  orchestration/cloud_functions/self_heal/shared/config/espon_nba_team_ids.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Add Session 69 handoff for orchestration fix
  docs/09-handoff/2026-02-01-SESSION-69-ORCHESTRATION-FIX-HANDOFF.md
Due: none
