Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

validate-scraper-config-tables:
  name: Validate scraper config table references (warning only)
  description: Checks that BigQuery tables referenced in scraper_retry_config.yaml exist (informational, non-blocking)
  entry: python .pre-commit-hooks/validate_scraper_config_tables.py
  language: python
  pass_filenames: false
  verbose: true

validate-sql-queries:
  name: Validate SQL validation queries
  description: Checks for Session 123 anti-patterns (cache_date = game_date, missing partition filters, etc.)
  entry: python .pre-commit-hooks/validate_sql_queries.py
  language: python
  verbose: true

validate-view-filters:
  name: Validate BigQuery view quality filters (Session 209)
  description: Ensures views querying prediction tables have quality filter annotations (prevents contaminated metrics)
  entry: python .pre-commit-hooks/validate_view_filters.py
  language: python
  pass_filenames: false
  verbose: true

validate-python-syntax:
  name: Validate Python syntax in deploy directories
  description: Catches syntax errors that would break Cloud Function deploys (Session 213)
  entry: python .pre-commit-hooks/validate_python_syntax.py
  language: python
  pass_filenames: false
  verbose: true

validate-deploy-safety:
  name: Check for dangerous --set-env-vars
  description: Prevents accidental env var wipes from --set-env-vars (Session 81/213)
  entry: python .pre-commit-hooks/validate_deploy_safety.py
  language: python
  pass_filenames: false
  verbose: true

feat: mean_reversion_under signal + flat_trend/spread filters + handoff
  docs/09-handoff/2026-03-05-SESSION-412-HANDOFF.md
  ml/signals/aggregator.py
  ml/signals/mean_reversion_under.py
  ml/signals/registry.py
Due: validate-sql-fstrings

docs: add MONITORING-CHECKLIST.md — single source of truth for pending items
  docs/02-operations/MONITORING-CHECKLIST.md
Due: none

feat: /monitoring skill — runs pending checklist items and updates outcomes
  .claude/skills/monitoring/SKILL.md
Due: none

fix: regime_context str-to-date conversion for Phase 6 export
  ml/signals/regime_context.py
Due: validate-sql-fstrings

fix: regime context to observation-only — was nuking 10/12 picks
  ml/signals/aggregator.py
Due: validate-sql-fstrings

feat: day_of_week_under signal + 3 observation filters from Session 414
  docs/02-operations/MONITORING-CHECKLIST.md
  ml/signals/day_of_week_under.py
  ml/signals/registry.py
Due: validate-sql-fstrings

fix: exporter query now respects worker is_actionable filter
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings

feat: pick metadata completeness — grading, confidence fix, new columns
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/aggregator.py
  orchestration/cloud_functions/post_grading_export/main.py
  schemas/bigquery/nba_predictions/signal_best_bets_picks.sql
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

feat: rescue tightening, filter promotions, and filter re-evaluation
  docs/02-operations/MONITORING-CHECKLIST.md
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  ml/signals/aggregator.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

fix: monitoring functions always return 200 for scheduler compatibility
  functions/monitoring/analytics_quality_check/main.py
  functions/monitoring/morning_deployment_check/main.py
Due: validate-sql-fstrings

fix: self-heal timeout — increase to 900s, remove P4 retries
  bin/deploy/deploy_self_heal_function.sh
  orchestration/cloud_functions/self_heal/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-deploy-safety

docs: add session 413-416 handoff documents
  docs/09-handoff/2026-03-05-SESSION-413-HANDOFF.md
  docs/09-handoff/2026-03-05-SESSION-414-HANDOFF.md
  docs/09-handoff/2026-03-05-SESSION-415-HANDOFF.md
  docs/09-handoff/2026-03-05-SESSION-416-HANDOFF.md
Due: none

feat: add 11:30 PM ET post-game window for same-night box scores
  config/workflows.yaml
Due: none

feat: mean_reversion_under promoted, line_jumped_under demoted, brier_stats fix
  CLAUDE.md
  docs/02-operations/session-learnings.md
  docs/09-handoff/2026-03-05-SESSION-416-HANDOFF.md
  ml/analysis/model_performance.py
  ml/signals/aggregator.py
  ml/signals/pick_angle_builder.py
  ml/signals/registry.py
Due: validate-sql-fstrings

feat: player deep dive analysis tool and signal discovery
  bin/analysis/player_deep_dive.py
  docs/08-projects/current/player-deep-dive/00-OVERVIEW.md
  docs/08-projects/current/player-deep-dive/01-CURRY-FINDINGS.md
  docs/08-projects/current/player-deep-dive/02-SYSTEMATIZATION-PLAN.md
  docs/08-projects/current/player-deep-dive/03-SIGNAL-FINDINGS.md
  docs/08-projects/current/player-deep-dive/04-IMPLEMENTATION-PLAN.md
  docs/09-handoff/2026-03-06-SESSION-417-HANDOFF.md
Due: validate-sql-fstrings, validate-python-syntax

fix: grading bugs — game_datetime_utc missing column, yaml lazy import
  data_processors/grading/subset_grading/subset_grading_processor.py
  shared/validation/__init__.py
Due: validate-sql-fstrings, validate-python-syntax

feat: player profile signals — bounce_back_over, over_streak_reversion, under_after_streak filter
  ml/signals/aggregator.py
  ml/signals/bounce_back_over.py
  ml/signals/over_streak_reversion_under.py
  ml/signals/pick_angle_builder.py
  ml/signals/registry.py
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings

docs: add session 418 handoff document
  docs/09-handoff/2026-03-06-SESSION-418-HANDOFF.md
Due: none

feat: v421 HSE rescue restore + edge confidence observation signals
  data_processors/publishing/signal_best_bets_exporter.py
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  docs/09-handoff/2026-03-06-SESSION-419-HANDOFF.md
  docs/09-handoff/2026-03-06-SESSION-420-HANDOFF.md
  ml/signals/aggregator.py
  ml/signals/regime_context.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings, validate-python-syntax

feat: filter rebalance — lower OVER floor, demote harmful filters/signals
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  ml/signals/aggregator.py
  ml/signals/mean_reversion_under.py
Due: validate-sql-fstrings

docs: add session 421 handoff document
  docs/09-handoff/2026-03-06-SESSION-421-HANDOFF.md
Due: none

fix: exporter pick_dict NULL fields + demote blowout_risk_under
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/aggregator.py
Due: validate-sql-fstrings, validate-python-syntax

chore: remove dead starter_v12_under filter
  ml/signals/aggregator.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

docs: add edge overconfidence columns to picks schema
  schemas/bigquery/nba_predictions/signal_best_bets_picks.sql
Due: none

feat: blowout_risk_under obs filter + trend_slope NULL fix + 3 UNDER signals
  CLAUDE.md
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  ml/signals/aggregator.py
  ml/signals/downtrend_under.py
  ml/signals/registry.py
  ml/signals/star_favorite_under.py
  ml/signals/volatile_starter_under.py
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

docs: add session 422 handoff — edge follow-through + system audit
  docs/09-handoff/2026-03-06-SESSION-422-HANDOFF.md
Due: none

feat: starter_away_overtrend_under signal + sharp_book_lean demotion
  CLAUDE.md
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  ml/signals/aggregator.py
  ml/signals/registry.py
  ml/signals/starter_away_overtrend_under.py
Due: validate-sql-fstrings

fix: add 11 missing signals to signal_health_daily tracking
  ml/signals/aggregator.py
  ml/signals/registry.py
  ml/signals/signal_health.py
Due: validate-sql-fstrings

docs: add session 425 handoff — UNDER signal development
  docs/09-handoff/2026-03-06-SESSION-425-HANDOFF.md
Due: none

feat: bounce_back_over shooting quality tiers + UNDER weight rebalance
  ml/signals/aggregator.py
  ml/signals/bounce_back_over.py
Due: validate-sql-fstrings

feat: under_after_bad_miss negative filter — block UNDER on bounce-back context
  ml/signals/aggregator.py
Due: validate-sql-fstrings

fix: CLV snapshot selection bug — was using midnight scrape as opening
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings

feat: demote 4 harmful filters to observation mode
  docs/08-projects/current/filter-tuning-427/PLAN.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
  ml/signals/aggregator.py
Due: validate-sql-fstrings

feat: Statcast backfill script + MLB Sprint 3 handoff doc
  docs/08-projects/current/mlb-pitcher-strikeouts/SESSION-428-MLB-HANDOFF.md
  scripts/mlb/backfill_statcast.py
Due: validate-sql-fstrings

docs: Session 429 handoff — signal validation + weight cleanup
  docs/09-handoff/START-NEXT-SESSION-HERE.md
Due: none

fix: MLB worker deploy — urllib3 pin, scheduler + cloudbuild fixes
  bin/schedulers/setup_mlb_schedulers.sh
  cloudbuild-mlb-worker.yaml
  predictions/mlb/requirements.txt
Due: validate-deploy-safety

docs: update MLB status — worker deployed, schedulers created
  docs/08-projects/current/mlb-pitcher-strikeouts/CURRENT-STATUS.md
Due: none

fix: decay-detection CF bugs + service_errors table + auto-disable infrastructure
  bin/deactivate_model.py
  docs/08-projects/current/system-improvement-audit/EXECUTION-PLAN.md
  docs/08-projects/current/system-improvement-audit/SYSTEM-AUDIT.md
  orchestration/cloud_functions/decay_detection/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

feat: champion model from registry + feature contract consolidation + monitor HTTP handlers
  bin/monitoring/data_source_health_canary.py
  bin/monitoring/signal_decay_monitor.py
  predictions/worker/prediction_systems/catboost_v12.py
  shared/config/model_selection.py
Due: validate-sql-fstrings, validate-python-syntax

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$
