Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$

fix: Env var takes priority over local models, cloudbuild reads manifest
  cloudbuild.yaml
  predictions/worker/prediction_systems/catboost_v9.py
Due: validate-sql-fstrings

fix: Escape shell variables in cloudbuild.yaml for Cloud Build
  cloudbuild.yaml
Due: none

docs: Session 167 handoff — model loading fix, partial backfill
  docs/09-handoff/2026-02-09-SESSION-167-HANDOFF.md
Due: none

fix: Supersede deactivates predictions, preserve feature store vegas lines
  docs/09-handoff/2026-02-09-SESSION-168-HANDOFF.md
  predictions/coordinator/coordinator.py
  predictions/coordinator/quality_gate.py
  predictions/worker/worker.py
Due: validate-sql-fstrings

docs: Session 168 handoff — UNDER bias crisis, stale model audit
  docs/09-handoff/2026-02-09-SESSION-168-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

fix: Recover Vegas line from line_values when actual_prop_line is NULL
  docs/09-handoff/2026-02-09-SESSION-169-HANDOFF.md
  predictions/worker/prediction_systems/catboost_monthly.py
  predictions/worker/worker.py
Due: validate-sql-fstrings

docs: Session 169 handoff completion — Vegas line fix verified deployed, next session prompt
  docs/09-handoff/2026-02-09-SESSION-169-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

feat: Add PVL bias monitoring alert and Vegas source tracking (Session 170)
  predictions/coordinator/coordinator.py
  predictions/coordinator/quality_alerts.py
  predictions/worker/worker.py
Due: validate-sql-fstrings

fix: Use fresh odds for actual_prop_line instead of stale Phase 3 data (Session 170)
  predictions/coordinator/player_loader.py
Due: validate-sql-fstrings

feat: Add model_version filter to subset queries (Session 170)
  data_processors/publishing/subset_materializer.py
  shared/notifications/subset_picks_notifier.py
Due: validate-sql-fstrings

feat: Add avg_pvl to daily prediction signals (Session 170)
  predictions/coordinator/signal_calculator.py
  shared/utils/slack_channels.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: Disable multi-line predictions — dedup bug causes +2.0 UNDER bias (Session 170)
  shared/config/orchestration_config.py
Due: validate-sql-fstrings

docs: Session 170 handoff — multi-line bug fix, Vegas hardening, hit rate investigation
  docs/09-handoff/2026-02-09-SESSION-170-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

fix: Allow same-day BACKFILL, reduce publish delay 5x, stop stale Pub/Sub retries (Session 171)
  predictions/coordinator/coordinator.py
  predictions/worker/worker.py
Due: validate-sql-fstrings

feat: Add publish metrics logging and stale transient failure ACKing (Session 171)
  predictions/coordinator/coordinator.py
  predictions/worker/worker.py
Due: validate-sql-fstrings

feat: Add recommendation skew + vegas source alerts, consolidation metrics, session docs (Session 171)
  docs/08-projects/current/pipeline-throughput-reliability/00-PROJECT-OVERVIEW.md
  docs/09-handoff/2026-02-09-SESSION-171-HANDOFF.md
  predictions/coordinator/coordinator.py
  predictions/coordinator/quality_alerts.py
  predictions/coordinator/signal_calculator.py
  predictions/shared/batch_staging_writer.py
  predictions/worker/worker.py
Due: validate-sql-fstrings

docs: Update Session 171 handoff with all 3 commits and new alerts
  docs/08-projects/current/pipeline-throughput-reliability/00-PROJECT-OVERVIEW.md
  docs/09-handoff/2026-02-09-SESSION-171-HANDOFF.md
Due: none

docs: Session 173 consolidated handoff from Sessions 170-172
  docs/09-handoff/2026-02-09-SESSION-173-HANDOFF.md
Due: none

docs: Add Session 172 handoff + cloudbuild configs
  cloudbuild-mlb-worker.yaml
  cloudbuild-precompute.yaml
  docs/09-handoff/2026-02-09-SESSION-172-HANDOFF.md
  docs/archive/docker-deprecated/cloudbuild-base.yaml
Due: none

docs: Session 173 handoff — grading catchup, contamination discovery, performance decline
  docs/09-handoff/2026-02-09-SESSION-173-HANDOFF.md
Due: none

fix: Report completion for skipped workers, filter signals on is_active (Session 174)
  docs/09-handoff/2026-02-09-SESSION-174-HANDOFF.md
  predictions/coordinator/signal_calculator.py
  predictions/worker/worker.py
Due: validate-sql-fstrings

docs: Session 174 handoff + CLAUDE.md issues update
  CLAUDE.md
  docs/09-handoff/2026-02-09-SESSION-174-HANDOFF.md
Due: none

fix: Recommendation direction validation, correlated subquery fix, OddsAPI diagnostics (Session 175)
  CLAUDE.md
  docs/09-handoff/2026-02-09-SESSION-175-HANDOFF.md
  predictions/coordinator/coordinator.py
  predictions/coordinator/player_loader.py
  predictions/worker/worker.py
  shared/notifications/subset_picks_notifier.py
Due: validate-sql-fstrings

feat: Add model diagnosis script + directional balance governance gate (Session 175)
  .claude/skills/hit-rate-analysis/SKILL.md
  .claude/skills/model-experiment/SKILL.md
  .claude/skills/model-health/SKILL.md
  ml/experiments/model_diagnose.py
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

feat: Async regeneration endpoint, direction alignment check, gunicorn timeout (Session 176)
  predictions/coordinator/coordinator.py
  predictions/coordinator/gunicorn_config.py
  predictions/coordinator/quality_alerts.py
Due: validate-sql-fstrings

feat: Add recency weighting, walk-forward validation, and hyperparameter tuning to quick_retrain
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

docs: Retrain infrastructure docs, model strategy roadmap, skill update (Session 176)
  .claude/skills/model-experiment/SKILL.md
  docs/08-projects/current/retrain-infrastructure/00-PROJECT-OVERVIEW.md
  docs/08-projects/current/retrain-infrastructure/01-EXPERIMENT-RESULTS-REVIEW.md
  docs/08-projects/current/retrain-infrastructure/02-MODEL-STRATEGY-ROADMAP.md
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

fix: Fix prediction_regeneration_audit silent insert failure (Session 176)
  predictions/coordinator/coordinator.py
Due: validate-sql-fstrings

docs: Session 176 handoff — regen Feb 4-8, async endpoint, direction checks, audit fix
  docs/09-handoff/2026-02-10-SESSION-176-HANDOFF.md
Due: none

feat: Parallel V9 models — GCS loading, comparison tooling, first challenger (Session 177)
  CLAUDE.md
  bin/compare-model-performance.py
  bin/model-registry.sh
  docs/08-projects/current/retrain-infrastructure/03-PARALLEL-MODELS-GUIDE.md
  ml/experiments/quick_retrain.py
  predictions/worker/prediction_systems/catboost_monthly.py
Due: validate-sql-fstrings

docs: Update next session prompt for Session 177
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

feat: Add 2 more challengers — V9_FULL_FEB and V9_TUNED_FEB (Session 177)
  CLAUDE.md
  predictions/worker/prediction_systems/catboost_monthly.py
Due: validate-sql-fstrings

docs: Full experiment review, hyperparameters guide, skill update (Session 177)
  .claude/skills/model-experiment/SKILL.md
  docs/08-projects/current/retrain-infrastructure/01-EXPERIMENT-RESULTS-REVIEW.md
  docs/08-projects/current/retrain-infrastructure/04-HYPERPARAMETERS-AND-TUNING.md
Due: none

feat: Add /compare-models skill for monitoring shadow challengers (Session 177)
  .claude/skills/compare-models/SKILL.md
Due: none

feat: Add challenger prediction backfill script (Session 177)
  bin/backfill-challenger-predictions.py
Due: validate-sql-fstrings

docs: Session 177 handoff — parallel models, backfill, grading triggered
  docs/09-handoff/2026-02-10-SESSION-177-HANDOFF.md
Due: none

docs: Update next session prompt and project overview for Session 177 handoff
  docs/08-projects/current/retrain-infrastructure/00-PROJECT-OVERVIEW.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

fix: Fix compare-model-performance.py edge column bug, Session 178 handoff
  bin/compare-model-performance.py
  docs/09-handoff/2026-02-10-SESSION-178-HANDOFF.md
Due: validate-sql-fstrings

feat: Replace contaminated challengers with clean Jan 31 models (Session 178)
  config/workflows.yaml
  docs/08-projects/current/retrain-infrastructure/00-PROJECT-OVERVIEW.md
  docs/08-projects/current/retrain-infrastructure/01-EXPERIMENT-RESULTS-REVIEW.md
  docs/09-handoff/2026-02-10-SESSION-178-HANDOFF.md
  predictions/worker/prediction_systems/catboost_monthly.py
Due: validate-sql-fstrings
