Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

validate-scraper-config-tables:
  name: Validate scraper config table references (warning only)
  description: Checks that BigQuery tables referenced in scraper_retry_config.yaml exist (informational, non-blocking)
  entry: python .pre-commit-hooks/validate_scraper_config_tables.py
  language: python
  pass_filenames: false
  verbose: true

validate-sql-queries:
  name: Validate SQL validation queries
  description: Checks for Session 123 anti-patterns (cache_date = game_date, missing partition filters, etc.)
  entry: python .pre-commit-hooks/validate_sql_queries.py
  language: python
  verbose: true

validate-view-filters:
  name: Validate BigQuery view quality filters (Session 209)
  description: Ensures views querying prediction tables have quality filter annotations (prevents contaminated metrics)
  entry: python .pre-commit-hooks/validate_view_filters.py
  language: python
  pass_filenames: false
  verbose: true

validate-python-syntax:
  name: Validate Python syntax in deploy directories
  description: Catches syntax errors that would break Cloud Function deploys (Session 213)
  entry: python .pre-commit-hooks/validate_python_syntax.py
  language: python
  pass_filenames: false
  verbose: true

validate-deploy-safety:
  name: Check for dangerous --set-env-vars
  description: Prevents accidental env var wipes from --set-env-vars (Session 81/213)
  entry: python .pre-commit-hooks/validate_deploy_safety.py
  language: python
  pass_filenames: false
  verbose: true

docs: update Session 490 handoff with agent review results + bug fixes
  docs/09-handoff/2026-03-26-SESSION-490-MULTI-SPORT-LIVE.md
Due: none

docs: Session 490 final handoff — global sport switcher + all fixes
  docs/09-handoff/2026-03-26-SESSION-490-MULTI-SPORT-LIVE.md
Due: none

docs: Session 491 handoff — GCP cost structure review
  docs/09-handoff/2026-03-26-SESSION-491-GCP-COST-REVIEW.md
Due: none

perf: reduce BigQuery scan costs in MERGE and cleanup queries
  data_processors/precompute/ml_feature_store/batch_writer.py
  orchestration/cleanup_processor.py
  predictions/shared/batch_staging_writer.py
Due: validate-sql-fstrings, validate-python-syntax

fix: prevent duplicate picks in best-bets/all.json from PA join fan-out
  data_processors/publishing/best_bets_all_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

fix: PR1 — grading dedup source fix + HIGH severity exporter JOINs + deduped view
  data_processors/grading/prediction_accuracy/prediction_accuracy_processor.py
  data_processors/publishing/admin_dashboard_exporter.py
  data_processors/publishing/admin_picks_exporter.py
  data_processors/publishing/best_bets_record_exporter.py
  data_processors/publishing/predictions_exporter.py
  data_processors/publishing/today_best_bets_exporter.py
  docs/09-handoff/2026-03-26-SESSION-492-GCP-COST-OPTIMIZATIONS.md
  docs/09-handoff/2026-03-26-SESSION-493-DUPLICATE-PICKS-FIX.md
  schemas/bigquery/nba_predictions/prediction_accuracy_deduped.sql
Due: validate-sql-fstrings, validate-python-syntax

fix: PR3 — MEDIUM severity prediction_accuracy JOIN fixes + session learnings
  docs/02-operations/session-learnings.md
  ml/analysis/league_macro.py
  ml/analysis/model_performance.py
  ml/signals/regime_context.py
  ml/signals/signal_health.py
  orchestration/cloud_functions/decay_detection/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: update Session 493 handoff with PR1+PR3 completion status
  docs/09-handoff/2026-03-26-SESSION-493-DUPLICATE-PICKS-FIX.md
Due: none

fix: PR2+PR4 — remaining prediction_accuracy JOIN fixes + safety net + canary
  bin/model_family_dashboard.py
  bin/monitoring/pipeline_canary_queries.py
  bin/replay_per_model_pipeline.py
  data_processors/ml_feedback/scoring_tier_processor.py
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/publishing/best_bets_all_exporter.py
  ml/analysis/model_profile.py
  ml/calibration/edge_calibrator.py
  schemas/bigquery/nba_predictions/v_signal_combo_performance.sql
  schemas/bigquery/nba_predictions/v_signal_performance.sql
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 493 complete — all 22 PA JOIN locations fixed, W-L record verified clean
  docs/09-handoff/2026-03-26-SESSION-493-DUPLICATE-PICKS-FIX.md
Due: none

fix: Session 494 — Layer 6 structural fixes, canaries, filter audit, drift script
  bin/analysis/model_correlation.py
  bin/check-deployment-drift.sh
  bin/monitoring/pipeline_canary_queries.py
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/precompute/ml_feature_store/quality_scorer.py
  data_processors/publishing/best_bets_all_exporter.py
  data_processors/publishing/signal_best_bets_exporter.py
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  ml/signals/aggregator.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 494 handoff — Layer 6 fixes, observation filter audit
  docs/09-handoff/2026-03-26-SESSION-494-LAYER6-FIXES.md
Due: none

chore: sync shared/ to 6 CF directories via sync_shared_utils.py
  orchestration/cloud_functions/auto_backfill_orchestrator/shared/backfill/schedule_utils.py
  orchestration/cloud_functions/auto_backfill_orchestrator/shared/change_detection/change_detector.py
  orchestration/cloud_functions/auto_backfill_orchestrator/shared/clients/__init__.py
  orchestration/cloud_functions/auto_backfill_orchestrator/shared/clients/bigquery_pool.py
  orchestration/cloud_functions/daily_health_summary/shared/backfill/schedule_utils.py
  orchestration/cloud_functions/daily_health_summary/shared/change_detection/change_detector.py
  orchestration/cloud_functions/daily_health_summary/shared/clients/__init__.py
  orchestration/cloud_functions/daily_health_summary/shared/clients/bigquery_pool.py
  orchestration/cloud_functions/phase3_to_phase4/shared/backfill/schedule_utils.py
  orchestration/cloud_functions/phase3_to_phase4/shared/change_detection/change_detector.py
  orchestration/cloud_functions/phase3_to_phase4/shared/clients/__init__.py
  orchestration/cloud_functions/phase3_to_phase4/shared/clients/bigquery_pool.py
  orchestration/cloud_functions/phase4_to_phase5/shared/backfill/schedule_utils.py
  orchestration/cloud_functions/phase4_to_phase5/shared/change_detection/change_detector.py
  orchestration/cloud_functions/phase4_to_phase5/shared/clients/__init__.py
  orchestration/cloud_functions/phase4_to_phase5/shared/clients/bigquery_pool.py
  orchestration/cloud_functions/phase5_to_phase6/shared/backfill/schedule_utils.py
  orchestration/cloud_functions/phase5_to_phase6/shared/change_detection/change_detector.py
  orchestration/cloud_functions/phase5_to_phase6/shared/clients/__init__.py
  orchestration/cloud_functions/phase5_to_phase6/shared/clients/bigquery_pool.py
  orchestration/cloud_functions/self_heal/shared/backfill/schedule_utils.py
  orchestration/cloud_functions/self_heal/shared/change_detection/change_detector.py
  orchestration/cloud_functions/self_heal/shared/clients/__init__.py
  orchestration/cloud_functions/self_heal/shared/clients/bigquery_pool.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: promote/remove 7 observation filters based on high-confidence data
  ml/signals/aggregator.py
Due: validate-sql-fstrings

fix: promote hot_shooting_reversion + remove flat_trend_under; update inventory
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  ml/signals/aggregator.py
Due: validate-sql-fstrings

fix: retrain.sh use .venv/bin/python3 instead of python
  bin/retrain.sh
Due: none

fix: retrain.sh eval date computation bug
  bin/retrain.sh
Due: none

docs: Session 494 extended handoff — retrain bug, fleet status, filter changes
  docs/09-handoff/2026-03-26-SESSION-494-LAYER6-FIXES.md
Due: none

fix: restore home_under + 9 signal health fixes + MLB scheduler season dates
  CLAUDE.md
  bin/retrain.sh
  deployment/scheduler/mlb/monitoring-schedules.yaml
  deployment/scheduler/mlb/validator-schedules.yaml
  deployment/scripts/deploy-mlb-monitoring.sh
  docs/08-projects/current/signal-discovery-framework/SIGNAL-INVENTORY.md
  ml/signals/aggregator.py
  ml/signals/pipeline_merger.py
  ml/signals/signal_health.py
Due: validate-sql-fstrings

docs: Session 495 handoff + fix usage_surge_over duplicate in ACTIVE_SIGNALS
  docs/09-handoff/2026-03-26-SESSION-495-HANDOFF.md
  docs/09-handoff/2026-03-26-SESSION-495-SIGNAL-DROUGHT-FIX.md
  ml/signals/signal_health.py
Due: validate-sql-fstrings

docs: Session 495 morning handoff — NBA duplicate fix + MLB bootstrap in progress
  docs/09-handoff/2026-03-27-SESSION-495-MORNING-HANDOFF.md
Due: none

fix: streaming buffer resilience + MLB auto-event-discovery + filtered picks bug
  bin/schedulers/setup_mlb_schedulers.sh
  data_processors/publishing/signal_best_bets_exporter.py
  predictions/shared/batch_staging_writer.py
  scrapers/routes/scraper.py
Due: validate-sql-fstrings, validate-python-syntax

docs: update morning handoff with root cause analysis and new commits
  docs/09-handoff/2026-03-27-SESSION-495-MORNING-HANDOFF.md
Due: none

docs: add signal drought diagnosis queries from Session 495
  docs/02-operations/queries/signal-drought-diagnosis-2026-03-26.sql
Due: none

docs: Session 495 final handoff
  docs/09-handoff/2026-03-27-SESSION-495-FINAL-HANDOFF.md
Due: none

fix: revert home_over_obs + fix current_subset_picks streaming buffer
  data_processors/publishing/cross_model_subset_materializer.py
  data_processors/publishing/signal_subset_materializer.py
  ml/signals/aggregator.py
  ml/signals/pipeline_merger.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 496 handoff — home_over_obs revert + streaming fix + 2 BLOCKED models disabled
  docs/09-handoff/2026-03-27-SESSION-496-HANDOFF.md
Due: none

fix: mark star_line_under as do-not-graduate (35.3% HR this season)
  ml/signals/aggregator.py
Due: validate-sql-fstrings

chore: fix observation filter count comment (~20 not 24)
  ml/signals/aggregator.py
Due: validate-sql-fstrings

fix: add Decimal→float conversion to cross_model_subset_materializer
  data_processors/publishing/cross_model_subset_materializer.py
Due: validate-sql-fstrings, validate-python-syntax

fix: use absolute imports in main_processor_service for mlb-phase2 compatibility
  data_processors/raw/main_processor_service.py
Due: validate-sql-fstrings, validate-python-syntax

docs: update Session 496 handoff with addendum
  docs/09-handoff/2026-03-27-SESSION-496-HANDOFF.md
Due: none

fix: add OIDC auth to MLB pub/sub subscriptions (phase 3-6)
  bin/pubsub/setup_mlb_subscriptions.sh
Due: none

fix: use sport-aware topic in analytics_base _publish_completion_message
  data_processors/analytics/analytics_base.py
Due: validate-sql-fstrings, validate-python-syntax

fix: use sport-aware topic in precompute_base _publish_completion_message
  data_processors/precompute/base/precompute_base.py
Due: validate-sql-fstrings, validate-python-syntax

docs: add Session 497 handoff
  docs/09-handoff/2026-03-27-SESSION-497-HANDOFF.md
Due: none

fix: MLB Phase 2 unblock + aggregator fta_avg NameError
  data_processors/raw/handlers/message_handler.py
  data_processors/raw/main_processor_service.py
  data_processors/raw/mlb/mlb_batter_props_processor.py
  data_processors/raw/mlb/mlb_game_lines_processor.py
  data_processors/raw/mlb/mlb_pitcher_props_processor.py
  docs/09-handoff/2026-03-28-SESSION-498-HANDOFF.md
  ml/signals/aggregator.py
Due: validate-sql-fstrings, validate-python-syntax

fix: register mlb-stats-api/box-scores processors in Phase 2 + fix YESTERDAY date literal
  data_processors/raw/handlers/file_processor.py
  data_processors/raw/main_processor_service.py
  scrapers/mixins/config_mixin.py
Due: validate-sql-fstrings, validate-python-syntax

fix: MLB Phase 3 pitcher summary reads mlbapi_pitcher_stats (not mlb_pitcher_stats)
  data_processors/analytics/mlb/pitcher_game_summary_processor.py
Due: validate-sql-fstrings, validate-python-syntax

fix: MLB Phase 3 venue_k_factors empty CTE syntax + APP_MODULE Dockerfile arg
  data_processors/analytics/Dockerfile
  data_processors/analytics/mlb/pitcher_game_summary_processor.py
Due: validate-sql-fstrings, validate-python-syntax

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$
