Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

feat: Add BigQuery write verification (Session 88 P0-1)
  bin/deploy-service.sh
  bin/monitoring/verify-bigquery-writes.sh
Due: none

feat: Complete Phase 1 validation improvements (P0-2 + P1-2)
  bin/deploy-service.sh
  bin/monitoring/verify-env-vars-preserved.sh
  docs/09-handoff/2026-02-03-SESSION-89-HANDOFF.md
Due: none

feat: Add Phase 6 subset exporters with Opus review fixes
  backfill_jobs/publishing/daily_export.py
  bin/orchestrators/setup_phase6_subset_schedulers.sh
  bin/test-phase6-exporters.py
  data_processors/publishing/all_subsets_picks_exporter.py
  data_processors/publishing/daily_signals_exporter.py
  data_processors/publishing/subset_definitions_exporter.py
  data_processors/publishing/subset_performance_exporter.py
  docs/02-operations/session-learnings.md
  docs/02-operations/system-features.md
  docs/08-projects/current/phase6-subset-model-enhancements/ACTION_PLAN.md
  docs/08-projects/current/phase6-subset-model-enhancements/CLEAN_API_STRUCTURE.md
  docs/08-projects/current/phase6-subset-model-enhancements/CODENAME_EXAMPLES.md
  docs/08-projects/current/phase6-subset-model-enhancements/DOCUMENTATION_INDEX.md
  docs/08-projects/current/phase6-subset-model-enhancements/EXPORT_TIMING_STRATEGY.md
  docs/08-projects/current/phase6-subset-model-enhancements/FINDINGS_SUMMARY.md
  docs/08-projects/current/phase6-subset-model-enhancements/IMPLEMENTATION_PLAN.md
  docs/08-projects/current/phase6-subset-model-enhancements/IMPLEMENTATION_UPDATE.md
  docs/08-projects/current/phase6-subset-model-enhancements/JSON_EXAMPLES.md
  docs/08-projects/current/phase6-subset-model-enhancements/MODEL_DISPLAY_NAMES.md
  docs/08-projects/current/phase6-subset-model-enhancements/NEW_SESSION_PROMPT.txt
  docs/08-projects/current/phase6-subset-model-enhancements/OPUS_FIXES_APPLIED.md
  docs/08-projects/current/phase6-subset-model-enhancements/OPUS_REVIEW_PROMPT.md
  docs/08-projects/current/phase6-subset-model-enhancements/OPUS_REVIEW_PROMPT_SHORT.txt
  docs/08-projects/current/phase6-subset-model-enhancements/OPUS_REVIEW_SESSION_90.md
  docs/08-projects/current/phase6-subset-model-enhancements/PUSH_STRATEGY.md
  docs/08-projects/current/phase6-subset-model-enhancements/README.md
  docs/08-projects/current/phase6-subset-model-enhancements/SESSION_90_OPUS_REVIEW_FOR_SONNET.md
  docs/09-handoff/2026-02-03-SESSION-90-FINAL-HANDOFF.md
  docs/09-handoff/2026-02-03-SESSION-90-HANDOFF.md
  docs/09-handoff/SESSION-91-START-PROMPT.md
  orchestration/cloud_functions/phase5_to_phase6/main.py
  shared/config/model_codenames.py
  shared/config/subset_public_names.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Add Session 91 deployment completion summary
  docs/09-handoff/2026-02-03-SESSION-91-DEPLOYMENT-COMPLETE.md
Due: none

fix: Use Eastern Time for BDB coverage check
  bin/monitoring/unified-health-check.sh
Due: none

feat: Add P0-3 REPEATED field NULL detection to pre-commit hook
  .pre-commit-hooks/validate_schema_fields.py
  schemas/bigquery/predictions/01_player_prop_predictions.sql
Due: validate-sql-fstrings

feat: Add P1-1 partition filter validator (pre-commit hook)
  .pre-commit-hooks/validate_partition_filters.py
Due: validate-sql-fstrings

feat: Add model attribution and Phase 6 monitoring (Session 91)
  .claude/skills/validate-daily/SKILL.md
  bin/monitoring/check_model_attribution.sh
  bin/monitoring/check_phase6_exports.sh
Due: none

docs: Add Phase 6 verification script and Session 92 start prompt
  bin/verify-phase6-deployment.sh
  docs/08-projects/current/deploy-script-dependency-bug/README.md
  docs/09-handoff/2026-02-04-SESSION-92-START-PROMPT.md
  docs/09-handoff/SESSION-86-NEXT-STEPS.md
Due: none

fix: Only count fully-completed game dates for grading coverage
  bin/monitoring/check_grading_completeness.sh
Due: none

docs: Add Session 91 handoff
  docs/09-handoff/2026-02-03-SESSION-91-HANDOFF.md
Due: none

docs: Add Session 89 final handoff (Phase 1+2 complete)
  docs/09-handoff/2026-02-03-SESSION-89-FINAL-HANDOFF.md
Due: none

docs: Add Session 86, 88, 90 handoff documents
  docs/09-handoff/2026-02-03-SESSION-88-HANDOFF.md
  docs/09-handoff/2026-02-03-SESSION-88-MODEL-ATTRIBUTION-FIX.md
  docs/09-handoff/2026-02-03-SESSION-88-P0-1-HANDOFF.md
  docs/09-handoff/2026-02-03-SESSION-90-OPUS-REVIEW-HANDOFF.md
  docs/09-handoff/SESSION-86-START-PROMPT.md
Due: none

feat: Complete Phase 3 validation improvements (P1-4 + P2-2)
  bin/monitoring/calibrate-threshold.sh
  bin/monitoring/check-prediction-timing.sh
Due: none

docs: Add Session 89 complete handoff - 100% validation project done!
  docs/09-handoff/2026-02-03-SESSION-89-COMPLETE.md
Due: none

docs: Add reminder skill documentation
  docs/09-handoff/2026-02-03-SESSION-91-REMINDER-SKILL.md
Due: none

docs: Add Feb 2 timing regression investigation
  docs/investigations/2026-02-03-feb2-timing-regression.md
Due: none

docs: Add future enhancements roadmap for validation/monitoring
  docs/08-projects/current/validation-monitoring-enhancements/FUTURE_ENHANCEMENTS.md
  docs/08-projects/current/validation-monitoring-enhancements/README.md
Due: none

fix: Prevent BigQuery NULL errors in execution logger and add overnight schedule fix
  docs/08-projects/current/2026-02-03-alert-investigation/README.md
  predictions/worker/execution_logger.py
Due: validate-sql-fstrings

docs: Add Session 93 handoff - alert investigation
  docs/09-handoff/2026-02-03-SESSION-93-ALERT-INVESTIGATION-HANDOFF.md
Due: none

docs: Organize root documentation and complete February cleanup project
  docs/00-PROJECT-DOCUMENTATION-INDEX.md
  docs/00-START-HERE-FOR-ERRORS.md
  docs/02-operations/COST-OPTIMIZATION.md
  docs/02-operations/ERROR-LOGGING-GUIDE.md
  docs/02-operations/session-learnings.md
  docs/02-operations/system-features.md
  docs/02-operations/troubleshooting-matrix.md
  docs/03-phases/mlb/README.md
  docs/03-phases/mlb/deployment-runbook.md
  docs/05-development/DOCUMENTATION-STANDARDS.md
  docs/05-ml/MODEL-TRAINING-RUNBOOK.md
  docs/06-reference/BIGQUERY-SCHEMA.md
  docs/06-reference/ENVIRONMENT-VARIABLES.md
  docs/06-testing/SCRAPER-FIXTURES.md
  docs/06-testing/TESTING-GUIDE.md
  docs/06-testing/testing-patterns.md
  docs/07-monitoring/STATUS-DASHBOARD.md
  docs/08-projects/archive/2026-02/DOCUMENTATION-CLEANUP-ACTION-PLAN.md
  docs/08-projects/completed/2026-02-documentation-cleanup/CLEANUP-PROMPT-2026-02.md
  docs/08-projects/completed/2026-02-documentation-cleanup/CLEANUP-REPORT-2026-02-02.md
  docs/08-projects/completed/2026-02-documentation-cleanup/COMPLETE-CLEANUP-SUMMARY-2026-02-02.md
  docs/08-projects/completed/2026-02-documentation-cleanup/DOCS-ROOT-CLEANUP-COMPLETE-2026-02-03.md
  docs/08-projects/completed/2026-02-documentation-cleanup/DOCS-ROOT-CLEANUP-PLAN-2026-02-03.md
  docs/08-projects/completed/2026-02-documentation-cleanup/DOCUMENTATION-HYGIENE-GUIDE.md
  docs/08-projects/completed/2026-02-documentation-cleanup/ERROR-LOG-REVIEW-2026-02-03.md
  docs/08-projects/completed/2026-02-documentation-cleanup/README.md
  docs/08-projects/completed/2026-02-documentation-cleanup/SONNET-CLEANUP-PROMPT.txt
  docs/08-projects/completed/2026-02-documentation-cleanup/VALIDATION-ISSUES-2026-02-02.md
  docs/08-projects/current/FEB-2-VALIDATION-ISSUES-2026-02-03.md
  docs/08-projects/summaries/2026-01.md
  docs/08-projects/summaries/2026-02.md
  docs/09-handoff/2026-02-03-SESSION-94-START-PROMPT.md
  docs/ENVIRONMENT-VARIABLES.md
Due: none

fix: Filter None values inside line_values_requested list
  predictions/worker/execution_logger.py
Due: validate-sql-fstrings

docs: Add BDB timing awareness and Session 94 handoff
  .claude/archive/claude_project_instructions_2026-02-03.md
  .claude/skills/cleanup-projects/README.md
  .claude/skills/cleanup-projects/SKILL.md
  .claude/skills/validate-daily/SKILL.md
  CLAUDE.md
  bin/cleanup-projects.sh
  bin/monitoring/bdb_pbp_monitor.py
  docs/02-operations/session-learnings.md
  docs/02-operations/troubleshooting-matrix.md
  docs/08-projects/current/feb-2-validation/FEB-1-VS-FEB-2-COMPARISON.md
  docs/08-projects/current/feb-2-validation/FEB-2-DATA-LINEAGE-REPORT-2026-02-03.md
  docs/08-projects/current/feb-2-validation/FEB-2-VALIDATION-ISSUES-2026-02-03.md
  docs/08-projects/current/feb-2-validation/MASTER-SUMMARY.md
  docs/08-projects/current/feb-2-validation/README.md
  docs/08-projects/current/feb-2-validation/SPOT-CHECK-FINDINGS.md
  docs/08-projects/current/feb-2-validation/VALIDATION-INDEX.md
  docs/08-projects/current/feb-2-validation/feature-store-vegas-coverage.txt
  docs/09-handoff/2026-02-03-SESSION-94-HANDOFF.md
Due: validate-sql-fstrings

fix: Add feature quality filter to subset picks export
  data_processors/publishing/all_subsets_picks_exporter.py
Due: validate-sql-fstrings

docs: Add prediction quality system project documentation
  docs/08-projects/current/prediction-quality-system/README.md
  docs/08-projects/current/prediction-quality-system/SMART-RETRY-DESIGN.md
Due: none

fix: Use isHome field in team boxscore processor
  data_processors/raw/nbacom/nbac_team_boxscore_processor.py
Due: validate-sql-fstrings

docs: Add Session 94 handoff - prediction quality & timing
  docs/09-handoff/2026-02-03-SESSION-94-HANDOFF.md
Due: none

fix: Correct module names in deploy-service.sh dependency tests
  bin/deploy-service.sh
Due: none

docs: Add Session 95 start prompt
  docs/09-handoff/2026-02-03-SESSION-95-START-PROMPT.md
Due: none

fix: Use direct import for path_extractors in raw processor
  data_processors/raw/main_processor_service.py
Due: validate-sql-fstrings

feat: Add prediction quality gate system (Session 95)
  docs/08-projects/current/prediction-quality-system/IMPLEMENTATION.md
  docs/08-projects/current/prediction-quality-system/README.md
  docs/08-projects/current/prediction-quality-system/SMART-RETRY-DESIGN.md
  predictions/coordinator/coordinator.py
  predictions/coordinator/quality_alerts.py
  predictions/coordinator/quality_gate.py
Due: validate-sql-fstrings

docs: Add missing features impact analysis + fix deploy script
  bin/deploy-service.sh
  docs/08-projects/current/prediction-quality-system/MISSING-FEATURES-ANALYSIS.md
Due: none

docs: Add Session 95 handoff
  docs/09-handoff/2026-02-03-SESSION-95-HANDOFF.md
Due: none

fix: Use most recent daily_cache for upcoming games (Session 95)
  data_processors/precompute/ml_feature_store/feature_extractor.py
Due: validate-sql-fstrings

docs: Update Session 95 handoff with complete status
  docs/09-handoff/2026-02-03-SESSION-95-HANDOFF.md
Due: none

fix(deploy): Pass CATBOOST_V8_MODEL_PATH to Docker test
  bin/deploy-service.sh
Due: none

fix: Add fallback to recent data for all Phase 4 extractors (Session 95)
  data_processors/precompute/ml_feature_store/feature_extractor.py
Due: validate-sql-fstrings

feat: Add morning health monitoring and Feb 2 validation docs (Session 96)
  bin/monitoring/morning_deployment_check.py
  docs/08-projects/current/morning-health-monitoring/MORNING_CHECK_SETUP.md
  docs/08-projects/current/morning-health-monitoring/README.md
  docs/08-projects/current/morning-health-monitoring/morning_deployment_check.py.example
  docs/09-handoff/2026-02-03-SESSION-96-HANDOFF.md
Due: validate-sql-fstrings

docs: Add Session 96 handoff - ML feature quality investigation
  docs/09-handoff/2026-02-03-SESSION-96-HANDOFF.md
Due: none

docs: Add Session 97 start prompt
  docs/09-handoff/2026-02-03-SESSION-97-START-PROMPT.md
Due: none

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
