Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

fix: Fix Vegas line contamination + add sharpness tracking schema
  data_processors/precompute/ml_feature_store/feature_extractor.py
  docs/08-projects/current/session-56-ml-infrastructure/TODO-LIST.md
  docs/08-projects/current/session-56-ml-infrastructure/VEGAS-SHARPNESS-DASHBOARD.md
  schemas/bigquery/nba_predictions/vegas_sharpness_daily.sql
Due: validate-sql-fstrings

docs: Add Session 56 handoff document
  docs/09-handoff/2026-01-31-SESSION-56-HANDOFF.md
Due: none

docs: Add Session 56 handoff - BigQuery insertJob rate limit fix
  docs/09-handoff/2026-01-31-SESSION-56-BIGQUERY-RATE-LIMIT-FIX.md
Due: none

feat: Automate daily performance diagnostics in data-quality-alerts
  docs/09-handoff/2026-01-31-SESSION-57-HANDOFF.md
  orchestration/cloud_functions/data_quality_alerts/deploy.sh
  orchestration/cloud_functions/data_quality_alerts/main.py
  shared/utils/performance_diagnostics.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Standardize hit rate measurement with two filters
  .claude/skills/hit-rate-analysis/SKILL.md
  CLAUDE.md
Due: none

docs: Add comprehensive Session 57 handoff and update TODO list
  docs/08-projects/current/session-56-ml-infrastructure/TODO-LIST.md
  docs/09-handoff/2026-01-31-SESSION-57-COMPREHENSIVE-HANDOFF.md
Due: none

perf: Add caching and optimize Firestore queries for 27x speedup
  services/unified_dashboard/backend/api/home.py
  services/unified_dashboard/backend/services/firestore_client.py
  services/unified_dashboard/backend/utils/cache.py
Due: validate-sql-fstrings

fix: Skip stale dependency checks for historical dates
  data_processors/analytics/mixins/dependency_mixin.py
Due: validate-sql-fstrings

feat: Add confidence filtering, weekly breakdown, and trajectory test
  .claude/skills/hit-rate-analysis/SKILL.md
  ml/experiments/evaluate_model.py
  ml/experiments/results/V8_JAN_IMPROVED_results.json
  ml/experiments/results/V8_JAN_PRODEQUIV_results.json
  ml/experiments/results/trajectory_test_20260131_164035.json
  ml/experiments/train_trajectory_test.py
  orchestration/cloud_functions/data_quality_alerts/deploy.sh
  shared/__init__.py
Due: validate-sql-fstrings

docs: Update TODO list with Session 58 completions
  docs/08-projects/current/session-56-ml-infrastructure/TODO-LIST.md
Due: none

feat: Add /model-experiment skill and monthly retraining pipeline
  .claude/skills/model-experiment/SKILL.md
  ml/experiments/quick_retrain.py
  orchestration/cloud_functions/monthly_retrain/deploy.sh
  orchestration/cloud_functions/monthly_retrain/main.py
  orchestration/cloud_functions/monthly_retrain/requirements.txt
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: Add automated NBA grading service
  data_processors/grading/nba/Dockerfile
  data_processors/grading/nba/__init__.py
  data_processors/grading/nba/main_nba_grading_service.py
  data_processors/grading/nba/requirements.txt
Due: validate-sql-fstrings

fix: Increase team_offense dependency staleness threshold to prevent cascade failures
  data_processors/analytics/player_game_summary/player_game_summary_processor.py
Due: validate-sql-fstrings

feat: Add nba-grading-service to deployment script
  bin/deploy-service.sh
Due: none

docs: Add Session 58 handoff document
  docs/09-handoff/2026-01-31-SESSION-58-HANDOFF.md
Due: none

docs: Add Session 57 handoff - quota fix and grading automation
  docs/09-handoff/2026-02-01-SESSION-57-HANDOFF.md
Due: none

docs: Add Session 57 handoff - Phase 3 dependency fix and root cause analysis
  docs/09-handoff/2026-02-01-SESSION-57-PHASE3-DEPENDENCY-FIX.md
Due: none

docs: Add Firestore heartbeats investigation handoff
  docs/09-handoff/2026-02-01-FIRESTORE-HEARTBEATS-INVESTIGATION.md
Due: none

docs: Add Session 57 complete summary and handoff
  docs/09-handoff/2026-02-01-SESSION-57-SUMMARY.md
Due: none

docs: Add V8 vs monthly retrain deep dive analysis
  docs/05-development/model-comparison-v8-vs-monthly-retrain.md
  docs/08-projects/current/session-56-ml-infrastructure/TODO-LIST.md
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

fix: Add missing __init__.py to shared/monitoring package
  shared/monitoring/__init__.py
Due: validate-sql-fstrings

fix: Add Firestore retry logic to processor heartbeats
  shared/monitoring/processor_heartbeat.py
Due: validate-sql-fstrings

docs: Complete Firestore heartbeats investigation and resolution
  docs/09-handoff/2026-02-01-FIRESTORE-HEARTBEATS-INVESTIGATION.md
  docs/09-handoff/2026-02-01-FIRESTORE-HEARTBEATS-RESOLUTION.md
Due: none

docs: Document Firestore heartbeat fix resolution
  docs/09-handoff/2026-02-01-FIRESTORE-HEARTBEATS-INVESTIGATION.md
Due: none

docs: Add odds data cascade investigation project doc
  docs/08-projects/current/odds-data-cascade-investigation/README.md
Due: none

fix: Correct dashboard heartbeat query to use actual processor names
  services/unified_dashboard/backend/services/firestore_client.py
Due: validate-sql-fstrings

feat: Fix feature store to use Phase 3 cascade for Vegas lines
  data_processors/precompute/ml_feature_store/feature_extractor.py
  docs/08-projects/current/odds-data-cascade-investigation/README.md
  scripts/backfill_feature_store_vegas.py
Due: validate-sql-fstrings

docs: Add Session 59 handoff - Odds cascade investigation
  docs/09-handoff/2026-01-31-SESSION-59-ODDS-CASCADE-INVESTIGATION.md
Due: none

docs: Add detailed handoff for odds investigation continuation
  docs/09-handoff/2026-01-31-SESSION-59-HANDOFF-FOR-CONTINUATION.md
Due: none

docs: Add complete Firestore heartbeats resolution summary
  docs/09-handoff/2026-02-01-FIRESTORE-HEARTBEATS-COMPLETE.md
Due: none

docs: Add DraftKings coverage comparison and updated cascade recommendation
  docs/08-projects/current/odds-data-cascade-investigation/README.md
Due: none

docs: Update handoff with final decisions and implementation plan
  docs/09-handoff/2026-01-31-SESSION-59-HANDOFF-FOR-CONTINUATION.md
Due: none

docs: Add V8 training data investigation to handoff
  docs/09-handoff/2026-01-31-SESSION-59-HANDOFF-FOR-CONTINUATION.md
Due: none

feat: Implement DraftKings-priority betting cascade and bookmaker tracking
  data_processors/analytics/upcoming_player_game_context/async_upcoming_player_game_context_processor.py
  data_processors/analytics/upcoming_player_game_context/betting_data.py
  data_processors/analytics/upcoming_player_game_context/loaders/game_data_loaders.py
  data_processors/grading/prediction_accuracy/prediction_accuracy_processor.py
  schemas/bigquery/nba_predictions/prediction_accuracy.sql
  scripts/backfill_feature_store_vegas.py
Due: validate-sql-fstrings

docs: Add processor name mismatch investigation findings
  docs/09-handoff/2026-02-01-FIRESTORE-HEARTBEATS-RESOLUTION.md
Due: none

fix: Use consistent processor names in Phase 2 heartbeats
  data_processors/raw/processor_base.py
Due: validate-sql-fstrings

feat: Add /validate-scraped-data skill for odds data coverage audit
  .claude/skills/validate-scraped-data.md
Due: none

docs: Add Session 60 complete handoff - Firestore heartbeats resolved
  docs/09-handoff/2026-02-01-SESSION-60-FIRESTORE-HEARTBEATS-HANDOFF.md
Due: none

docs: Add Session 58 handoff - deployment drift investigation
  docs/09-handoff/2026-02-01-SESSION-58-HANDOFF.md
Due: none

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
