Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

chore: Add WARNING-level logs to debug fallback extraction (Session 95)
  data_processors/precompute/ml_feature_store/feature_extractor.py
Due: validate-sql-fstrings

fix: Lower team stats threshold from 80% to 50% for usage_rate calc
  data_processors/analytics/player_game_summary/player_game_summary_processor.py
Due: validate-sql-fstrings

chore: Add debug cache logging to trace batch extraction issue
  data_processors/precompute/ml_feature_store/feature_extractor.py
Due: validate-sql-fstrings

feat: Add Cloud Function for morning deployment check
  functions/monitoring/morning_deployment_check/main.py
  functions/monitoring/morning_deployment_check/requirements.txt
Due: validate-sql-fstrings

docs: Update Session 96 handoff with final status
  docs/09-handoff/2026-02-03-SESSION-96-HANDOFF.md
Due: none

chore: Add DEBUG_COMPOSITE logging
  data_processors/precompute/ml_feature_store/feature_extractor.py
Due: validate-sql-fstrings

feat: Add Phase 4 completion gate to ML Feature Store (Session 97)
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  predictions/worker/worker.py
Due: validate-sql-fstrings

chore: Add fatigue value debug
  data_processors/precompute/ml_feature_store/feature_extractor.py
Due: validate-sql-fstrings

feat: Add missing slack_alerts module for quality alerts (Session 97)
  shared/utils/slack_alerts.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Add Session 97 handoff - feature quality tracking fixes
  docs/09-handoff/2026-02-03-SESSION-97-HANDOFF.md
Due: none

docs: Add Session 97 handoff - Phase 4 completion gate
  docs/09-handoff/2026-02-03-SESSION-97-HANDOFF.md
Due: none

fix: Skip Session 97 quality gate for upcoming games mode (Session 95)
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
Due: validate-sql-fstrings

refactor: Change usage_rate to per-game calculation instead of global threshold
  data_processors/analytics/player_game_summary/player_game_summary_processor.py
Due: validate-sql-fstrings

feat: Add comprehensive usage_rate prevention system (Session 96)
  docs/02-operations/runbooks/data-quality-runbook.md
  docs/08-projects/current/feb-2-validation/MORNING-INVESTIGATION-FEB-3.md
  docs/08-projects/current/usage-rate-prevention/README.md
  functions/monitoring/analytics_quality_check/main.py
  functions/monitoring/analytics_quality_check/requirements.txt
  predictions/coordinator/quality_gate.py
  tests/data_processors/__init__.py
  tests/data_processors/analytics/__init__.py
  tests/data_processors/analytics/test_usage_rate_calculation.py
Due: validate-sql-fstrings

docs: Update project and handoff documentation
  docs/08-projects/current/usage-rate-prevention/README.md
  docs/09-handoff/2026-02-03-SESSION-96-HANDOFF.md
Due: none

chore: Add DEBUG_PHASE4_FINAL logging to trace composite factors issue
  data_processors/precompute/ml_feature_store/feature_extractor.py
Due: validate-sql-fstrings

feat: Add real-time quality monitoring and alerts (Session 96)
  CLAUDE.md
  data_processors/analytics/player_game_summary/player_game_summary_processor.py
  docs/08-projects/current/deployment-drift-prevention/PREVENTION-PLAN.md
  predictions/coordinator/coordinator.py
Due: validate-sql-fstrings

docs: Update validation skills with usage_rate checks (Session 96)
  .claude/skills/validate-daily/SKILL.md
  .claude/skills/validate-historical.md
Due: none

docs: Final comprehensive Session 96 handoff
  docs/09-handoff/2026-02-03-SESSION-96-HANDOFF.md
Due: none

chore: Add DEBUG_GET_FEATURE to trace phase4_data in feature calculation
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
Due: validate-sql-fstrings

chore: Add DEBUG_PHASE4_RETURN to confirm return happens
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
Due: validate-sql-fstrings

fix: Store feature_sources in record for FEATURE SOURCE ALERT counting
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
Due: validate-sql-fstrings

fix: Strip feature_sources before BQ write (not in schema)
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
Due: validate-sql-fstrings

chore: Remove debug logging from feature store (Session 98)
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
Due: validate-sql-fstrings

docs: Add Session 98 handoff and update validate-daily skill
  .claude/skills/validate-daily/SKILL.md
  docs/09-handoff/2026-02-03-SESSION-98-HANDOFF.md
Due: none

docs: Add Session 99 handoff - Feature store upcoming games fix
  docs/09-handoff/2026-02-03-SESSION-99-HANDOFF.md
Due: none

fix: Correct logging for composite factors source (exact vs fallback)
  data_processors/precompute/ml_feature_store/feature_extractor.py
Due: validate-sql-fstrings

fix: Cloud Function bugs - timestamp comparison + quality history writes (Session 97)
  docs/08-projects/current/usage-rate-prevention/README.md
  docs/09-handoff/2026-02-03-SESSION-97-HANDOFF.md
  functions/monitoring/analytics_quality_check/main.py
  functions/monitoring/morning_deployment_check/main.py
Due: validate-sql-fstrings

docs: Add Cloud Function quick checks to validate-daily skill (Session 97)
  .claude/skills/validate-daily/SKILL.md
Due: none

docs: Add feature store upcoming games project documentation (Session 99)
  docs/08-projects/current/feature-store-upcoming-games/README.md
  docs/08-projects/current/feature-store-upcoming-games/VERIFICATION-CHECKLIST.md
Due: none

docs: Add data provenance design for feature store fallbacks
  docs/08-projects/current/feature-store-upcoming-games/DATA-PROVENANCE-DESIGN.md
Due: none

feat: Add data provenance tracking for predictions (Session 99)
  .claude/skills/subset-picks/SKILL.md
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  docs/08-projects/completed/usage-rate-prevention/README.md
  docs/08-projects/current/feature-mismatch-investigation/HANDOFF.md
  docs/08-projects/current/feature-mismatch-investigation/PROBLEM-DEFINITION.md
  docs/09-handoff/2026-02-03-SESSION-100-HANDOFF.md
  predictions/worker/data_loaders.py
  predictions/worker/worker.py
Due: validate-sql-fstrings

docs: Add Phase 2→3 trigger investigation and worker bug fix (Session 99 Part 2)
  docs/09-handoff/2026-02-03-SESSION-99-HANDOFF.md
Due: none

docs: Add Session 99 continuation handoff for next session
  docs/09-handoff/2026-02-03-SESSION-99-CONTINUATION.md
Due: none

feat: Update skills with data provenance checks (Session 99)
  .claude/skills/hit-rate-analysis/SKILL.md
  .claude/skills/validate-daily/SKILL.md
Due: none

fix: Skip edge filter for regeneration batches (Session 102)
  predictions/coordinator/coordinator.py
  predictions/shared/batch_staging_writer.py
Due: validate-sql-fstrings

docs: Add Session 102 handoff document
  docs/09-handoff/2026-02-03-SESSION-102-HANDOFF.md
Due: none

docs: Add Session 101 feature mismatch investigation docs
  docs/08-projects/current/feature-mismatch-investigation/PREDICTIONS-HANDOFF.md
  docs/08-projects/current/feature-mismatch-investigation/RESOLUTION.md
  docs/08-projects/current/feature-mismatch-investigation/SESSION-101-FINDINGS.md
  docs/08-projects/current/pubsub-reliability-fixes/README.md
  docs/09-handoff/2026-02-03-SESSION-101-HANDOFF.md
Due: none

docs: Add Session 101 continued handoff - Pub/Sub reliability fixes
  docs/09-handoff/2026-02-03-SESSION-101-CONTINUED-HANDOFF.md
Due: none

docs: Add orphan superseded predictions check to validation (Session 102)
  .claude/skills/validate-daily/SKILL.md
  CLAUDE.md
Due: none

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
