Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

feat: Add cross-model prediction coverage validation and auto-heal
  .claude/skills/reconcile-yesterday/SKILL.md
  .claude/skills/validate-daily/SKILL.md
  bin/monitoring/pipeline_canary_queries.py
Due: validate-sql-fstrings

feat: Implement daily validation improvements (Session 209)
  bin/check-deployment-drift.sh
  bin/deploy/deploy_grading_function.sh
  bin/monitoring/check_defense_zone_table.sh
  bin/monitoring/compute_daily_feature_quality.py
  bin/monitoring/daily_health_check.sh
  bin/monitoring/diagnose_red_alerts.py
  bin/monitoring/pre_game_dashboard.sh
  bin/orchestrators/deploy_phase3_to_phase4.sh
  bin/orchestrators/deploy_phase4_to_phase5.sh
  bin/orchestrators/deploy_phase5_to_phase6.sh
  cloudbuild-functions.yaml
  schemas/bigquery/nba_monitoring/ml_feature_quality_trends.json
Due: validate-sql-fstrings

feat: Frontend API enhancements and CLAUDE.md refresh
  CLAUDE.md
  data_processors/publishing/player_profile_exporter.py
  orchestration/cloud_functions/phase5_to_phase6/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Add final comprehensive handoff for new session
  docs/09-handoff/2026-02-12-SESSION-209-FINAL-HANDOFF.md
Due: none

fix: Eliminate GCS 409 conflicts and add export freshness monitoring
  bin/monitoring/phase6_picks_canary.py
  data_processors/publishing/base_exporter.py
Due: validate-sql-fstrings

docs: Update validate-daily skill for Session 211 filters
  .claude/skills/validate-daily/SKILL.md
Due: none

docs: Add Session 210 cross-model validation to CLAUDE.md and parallel models guide
  CLAUDE.md
  docs/08-projects/current/retrain-infrastructure/03-PARALLEL-MODELS-GUIDE.md
Due: none

docs: Add Session 210 handoff - frontend API gaps & GCS race fix
  docs/09-handoff/2026-02-11-SESSION-210-HANDOFF.md
Due: none

feat: Add quality filtering to dynamic subsets (Session 209)
  data_processors/publishing/all_subsets_picks_exporter.py
  data_processors/publishing/subset_materializer.py
  data_processors/publishing/tonight_all_players_exporter.py
Due: validate-sql-fstrings

docs: Add Session 209 handoff document
  docs/09-handoff/2026-02-11-SESSION-209-HANDOFF.md
Due: none

docs: Add Session 209 validation report (all 8 checks passed)
  docs/09-handoff/2026-02-12-VALIDATION-REPORT.md
Due: none

feat: Add duplicate Pub/Sub subscription detection to validate-daily
  .claude/skills/validate-daily/SKILL.md
Due: none

feat: Add post-deploy duplicate subscription check to all orchestrator deploys
  bin/deploy/deploy_grading_function.sh
  bin/orchestrators/check_duplicate_subscriptions.sh
  bin/orchestrators/deploy_phase3_to_phase4.sh
  bin/orchestrators/deploy_phase4_to_phase5.sh
  bin/orchestrators/deploy_phase5_to_phase6.sh
Due: none

feat: Add quality filtering to views, exporters, and monitoring (Session 209)
  bin/monitoring/grading_gap_detector.py
  bin/monitoring/pipeline_canary_queries.py
  data_processors/publishing/all_subsets_picks_exporter.py
  data_processors/publishing/best_bets_exporter.py
  data_processors/publishing/subset_materializer.py
  schemas/bigquery/predictions/04b_scenario_subset_extensions.sql
  schemas/bigquery/predictions/views/v_dynamic_subset_performance.sql
  shared/utils/quality_filter.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Add Session 211 handoff - orphan Eventarc cleanup & prevention
  docs/09-handoff/2026-02-12-SESSION-211-HANDOFF.md
Due: none

feat: Add pre-commit hook for view quality filter validation (Session 209 - Layer 1)
  .pre-commit-config.yaml
  .pre-commit-hooks/validate_view_filters.py
Due: validate-sql-fstrings

feat: Complete Session 209 implementation - grading gaps + view annotations
  docs/09-handoff/2026-02-12-NEXT-SESSION-PROMPT.md
  schemas/bigquery/predictions/04_ml_feature_store_v2.sql
  schemas/bigquery/predictions/05_published_picks.sql
  schemas/bigquery/predictions/12_ml_model_predictions.sql
  schemas/bigquery/predictions/prediction_coverage_gaps_view.sql
  schemas/bigquery/predictions/v_daily_pipeline_health.sql
  schemas/bigquery/predictions/vegas_source_coverage_view.sql
  schemas/bigquery/predictions/views/v_daily_validation_summary.sql
  schemas/bigquery/predictions/views/v_subset_performance.sql
  schemas/bigquery/predictions/views/v_system_agreement.sql
  schemas/bigquery/predictions/views/v_system_comparison_today.sql
  schemas/bigquery/predictions/views/v_system_performance_comparison.sql
  schemas/bigquery/predictions/views/v_todays_predictions_summary.sql
Due: none

docs: Add grading gap root cause analysis (Session 209)
  docs/08-projects/current/session-209-grading-gaps/ROOT-CAUSE-ANALYSIS.md
Due: none

fix: Update grading gap detector to check ALL models (Session 211)
  .claude/skills/validate-daily/SKILL.md
  bin/monitoring/grading_gap_detector.py
  docs/09-handoff/2026-02-11-SESSION-211-HANDOFF.md
Due: validate-sql-fstrings

fix: Update grading gap detector to exclude NO_PROP_LINE predictions (Session 212)
  CLAUDE.md
  bin/monitoring/grading_gap_detector.py
Due: validate-sql-fstrings

docs: Add Session 212 grading coverage investigation documentation
  docs/08-projects/current/session-212-grading-coverage/ROOT-CAUSE-ANALYSIS.md
  docs/09-handoff/2026-02-11-SESSION-212-HANDOFF.md
Due: none

feat: Upgrade IAM validation to dynamic Pub/Sub discovery (Session 212)
  .claude/skills/validate-daily/SKILL.md
Due: none

docs: Update Session 212 handoff with IAM audit and validation upgrade
  docs/09-handoff/2026-02-11-SESSION-212-HANDOFF.md
Due: none

feat: Grade DNP predictions as voided instead of skipping (Session 212)
  data_processors/grading/prediction_accuracy/prediction_accuracy_processor.py
Due: validate-sql-fstrings

docs: Update Session 212 docs with DNP voiding fix
  docs/08-projects/current/session-212-grading-coverage/ROOT-CAUSE-ANALYSIS.md
  docs/09-handoff/2026-02-11-SESSION-212-HANDOFF.md
Due: none

feat: Add symlinks to data_processors and shared for Cloud Function deployment
  orchestration/cloud_functions/grading/data_processors
  orchestration/cloud_functions/grading/shared
Due: none

feat: Add Phase 0.67 Cloud Scheduler execution health check (Session 212)
  .claude/skills/validate-daily/SKILL.md
Due: none

docs: Update Session 212 handoff with scheduler audit findings
  docs/09-handoff/2026-02-11-SESSION-212-HANDOFF.md
Due: none

feat: Deploy grading-gap-detector as Cloud Function (Session 212)
  orchestration/cloud_functions/grading-gap-detector/bin
  orchestration/cloud_functions/grading-gap-detector/main.py
  orchestration/cloud_functions/grading-gap-detector/requirements.txt
  orchestration/cloud_functions/grading-gap-detector/shared
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Add Session 213 handoff - Phase 6 deployment & Cloud Build standardization
  docs/09-handoff/2026-02-12-SESSION-213-NEXT-STEPS.md
Due: none

feat: Add Phase 0.68 zero-invocation detection for Cloud Run services (Session 212)
  .claude/skills/validate-daily/SKILL.md
Due: none

docs: Final Session 212 handoff with all validation phases
  docs/09-handoff/2026-02-11-SESSION-212-HANDOFF.md
Due: none

feat: Standardize Cloud Build auto-deploy for all Cloud Functions (Session 213)
  CLAUDE.md
  bin/deploy/deploy_phase6_function.sh
  cloudbuild-functions.yaml
Due: none

fix: Fix enrichment import path and reconciliation TODAY parsing (Session 212)
  orchestration/cloud_functions/enrichment_trigger/main.py
  orchestration/cloud_functions/prediction_monitoring/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: Add missing google-cloud-bigquery dep to transition-monitor (Session 212)
  orchestration/cloud_functions/transition_monitor/requirements.txt
Due: none

docs: Add complete scheduler triage results to Session 212 handoff
  docs/09-handoff/2026-02-11-SESSION-212-HANDOFF.md
Due: none

feat: Fix GCS JSON files to update with game results post-game (Session 214)
  bin/monitoring/phase_transition_monitor.py
  data_processors/publishing/all_subsets_picks_exporter.py
  data_processors/publishing/best_bets_exporter.py
  data_processors/publishing/live_grading_exporter.py
  data_processors/publishing/season_subset_picks_exporter.py
  data_processors/publishing/tonight_all_players_exporter.py
  docs/08-projects/current/session-214-gcs-live-updates/FRONTEND-API-CHANGES.md
  docs/09-handoff/2026-02-11-SESSION-214-HANDOFF.md
  orchestration/cloud_functions/live_export/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: Fix orphaned code in phase_transition_monitor.py and narrow bin/ copy scope
  cloudbuild-functions.yaml
Due: none

docs: Add morning session start prompt for 2026-02-12
  docs/09-handoff/2026-02-12-NEXT-SESSION-PROMPT.md
Due: none

docs: Add Session 213 handoff - Cloud Build standardization complete
  docs/09-handoff/2026-02-12-SESSION-213-HANDOFF.md
Due: none

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
