Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

validate-scraper-config-tables:
  name: Validate scraper config table references (warning only)
  description: Checks that BigQuery tables referenced in scraper_retry_config.yaml exist (informational, non-blocking)
  entry: python .pre-commit-hooks/validate_scraper_config_tables.py
  language: python
  pass_filenames: false
  verbose: true

validate-sql-queries:
  name: Validate SQL validation queries
  description: Checks for Session 123 anti-patterns (cache_date = game_date, missing partition filters, etc.)
  entry: python .pre-commit-hooks/validate_sql_queries.py
  language: python
  verbose: true

validate-view-filters:
  name: Validate BigQuery view quality filters (Session 209)
  description: Ensures views querying prediction tables have quality filter annotations (prevents contaminated metrics)
  entry: python .pre-commit-hooks/validate_view_filters.py
  language: python
  pass_filenames: false
  verbose: true

validate-python-syntax:
  name: Validate Python syntax in deploy directories
  description: Catches syntax errors that would break Cloud Function deploys (Session 213)
  entry: python .pre-commit-hooks/validate_python_syntax.py
  language: python
  pass_filenames: false
  verbose: true

validate-deploy-safety:
  name: Check for dangerous --set-env-vars
  description: Prevents accidental env var wipes from --set-env-vars (Session 81/213)
  entry: python .pre-commit-hooks/validate_deploy_safety.py
  language: python
  pass_filenames: false
  verbose: true

feat: Wire MLB post-grading analytics (league_macro, model_performance, signal_health)
  data_processors/grading/mlb/main_mlb_grading_service.py
  ml/analysis/mlb_model_performance.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 519 handoff — MLB pipeline end-to-end + 12-bug fix chain
  docs/09-handoff/2026-04-10-SESSION-519-HANDOFF.md
Due: none

fix: MLB grading 5-bug fix + deploy script traffic routing
  bin/deploy-service.sh
  bin/hot-deploy.sh
  bin/scrapers/deploy/mlb/deploy_mlb_scrapers.sh
  data_processors/grading/mlb/Dockerfile
  data_processors/grading/mlb/main_mlb_grading_service.py
  data_processors/grading/mlb/mlb_prediction_grading_processor.py
Due: validate-sql-fstrings, validate-python-syntax

fix: MLB grading strip None values for BQ streaming insert
  data_processors/grading/mlb/mlb_prediction_grading_processor.py
Due: validate-sql-fstrings, validate-python-syntax

fix: MLB all.json exports from signal_best_bets_picks
  data_processors/publishing/mlb/mlb_best_bets_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

fix: MLB schedule re-scrape dedup + post-grading all.json + daily export
  data_processors/grading/mlb/main_mlb_grading_service.py
  data_processors/publishing/mlb/mlb_best_bets_exporter.py
  data_processors/raw/mlb/mlb_schedule_processor.py
Due: validate-sql-fstrings, validate-python-syntax

fix: MLB grading Dockerfile + league_macro None serialization
  data_processors/grading/mlb/Dockerfile
  ml/analysis/mlb_league_macro.py
Due: validate-sql-fstrings

fix: MLB league_macro use streaming insert instead of load job
  ml/analysis/mlb_league_macro.py
Due: validate-sql-fstrings

docs: Session 520 handoff — MLB pipeline full fix + season retrospective
  docs/09-handoff/2026-04-10-SESSION-520-HANDOFF.md
Due: none

feat: MLB auto-deploy triggers + fix grading duplicate rows
  cloudbuild-mlb-grading.yaml
  cloudbuild-nba-phase2.yaml
  data_processors/grading/mlb/mlb_prediction_grading_processor.py
Due: validate-sql-fstrings, validate-python-syntax, validate-deploy-safety

feat: add MultiQuantile training support to quick_retrain.py
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

feat: prediction worker support for MultiQuantile models
  predictions/worker/prediction_systems/catboost_monthly.py
  predictions/worker/worker.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 521 handoff — MLB auto-deploy + MultiQuantile model architecture
  docs/09-handoff/2026-04-11-SESSION-521-HANDOFF.md
Due: none

feat: quantile signals + OVER floor 6.0 + governance season-restart + book-aware sharp_consensus
  ml/experiments/quick_retrain.py
  ml/signals/aggregator.py
  ml/signals/quantile_ceiling_under.py
  ml/signals/quantile_floor_over.py
  ml/signals/registry.py
  ml/signals/sharp_consensus_under.py
Due: validate-sql-fstrings

docs: Session 522 handoff — quantile signals, fleet diversity, OVER floor 6.0, governance restart
  docs/09-handoff/2026-04-11-SESSION-522-HANDOFF.md
Due: none

fix: update regime_over_floor log message to reflect 6.0 base floor
  ml/signals/aggregator.py
Due: validate-sql-fstrings

feat: weekly_retrain season-restart auto-detect + OVER bench/role archetype block
  ml/signals/aggregator.py
  orchestration/cloud_functions/weekly_retrain/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 522 final handoff — full off-season overhaul
  docs/09-handoff/2026-04-11-SESSION-522-HANDOFF.md
Due: none

fix: MLB grading 3-bug fix — pitcher lookup normalization, signal health Decimal, model perf Decimal
  data_processors/grading/mlb/mlb_prediction_grading_processor.py
  data_processors/raw/mlb/mlbapi_batter_stats_processor.py
  data_processors/raw/mlb/mlbapi_pitcher_stats_processor.py
  ml/analysis/mlb_model_performance.py
  ml/signals/mlb/signal_health.py
Due: validate-sql-fstrings, validate-python-syntax

fix: signal_health comprehensive Decimal→float conversion at write level
  ml/signals/mlb/signal_health.py
Due: validate-sql-fstrings

fix: upgrade grading services BQ library 3.13.0→3.40.0
  data_processors/grading/mlb/requirements.txt
  data_processors/grading/nba/requirements-lock.txt
  data_processors/grading/nba/requirements.txt
Due: none

fix: MLB cross-season feature contamination causing +1.15 K over-prediction
  predictions/mlb/pitcher_loader.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 523 handoff — MLB pipeline hardening + over-prediction fix
  docs/09-handoff/2026-04-11-SESSION-523-HANDOFF.md
Due: none

docs: Session 524 handoff — MLB model retrain with April-inclusive training data
  docs/09-handoff/2026-04-11-SESSION-524-HANDOFF.md
Due: none

fix: FanGraphs 2026 data gap — v2 API + snapshot dedup + NBA market schedulers
  bin/schedulers/setup_mlb_reminders.sh
  bin/schedulers/setup_nba_player_props_schedulers.sh
  predictions/mlb/pitcher_loader.py
  scripts/mlb/backfill_fangraphs_stats.py
  scripts/mlb/training/season_replay.py
  scripts/mlb/training/train_regressor_v2.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 525 handoff — FanGraphs v2 API, FIP signal fix, NBA off-season prep
  docs/09-handoff/2026-04-11-SESSION-525-HANDOFF.md
Due: none

fix: effective_rescue_tags scoping bug in MLB best bets shadow eval
  ml/signals/mlb/best_bets_exporter.py
Due: validate-sql-fstrings

fix: correct oddsa_game_lines column names in supplemental loader
  predictions/mlb/supplemental_loader.py
Due: validate-sql-fstrings, validate-python-syntax

fix: prevent duplicate MLB predictions via per-pitcher dedup in write path
  predictions/mlb/worker.py
Due: validate-sql-fstrings, validate-python-syntax

fix: MLB pitcher_name mismapped to team's starter for non-starters
  predictions/mlb/worker.py
Due: validate-sql-fstrings, validate-python-syntax

fix: MLB grading now propagates actuals to signal_best_bets_picks
  data_processors/grading/mlb/mlb_prediction_grading_processor.py
Due: validate-sql-fstrings, validate-python-syntax

fix: MLB model_performance_daily writer now deletes before insert
  ml/analysis/mlb_model_performance.py
Due: validate-sql-fstrings

fix: defense-in-depth dedup in MLB prediction_accuracy writer
  data_processors/grading/mlb/mlb_prediction_grading_processor.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 526 handoff — 7 MLB pipeline bugs fixed, production cleanup
  docs/09-handoff/2026-04-12-SESSION-526-HANDOFF.md
Due: none

fix: MLB game context type mismatch + best bets write dedup
  ml/signals/mlb/best_bets_exporter.py
  predictions/mlb/supplemental_loader.py
Due: validate-sql-fstrings, validate-python-syntax

fix: add ignore_unknown_values to BB load job + schema ultra_tier columns
  ml/signals/mlb/best_bets_exporter.py
  schemas/bigquery/mlb_predictions/signal_best_bets_picks.sql
Due: validate-sql-fstrings

fix: MLB actual_value backfill, SKIP guard, and training filter
  data_processors/grading/mlb/mlb_prediction_grading_processor.py
  predictions/mlb/base_predictor.py
  scripts/mlb/training/train_regressor_v2.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 527 handoff — 8 MLB fixes, game lines scheduler, SKIP guard
  docs/09-handoff/2026-04-12-SESSION-527-HANDOFF.md
Due: none

feat: MLB pitcher leaderboard + profile exporter
  data_processors/publishing/mlb/mlb_pitcher_exporter.py
  orchestration/cloud_functions/phase6_export/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

fix: wire MlbStatcastDailyProcessor into PROCESSOR_MAP
  data_processors/raw/main_processor_service.py
Due: validate-sql-fstrings, validate-python-syntax

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$
