Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

validate-scraper-config-tables:
  name: Validate scraper config table references (warning only)
  description: Checks that BigQuery tables referenced in scraper_retry_config.yaml exist (informational, non-blocking)
  entry: python .pre-commit-hooks/validate_scraper_config_tables.py
  language: python
  pass_filenames: false
  verbose: true

validate-sql-queries:
  name: Validate SQL validation queries
  description: Checks for Session 123 anti-patterns (cache_date = game_date, missing partition filters, etc.)
  entry: python .pre-commit-hooks/validate_sql_queries.py
  language: python
  verbose: true

validate-view-filters:
  name: Validate BigQuery view quality filters (Session 209)
  description: Ensures views querying prediction tables have quality filter annotations (prevents contaminated metrics)
  entry: python .pre-commit-hooks/validate_view_filters.py
  language: python
  pass_filenames: false
  verbose: true

validate-python-syntax:
  name: Validate Python syntax in deploy directories
  description: Catches syntax errors that would break Cloud Function deploys (Session 213)
  entry: python .pre-commit-hooks/validate_python_syntax.py
  language: python
  pass_filenames: false
  verbose: true

validate-deploy-safety:
  name: Check for dangerous --set-env-vars
  description: Prevents accidental env var wipes from --set-env-vars (Session 81/213)
  entry: python .pre-commit-hooks/validate_deploy_safety.py
  language: python
  pass_filenames: false
  verbose: true

feat: fix V15 augment bug, add V13 model family, prepare_features fallback
  ml/experiments/quick_retrain.py
  shared/config/cross_model_subsets.py
Due: validate-sql-fstrings, validate-python-syntax

feat: add V15 model family to cross_model_subsets for exporter discovery
  shared/config/cross_model_subsets.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 365 handoff — filter improvements, shadow fleet, strategic direction
  docs/09-handoff/2026-02-28-SESSION-365-HANDOFF.md
Due: none

feat: post-filter eval tools, grid search, directional HR, smarter model selection
  .claude/skills/daily-steering/SKILL.md
  .claude/skills/validate-daily/SKILL.md
  bin/backfill_dry_run.py
  bin/model_family_dashboard.py
  bin/monitoring/filter_health_audit.py
  bin/post_filter_eval.py
  docs/09-handoff/2026-02-28-SESSION-366-HANDOFF.md
  ml/analysis/model_performance.py
  ml/experiments/grid_search_weights.py
  ml/experiments/quick_retrain.py
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings, validate-python-syntax

docs: handoff docs for Sessions 352B, 358, 359, 361, 362, 363
  docs/08-projects/current/model-diversity-session-350/00-ANALYSIS.md
  docs/09-handoff/2026-02-27-SESSION-352B-HANDOFF.md
  docs/09-handoff/2026-02-27-SESSION-358-HANDOFF.md
  docs/09-handoff/2026-02-27-SESSION-359-HANDOFF.md
  docs/09-handoff/2026-02-27-SESSION-361-HANDOFF.md
  docs/09-handoff/2026-02-27-SESSION-362-HANDOFF.md
  docs/09-handoff/2026-02-28-SESSION-363-HANDOFF.md
  docs/09-handoff/session-prompts/session-358-prompt.md
  docs/09-handoff/session-prompts/session-359-prompt.md
Due: none

feat: add V13/V15 feature set support to prediction worker
  predictions/worker/prediction_systems/catboost_monthly.py
Due: validate-sql-fstrings, validate-python-syntax

feat: relax star_under + under_edge_7plus filters, fix grid search --force
  ml/experiments/grid_search_weights.py
  ml/signals/aggregator.py
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings

docs: Session 367 handoff + grid search results
  docs/09-handoff/2026-02-28-SESSION-367-HANDOFF.md
  results/feature_set_shootout.csv
  results/tier_weight_sweep.csv
  results/vegas_fine_tune.csv
  results/vegas_fine_tune_v2.csv
Due: none

feat: multi-window grid search results + tier_top3 template
  ml/experiments/grid_search_weights.py
  results/window_A/feature_set_shootout.csv
  results/window_A/tier_weights_top3.csv
  results/window_A/vegas_fine_tune.csv
  results/window_B/feature_set_shootout.csv
  results/window_B/tier_weights_top3.csv
  results/window_B/vegas_fine_tune.csv
  results/window_C/feature_set_shootout.csv
  results/window_C/tier_weights_top3.csv
  results/window_C/vegas_fine_tune.csv
  results/window_D/feature_set_shootout.csv
  results/window_D/vegas_fine_tune.csv
Due: validate-sql-fstrings

docs: update Session 367 handoff with multi-window grid search results
  docs/09-handoff/2026-02-28-SESSION-367-HANDOFF.md
Due: none

docs: Session 368 prompt — register v12+vegas=0.15 winner
  docs/09-handoff/2026-02-28-SESSION-368-PROMPT.md
Due: none

docs: Session 368 experiment matrix — 24 experiments across 2 seasons
  docs/08-projects/current/session-368-experiment-matrix/00-FINDINGS.md
  results/session_368/w10_v12_vw015_42d.json
  results/session_368/w11_v12_vw015_56d.json
  results/session_368/w12_v12_vw015_90d.json
  results/session_368/w13_v12noveg_early.json
  results/session_368/w14_v12noveg_mid.json
  results/session_368/w15_v12noveg_jan_train.json
  results/session_368/w16_v12noveg_90d.json
  results/session_368/w1_v12_vw015_jan.json
  results/session_368/w2_v12_vw015_feb.json
  results/session_368/w3_v12noveg_jan.json
  results/session_368/w4_v12noveg_feb.json
  results/session_368/w5_v12_vw015_early.json
  results/session_368/w6_v12_vw015_nov.json
  results/session_368/w7_v12_vw015_mid.json
  results/session_368/w8_v12_vw015_jan_train.json
  results/session_368/w9_v12_vw015_21d.json
  results/session_368/xs1_v12_vw015_2425_nov.json
  results/session_368/xs2_v12_vw015_2425_dec.json
  results/session_368/xs3_v12noveg_2425_dec.json
  results/session_368/xs4_v12_vw015_2425_jan.json
  results/session_368/xs5_lgbm_v12noveg_2425.json
  results/session_368/xs6_v12_vw025_2425.json
  results/session_368/xs7_v12_vw015_2425_62d.json
  results/session_368/xs8_v12_vw015_2425_61d.json
Due: none

feat: add --random-seed arg + Session 369 stability/window/dampening experiments
  ml/experiments/quick_retrain.py
  results/session_369/catdamp_comp025.json
  results/session_369/catdamp_max.json
  results/session_369/catdamp_sz010.json
  results/session_369/slide_w1.json
  results/session_369/slide_w2.json
  results/session_369/slide_w3.json
  results/session_369/slide_w4.json
  results/session_369/slide_w5.json
  results/session_369/slide_w6.json
  results/session_369/slide_w7.json
  results/session_369/slide_w8.json
  results/session_369/stab_noveg_s1001.json
  results/session_369/stab_noveg_s123.json
  results/session_369/stab_noveg_s2024.json
  results/session_369/stab_noveg_s3333.json
  results/session_369/stab_noveg_s42.json
  results/session_369/stab_noveg_s456.json
  results/session_369/stab_noveg_s5555.json
  results/session_369/stab_noveg_s7777.json
  results/session_369/stab_noveg_s789.json
  results/session_369/stab_noveg_s9999.json
  results/session_369/stab_vw015_s1001.json
  results/session_369/stab_vw015_s123.json
  results/session_369/stab_vw015_s2024.json
  results/session_369/stab_vw015_s3333.json
  results/session_369/stab_vw015_s42.json
  results/session_369/stab_vw015_s456.json
  results/session_369/stab_vw015_s5555.json
  results/session_369/stab_vw015_s7777.json
  results/session_369/stab_vw015_s789.json
  results/session_369/stab_vw015_s9999.json
Due: validate-sql-fstrings

docs: Session 369 round 2 — composite dampening fails cross-season validation
  docs/08-projects/current/session-368-experiment-matrix/00-FINDINGS.md
  results/session_369/stab_comp_s123.json
  results/session_369/stab_comp_s2024.json
  results/session_369/stab_comp_s42.json
  results/session_369/stab_comp_s456.json
  results/session_369/stab_comp_s789.json
  results/session_369/w6_comp.json
  results/session_369/w6_max.json
  results/session_369/w6_sz.json
  results/session_369/xs_comp_2425.json
  results/session_369/xs_vw015_2425.json
Due: none

docs: add category dampening + W6 stacking to dead ends list
  CLAUDE.md
Due: none

docs: Session 369 handoff — stability testing + dead ends
  docs/09-handoff/2026-02-28-SESSION-369-HANDOFF.md
Due: none

feat: add UNDER star AWAY filter, bet sizing, and 1-pick day annotation
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/aggregator.py
  schemas/bigquery/nba_predictions/signal_best_bets_picks.sql
Due: validate-sql-fstrings, validate-python-syntax

revert: remove bet sizing — loses $415 vs flat betting
  data_processors/publishing/signal_best_bets_exporter.py
  schemas/bigquery/nba_predictions/signal_best_bets_picks.sql
Due: validate-sql-fstrings, validate-python-syntax

feat: raise signal count floor 2→3, add experiment tools (Session 370)
  CLAUDE.md
  bin/adversarial_validation.py
  bin/backfill_dry_run.py
  data_processors/publishing/trends_tonight_exporter.py
  docs/08-projects/current/session-370-experiment-suite/00-FINDINGS.md
  docs/08-projects/current/trends-tonight/FRONTEND-INTEGRATION.md
  docs/09-handoff/2026-02-28-SESSION-370-HANDOFF.md
  ml/calibration/edge_calibrator.py
  ml/experiments/quick_retrain.py
  ml/signals/aggregator.py
Due: validate-sql-fstrings, validate-python-syntax

fix: filter out started/finished games from best bets re-exports
  data_processors/publishing/signal_best_bets_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

docs: frontend prompt for game_time in trends tonight
  .claude/skills/validate-daily/SKILL.md
  data_processors/publishing/signal_best_bets_exporter.py
  docs/08-projects/current/trends-tonight/FRONTEND-GAME-TIME.md
Due: validate-sql-fstrings, validate-python-syntax

fix: use tipoff time instead of game_status for started-game filter
  data_processors/publishing/signal_best_bets_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

feat: add home_under + scoring_cold_streak signals, fix re-export wipe, exclude Bovada (Session 371)
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/publishing/signal_best_bets_exporter.py
  docs/08-projects/current/session-371-intraday-line-movement.md
  ml/signals/home_under.py
  ml/signals/pick_angle_builder.py
  ml/signals/registry.py
  ml/signals/scoring_cold_streak_over.py
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings, validate-python-syntax

feat: add extended_rest_under + starter_under signals, opponent UNDER block (Session 372)
  CLAUDE.md
  ml/signals/aggregator.py
  ml/signals/extended_rest_under.py
  ml/signals/pick_angle_builder.py
  ml/signals/registry.py
  ml/signals/starter_under.py
Due: validate-sql-fstrings

feat: Add pick locking, audit trail, and manual push for best bets
  backfill_jobs/publishing/daily_export.py
  data_processors/publishing/best_bets_all_exporter.py
  schemas/bigquery/nba_predictions/best_bets_export_audit.sql
  schemas/bigquery/nba_predictions/best_bets_manual_picks.sql
  schemas/bigquery/nba_predictions/best_bets_published_picks.sql
  scripts/nba/add_manual_pick.py
Due: validate-sql-fstrings, validate-python-syntax

fix: Fix manual pick CLI schema modes and partition filter
  schemas/bigquery/nba_predictions/best_bets_manual_picks.sql
  scripts/nba/add_manual_pick.py
Due: validate-sql-fstrings

docs: Add Session 340 handoff — pick locking, audit trail, manual push
  docs/09-handoff/2026-02-28-SESSION340-PICK-LOCKING-AUDIT-MANUAL-PUSH.md
Due: none

fix: Fix pick locking bugs — source attribution, remove cleanup, datetime crash, schema modes
  data_processors/publishing/best_bets_all_exporter.py
  scripts/nba/add_manual_pick.py
Due: validate-sql-fstrings, validate-python-syntax

feat: add high_scoring_environment_over signal, disable b2b_fatigue_under (Session 373)
  CLAUDE.md
  ml/signals/aggregator.py
  ml/signals/high_scoring_environment_over.py
  ml/signals/pick_angle_builder.py
  ml/signals/registry.py
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings

docs: Add Session 373 handoff — research synthesis, ITT signal, fleet cleanup
  docs/09-handoff/2026-03-01-SESSION-373-HANDOFF.md
Due: none

fix: Atomic partition write, duplicate guard, and full remove cleanup
  data_processors/publishing/best_bets_all_exporter.py
  scripts/nba/add_manual_pick.py
Due: validate-sql-fstrings, validate-python-syntax

fix: ultra_tier bool("false") coercion bug from pick locking
  data_processors/publishing/best_bets_all_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

fix: Gate ultra_tier changes after game start, centralize _is_ultra()
  data_processors/publishing/best_bets_all_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

feat: Add adversarial noise and stacked residual training modes, deploy 2 shadow models
  docs/09-handoff/2026-03-01-SESSION-374-HANDOFF.md
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

fix: Allow manual picks to override algorithm picks for same player
  data_processors/publishing/best_bets_all_exporter.py
Due: validate-sql-fstrings, validate-python-syntax

fix: Fix player name lookup fallback to use player_game_summary
  scripts/nba/add_manual_pick.py
Due: validate-sql-fstrings

docs: Add Session 340 bugfix handoff — 8 bugs fixed in pick locking system
  docs/09-handoff/2026-02-28-SESSION-340-BUGFIX-HANDOFF.md
Due: none

docs: Add Session 374 filter experiment results and fleet triage
  CLAUDE.md
  docs/09-handoff/2026-02-28-SESSION-372-HANDOFF.md
  docs/09-handoff/2026-02-28-SESSION-374-CONTINUED-HANDOFF.md
Due: none

docs: Comprehensive research findings — filters, signals, injury bug, referee/PBP gaps
  docs/09-handoff/2026-02-28-SESSION-374-CONTINUED-HANDOFF.md
Due: none

feat: Fix star_teammates_out bug, add SC=3 edge restriction, 3 new signals
  data_processors/analytics/upcoming_player_game_context/team_context.py
  ml/signals/aggregator.py
  ml/signals/fast_pace_over.py
  ml/signals/low_line_over.py
  ml/signals/pick_angle_builder.py
  ml/signals/registry.py
  ml/signals/supplemental_data.py
  ml/signals/volatile_scoring_over.py
Due: validate-sql-fstrings, validate-python-syntax

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$
