Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

validate-scraper-config-tables:
  name: Validate scraper config table references (warning only)
  description: Checks that BigQuery tables referenced in scraper_retry_config.yaml exist (informational, non-blocking)
  entry: python .pre-commit-hooks/validate_scraper_config_tables.py
  language: python
  pass_filenames: false
  verbose: true

validate-sql-queries:
  name: Validate SQL validation queries
  description: Checks for Session 123 anti-patterns (cache_date = game_date, missing partition filters, etc.)
  entry: python .pre-commit-hooks/validate_sql_queries.py
  language: python
  verbose: true

validate-view-filters:
  name: Validate BigQuery view quality filters (Session 209)
  description: Ensures views querying prediction tables have quality filter annotations (prevents contaminated metrics)
  entry: python .pre-commit-hooks/validate_view_filters.py
  language: python
  pass_filenames: false
  verbose: true

validate-python-syntax:
  name: Validate Python syntax in deploy directories
  description: Catches syntax errors that would break Cloud Function deploys (Session 213)
  entry: python .pre-commit-hooks/validate_python_syntax.py
  language: python
  pass_filenames: false
  verbose: true

validate-deploy-safety:
  name: Check for dangerous --set-env-vars
  description: Prevents accidental env var wipes from --set-env-vars (Session 81/213)
  entry: python .pre-commit-hooks/validate_deploy_safety.py
  language: python
  pass_filenames: false
  verbose: true

chore(mlb): version deployed CF source + CLV artifacts + early-hook finding
  bin/mlb/backfill_pitcher_props_closing.sql
  bin/monitoring/mlb_regime_monitor.py
  docs/08-projects/current/mlb-lineup-early-hook/04-FINDING-early-hook-under-priced.md
  orchestration/cloud_functions/mlb_pitcher_props_closing_materializer/deploy.sh
  orchestration/cloud_functions/mlb_pitcher_props_closing_materializer/main.py
  orchestration/cloud_functions/mlb_pitcher_props_closing_materializer/requirements.txt
  orchestration/cloud_functions/mlb_regime_monitor/main.py
  orchestration/cloud_functions/mlb_regime_monitor/requirements.txt
  schemas/bigquery/mlb_predictions/migration_add_clv_columns.sql
  schemas/bigquery/mlb_raw/pitcher_props_closing_tables.sql
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

docs: off-season priorities plan + CLAUDE.md staleness fixes
  CLAUDE.md
  docs/09-handoff/2026-06-26-offseason-priorities.md
Due: none

feat(signals): STAGE fragile OVER-layer demotion for 2026-27 open [needs sign-off]
  ml/signals/aggregator.py
Due: validate-sql-fstrings

docs: record OVER-layer test result + staged demotion (99941b41)
  docs/09-handoff/2026-06-26-offseason-priorities.md
Due: none

docs(runbook): sync season-resume with staged OVER demotion + verified job counts
  docs/02-operations/runbooks/season-resume-2026-27.md
Due: none

docs: MLB full-review + web-scan kickoff handoff
  docs/09-handoff/2026-06-27-mlb-full-review-and-web-scan-kickoff.md
Due: none

docs: MLB full review + web scan — no-edge verdict externally corroborated, frontiers closed
  docs/09-handoff/2026-06-27-2-mlb-full-review-FINDINGS.md
Due: none

docs: next-session pointer — NBA off-season converged, one open branch-merge decision
  docs/09-handoff/2026-06-27-3-next-session-pointer.md
Due: none

docs: pointer — branch-merge decision resolved (merged to main 14c01583)
  docs/09-handoff/2026-06-27-3-next-session-pointer.md
Due: none

feat: national_tv_under shadow signal + narrative-proxies Phase 0/1
  docs/08-projects/current/narrative-proxies-discovery/00-PREREGISTRATION.md
  docs/08-projects/current/narrative-proxies-discovery/01-FINDINGS.md
  docs/09-handoff/2026-06-29-narrative-proxies-and-national-tv-under.md
  ml/signals/aggregator.py
  ml/signals/national_tv_under.py
  ml/signals/registry.py
  ml/signals/supplemental_data.py
  shared/registry/signals.yaml
Due: validate-sql-fstrings

feat: whole_line_precision shadow signal — +10-20pp HR on integer prop lines
  docs/08-projects/current/whole-line-precision/00-PREREGISTRATION.md
  ml/signals/aggregator.py
  ml/signals/registry.py
  ml/signals/whole_line_precision.py
  shared/registry/signals.yaml
Due: validate-sql-fstrings

feat: line_converging_under CLV live gate — shadow signal + active block filter
  ml/signals/aggregator.py
  ml/signals/line_converging_under.py
  ml/signals/registry.py
  shared/registry/signals.yaml
Due: validate-sql-fstrings

fix: scraper audit — covers URL, tracking stats endpoint, vsin diagnostic
  scrapers/external/covers_referee_stats.py
  scrapers/external/nba_tracking_stats.py
  scrapers/external/vsin_betting_splits.py
Due: validate-sql-fstrings

docs: regime-conditional promotion gate for downtrend_under / mean_reversion_under
  ml/signals/aggregator.py
  shared/registry/signals.yaml
Due: validate-sql-fstrings

feat: high_line_under shadow signal — edge-ungated replacement for star_line_under
  ml/signals/aggregator.py
  ml/signals/high_line_under.py
  ml/signals/registry.py
  ml/signals/star_line_under.py
  shared/registry/signals.yaml
Due: validate-sql-fstrings

docs: add over_decay_watch.py to monitoring section + season-open checklist
  CLAUDE.md
Due: none

docs: session 4 handoff — CLV gate, scraper audit, regime gates, high_line_under, decay watch
  docs/09-handoff/2026-06-29-4-session-handoff.md
Due: none

docs: comprehensive session 4 handoff — full system state, all open items, key decisions
  docs/09-handoff/2026-06-29-4-session-handoff.md
Due: none

feat: narrative forward-collection scrapers + T-3h scheduler
  CLAUDE.md
  bin/deploy/deploy_phase6_scheduler.sh
  docs/06-reference/scrapers/00-SCRAPER-INVENTORY.md
  ml/signals/aggregator.py
  ml/signals/dense_schedule_grind.py
  ml/signals/long_road_trip_under.py
  ml/signals/per_model_pipeline.py
  ml/signals/ref_crew_under_tendency.py
  ml/signals/registry.py
  ml/signals/supplemental_data.py
  schemas/bigquery/nba_raw/bluesky_nba_news.json
  schemas/bigquery/nba_raw/espn_injuries.json
  schemas/bigquery/nba_raw/espn_nba_news.json
  schemas/bigquery/nba_raw/rotowire_nba_news.json
  schemas/bigquery/nba_raw/stokastic_dfs_ownership.json
  schemas/nba_injury_snapshots.json
  scrapers/Dockerfile
  scrapers/external/bluesky_nba_news.py
  scrapers/external/espn_injuries.py
  scrapers/external/espn_nba_news.py
  scrapers/external/nba_injury_snapshots.py
  scrapers/external/rotowire_nba_news.py
  scrapers/external/stokastic_dfs_ownership.py
  scrapers/registry.py
  scrapers/requirements-lock.txt
  scrapers/requirements.txt
  scrapers/utils/gcs_path_builder.py
  shared/registry/filters.yaml
  shared/registry/signals.yaml
Due: validate-sql-fstrings, validate-deploy-safety

docs: session 5 handoff — narrative scrapers, 3 shadow signals, edge research synthesis
  docs/09-handoff/2026-06-29-5-session-handoff.md
Due: none

feat: wire session 5 open items — scrapers, signals, deploy scripts
  bin/deploy/deploy_bluesky_listener.sh
  bin/deploy/deploy_espn_injuries_scheduler.sh
  ml/signals/aggregator.py
  ml/signals/per_model_pipeline.py
  ml/signals/rotowire_bench_under.py
  scrapers/external/bluesky_nba_news.py
  scrapers/external/rotowire_lineups.py
  scrapers/registry.py
  shared/registry/signals.yaml
Due: validate-sql-fstrings, validate-deploy-safety

docs: session 6 handoff — deploy scripts ready, shadow signal fleet state
  docs/09-handoff/2026-06-29-6-session-handoff.md
Due: none

feat: deploy scripts for off-season scraper schedulers
  bin/deploy/deploy_rotowire_news_scheduler.sh
Due: validate-deploy-safety

fix: remove --description flag from gcloud run jobs create (unsupported)
  bin/deploy/deploy_bluesky_listener.sh
Due: validate-deploy-safety

docs: session handoff 2026-06-30 — all deploy scripts run, off-season backlog cleared
  docs/09-handoff/2026-06-30-1-session-handoff.md
Due: none

feat: 4 new shadow signals — tight_consensus, westward_road_trip, b2b_long_haul, multi_book_convergence
  ml/signals/aggregator.py
  ml/signals/b2b_long_haul_under.py
  ml/signals/multi_book_convergence_under.py
  ml/signals/registry.py
  ml/signals/supplemental_data.py
  ml/signals/tight_consensus_under.py
  ml/signals/westward_road_trip_under.py
  shared/registry/signals.yaml
Due: validate-sql-fstrings

feat: low_variance_under_block (obs), Kelly haircut, cascade repricing script
  bin/analysis/cascade_repricing.py
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/aggregator.py
  ml/signals/pipeline_merger.py
  shared/registry/filters.yaml
Due: validate-sql-fstrings, validate-python-syntax

docs: session handoff 2026-07-01 — 4 shadow signals, Kelly haircut, cascade script, obs filter
  docs/09-handoff/2026-07-01-1-session-handoff.md
Due: none

fix: travel_distances dataset, shadow signals in canary, signals.yaml cadence note
  ml/signals/signal_health.py
  ml/signals/supplemental_data.py
  shared/registry/signals.yaml
Due: validate-sql-fstrings

fix: travel lookback for season opener + season-open spot-check runbook
  docs/02-operations/runbooks/season-resume-2026-27.md
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings

feat: 11 new shadow signals — scanner UNDER, star-out, tracking, trajectory, matchup
  ml/signals/aggregator.py
  ml/signals/career_matchup_under.py
  ml/signals/drive_volume_under.py
  ml/signals/elite_line_under.py
  ml/signals/high_3pt_recent_under.py
  ml/signals/high_3pt_season_under.py
  ml/signals/high_minutes_under.py
  ml/signals/low_var_mid_line_under.py
  ml/signals/registry.py
  ml/signals/season_breakout_over.py
  ml/signals/season_breakout_under.py
  ml/signals/signal_health.py
  ml/signals/star_out_rescue.py
  ml/signals/steep_downtrend_under.py
  ml/signals/supplemental_data.py
  shared/registry/signals.yaml
Due: validate-sql-fstrings

feat: fta_high_cv_under shadow + season_breakout_under tightened; do not activate star_out_rescue
  ml/signals/aggregator.py
  ml/signals/fta_high_cv_under.py
  ml/signals/registry.py
  ml/signals/season_breakout_under.py
  ml/signals/signal_health.py
  shared/registry/signals.yaml
Due: validate-sql-fstrings

docs: session handoff 2026-07-01-2 — signal research, backtests, star_out_rescue review
  docs/09-handoff/2026-07-01-2-signal-research-session-handoff.md
Due: none

fix: nba_tracking_stats PlayerOrTeam=Player — drives/touches were silently 0
  scrapers/external/nba_tracking_stats.py
Due: validate-sql-fstrings

chore: update drive_volume_under comments — scraper bug fixed
  ml/signals/aggregator.py
  ml/signals/signal_health.py
Due: validate-sql-fstrings

chore: fix stale -3.0 threshold in season_breakout_under docstring
  ml/signals/season_breakout_under.py
Due: validate-sql-fstrings

docs: add 2026-07-01 shadow signals to season-resume fire rate monitor
  docs/02-operations/runbooks/season-resume-2026-27.md
Due: none

fix: unregister 4 removed signals — were silently counting toward real_sc
  ml/signals/registry.py
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings

docs: session handoff 2026-07-01-3 — scraper fix, signal unregistration
  docs/09-handoff/2026-07-01-3-cleanup-fixes-handoff.md
Due: none

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$
