Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings, validate-scraper-config-tables, validate-sql-queries, validate-view-filters, validate-python-syntax, validate-deploy-safety

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
  validate-scraper-config-tables: any of: ^shared/config/scraper_retry_config\.yaml$
  validate-sql-queries: any of: \.py$ and \.sql$
  validate-view-filters: any of: ^schemas/bigquery/predictions/.*\.sql$
  validate-python-syntax: any of: ^(bin/|shared/|data_processors/|predictions/|backfill_jobs/).*\.py$
  validate-deploy-safety: any of: ^(bin/deploy/|cloudbuild).*\.(sh|yaml)$

docs: Session 386 recommendations for next session review
  docs/09-handoff/2026-03-02-SESSION-386-RECOMMENDATIONS.md
Due: none

docs: Session 386 recommendations — fleet triage, retrains, signal health
  docs/09-handoff/2026-03-02-SESSION-386-RECOMMENDATIONS.md
Due: none

fix: Revive 2 dead signals, fix edge storage, fleet cleanup
  bin/deactivate_model.py
  data_processors/publishing/best_bets_all_exporter.py
  data_processors/publishing/signal_best_bets_exporter.py
  docs/08-projects/current/fleet-lifecycle-automation/00-PLAN.md
  ml/signals/fast_pace_over.py
  ml/signals/signal_health.py
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Session 387 handoff — signal revival, fleet cleanup, automation plan
  docs/09-handoff/2026-03-02-SESSION-387-HANDOFF.md
Due: none

docs: Update project docs with Session 387 learnings and forward plan
  CLAUDE.md
  docs/02-operations/session-learnings.md
  docs/02-operations/troubleshooting-matrix.md
  docs/08-projects/current/fleet-lifecycle-automation/00-PLAN.md
Due: none

feat: Add signal firing canary — detect dead/degrading signals
  ml/signals/signal_health.py
  orchestration/cloud_functions/post_grading_export/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 388 prompt — verify signal fixes, monitor fleet
  docs/09-handoff/session-prompts/session-388-prompt.md
Due: none

fix: Resolve feature store write failure + worker crash — restore March 2 predictions
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  predictions/worker/requirements-lock.txt
  predictions/worker/requirements.txt
Due: validate-sql-fstrings, validate-python-syntax

chore: Add CPU throttling flag to deploy scripts
  bin/deploy-service.sh
  bin/hot-deploy.sh
Due: none

docs: Session 388 handoff — auto-deploy cascade fix, signal verification
  docs/09-handoff/2026-03-02-SESSION-388-HANDOFF.md
  docs/09-handoff/session-prompts/session-389-prompt.md
Due: none

docs: Add Session 388 learnings to CLAUDE.md troubleshooting matrix
  CLAUDE.md
Due: none

docs: Update Session 388 handoff — signal best bets = 0 picks (legitimate)
  docs/09-handoff/2026-03-02-SESSION-388-HANDOFF.md
  docs/09-handoff/session-prompts/session-389-prompt.md
Due: none

fix: Batch coordinator BQ queries + fix Kalshi/partition/format bugs
  predictions/coordinator/player_loader.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Pipeline steering audit — filter effectiveness, model management
  docs/01-architecture/best-bets-and-subsets.md
  docs/08-projects/current/pipeline-steering-audit-session-388.md
Due: none

fix: Phase 3 timing race, self-heal partition filter, monthly-retrain dep
  bin/orchestrators/setup_evening_analytics_schedulers.sh
  orchestration/cloud_functions/monthly_retrain/requirements.txt
  orchestration/cloud_functions/self_heal/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: Decay detection enhancements, edge-tiered SC, skill rewrites
  .claude/skills/best-bets-config/SKILL.md
  .claude/skills/cleanup-projects/SKILL.md
  .claude/skills/model-health/SKILL.md
  .claude/skills/player-lookup/SKILL.md
  .claude/skills/spot-check-cascade/SKILL.md
  .claude/skills/spot-check-date/SKILL.md
  .claude/skills/spot-check-gaps/SKILL.md
  .claude/skills/spot-check-overview/SKILL.md
  .claude/skills/spot-check-player/SKILL.md
  .claude/skills/spot-check-team/SKILL.md
  .claude/skills/todays-predictions/SKILL.md
  .claude/skills/top-picks/SKILL.md
  .claude/skills/trend-check/SKILL.md
  .claude/skills/validate-lineage/SKILL.md
  .claude/skills/yesterdays-grading/SKILL.md
  ml/signals/aggregator.py
  orchestration/cloud_functions/decay_detection/main.py
  tests/unit/signals/test_aggregator.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Handoffs, session prompts, MLB roadmap, model management audit
  docs/08-projects/current/frontend-home-field-prompt.md
  docs/08-projects/current/horse-data-prototype-handoff.md
  docs/08-projects/current/mlb-system-replication/00-SYSTEM-OVERVIEW.md
  docs/08-projects/current/mlb-system-replication/01-MODELS-FILTERS-MONITORING.md
  docs/08-projects/current/mlb-system-replication/02-IMPROVEMENTS-AND-FUTURE-ENHANCEMENTS.md
  docs/08-projects/current/mlb-system-replication/03-GROWTH-ROADMAP.md
  docs/08-projects/current/mlb-system-replication/04-HISTORICAL-SIMULATION-PLAN.md
  docs/08-projects/current/model-management-audit/00-PLAN.md
  docs/09-handoff/2026-03-01-SESSION-375-HANDOFF.md
  docs/09-handoff/2026-03-02-SESSION-383-HANDOFF.md
  docs/09-handoff/2026-03-02-SESSION-383B-HANDOFF.md
  docs/09-handoff/2026-03-03-SESSION-389-HANDOFF.md
  docs/09-handoff/session-prompts/session-375-prompt.md
  docs/09-handoff/session-prompts/session-375b-prompt.md
  docs/09-handoff/session-prompts/session-377b-prompt.md
  docs/09-handoff/session-prompts/session-378b-prompt.md
  docs/09-handoff/session-prompts/session-378c-prompt.md
  docs/09-handoff/session-prompts/session-383-prompt.md
  docs/09-handoff/session-prompts/session-390-prompt.md
  docs/09-handoff/session-prompts/session-391-prompt.md
Due: none

fix: Backslash in f-string broke decay detection deploy (Python 3.11)
  orchestration/cloud_functions/decay_detection/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: Legacy model selection drain — 0 best bets root cause + monitoring
  CLAUDE.md
  data_processors/publishing/signal_best_bets_exporter.py
  docs/09-handoff/2026-03-03-SESSION-390-HANDOFF.md
  docs/09-handoff/2026-03-03-SESSION-391-HANDOFF.md
  ml/signals/aggregator.py
  ml/signals/player_blacklist.py
  ml/signals/registry.py
  ml/signals/signal_health.py
  ml/signals/supplemental_data.py
  orchestration/cloud_functions/daily_health_check/main.py
  orchestration/cloud_functions/decay_detection/main.py
  predictions/worker/worker.py
  shared/config/cross_model_subsets.py
Due: validate-cloud-function-imports, validate-sql-fstrings, validate-python-syntax

fix: Remove premature HOME OVER block — N=16 contaminated by disabled models
  ml/signals/aggregator.py
Due: validate-sql-fstrings

fix: Blacklist query — CTE+JOIN instead of correlated subquery (BQ limit)
  ml/signals/player_blacklist.py
Due: validate-sql-fstrings

fix: Replace NOT IN subquery with LEFT JOIN in supplemental_data.py (BQ limit)
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings

fix: Correlated subquery error — UNION DISTINCT UNNEST broke BQ planner
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings

fix: Blacklist inflated by unregistered models + gate zombie prediction systems
  ml/signals/player_blacklist.py
  predictions/worker/worker.py
Due: validate-sql-fstrings, validate-python-syntax

feat: Bootstrap SC relaxation + counterfactual filter tracking
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/aggregator.py
Due: validate-sql-fstrings, validate-python-syntax

feat: SC=3 OVER block + model evaluation tools + fleet analysis
  CLAUDE.md
  bin/bootstrap_hr.py
  bin/simulate_best_bets.py
  docs/08-projects/current/model-evaluation-and-selection/00-OVERVIEW.md
  docs/08-projects/current/model-evaluation-and-selection/01-CURRENT-PIPELINE.md
  docs/08-projects/current/model-evaluation-and-selection/02-FINDINGS.md
  docs/08-projects/current/model-evaluation-and-selection/03-BLIND-SPOTS.md
  docs/08-projects/current/model-evaluation-and-selection/04-OPEN-QUESTIONS.md
  docs/08-projects/current/model-evaluation-and-selection/05-SHADOW-MONITORING.md
  docs/08-projects/current/model-evaluation-and-selection/06-EXPERIMENT-INFRASTRUCTURE.md
  docs/08-projects/current/model-evaluation-and-selection/07-SESSION-394-FINDINGS.md
  docs/08-projects/current/model-evaluation-and-selection/PROMPT-395.md
  docs/08-projects/current/model-evaluation-and-selection/PROMPT.md
  docs/09-handoff/2026-03-03-SESSION-391B-HANDOFF.md
  docs/09-handoff/2026-03-03-SESSION-392-HANDOFF.md
  docs/09-handoff/2026-03-03-SESSION-393-HANDOFF.md
  docs/09-handoff/2026-03-03-SESSION-394-HANDOFF.md
  ml/experiments/grid_search_weights.py
  ml/signals/aggregator.py
Due: validate-sql-fstrings, validate-python-syntax

docs: Calendar regime analysis + Session 395 handoff
  docs/08-projects/current/calendar-regime-analysis/00-FINDINGS.md
  docs/09-handoff/2026-03-03-SESSION-395-HANDOFF.md
Due: none

feat: Calendar regime analyzer + analysis templates + evaluation grid
  bin/analysis/run_analysis.py
  bin/analysis/templates/b2b_patterns.sql
  bin/analysis/templates/day_of_week.sql
  bin/analysis/templates/slate_size.sql
  bin/analysis/templates/tier_direction_regime.sql
  bin/model_eval_grid.py
  bin/regime_analyzer.py
  bin/simulate_best_bets.py
  docs/08-projects/current/model-evaluation-and-selection/08-SESSION-395-EXPERIMENT-RESULTS.md
  ml/experiments/grid_search_weights.py
  ml/signals/supplemental_data.py
  shared/config/calendar_regime.py
Due: validate-sql-fstrings, validate-python-syntax

feat: Calendar regime observation mode + XGBoost version fix + test alignment
  ml/signals/aggregator.py
  predictions/worker/requirements-lock.txt
  tests/unit/signals/test_aggregator.py
Due: validate-sql-fstrings

feat: B2B boost over signal + rest_advantage_2d disabled + PBP Phase 2 fix
  docs/02-operations/session-learnings.md
  docs/08-projects/current/model-evaluation-and-selection/09-SESSION-396-EXPERIMENT-RESULTS.md
  docs/09-handoff/2026-03-03-SESSION-396-HANDOFF.md
  ml/signals/b2b_boost_over.py
  ml/signals/registry.py
  scrapers/nbacom/nbac_play_by_play.py
Due: validate-sql-fstrings

feat: Q4 scorer UNDER block + q4_scorer_over signal from BDL play-by-play
  ml/signals/aggregator.py
  ml/signals/q4_scorer_over.py
  ml/signals/registry.py
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings

feat: SC architecture refactor (real_sc) + signal firing audit in daily-steering
  .claude/skills/daily-steering/SKILL.md
  ml/signals/aggregator.py
Due: validate-sql-fstrings

docs: Session 397 handoff — shadow fleet + Q4 scoring + SC refactor
  docs/09-handoff/2026-03-03-SESSION-397-HANDOFF.md
Due: none

feat: Session 398 — directional signal monitoring + deployment fixes + new signals
  .claude/skills/daily-steering/SKILL.md
  CLAUDE.md
  data_processors/publishing/signal_best_bets_exporter.py
  docs/08-projects/current/external-research-angles/00-FINDINGS.md
  docs/08-projects/current/external-research-angles/01-REDDIT.md
  docs/08-projects/current/external-research-angles/02-ACADEMIC.md
  docs/08-projects/current/external-research-angles/03-ANALYTICS-DFS.md
  docs/08-projects/current/external-research-angles/04-MARKET.md
  ml/signals/aggregator.py
  ml/signals/day_of_week_over.py
  ml/signals/denver_visitor_over.py
  ml/signals/registry.py
  ml/signals/signal_health.py
  predictions/worker/data_loaders.py
  schemas/bigquery/nba_predictions/signal_best_bets_picks.sql
  schemas/bigquery/nba_predictions/signal_health_daily.sql
Due: validate-sql-fstrings, validate-python-syntax

feat: Signal rescue — bypass edge floors via validated high-HR signals
  CLAUDE.md
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/aggregator.py
  schemas/bigquery/nba_predictions/signal_best_bets_picks.sql
Due: validate-sql-fstrings, validate-python-syntax

feat: Auto-monitor signal rescue performance + update skills
  .claude/skills/best-bets-config/SKILL.md
  .claude/skills/daily-steering/SKILL.md
  .claude/skills/yesterdays-grading/SKILL.md
  ml/signals/signal_health.py
  orchestration/cloud_functions/post_grading_export/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: Session 399 — skew filter, Brier scores, V19 experiment, sharp book lean signals
  CLAUDE.md
  ml/analysis/model_performance.py
  ml/experiments/quick_retrain.py
  ml/signals/aggregator.py
  ml/signals/registry.py
  ml/signals/sharp_book_lean.py
  ml/signals/supplemental_data.py
  shared/ml/feature_contract.py
Due: validate-sql-fstrings, validate-python-syntax

feat: Session 399 follow-up — Brier backfill, V19 experiment, BQ query fix
  .claude/skills/hit-rate-analysis/SKILL.md
  .claude/skills/top-picks/SKILL.md
  CLAUDE.md
  docs/09-handoff/START-NEXT-SESSION-HERE.md
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

feat: Session 400 — signal-first UNDER architecture + signal_health dedup
  ml/signals/aggregator.py
  ml/signals/signal_health.py
Due: validate-sql-fstrings

docs: Session 400 handoff — signal-first UNDER, dedup, new model
  docs/09-handoff/START-NEXT-SESSION-HERE.md
Due: none
