Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

docs: Session 157 handoff — contamination fix + shared training loader
  docs/09-handoff/2026-02-07-SESSION-157-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

fix: Cap quality score when required defaults exist (Session 157)
  data_processors/precompute/ml_feature_store/quality_scorer.py
Due: validate-sql-fstrings

docs: Final Session 157 handoff — backfill plan + feature ideas
  docs/09-handoff/2026-02-07-SESSION-157-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

docs: Remove premature V9 retrain from next session priorities
  docs/09-handoff/2026-02-07-SESSION-157-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-PROMPT.md
Due: none

feat: Training data quality prevention + consolidated Phase 6 exports (Session 158)
  .claude/skills/spot-check-features/SKILL.md
  .claude/skills/validate-daily/SKILL.md
  backfill_jobs/publishing/daily_export.py
  bin/backfill/run_phase4_backfill.sh
  bin/monitoring/check_training_data_quality.sh
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  data_processors/publishing/all_subsets_picks_exporter.py
  data_processors/publishing/season_subset_picks_exporter.py
  docs/08-projects/current/training-data-quality-prevention/00-PROJECT-OVERVIEW.md
  docs/09-handoff/2026-02-08-SESSION-158-HANDOFF.md
  orchestration/cloud_functions/phase4_to_phase5/main.py
  orchestration/cloud_functions/phase5_to_phase6/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Updated Session 158 handoff with schema fix findings
  docs/09-handoff/2026-02-08-SESSION-158-HANDOFF.md
Due: none

docs: Add robustness plan to Session 158 handoff
  docs/09-handoff/2026-02-08-SESSION-158-HANDOFF.md
Due: none

feat: Four robustness improvements to prevent prediction outages (Session 159)
  bin/monitoring/pipeline_canary_queries.py
  data_processors/precompute/base/precompute_base.py
  docs/08-projects/current/robustness-improvements/SESSION-159-PREVENTION-MECHANISMS.md
  docs/08-projects/current/training-data-quality-prevention/00-PROJECT-OVERVIEW.md
  docs/09-handoff/2026-02-08-SESSION-159-HANDOFF.md
  predictions/coordinator/batch_state_manager.py
  predictions/coordinator/coordinator.py
  predictions/shared/batch_staging_writer.py
  predictions/worker/health_checks.py
Due: validate-sql-fstrings

docs: Session 159 handoff with deployment audit + auto-deploy recommendations
  docs/09-handoff/2026-02-08-SESSION-159-HANDOFF.md
Due: none

feat: Auto-deploy orchestrators + worker health check fix (Session 160)
  CLAUDE.md
  cloudbuild-functions.yaml
  docs/09-handoff/2026-02-08-SESSION-160-HANDOFF.md
  orchestration/cloud_functions/grading/requirements.txt
  predictions/worker/worker.py
Due: validate-sql-fstrings

fix: Remove orchestration/ from Cloud Function deploy package
  cloudbuild-functions.yaml
Due: none

fix: Add PyYAML to orchestrator Cloud Function requirements
  orchestration/cloud_functions/phase2_to_phase3/requirements.txt
  orchestration/cloud_functions/phase4_to_phase5/requirements.txt
  orchestration/cloud_functions/phase5_to_phase6/requirements.txt
Due: none

docs: Session 161 handoff — deploy fixes + validation + bias methodology
  docs/09-handoff/2026-02-08-SESSION-161-HANDOFF.md
Due: none

docs: Session 161 model eval methodology + subset audit
  docs/08-projects/current/session-161-model-eval-and-subsets/00-PROJECT-OVERVIEW.md
Due: none

docs: Comprehensive Session 161 handoff with full context
  docs/09-handoff/2026-02-08-SESSION-161-HANDOFF.md
Due: none

fix: UpcomingTeamGameContext save_analytics unpack bug + bias methodology
  .claude/skills/validate-daily/SKILL.md
  data_processors/analytics/upcoming_team_game_context/upcoming_team_game_context_processor.py
Due: validate-sql-fstrings

fix: Service reliability improvements (error visibility, safe next(), deploy validation)
  cloudbuild-functions.yaml
  data_processors/analytics/analytics_base.py
  data_processors/analytics/async_orchestration.py
  data_processors/analytics/main_analytics_service.py
  data_processors/analytics/operations/bigquery_save_ops.py
Due: validate-sql-fstrings

fix: Defense zone validation used wrong units (fractions vs percentage points)
  shared/validation/pre_write_validator.py
Due: validate-sql-fstrings

docs: Session 162 handoff — service reliability audit and fixes
  docs/08-projects/current/session-162-service-reliability/00-PROJECT-OVERVIEW.md
  docs/09-handoff/2026-02-08-SESSION-162-HANDOFF.md
Due: none

docs: Final Session 162 handoff with circular reasoning explanation and full audit
  docs/08-projects/current/session-162-service-reliability/00-PROJECT-OVERVIEW.md
  docs/09-handoff/2026-02-08-SESSION-162-HANDOFF.md
Due: none

fix: Validator unit mismatches and 7 more unprotected next() calls
  data_processors/precompute/operations/bigquery_save_ops.py
  predictions/coordinator/quality_gate.py
  predictions/shared/batch_staging_writer.py
  shared/utils/schedule/database_reader.py
  shared/validation/pre_write_validator.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: Model governance — dynamic versioning, SHA256 tracking, promotion gates
  bin/model-registry.sh
  ml/experiments/quick_retrain.py
  predictions/worker/Dockerfile
  predictions/worker/prediction_systems/catboost_v9.py
Due: validate-sql-fstrings

docs: Session 163 — model governance project docs, handoff, and CLAUDE.md update
  CLAUDE.md
  docs/08-projects/current/model-governance/00-PROJECT-OVERVIEW.md
  docs/09-handoff/2026-02-08-SESSION-163-HANDOFF.md
Due: none

docs: Enhanced Session 163 handoff with investigation data, lessons learned, next-session prompt
  docs/08-projects/current/model-governance/00-PROJECT-OVERVIEW.md
  docs/09-handoff/2026-02-08-SESSION-163-HANDOFF.md
Due: none

fix: Protect all remaining next() calls and fix coordinator /reset bug
  backfill_jobs/raw/espn_scoreboard/espn_scoreboard_raw_backfill.py
  bin/infrastructure/monitoring/backfill_progress_monitor.py
  bin/monitoring/cleanup_scraper_failures.py
  data_processors/analytics/analytics_base.py
  data_processors/analytics/player_game_summary/player_game_summary_processor.py
  data_processors/precompute/player_shot_zone_analysis/player_shot_zone_analysis_processor.py
  data_processors/raw/bigdataball/bigdataball_pbp_processor.py
  functions/monitoring/analytics_quality_check/main.py
  monitoring/mlb/mlb_freshness_checker.py
  monitoring/mlb/mlb_gap_detection.py
  monitoring/mlb/mlb_stall_detector.py
  predictions/coordinator/coordinator.py
  scrapers/balldontlie/bdl_game_adv_stats.py
  scrapers/balldontlie/bdl_player_averages.py
  scrapers/balldontlie/bdl_player_box_scores.py
  scrapers/nbacom/nbac_scoreboard_v2.py
  scripts/maintenance/cleanup_duplicates.py
  shared/validation/validators/feature_validator.py
  shared/validation/validators/regression_detector.py
  tools/monitoring/check_prediction_coverage.py
  validation/base_validator.py
  validation/validators/mlb/mlb_pitcher_props_validator.py
  validation/validators/mlb/mlb_prediction_coverage_validator.py
  validation/validators/raw/espn_scoreboard_validator.py
Due: validate-sql-fstrings

docs: Strengthen model governance — training ≠ deployment, promotion checklist
  .claude/skills/model-experiment/SKILL.md
  CLAUDE.md
  docs/08-projects/current/model-governance/00-PROJECT-OVERVIEW.md
Due: none

docs: Session 164 handoff — governance hardening, backfill investigation prompts
  docs/09-handoff/2026-02-08-SESSION-164-HANDOFF.md
  docs/09-handoff/NEXT-SESSION-BACKFILL-INVESTIGATION.md
  docs/09-handoff/NEXT-SESSION-MODEL-GOVERNANCE-SYNC.md
Due: none

docs: All next-session prompts with agent recommendations
  docs/09-handoff/NEXT-SESSION-PROMPTS.md
Due: none

feat: Model governance sync infrastructure (Session 165)
  bin/check-deployment-drift.sh
  bin/model-registry.sh
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

docs: Update CLAUDE.md with model governance sync (Session 165)
  CLAUDE.md
Due: none

fix: Prevent Pub/Sub retry storm — return 204 for poison messages
  predictions/coordinator/batch_state_manager.py
  predictions/coordinator/coordinator.py
  predictions/worker/worker.py
Due: validate-sql-fstrings

docs: Add Session 165 governance sync comprehensive documentation
  docs/08-projects/current/model-governance/01-SESSION-165-GOVERNANCE-SYNC.md
Due: none

fix: SHA256 validation compare full hash instead of truncated
  bin/model-registry.sh
Due: none

docs: Session 165 handoff — Pub/Sub retry storm fix
  docs/09-handoff/2026-02-08-SESSION-165-HANDOFF.md
Due: none

fix: Align model eval with production lines and fix tier bias hindsight
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

docs: Session 166 handoff — eval pipeline fix, experiments, Feb 2-7 backfill
  docs/08-projects/current/eval-pipeline-fix/00-PROJECT-OVERVIEW.md
  docs/09-handoff/2026-02-08-SESSION-166-HANDOFF.md
Due: none

fix: Cloud Build downloads production model instead of untested monthly
  cloudbuild.yaml
Due: none

docs: Update Session 166 handoff with Cloud Build model bug discovery
  docs/09-handoff/2026-02-08-SESSION-166-HANDOFF.md
Due: none

docs: Update handoff with complete backfill steps after worker fix
  docs/09-handoff/2026-02-08-SESSION-166-HANDOFF.md
Due: none

docs: Add recommendations to Session 166 handoff
  docs/09-handoff/2026-02-08-SESSION-166-HANDOFF.md
Due: none

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
