Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

feat: populate opponent_defense, days_rest, line_movement; fix fatigue context serialization
  data_processors/publishing/tonight_player_exporter.py
  tests/unit/publishing/test_tonight_player_exporter.py
Due: validate-sql-fstrings

feat: add V10 feature set and monotonic constraints to quick_retrain
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

docs: Session 225 handoff — player modal data enrichment
  docs/09-handoff/2026-02-12-SESSION-225-HANDOFF.md
Due: none

fix: get_dates() silently ignored train-start/train-end without eval dates
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

feat: V12 feature contract (54 features) + augmentation for V2 model experiments
  docs/08-projects/current/model-improvement-analysis/17-FINAL-EXECUTION-PLAN.md
  docs/08-projects/current/model-improvement-analysis/18-TESTING-PLAN.md
  docs/08-projects/current/model-improvement-analysis/19-V12-FEATURE-ADDITIONS-IMPLEMENTATION.md
  docs/08-projects/current/model-improvement-analysis/20-DIAGNOSTIC-RESULTS.md
  docs/08-projects/current/model-improvement-analysis/21-PHASE1A-RESULTS.md
  docs/08-projects/current/model-improvement-analysis/21-WEB-CHAT-DIAGNOSTIC-BRIEFING.md
  ml/experiments/quick_retrain.py
  shared/ml/feature_contract.py
Due: validate-sql-fstrings

feat: add consolidated trends tonight exporter
  backfill_jobs/publishing/daily_export.py
  data_processors/publishing/trends_tonight_exporter.py
  docs/08-projects/current/trends-tonight/FRONTEND-INTEGRATION.md
  docs/09-handoff/2026-02-13-SESSION-229-HANDOFF.md
  tests/unit/publishing/test_trends_tonight_exporter.py
Due: validate-sql-fstrings

fix: deduplicate picks in subset materializer and exporter
  data_processors/publishing/all_subsets_picks_exporter.py
  data_processors/publishing/subset_materializer.py
Due: validate-sql-fstrings

docs: Session 228 — V12 validated (+8.7pp avg), Phase 1B complete, ready for Phase 2
  docs/08-projects/current/model-improvement-analysis/22-PHASE1B-RESULTS.md
  docs/09-handoff/2026-02-13-SESSION-228-HANDOFF.md
Due: none

feat: add CatBoost V12 prediction system (shadow mode)
  predictions/worker/prediction_systems/catboost_v12.py
  predictions/worker/worker.py
  shared/ml/feature_contract.py
Due: validate-sql-fstrings

feat: extend feature store to 54 features for V12
  data_processors/precompute/ml_feature_store/feature_extractor.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  data_processors/precompute/ml_feature_store/quality_scorer.py
  predictions/worker/prediction_systems/catboost_v12.py
  predictions/worker/prediction_systems/catboost_v8.py
  schemas/bigquery/predictions/04_ml_feature_store_v2.sql
  shared/config/model_codenames.py
  shared/ml/feature_contract.py
Due: validate-sql-fstrings

feat: add V12/nova subset definitions for API export
  shared/config/model_codenames.py
  shared/config/subset_public_names.py
Due: validate-sql-fstrings

fix: remove minimum prediction threshold from grading
  orchestration/cloud_functions/grading/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

feat: enhance live grading with multi-source scores and display confidence
  CLAUDE.md
  data_processors/publishing/exporter_utils.py
  data_processors/publishing/live_grading_exporter.py
  data_processors/publishing/tonight_all_players_exporter.py
  data_processors/publishing/tonight_player_exporter.py
  tests/unit/publishing/test_tonight_player_exporter.py
Due: validate-sql-fstrings

fix: skip BDL API for final games and reduce retry delays in live export
  data_processors/publishing/live_grading_exporter.py
  data_processors/publishing/live_scores_exporter.py
  orchestration/cloud_functions/live_export/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: Session 232 handoff - grading fix, validation, deployment
  docs/09-handoff/2026-02-13-SESSION-232-HANDOFF.md
Due: none

fix: backfill days_rest for Feb 11-12 UPCG records
  bin/backfill_upcg_days_rest_feb11_12.sql
Due: none

Revert "fix: Replace BDL dependency with nbac_gamebook in Phase 3 processor"
  data_processors/analytics/upcoming_player_game_context/calculators/quality_flags.py
  data_processors/analytics/upcoming_player_game_context/upcoming_player_game_context_processor.py
Due: validate-sql-fstrings

fix: Update UPCG dependency refs and add feature_N_value dual-write
  data_processors/analytics/upcoming_player_game_context/calculators/quality_flags.py
  data_processors/analytics/upcoming_player_game_context/upcoming_player_game_context_processor.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  schemas/bigquery/predictions/04_ml_feature_store_v2.sql
Due: validate-sql-fstrings

docs: Session 236 handoff and Feb 19 monitoring script
  bin/monitoring/validate_phase4_quality_feb19.sh
  docs/09-handoff/2026-02-13-SESSION-236-HANDOFF.md
Due: none

feat: Migrate feature readers to individual columns (Phase 2)
  ml/experiments/quick_retrain.py
  predictions/worker/data_loaders.py
  shared/ml/training_data_loader.py
Due: validate-sql-fstrings

feat: Enable V12 Model 1 shadow predictions
  predictions/coordinator/coordinator.py
Due: validate-sql-fstrings

docs: Session 238 handoff - UPCG fix, column migration, V12 shadow
  docs/09-handoff/2026-02-13-SESSION-238-HANDOFF.md
Due: none

feat: Add season game counts export for calendar and break detection
  backfill_jobs/publishing/daily_export.py
  bin/deploy/deploy_phase6_scheduler.sh
  data_processors/publishing/season_game_counts_exporter.py
Due: validate-sql-fstrings

feat: Add active_break field to status.json for schedule break banners
  data_processors/publishing/status_exporter.py
Due: validate-sql-fstrings

feat: Replace V12 feature defaults with NaN for proper CatBoost missing handling
  bin/backfill-v12-predictions.py
  data_processors/precompute/ml_feature_store/ml_feature_store_processor.py
  data_processors/precompute/ml_feature_store/quality_scorer.py
Due: validate-sql-fstrings

feat: Backfill V12 predictions for ALL players, not just those with lines
  bin/backfill-v12-predictions.py
Due: validate-sql-fstrings

feat: Add full-population MAE to model experiment evaluation
  .claude/skills/model-experiment/SKILL.md
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

docs: Session 240 handoff - V12 NaN, all-player predictions, pipeline rethink
  docs/09-handoff/2026-02-13-SESSION-240-HANDOFF.md
Due: none

docs: Add V12 model monitoring and document new API endpoints
  .claude/skills/validate-daily/SKILL.md
  CLAUDE.md
Due: none

feat: V9 all-player predictions — backfill, re-prediction on enrichment, training diagnostics
  .claude/skills/model-experiment/SKILL.md
  bin/backfill-v9-no-line-predictions.py
  data_processors/enrichment/prediction_line_enrichment/prediction_line_enrichment_processor.py
  docs/08-projects/current/model-improvement-analysis/24-ALL-PLAYER-TRAINING-PLAN.md
  ml/experiments/quick_retrain.py
  orchestration/cloud_functions/enrichment_trigger/main.py
  predictions/coordinator/coordinator.py
  predictions/coordinator/quality_gate.py
Due: validate-cloud-function-imports, validate-sql-fstrings

docs: All-player training analysis — line coverage and MAE results
  docs/08-projects/current/model-improvement-analysis/25-ALL-PLAYER-TRAINING-ANALYSIS.md
Due: none

docs: Session 241 results — V9 backfill, training experiment, MAE analysis
  docs/08-projects/current/model-improvement-analysis/24-ALL-PLAYER-TRAINING-PLAN.md
Due: none

docs: Session 241 handoff — V9 all-player predictions complete
  docs/09-handoff/2026-02-13-SESSION-241-HANDOFF.md
Due: none

feat: All-Star break infrastructure fixes — IAM, scheduler, deploys, prevention
  bin/infrastructure/fix_all_iam.sh
  bin/monitoring/pipeline_canary_queries.py
  orchestration/cloud_functions/pipeline_reconciliation/requirements.txt
  orchestration/cloud_functions/prediction_monitoring/requirements.txt
  predictions/coordinator/coordinator.py
Due: validate-sql-fstrings

docs: Session 246 — shadow deploy handoff, production plan, ML study guide
  docs/08-projects/current/model-improvement-analysis/26-ML-STUDY-GUIDE.md
  docs/09-handoff/2026-02-13-SESSION-246-HANDOFF.md
Due: none

fix: exclude PASS/HOLD from subset performance view
  schemas/bigquery/predictions/views/v_dynamic_subset_performance.sql
Due: none

feat: send DNP status for players who didn't play
  data_processors/publishing/all_subsets_picks_exporter.py
  data_processors/publishing/season_subset_picks_exporter.py
Due: validate-sql-fstrings

fix: cast BigQuery Decimal to float in feature_extractor minutes accumulation
  data_processors/precompute/ml_feature_store/feature_extractor.py
Due: validate-sql-fstrings

feat: add feature 37 to OPTIONAL_FEATURES, complete multi-season V12 backtests
  data_processors/precompute/ml_feature_store/quality_scorer.py
  docs/08-projects/current/model-improvement-analysis/27-MULTI-SEASON-BACKTEST-RESULTS.md
Due: validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
