Repository najicham/nba-stats-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cloud-function-imports, check-date-comparisons, validate-sql-fstrings

validate-cloud-function-imports:
  name: Validate Cloud Function imports
  description: Ensures Cloud Functions have all required shared modules before deployment
  entry: python bin/validation/validate_cloud_function_imports.py
  language: python
  pass_filenames: false
  verbose: true

check-date-comparisons:
  name: Check date comparisons for data leakage
  description: Flags <= date patterns that might cause data leakage (L5/L10 bug prevention)
  entry: python .pre-commit-hooks/check_date_comparisons.py
  language: python
  verbose: true

validate-sql-fstrings:
  name: Validate SQL f-strings have f prefix
  description: Detects SQL strings with {variable} patterns missing the f-prefix
  entry: python .pre-commit-hooks/validate_sql_fstrings.py
  language: python
  verbose: true

feat: Session 311 — P0 quality fix, signal subsets, filter validation, decay-gated promotion
  bin/retrain.sh
  data_processors/publishing/signal_best_bets_exporter.py
  data_processors/publishing/signal_subset_materializer.py
  docs/08-projects/current/best-bets-v2/07-SESSION-311-CHANGES.md
  docs/09-handoff/2026-02-20-SESSION-311-HANDOFF.md
  ml/signals/supplemental_data.py
  shared/config/subset_public_names.py
Due: validate-sql-fstrings

fix: exclude optional defaulted features from quality_score calculation
  data_processors/precompute/ml_feature_store/quality_scorer.py
Due: validate-sql-fstrings

docs: Session 311 continuation handoff — architecture questions, layer strategy, frontend grouping
  docs/09-handoff/2026-02-20-SESSION-311-CONTINUATION.md
Due: none

fix: resolve stale subset definitions via family-based classification
  data_processors/publishing/subset_materializer.py
  docs/08-projects/current/best-bets-v2/08-LAYER-ARCHITECTURE.md
  docs/09-handoff/2026-02-20-SESSION-311B-HANDOFF.md
Due: validate-sql-fstrings

fix: share model discovery, fix fallback staleness, auto-update subset defs
  backfill_jobs/publishing/daily_export.py
  bin/retrain.sh
  data_processors/publishing/all_subsets_picks_exporter.py
  data_processors/publishing/cross_model_subset_materializer.py
  data_processors/publishing/subset_materializer.py
Due: validate-sql-fstrings

fix: remove deprecated features array writes from augmentation functions
  ml/experiments/quick_retrain.py
Due: validate-sql-fstrings

docs: Session 311C handoff — full session review + verification checklist
  docs/09-handoff/2026-02-20-SESSION-311C-HANDOFF.md
Due: none

docs: Session 313 handoff — quality_scorer fix, post-ASB validation, Feb 19 68.4% HR
  docs/09-handoff/2026-02-20-SESSION-313-HANDOFF.md
Due: none

fix: consolidate best bets systems, fix live grading, remove ANTI_PATTERN
  backfill_jobs/publishing/daily_export.py
  data_processors/publishing/live_grading_exporter.py
  data_processors/publishing/signal_annotator.py
  data_processors/publishing/signal_best_bets_exporter.py
  data_processors/publishing/status_exporter.py
  ml/analysis/steering_replay.py
  ml/experiments/signal_backfill.py
  ml/experiments/signal_backtest.py
  ml/signals/aggregator.py
  ml/signals/combo_registry.py
  ml/signals/supplemental_data.py
  tests/unit/publishing/test_signal_best_bets_exporter.py
  tests/unit/signals/test_aggregator.py
  tests/unit/signals/test_player_blacklist.py
Due: validate-sql-fstrings

docs: update file headers and CLAUDE.md for Session 314 consolidation
  CLAUDE.md
  data_processors/publishing/live_grading_exporter.py
  data_processors/publishing/signal_annotator.py
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/aggregator.py
  ml/signals/supplemental_data.py
Due: validate-sql-fstrings

fix: make best bets model-agnostic, remove BEST_BETS_MODEL_ID dependency
  data_processors/publishing/signal_annotator.py
  data_processors/publishing/signal_best_bets_exporter.py
Due: validate-sql-fstrings

feat: add backfill-subsets skill with dry-run simulation
  .claude/skills/backfill-subsets/SKILL.md
  bin/backfill_dry_run.py
Due: validate-sql-fstrings

docs: comprehensive best bets and subset system architecture
  docs/01-architecture/best-bets-and-subsets.md
Due: none

feat: what-if retrain tool with model loading and direction breakdown
  .claude/skills/what-if/SKILL.md
  bin/what_if_retrain.py
  docs/09-handoff/2026-02-20-SESSION-314C-HANDOFF.md
Due: validate-sql-fstrings

fix: best bets duplicate writes and UNDER 7+ star-line refinement
  data_processors/publishing/signal_annotator.py
  ml/signals/aggregator.py
  tests/unit/signals/test_aggregator.py
  tests/unit/signals/test_player_blacklist.py
Due: validate-sql-fstrings

feat: add --write flag to backfill_dry_run.py + Session 316 handoff
  bin/backfill_dry_run.py
  docs/09-handoff/2026-02-21-SESSION-316-HANDOFF.md
Due: validate-sql-fstrings

feat: best bets GCS endpoints + fix daily-steering query source
  .claude/skills/daily-steering/SKILL.md
  backfill_jobs/publishing/daily_export.py
  data_processors/publishing/best_bets_record_exporter.py
Due: validate-sql-fstrings

docs: Session 317 handoff + external Opus review prompt
  docs/09-handoff/2026-02-21-OPUS-REVIEW-PROMPT.md
  docs/09-handoff/2026-02-21-SESSION-317-HANDOFF.md
Due: none

feat: Session 318 signal cleanup, filter tightening, market regime early warning
  .claude/skills/backfill-subsets/SKILL.md
  .claude/skills/best-bets-config/SKILL.md
  .claude/skills/daily-steering/SKILL.md
  CLAUDE.md
  docs/01-architecture/best-bets-and-subsets.md
  ml/signals/aggregator.py
  ml/signals/cold_snap.py
  ml/signals/combo_registry.py
  ml/signals/minutes_surge.py
  ml/signals/pick_angle_builder.py
  ml/signals/registry.py
  ml/signals/rest_advantage_2d.py
Due: validate-sql-fstrings

docs: Session 318 handoff with action plan for review + implementation
  docs/09-handoff/2026-02-21-SESSION-318-HANDOFF.md
Due: none

feat: Session 319 frontend endpoints, schema fixes, daily ops checklist
  backfill_jobs/publishing/daily_export.py
  data_processors/publishing/admin_picks_exporter.py
  data_processors/publishing/signal_best_bets_exporter.py
  data_processors/publishing/today_best_bets_exporter.py
  docs/02-operations/daily-operations-checklist.md
  docs/08-projects/current/frontend-data-design/01-API-SPEC.md
  docs/09-handoff/2026-02-21-SESSION-319-HANDOFF.md
  schemas/bigquery/nba_predictions/prediction_accuracy.sql
  schemas/bigquery/nba_predictions/signal_best_bets_picks.sql
Due: validate-sql-fstrings

feat: consolidated best-bets/all.json + admin dashboard + final frontend spec
  backfill_jobs/publishing/daily_export.py
  data_processors/publishing/admin_dashboard_exporter.py
  data_processors/publishing/best_bets_all_exporter.py
  docs/08-projects/current/frontend-data-design/02-FRONTEND-PROMPT.md
Due: validate-sql-fstrings

docs: admin dashboard spec + updated Session 319 handoff
  docs/08-projects/current/frontend-data-design/03-ADMIN-DASHBOARD-SPEC.md
  docs/09-handoff/2026-02-21-SESSION-319-HANDOFF.md
Due: none

feat: address frontend review feedback on admin dashboard
  data_processors/publishing/admin_dashboard_exporter.py
  data_processors/publishing/admin_picks_exporter.py
  docs/08-projects/current/frontend-data-design/03-ADMIN-DASHBOARD-SPEC.md
  docs/08-projects/current/frontend-data-design/04-ADMIN-DASHBOARD-FRONTEND-REVIEW.md
Due: validate-sql-fstrings

feat: enrich admin dashboard with model training details from registry
  data_processors/publishing/admin_dashboard_exporter.py
  docs/08-projects/current/frontend-data-design/03-ADMIN-DASHBOARD-SPEC.md
Due: validate-sql-fstrings

feat: model lifecycle data + frontend spec for multi-model admin view
  data_processors/publishing/admin_dashboard_exporter.py
  docs/08-projects/current/frontend-data-design/05-MODEL-LIFECYCLE-SPEC.md
Due: validate-sql-fstrings

docs: Session 319 final handoff
  docs/09-handoff/2026-02-21-SESSION-319-HANDOFF.md
Due: none

docs: update handoff with frontend model lifecycle answers
  docs/09-handoff/2026-02-21-SESSION-319-HANDOFF.md
Due: none

feat: add season field to exporters, fix ghost signals, wire new exports
  bin/deploy/deploy_phase6_scheduler.sh
  data_processors/publishing/admin_dashboard_exporter.py
  data_processors/publishing/admin_picks_exporter.py
  data_processors/publishing/best_bets_all_exporter.py
  data_processors/publishing/signal_best_bets_exporter.py
  data_processors/publishing/today_best_bets_exporter.py
  docs/08-projects/current/frontend-data-design/05-MODEL-LIFECYCLE-SPEC.md
  docs/09-handoff/2026-02-20-SESSION-312-HANDOFF.md
  docs/09-handoff/2026-02-20-SESSION-312B-HANDOFF.md
  docs/09-handoff/2026-02-20-SESSION-312C-HANDOFF.md
  docs/09-handoff/2026-02-20-SESSION-314-HANDOFF.md
  docs/09-handoff/2026-02-20-SESSION-314B-HANDOFF.md
  docs/09-handoff/2026-02-21-SESSION-315-HANDOFF.md
  docs/09-handoff/2026-02-21-SESSION-320-HANDOFF.md
  ml/signals/signal_health.py
  orchestration/cloud_functions/phase5_to_phase6/main.py
Due: validate-cloud-function-imports, validate-sql-fstrings

fix: add market_type='points' filter to 6 bettingpros queries
  data_processors/analytics/upcoming_player_game_context/async_upcoming_player_game_context_processor.py
  data_processors/analytics/upcoming_player_game_context/upcoming_player_game_context_processor.py
  data_processors/publishing/tonight_all_players_exporter.py
  predictions/coordinator/data_freshness_validator.py
  predictions/coordinator/player_loader.py
  predictions/shadow_mode_runner.py
Due: validate-sql-fstrings

fix: add line floor sanity checks to enrichment and player_loader
  data_processors/enrichment/prediction_line_enrichment/prediction_line_enrichment_processor.py
  predictions/coordinator/player_loader.py
Due: validate-sql-fstrings

docs: Session 321 handoff — line contamination remediation (partial)
  docs/09-handoff/2026-02-21-SESSION-321-HANDOFF.md
Due: none

docs: update Session 321 handoff with full season replay plan
  docs/09-handoff/2026-02-21-SESSION-321-HANDOFF.md
Due: none

docs: Session 322 — contamination remediation complete + season replay study
  docs/09-handoff/2026-02-21-SESSION-322-HANDOFF.md
Due: none

feat: restore model health gate for best bets (Session 323)
  data_processors/publishing/signal_best_bets_exporter.py
  ml/signals/aggregator.py
  tests/unit/publishing/test_signal_best_bets_exporter.py
Due: validate-sql-fstrings

docs: Session 323 handoff — health gate + retrain experiments
  docs/09-handoff/2026-02-21-SESSION-323-HANDOFF.md
Due: none

docs: Session 323B handoff — 11-experiment model matrix results
  docs/09-handoff/2026-02-21-SESSION-323B-HANDOFF.md
Due: none

feat: add V12+vegas (54f) shadow model support + deploy 2 new models
  predictions/worker/prediction_systems/catboost_monthly.py
  shared/config/cross_model_subsets.py
Due: validate-sql-fstrings

docs: Session 324 handoff — V12+vegas shadow models deployed
  CLAUDE.md
  docs/09-handoff/2026-02-22-SESSION-324-HANDOFF.md
Due: none

feat: V12+vegas replay models + fresh retrains for multi-model best bets
  bin/backfill-challenger-predictions.py
  predictions/worker/prediction_systems/catboost_monthly.py
Due: validate-sql-fstrings

Path conditions:
  validate-cloud-function-imports: any of: ^(orchestration/cloud_functions/|shared/utils/).*\.py$
  check-date-comparisons: any of: \.py$ and \.sql$
  validate-sql-fstrings: any of: \.py$
